@{
    ViewBag.Title = "Index";
}

<h2>Fixed Boradband</h2>
   <script>
       $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
})</script>


<div class="bs-example bs-example-tabs">
<ul class="nav nav-tabs" id="myTab">
<li class="active"><a data-toggle="tab" href="#CoverageManagement">Coverage Management</a></li>
<li class=""><a data-toggle="tab" href="#DSLAMModel">DSLAM Model</a></li>
<li class=""><a data-toggle="tab" href="#CARDModel">CARD Model</a></li>
<li class=""><a data-toggle="tab" href="#DSLAMMaster">DSLAM Master</a></li>
</ul>
<div class="tab-content" id="myTabContent">
<div id="CoverageManagement" class="tab-pane fade active in">
    @Html.Partial("~/Views/CoverageManagement/Index.cshtml")
</div>
<div id="DSLAMModel" class="tab-pane fade ">
   @* @Html.Partial("~/Views/DSLAMModel/DSLAMModel.cshtml")*@
</div>
<div id="CARDModel" class="tab-pane fade ">
    @Html.Partial("~/Views/CARDModel/CARDModel.cshtml")
</div>
<div id="DSLAMMaster" class="tab-pane fade ">
    @Html.Partial("~/Views/DSLAMMaster/index.cshtml")
</div>
</div>
</div>






    @*<div class="row">



        <div class="col-sm-12 col-md-12">
            @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("Coverage Management")
                  .Selected(true)
                  .Content(@<text>

            <div style="height:500px;">
                 @Html.Partial("~/Views/xDSLPort/_CoverageManagement.cshtml")
     
            </div>

            </text>);

              tabstrip.Add().Text("DSLAM Model")
                  .Content(@<text>

            <div>
                
                   @Html.Partial("~/Views/xDSLPort/_DSLAMModel.cshtml")
       
                
            </div>

            </text>);


              tabstrip.Add().Text("CARD Model")
                  .Content(@<text>

            <div>
                
                 @Html.Partial("~/Views/xDSLPort/_CARDModel.cshtml")
                
            </div>

            </text>);

              tabstrip.Add().Text("DSLAM Master")
                  .Content(@<text>

            <div>
                
                 @Html.Partial("~/Views/xDSLPort/_DSLAMMaster.cshtml")
                
            </div>

            </text>);
          })
              )
        </div>
    </div>*@
    
