@model WBBEntity.PanelModels.QuickWinPanelModel

@{
    Layout = "~/Views/Shared/_LayoutReferences.cshtml";

    Logger.Info("Hello New UI Fibre");

    var VasDatalala22 = "";
    if (ViewBag.Vas22 != null)
    {
        VasDatalala22 = ViewBag.Vas22;
    }

    var Version = "Ver. R15.9.29.290915";
    if (ViewBag.Version != null)
    {
        Version = Version + "-" + ViewBag.Version;
    }

    var vas_flag = "";
    if (ViewBag.Vas != null)
    {
        vas_flag = ViewBag.Vas;
    }

    var topup_flag = "";
    if (ViewBag.TopUp != null)
    {
        topup_flag = ViewBag.TopUp;
    }

    var toppup = "";
    if (@Model != null)
    {
        if (@Model.TopUp != null)
        {
            toppup = @Model.TopUp;
        }
    }


}
<style>
    a, a:link, a:active, a:visited, a:hover, a:focus {
        color: #fff;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
        pointer-events: all;
    }

    .fa-6 {
        font-size: 10em;
    }

    .topbar_ribbon {
	    padding-left:10px;
        float: left;
        height: 60px;
    }

    #ribbonking{ width:100%; height:60px;  background: url("/Images/bg1366.jpg") no-repeat center;  background-color:#000; margin-bottom:15px}
    #ribbonking_wrapper{height:60px; margin: 0 auto; max-width: 1140px;}

</style>
    @*<div id="ribbonking">
	    <div id="ribbonking_wrapper">
    	    <div class="topbar_ribbon"><img src="~/Images/iconribbon.png" alt="ais logo"></div>
        </div>
    </div>*@
<header>
    <div class="container">
        <div id="wrapSwitchLanguage" class="col-xs-12 text-right nopading">
            <a id="btn_th" class="btn-sm btn-success rippler rippler-default" href="~/WBB/ChangeCurrentCulture?culture=1" role="button"
               style="font-family: inherit !important;" onclick="sessionStorage.setItem('detectedIE', '');">ภาษาไทย</a>&nbsp;&nbsp;
            <a id="btn_en" class="btn-sm btn-default rippler rippler-default" href="~/WBB/ChangeCurrentCulture?culture=2" role="button"
               style="font-family: inherit !important;" onclick="sessionStorage.setItem('detectedIE', '');">English</a>&nbsp;&nbsp;
            @if (VasDatalala22 == "Logout")
            {
                <a id="btn_en" class="btn-sm btn-info rippler rippler-default focus"
                   href="/AccountService/Logout" role="button"><i class="fa fa-power-off"></i></a>
            }
        </div>
        <p class="clearfix"></p>
        <p class="clearfix"></p>
        @if (VasDatalala22 == "Logout")
        {
            <div class="col-md-9 col-xs-12 hidden-xs">
                <img src="~/img/choose-service_th.png" class="img-responsive center-block ">
            </div>
        }
        else
        {
            if (vas_flag == "4" || vas_flag == "2" || topup_flag == "1")
            {
                <div class="col-md-9 col-xs-12 hidden-xs" id="add_service_th_div">
                    <img src="~/img/add-service-th-1.png"
                         class="img-responsive center-block" id="add_service_th_1_img" style="display: none;">
                    <img src="~/img/add-service-th-2.png"
                         class="img-responsive center-block" id="add_service_th_2_img" style="display: none;">
                    <img src="~/img/add-service-th-3.png"
                         class="img-responsive center-block" id="add_service_th_3_img" style="display: none;">
                </div>
                <div class="col-md-9 col-xs-12 hidden-xs" id="add_service_en_div" style="display: none;">
                    <img src="~/img/add-service-en-1.png"
                         class="img-responsive center-block" id="add_service_en_1_img" style="display: none;">
                    <img src="~/img/add-service-en-2.png"
                         class="img-responsive center-block" id="add_service_en_2_img" style="display: none;">
                    <img src="~/img/add-service-en-3.png"
                         class="img-responsive center-block" id="add_service_en_3_img" style="display: none;">
                </div>
            }
            else
            {
                <div class="col-md-9 col-xs-12 hidden-xs" id="status_th_div">
                    <img src="~/img/status/thai_1.png" id="status_th_1_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/thai_2.png" id="status_th_2_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/thai_3.png" id="status_th_3_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/thai_4.png" id="status_th_4_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/thai_5.png" id="status_th_5_img" class="img-responsive center-block" style="display: none;">
                </div>
                <div class="col-md-9 col-xs-12 hidden-xs" id="status_en_div" style="display: none;">
                    <img src="~/img/status/eng_1.png" id="status_en_1_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/eng_2.png" id="status_en_2_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/eng_3.png" id="status_en_3_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/eng_4.png" id="status_en_4_img" class="img-responsive center-block" style="display: none;">
                    <img src="~/img/status/eng_5.png" id="status_en_5_img" class="img-responsive center-block" style="display: none;">
                </div>
            }
        }

        <div class="col-md-3 hidden-xs hidden-sm" id="logo_div" style=" margin-top: 12px;">
            <img src="~/img/img-logo.png" class="img-responsive right">
        </div>
    </div>
    <input type="hidden" id="LanguagePage" />
</header>

@RenderBody()

<div id="ProgressIcon" class="modal fade">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="text-center" style="color:white;">
                <div>
                    <i class="fa fa-spinner fa-spin fa-6" style="position:inherit;"></i>
                </div>
                <div id="txtLoading" style="text-align:center;">
                    LOADING
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pre-footer">
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
</div>

<p class="clearfix"></p>

<div id="aisfooter">
    @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
    {
        @Html.Partial("_FooterTH")
    }
    else
    {
        @Html.Partial("_FooterEN")
    }

</div>
<div class="truehits-bg">&nbsp;</div>


<script type="text/javascript">

    $(document).ready(function () {

        ais_interface_process('mini-menu', 'postpaid', 'th', '', false);

    });

    function LockScreen(x, txt) {
        if (x) {
            $('#ProgressIcon #txtLoading').html(txt);
            $('#ProgressIcon').modal({
                backdrop: "static",
                keyboard: true,
                show: true
            });
        }
        else {
            $('#ProgressIcon').modal('hide');
        }
    }

    function configScreenPage() {
        window.scrollTo(0, 0);
        $("#silder").css("visibility", "hidden");
        $("body").css("overflow-y", "hidden");
    }

    function changeLanguage() {
        if ($("#LanguagePage").val() == "1") {
            $("#btn_th").addClass('btn-success');
            $("#btn_en").removeClass('btn-success').addClass('btn-default');
            $("#footer_th").show();
            $("#footer_en").hide();
        }
        else {
            $("#btn_th").removeClass('btn-success').addClass('btn-default');
            $("#btn_en").addClass('btn-success');
            $("#footer_th").hide();
            $("#footer_en").show();
        }
    }

    function hideHeader() {
        $("#status_th_div").children().hide();
        $("#status_en_div").children().hide();
        $("#add_service_th_div").children().hide();
        $("#add_service_en_div").children().hide();
        $("#logo_div").children().hide();
    }

    function changePageHeader(operNo) {
        toastr.clear();

        if (operNo == 1 && "@ViewBag.Vas" != "3") {
            $("#wrapSwitchLanguage").show();
        }
        else {
            $("#wrapSwitchLanguage").hide();
        }
        if (operNo == 1 && "@ViewBag.Vas" == "") {
            $("#wrapSwitchLanguage").hide();
        }

        if (operNo == 1 && "@ViewBag.Vas" == "1") {
            $("#wrapSwitchLanguage").hide();
        }
        if (operNo == 1 && "@ViewBag.Vas" == "" && "@toppup" == "7") {
            $("#wrapSwitchLanguage").show();
        }

        $("#status_th_div").children().hide();
        $("#status_en_div").children().hide();
        if ($("#LanguagePage").val() === "1") {
            $("#status_th_div").show();
            $("#status_en_div").hide();
            $("#status_th_div").children("#status_th_" + operNo + "_img").show().end();
        } else {
            $("#status_th_div").hide();
            $("#status_en_div").show();
            $("#status_en_div").children("#status_en_" + operNo + "_img").show().end();
        }
    }

    function changePageHeader_Vas(operNo) {
        toastr.clear();
        if (operNo == 1) {
            $("#wrapSwitchLanguage").show();
        } else {
            $("#wrapSwitchLanguage").hide();
        }
        $("#add_service_th_div").children().hide();
        $("#add_service_en_div").children().hide();
        if ($("#LanguagePage").val() === "1") {
            $("#add_service_th_div").show();
            $("#add_service_en_div").hide();
            $("#add_service_th_div").children("#add_service_th_" + operNo + "_img").show().end();
        } else {
            $("#add_service_th_div").hide();
            $("#add_service_en_div").show();
            $("#add_service_en_div").children("#add_service_en_" + operNo + "_img").show().end();
        }
    }

    function ValidationProcessing(validateModel, err) {
        var chk = true;
        var error = "#" + err;
        var temp = "";
        $(error).html(temp);
        $(validateModel).each(function (index, e) {
            if (e.id == undefined) {
                var vgroup = e.vgroup;
                if (vgroup != undefined) {
                    var tempkid = "";
                    var vchk = false;
                    $.each(vgroup, function (j, k) {
                        var kid = "#" + k.id;
                        var kvalue = $(kid).val();
                        if (j == 0) tempkid = $(kid);

                        if ($.trim(kvalue) != "")
                            vchk = true;
                    });
                    if (vchk) {
                        $(tempkid)[0].className = "form-control";
                    } else {
                        chk = false;
                        $(tempkid)[0].className = "form-control errorinput";
                        if ($("#LanguagePage").val() == "1")
                            temp = "กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน"
                        else
                            temp = "Please Fill In All Required Fields."
                    }
                }
            } else {
                var id = "#" + e.id;
                var value = $(id).val();
                var lb = $(id)[0].placeholder;
                var cond = e.condition;
                var required = e.required;
                if (required == undefined) required = true;
                if ($.trim(value) == "" && required) {
                    if ($(id)[0].className.indexOf("select") > -1) {
                        $($(id)[0]).select2({
                            theme: "classic"
                        });
                    } else if ($(id)[0].className == "form-control" || $(id)[0].className.indexOf("errorinput") > -1) {
                        $(id)[0].className = "form-control errorinput";
                    } else {
                        $(id)[0].className = "form-control errorinput";
                    }

                    if ($("#LanguagePage").val() == "1") {
                        temp = "กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน"
                    }
                    else {
                        temp = "Please Fill In All Required Fields."
                    }
                    chk = false;
                } else if (cond != undefined) {
                    var cchk = true;
                    if ((!required && value != "") || required) {
                        if (cond == "IDCard")
                            cchk = validateIdCard(value);
                        else if (cond == "Email")
                            cchk = validateEmail(value);
                        else if (cond == "Birthday")
                            cchk = validateBirthDay(value);
                        else if (cond == "Place")
                            cchk = validatePlace(value);
                        else if (cond == "HomeNo")
                            cchk = validateHomeNumber(value);
                        else if (cond == "LatLong")
                            cchk = validateLatLong(value);
                        else if (cond == "Number")
                            cchk = validateNumber(value);
                        else if (cond == "Name")
                            cchk = validateName(value);
                        else if (cond == "FreePhone")
                            cchk = validateFreePhone(value);
                        else if (cond == "MobileNumber")
                            //cchk = validateMobileNumber(value);
                            cchk = chkInputMobile(value);
                    }

                    if (!cchk) {
                        $(id)[0].className = "form-control errorinput";
                        chk = false;

                        if ($("#LanguagePage").val() == "1")
                            temp = "กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน"
                        else
                            temp = "Please Fill In All Required Fields."
                    } else {
                        if ($(id)[0].className == "form-control"
                                || $(id)[0].className.indexOf("errorinput") > -1) {
                            $(id)[0].className = "form-control";
                        } else
                            $(id)[0].className = "form-control";
                    }
                } else {
                    if ($(id)[0].className.indexOf("select") > -1) {
                        $($(id)[0]).select2({
                        });
                    } else if ($(id)[0].className == "form-control errorinput") {
                        $(id)[0].className = "form-control";
                    } else if ($(id)[0].className.indexOf("errorinput") > -1) {
                        $(id)[0].className = "form-control";
                    }
                }
            }
        });

        if (temp) {
            toastrErrorMessage(temp);
        }
        return chk;
    }

    function validateEmail(email) {
        var filter = /^(((([a-zA-Z0-9\_\-]{1,50})+(([\.]{1,50}[a-zA-Z0-9\_\-]{1,50}){0,50})){1,95})+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (email.substr(0, 2) == "-@@" || email.substr(0, 2) == "_@@") {
            return false;
        }
        if (filter.test(email)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateHomeNumber(value) {
        var rex = /^[0-9/\-]+$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateMobileNumber(value) {
        if (value.length < 10) {
            return false
        }
        else {
            return true;
        }
    }

    function chkInputMobile(MobileNo) {
        var cchk = false;
        var value = MobileNo;
        var validmobile = validateMobileNumber(value);
        if (validmobile == false) {
            cchk = false;
        } else {
            $.ajax({
                url: '/CustomerRegister/CheckInputMobileList',
                data: {
                    lMobile: value
                },
                dataType: 'json',
                async: false,
                type: 'POST',
                success: function (data) {
                    if (data) {
                        cchk = false;
                    }
                    else {
                        cchk = true;
                    }
                },
                error: function () {

                }
            });
        }
        return cchk;
    }

    function validatePlace(value) {
        var rex = /^[ก-๙a-zA-Z0-9\.\-\,\/\(\)\s]+$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateLatLong(value) {
        var rex = /^(-)?[0-9]*[.]{1}[0-9]{6}$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateNumber(value) {
        var rex = /^[0-9]+$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateName(value) {
        var rex = /^[ก-๙a-zA-Z\.\s]+$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateFreePhone(value) {
        var rex = /^[ก-๙a-zA-Z0-9\.\-\,\(\)\s]+$/;
        if (rex.test(value)) {
            return true;
        }
        else {
            return false;
        }
    }

    function validateMobileNumberOR(id, error) {

        var temp = "";
        var iid = "#" + id;
        if ($(iid).val() != "") {
            if ($(iid).val().length < 10) {

                $(iid)[0].className = "form-control errorinput";

                if ($("#LanguagePage").val() == "1")
                    temp = "<li>กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน</li>"
                else
                    temp = "<li>Please fill in all required fields.</li>"

                $("#" + error).html(temp);
                return false;
            }
            else if ($(iid).val().length == 10) {
                var value = $(iid).val();
                var chkMobile2 = false;
                ////// Begin add new function to check mobile2 by using LOV /////
                chkMobile2 = chkInputMobile(value);
                if (chkMobile2 == false) {
                    $(iid)[0].className = "form-control errorinput";

                    if ($("#LanguagePage").val() == "1")
                        temp = "กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน"
                    else
                        temp = "Please fill in all required fields."

                    toastrErrorMessage(temp);
                    return false;

                } else {
                    $(iid)[0].className = "form-control";
                    return true;
                }
                ////// End add new function to check mobile2 by using LOV /////
            }

            else {
                $(iid)[0].className = "form-control";
                $("#" + error).html(temp);
                return true;
            }
        }
        else {
            $(iid)[0].className = "form-control";
            $("#" + error).html(temp);
            return true;
        }
    }

    function toastrErrorMessage(message) {
        toastr.options.positionClass = "toast-top-center";
        toastr.options.closeButton = true;
        toastr.error(message)
    }

    var get_current_language = $.ajax({
        type: "GET",
        url: "/WBB/GetCurrentCulture",
        async: false,
        success: function (x) {
            $("#LanguagePage").val(x);
            return x;
        }
    });
</script>

<script type="text/javascript">
    var language = "";
    var oldIE;
    $(function () {

        changeLanguage();

        if ($("#LanguagePage").val() == 1)
            language = "th";
        else
            language = "en";

        $('#page1').bind('show', function () {
            changePageHeader(1);
        });
        $('#page2').bind('show', function () {
            changePageHeader(2);
        });
        $('#page2_1').bind('show', function () {
            if ("@ViewBag.Vas" == "2" || "@ViewBag.TopUp" == "1") {
                changePageHeader_Vas(2);
            } else {
                changePageHeader(3);
            }
        });
        $('#PackageDetailPage').bind('show', function () {
            changePageHeader(3);
        });
        $('#page3').bind('show', function () {
            changePageHeader(4);
        });
        $('#page4').bind('show', function () {
            if ("@ViewBag.Vas" == "2" || "@ViewBag.TopUp" == "1" || "@ViewBag.Vas" == "4") {
                changePageHeader_Vas(3);
            } else {
                changePageHeader(5);
            }
        });
        $('#SelectOntopPage').bind('show', function () {
            changePageHeader_Vas(2);
        });
        $('#OntopDetailPage').bind('show', function () {
            changePageHeader_Vas(2);
        });

        // Detecting IE
        if ($('html').is('.lt-ie7, .lt-ie8, .lt-ie9')) {
            oldIE = true;
        }

        if (oldIE) {
            if (sessionStorage.getItem('detectedIE') != 'detected') {
                var oldIENoticeMassage = 'เว็ปไซต์สามารถใช้งานได้ดีกับ Microsoft Internet Explorer 9 ขึ้นไป หรือ Google Chrome / Firefox เวอร์ชั่นล่าสุด',
                oldIEBtnMessage = 'ตกลง';

                if (language == 'en') {
                    oldIENoticeMassage = 'This site is best viewed using Internet Explorer 9, Chrome, Safari and browser later.';
                    oldIEBtnMessage = 'Okay';
                }

                sessionStorage.setItem('detectedIE', 'detected');
                bootbox.dialog({
                    message:
                            "<p class='clearfix'></p>" +
                            "<div class='add-border-rounded-green'>" +
                                "<p class='clearfix'></p>" +
                                "<h3 class='text-center'>" +
                                oldIENoticeMassage +
                                "</h3>" +
                            "</div>" +
                            "<p class='clearfix'></p>",
                    buttons: {
                        success: {
                            label: oldIEBtnMessage,
                            className: "btn-success",
                        }
                    }
                });
            }
        }
    });
</script>