@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels

@{
    string L_SPECIFIC_ADDR_2 = "";
    string L_LAT_LONG = "";
    string L_CLICK = "";
    string L_DECIMAL = "";
    string L_SPECIFIC_LOC = "";
    string L_HOW_TO = "";
    string L_HOW_LAT_LONG = "";
    string L_GGMAP_TOOLTIP = "";

    if (null != ViewData["L_SPECIFIC_ADDR_2"])
    {
        L_SPECIFIC_ADDR_2 = ViewData["L_SPECIFIC_ADDR_2"] as string;
    }
    if (null != ViewData["L_LAT_LONG"])
    {
        L_LAT_LONG = ViewData["L_LAT_LONG"] as string;
    }
    if (null != ViewData["L_CLICK"])
    {
        L_CLICK = ViewData["L_CLICK"] as string;
    }
    if (null != ViewData["L_DECIMAL"])
    {
        L_DECIMAL = ViewData["L_DECIMAL"] as string;
    }
    if (null != ViewData["L_SPECIFIC_LOC"])
    {
        L_SPECIFIC_LOC = ViewData["L_SPECIFIC_LOC"] as string;
    }
    if (null != ViewData["L_HOW_TO"])
    {
        L_HOW_TO = ViewData["L_HOW_TO"] as string;
    }
    if (null != ViewData["L_HOW_LAT_LONG"])
    {
        L_HOW_LAT_LONG = ViewData["L_HOW_LAT_LONG"] as string;
    }
    if (null != ViewData["L_GGMAP_TOOLTIP"])
    {
        L_GGMAP_TOOLTIP = ViewData["L_GGMAP_TOOLTIP"] as string;
    }
}



    <div id="silder" style="margin-left: -30px;"  >
        <img src="~/Content/src/bulletGreen.png" />
        @L_SPECIFIC_ADDR_2
    </div>
    @*<div>
        <input type="radio"
            name="RD_L_LAT_LONG" id="RD_L_LAT_LONG" />
        <label for="radio1" class="css-label">
            @L_LAT_LONG  @L_HOW_LAT_LONG 
            <a href="http://www.ais.co.th/airnet/th/technic.html" target="_blank"><label id="L_CLICK">@L_CLICK</label></a>
        </label>

    </div>
    <div id="h_L_HOW_LAT_LONG22" class="i-hidden" >
        
        @Html.TextBoxFor(model => model.CoveragePanelModel.L_LAT, new { @class = "textField", @title = @L_DECIMAL,  @style = "margin-left:80px;width: 182px;" })
        @Html.TextBoxFor(model => model.CoveragePanelModel.L_LONG, new { @class = "textField", @title = @L_DECIMAL, @style="width: 182px;" })

    </div>

    <div>

        <input type="radio" name="RD_L_LAT_LONG" id="L_SPECIFIC_LOC222" />
        <label for="radio1" class="css-label">@L_SPECIFIC_LOC</label>
     
       

    </div>

    *@
    <div id="Map" style="width:100%; height:100%;">
        
        <div style="font-size:16px;">@L_HOW_TO</div>
        <div id="mapapi" style="width:700px;height:600px;">
            
               
        @*@Html.Partial("~/Views/Shared/SharedMap.cshtml")*@
                @*@{
                        var coveragePanelModel = Model;
                        Html.RenderPartialWithPrefix("~/Views/Shared/SharedMap.cshtml",
                                        coveragePanelModel,
                                        new ViewDataDictionary { 
									{ "L_GGMAP_TOOLTIP", L_GGMAP_TOOLTIP }, 									
								}, "CoveragePanelModel.");
                                
                    }*@
        <!---Include Map---------->
           

        <div id="h_L_HOW_LAT_LONG" style="margin-top:10px;">
            @Html.TextBoxFor(model => model.CoveragePanelModel.L_LAT2, new { @class = "textField", @Style = "margin-left:150px;",@readonly = "readonly" })
            @Html.TextBoxFor(model => model.CoveragePanelModel.L_LONG2, new { @class = "textField", @Style = "" ,@readonly="readonly"})                        
        </div>
    </div></div>
