@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels

@{
    ViewBag.Title = "_PackageDetail";

    string L_SUMMARY = "";
    string L_TRIPLE_FIBRE_DETAIL_1 = "";
    string L_TRIPLE_FIBRE_DETAIL_2 = "";
    string L_TRIPLE_FIBRE_DETAIL_3 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_1 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_2 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_3 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_4 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_5 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_6 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_7 = "";
    string L_TRIPLE_PLAYBOX_DETAIL_8 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_1 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_2 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_3 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_4 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_5 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_6 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_7 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_8 = "";
    string L_TRIPLE_FIXEDLINE_DETAIL_9 = "";
    string L_TRIPLE_DETAIL_HEADER = "";

    if (ViewBag.LabelFBBTR002 != null)
    {
        var labelFBBTR002 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR002;
        L_SUMMARY = labelFBBTR002.Any(c => c.Name == "L_SUMMARY") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMMARY").DisplayValue : "";
        L_TRIPLE_FIBRE_DETAIL_1 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_1").DisplayValue : "";
        L_TRIPLE_FIBRE_DETAIL_2 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_2").DisplayValue : "";
        L_TRIPLE_FIBRE_DETAIL_3 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_3") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIBRE_DETAIL_3").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_1 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_1").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_2 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_2").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_3 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_3") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_3").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_4 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_4") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_4").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_5 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_5") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_5").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_6 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_6") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_6").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_7 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_7") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_7").DisplayValue : "";
        L_TRIPLE_PLAYBOX_DETAIL_8 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_8") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_PLAYBOX_DETAIL_8").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_1 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_1").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_2 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_2").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_3 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_3") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_3").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_4 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_4") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_4").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_5 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_5") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_5").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_6 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_6") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_6").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_7 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_7") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_7").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_8 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_8") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_8").DisplayValue : "";
        L_TRIPLE_FIXEDLINE_DETAIL_9 = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_9") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_FIXEDLINE_DETAIL_9").DisplayValue : "";
        L_TRIPLE_DETAIL_HEADER = labelFBBTR002.Any(c => c.Name == "L_TRIPLE_DETAIL_HEADER") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TRIPLE_DETAIL_HEADER").DisplayValue : "";
    }

    string B_NEXT = "";
    string B_BACK = "";

    if (ViewBag.LabelFBBTR000 != null)
    {
        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_NEXT = labelFBBTR000.Any(c => c.Name == "B_NEXT") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_NEXT").DisplayValue : "";
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
    }

}

<div id="PackageDetailPage" class="container" style="display:none">
    <div class="form-summary col-md-8-5 col-xs-12 addrounded">
        <p class="clearfix"></p>
        <h4 class="page-header tgreen">@L_TRIPLE_DETAIL_HEADER</h4>
        <i class="fa fa-chevron-right tgreen"></i><span id="lblPackageName"></span>
        <p class="clearfix"></p>

        <div class="PowerPacK">
            <div id="divFibreDetailSection">
                <div class="col-md-3 col-xs-4"> <img src="~/Content/images/ais_fibre.jpg" class="img-responsive" /></div>
                <div class="col-md-8 col-xs-12">
                    @if (L_TRIPLE_FIBRE_DETAIL_1 != "")
                    {
                        <h4>@Html.Raw(L_TRIPLE_FIBRE_DETAIL_1)</h4>
                    }
                    @if (L_TRIPLE_FIBRE_DETAIL_2 != "")
                    {
                        <b id="lblPackkageDetailFibreDLUL">@Html.Raw(L_TRIPLE_FIBRE_DETAIL_2)</b><br />
                    }
                    @if (L_TRIPLE_FIBRE_DETAIL_3 != "")
                    {
                        <span class="small" id="lblPackageDetailFibreDiscount">@Html.Raw(L_TRIPLE_FIBRE_DETAIL_3)</span>
                    }
                </div>
            </div>

            <p class="clearfix page-header"></p>

            <div id="divPlayBoxDetailSection">
                <div class="col-md-3 col-xs-4"> <img src="~/Content/images/ais_playbox.jpg" class="img-responsive" /></div>
                <div class="col-md-8 col-xs-12">
                    @if (L_TRIPLE_PLAYBOX_DETAIL_1 != "")
                    {
                        <h4>@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_1)</h4>
                    }
                    @if (L_TRIPLE_PLAYBOX_DETAIL_2 != "")
                    {
                        <b id="lblPackageDetailPlayBoxHooq">@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_2)</b><br />
                    }
                    @if (L_TRIPLE_PLAYBOX_DETAIL_4 != "")
                    {
                        <span class="small" id="lblPackageDetailPlayboxDiscount">@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_4)</span>
                    }

                    <ul>
                        @if (L_TRIPLE_PLAYBOX_DETAIL_5 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_5)</li>
                        }
                        @if (L_TRIPLE_PLAYBOX_DETAIL_6 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_6)</li>
                        }
                        @if (L_TRIPLE_PLAYBOX_DETAIL_7 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_7)</li>
                        }
                        @if (L_TRIPLE_PLAYBOX_DETAIL_8 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_8)</li>
                        }
                    </ul>

                </div>
            </div>

            <p class="clearfix page-header"></p>
            <p class="clearfix"></p>

            <div id="divFixedLineDetailSection">
                <div class="col-md-3 col-xs-4"> <img src="~/Content/images/ais_fixedline.jpg" class="img-responsive" /></div>
                <div class="col-md-8 col-xs-12">

                    @if (L_TRIPLE_FIXEDLINE_DETAIL_1 != "")
                    {
                        <h4>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_1)</h4>
                    }
                    @if (L_TRIPLE_FIXEDLINE_DETAIL_2 != "")
                    {
                        <b id="lblPackageDetailFixedLineCall">@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_2)</b><br />
                    }
                    @* @if (L_TRIPLE_FIXEDLINE_DETAIL_3 != "")
                        {
                            <div>
                                <label style="font-size:12px;color:#9c9c9c;"><i>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_3)</i></label>
                            </div>
                        }*@
                    @if (L_TRIPLE_FIXEDLINE_DETAIL_4 != "")
                    {
                        <p class="clearfix"></p>
                        <span>@L_TRIPLE_FIXEDLINE_DETAIL_4</span>
                    }

                    <ul>
                        @if (L_TRIPLE_FIXEDLINE_DETAIL_5 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_5)</li>
                        }
                        @if (L_TRIPLE_FIXEDLINE_DETAIL_6 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_6)</li>
                        }
                        @if (L_TRIPLE_FIXEDLINE_DETAIL_7 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_7)</li>
                        }
                        @if (L_TRIPLE_FIXEDLINE_DETAIL_8 != "")
                        {
                            <li>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_8)</li>
                        }
                    </ul>

                    @if (L_TRIPLE_FIXEDLINE_DETAIL_9 != "")
                    {
                        <span><i>@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_9)</i></span>
                    }

                </div>
            </div>

            <p class="clearfix"></p>

        </div>
        <p class="clearfix"></p>
        <p class="clearfix page-header"></p>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-default btn-for-xs" onclick="onPackageDetailBack_Click()">&nbsp; @B_BACK &nbsp; </button>
            <button type="button" class="btn btn-success btn-for-xs" onclick="onPackageDetailNext_Click()">&nbsp; @B_NEXT &nbsp; <i class="fa fa-arrow-circle-o-right "></i></button>
        </div>
        <p class="clearfix"></p>
    </div>



    <div class="form-summary2 col-md-4 col-xs-12 addrounded pull-right hidden-sm hidden-xs">
        <br /><br />
        <h4 class="greenheader page-header twhite" id="lbsummary">@L_SUMMARY</h4>
        <div id="divFormSummaryPackageDetail">

        </div>
    </div>

    <div style="clear:both;"></div>

</div>

<script>

    function onPackageDetailPage_Load() {

        $("#divFormSummaryPackageDetail").html($("#divFormSummarySelectPackage").html());

        var i = $("input[name=SelectPackage]:checked").val();
        var preIniPB = parseInt($("#TP_PRE_INITIATION_PB" + i).val(), 10);
        var iniPB = parseInt($("#TP_INITIATION_PB" + i).val(), 10);
        var preIniInstall = parseInt($("#TP_PRE_INITIATION_INSTALL" + i).val(), 10);
        var iniInstall = parseInt($("#TP_INITIATION_INSTALL" + i).val(), 10);
        var tpHooq = parseInt($("#TP_HOOQ" + i).val(), 10);

        var fibreDLUL = "@Html.Raw(L_TRIPLE_FIBRE_DETAIL_2)";
        fibreDLUL = fibreDLUL.replace("{0}", $("#DOWNLOAD_SPEED" + i).val());
        fibreDLUL = fibreDLUL.replace("{1}", $("#UPLOAD_SPEED" + i).val());

        var fibreDiscount = "@Html.Raw(L_TRIPLE_FIBRE_DETAIL_3)";
        fibreDiscount = fibreDiscount.replace("{0}", toNumber(preIniInstall - iniInstall));

        var playBoxHooq = "@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_2)";
        if (tpHooq > 1) {
            playBoxHooq = "@Html.Raw(L_TRIPLE_PLAYBOX_DETAIL_3)";
        }
        playBoxHooq = playBoxHooq.replace("{0}", tpHooq);

        var playBoxDiscount = $("#lblPackageDetailPlayboxDiscount").text();
        playBoxDiscount = playBoxDiscount.replace("{0}", toNumber(preIniPB - iniPB));

        $("#lblPackageName").text($("#PACKAGE_GROUP" + i).val().replace("-", " "));
        $("#lblPackkageDetailFibreDLUL").text(fibreDLUL);
        $("#lblPackageDetailFibreDiscount").text(fibreDiscount);
        $("#lblPackageDetailPlayBoxHooq").text(playBoxHooq);
        $("#lblPackageDetailPlayboxDiscount").text(playBoxDiscount);
        $("#lblPackageDetailFixedLineCall").text("@Html.Raw(L_TRIPLE_FIXEDLINE_DETAIL_2)".replace("{0}", $("#TP_RECURRING_CHARGE" + i).val()));
    }

    function onPackageDetailNext_Click() {
        $("#PackageDetailPage").hide();
        onLoad003();
        $("#page3").show();
    }

    function onPackageDetailBack_Click() {
        $("#PackageDetailPage").hide();
        $("#page2").show();
    }

</script>
