@using System.Collections.Generic;
@using WBBEntity.PanelModels
@model WBBEntity.PanelModels.QuickWinPanelModel
@{
    string bBACK = "";
    string bNEXT = "";
    if (ViewBag.LabelFBBTR000 != null)
    {
        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        bBACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.First(c => c.Name == "B_BACK").DisplayValue : "";
        bNEXT = labelFBBTR000.Any(c => c.Name == "B_NEXT") ? labelFBBTR000.First(c => c.Name == "B_NEXT").DisplayValue : "";

    }

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        //lBUILD_NAME = LabelFBBTR001.Any(c => c.Name == "L_BUILD_NAME") ? LabelFBBTR001.First(c => c.Name == "L_BUILD_NAME").DisplayValue : "";

    }

    string L_BAHT = "";
    if (ViewBag.labelFBBTR002 != null)
    {
        var labelFBBTR002 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR002;
        L_BAHT = labelFBBTR002.Any(c => c.Name == "L_BAHT") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_BAHT").DisplayValue : "";

    }

    string hFBB003 = "";
    string lYOUR_PACK = "";
    string lMAIN_PACK = "";
    string lONTOP_PACK = "";
    string lRESIDENTIAL = "";
    string lGOVERNMENT = "";
    string lBUSINESS = "";
    string lNAME = "";
    string lTITLE = "";
    string lFIRST_NAME = "";
    string lLAST_NAME = "";
    string lCARD_TYPE = "";
    string lCARD_NO = "";
    string lGENDER = "";
    string lBIRTHDAY = "";
    string lCONTACT_PHONE = "";
    string lSPECIFIC_TIME = "";
    string lEMAIL = "";
    string lGOVERNMENT_NAME = "";
    string lCONTACT_PERSON = "";
    string L_INSTALLATION_DATE = "";
    string L_CAPTCHA = "";
    string L_CAPTCHA_ERR = "";
    string L_MULTI_PLAYBOX_INITIATIONS_FEE = "";
    string L_MULTI_PLAYBOX_SUMM_DETAIL = "";
    string L_AUTOMATE = "";

    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        hFBB003 = labelFBBTR003.Any(c => c.Name == "H_FBB003") ? labelFBBTR003.First(c => c.Name == "H_FBB003").DisplayValue : "";
        lYOUR_PACK = labelFBBTR003.Any(c => c.Name == "L_YOUR_PACK") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_YOUR_PACK").DisplayValue : "";
        lMAIN_PACK = labelFBBTR003.Any(c => c.Name == "L_MAIN_PACK") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_MAIN_PACK").DisplayValue : "";
        lONTOP_PACK = labelFBBTR003.Any(c => c.Name == "L_ONTOP_PACK") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_ONTOP_PACK").DisplayValue : "";
        lRESIDENTIAL = labelFBBTR003.Any(c => c.Name == "L_RESIDENTIAL") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_RESIDENTIAL").DisplayValue : "";
        lGOVERNMENT = labelFBBTR003.Any(c => c.Name == "L_GOVERNMENT") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_GOVERNMENT").DisplayValue : "";
        lBUSINESS = labelFBBTR003.Any(c => c.Name == "L_BUSINESS") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_BUSINESS").DisplayValue : "";
        lNAME = labelFBBTR003.Any(c => c.Name == "L_NAME") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_NAME").DisplayValue : "";
        lTITLE = labelFBBTR003.Any(c => c.Name == "L_TITLE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_TITLE").DisplayValue : "";
        lFIRST_NAME = labelFBBTR003.Any(c => c.Name == "L_FIRST_NAME") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_FIRST_NAME").DisplayValue : "";
        lLAST_NAME = labelFBBTR003.Any(c => c.Name == "L_LAST_NAME") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_LAST_NAME").DisplayValue : "";
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
        lCARD_NO = labelFBBTR003.Any(c => c.Name == "L_CARD_NO") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_NO").DisplayValue.Substring(1) : "";
        lGENDER = labelFBBTR003.Any(c => c.Name == "L_GENDER") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_GENDER").DisplayValue : "";
        lBIRTHDAY = labelFBBTR003.Any(c => c.Name == "L_BIRTHDAY") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_BIRTHDAY").DisplayValue.Substring(1) : "";
        lBIRTHDAY = lBIRTHDAY.Replace("วว/ดด/ปปปป(พ.ศ.)", "");
        lBIRTHDAY = lBIRTHDAY.Replace("dd/mm/yyyy", "");
        lCONTACT_PHONE = labelFBBTR003.Any(c => c.Name == "L_CONTACT_PHONE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CONTACT_PHONE").DisplayValue : "";
        lSPECIFIC_TIME = labelFBBTR003.Any(c => c.Name == "L_SPECIFIC_TIME") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_SPECIFIC_TIME").DisplayValue : "";
        lEMAIL = labelFBBTR003.Any(c => c.Name == "L_EMAIL") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_EMAIL").DisplayValue : "";
        lGOVERNMENT_NAME = labelFBBTR003.Any(c => c.Name == "L_GOVERNMENT_NAME") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_GOVERNMENT_NAME").DisplayValue : "";
        lCONTACT_PERSON = labelFBBTR003.Any(c => c.Name == "L_CONTACT_PERSON") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CONTACT_PERSON").DisplayValue : "";
        L_INSTALLATION_DATE = labelFBBTR003.Any(c => c.Name == "L_INSTALLATION_DATE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_INSTALLATION_DATE").DisplayValue : "";
        L_CAPTCHA = labelFBBTR003.Any(c => c.Name == "L_CAPTCHA") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CAPTCHA").DisplayValue : "";
        L_CAPTCHA_ERR = labelFBBTR003.Any(c => c.Name == "L_CAPTCHA_ERR") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CAPTCHA_ERR").DisplayValue : "";
        L_MULTI_PLAYBOX_INITIATIONS_FEE = labelFBBTR003.Any(c => c.Name == "L_MULTI_PLAYBOX_INITIATIONS_FEE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_MULTI_PLAYBOX_INITIATIONS_FEE").DisplayValue : "";
        L_MULTI_PLAYBOX_SUMM_DETAIL = labelFBBTR003.Any(c => c.Name == "L_MULTI_PLAYBOX_SUMM_DETAIL") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_MULTI_PLAYBOX_SUMM_DETAIL").DisplayValue : "";
        L_AUTOMATE = labelFBBTR003.Any(c => c.Name == "L_AUTOMATE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_AUTOMATE").DisplayValue : "";

    }

    string hFBB004 = "";
    string lINSTALL_ADDR = "";
    string lBILLING_ADDR = "";
    string lVAT_DETAIL = "";
    string lSEND_DOC = "";
    string lACCEPTED = "";
    string bSubmit = "";
    if (ViewBag.LabelFBBTR004 != null)
    {
        var labelFBBTR004 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR004;
        hFBB004 = labelFBBTR004.Any(c => c.Name == "H_FBB004") ? labelFBBTR004.First(c => c.Name == "H_FBB004").DisplayValue : "";
        lINSTALL_ADDR = labelFBBTR004.Any(c => c.Name == "L_INSTALL_DETAIL") ? labelFBBTR004.FirstOrDefault(c => c.Name == "L_INSTALL_DETAIL").DisplayValue : "";
        lBILLING_ADDR = labelFBBTR004.Any(c => c.Name == "L_BILLING_DETAIL") ? labelFBBTR004.FirstOrDefault(c => c.Name == "L_BILLING_DETAIL").DisplayValue : "";
        lVAT_DETAIL = labelFBBTR004.Any(c => c.Name == "L_VAT_DETAIL") ? labelFBBTR004.FirstOrDefault(c => c.Name == "L_VAT_DETAIL").DisplayValue : "";
        lSEND_DOC = labelFBBTR004.Any(c => c.Name == "L_SEND_DOC") ? labelFBBTR004.FirstOrDefault(c => c.Name == "L_SEND_DOC").DisplayValue : "";
        lACCEPTED = labelFBBTR004.Any(c => c.Name == "L_ACCEPTED") ? labelFBBTR004.First(c => c.Name == "L_ACCEPTED").DisplayValue : "";
        bSubmit = labelFBBTR004.Any(c => c.Name == "B_SUBMIT") ? labelFBBTR004.First(c => c.Name == "B_SUBMIT").DisplayValue : "";
    }

    if (ViewBag.LabelFBBTR010 != null)
    {
        var LabelFBBTR010 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR010;

    }

    string[] ATTACHED;
    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        ATTACHED = FbbConstant.Where(p => p.Field == "ATTACHED_FILE_BY_PACKAGE_GROUP").Select(p => p.Validation.ToUpperInvariant()).ToArray();

    }
    else
    {
        ATTACHED = null;
    }

    string TopUp = "";
    if (null != ViewBag.TopUp)
    {
        TopUp = ViewBag.TopUp;
    }

    string vas_flag = "";
    if (null != ViewBag.Vas)
    {
        vas_flag = ViewBag.Vas;
        if (vas_flag == "") { vas_flag = "0"; }
    }

    <style>

        .signature-pad {
            width: 500px;
            height: 200px;
            background-color: rgb(240,240,240);
        }

        .signature-pad-open {
            width: 100%;
        }

        .signature-pad-open-nonres {
            width: 100%;
        }

        .PDFSignature-modal {
            width: 100%;
            height: 100%;
        }

        .container-collapse {
        }

        .header-collapse {
        }

        .content-collapse {
            display: none;
        }

        .lblRed {
            color: red;
        }
    </style>

    <div id="page4" class="container addrounded" style="display:none;">
        <h4 class="page-header tgreen">@hFBB004</h4>
        <p class="clearfix"></p>

        <div id="summarytab0">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@hFBB003</span></h4>

                <div class="col-md-3 col-xs-12">
                    @lRESIDENTIAL<p class="clearfix"></p>
                </div>
                <div class="col-md-3 col-xs-12"></div>
                <div class="col-md-3 col-xs-6">@lNAME</div>
                <div class="col-md-3 col-xs-6">
                    <span>
                        <span id="txtfor_L_TITLE_NAME">-</span>
                        <span id="txtfor_L_FIRST_NAME">-</span>
                        <span id="txtfor_L_LAST_NAME">-</span>
                    </span>
                </div>
                <p class="clearfix" style="display: contents;"></p>

                <div class="col-md-3 col-xs-6" style="display: none;">@lCARD_TYPE</div>
                <div class="col-md-3 col-xs-6" style="display: none;"><span id="txtfor_ID_CARD_NAME">-</span></div>
                <div class="col-md-3 col-xs-6" style="display: none;">@lCARD_NO</div>
                <div class="col-md-3 col-xs-6" style="display: none;"><span id="txtfor_L_CARD_NO">-</span></div>
                <p class="clearfix" style="display: none;"></p>

                @*เพศ , วันเกิด เอาออกก่อน*@
                @*<div class="col-md-3 col-xs-6">@lGENDER</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_GENDER">-</span></div>
                <div class="col-md-3 col-xs-6">@lBIRTHDAY</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_BIRTHDAY">0/0/</span></div>
                <p class="clearfix"></p>*@

                <div class="col-md-3 col-xs-6">@lCONTACT_PHONE</div>
                <div class="col-md-3 col-xs-6" style="-ms-word-wrap: break-word !important; word-wrap: break-word !important;">
                    <span id="txtfor_L_HOME_PHONE">-</span>
                </div>
                <div class="col-md-3 col-xs-6">@lEMAIL</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_EMAIL">-</span></div>
                <p class="clearfix"></p>

                <div class="col-md-3 col-xs-6">@lSPECIFIC_TIME</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_SPECIFIC_TIME">-</span></div>
                <div class="col-md-3 col-xs-6">@L_INSTALLATION_DATE</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_INSTALL_DATE">-</span></div>

                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab1" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@hFBB003</span></h4>

                <div class="col-md-3 col-xs-12">
                    @lGOVERNMENT<p class="clearfix"></p>
                </div>
                <div class="col-md-3 col-xs-12"></div>
                <div class="col-md-3 col-xs-6">@lGOVERNMENT_NAME</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_GOVERNMENT_NAME">-</span></div>
                <p class="clearfix"></p>

                <div class="col-md-3 col-xs-6">@lCARD_TYPE</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_CARD_TYPE2">-</span></div>
                <div class="col-md-3 col-xs-6">@lCARD_NO</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_CARD_NO2">-</span></div>
                <p class="clearfix"></p>

                <div class="col-md-3 col-xs-6">@lCONTACT_PERSON</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_CONTACT_PERSON2">-</span></div>
                <div class="col-md-3 col-xs-6">@lCONTACT_PHONE</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_CONTACT_PHONE2">-</span></div>
                <p class="clearfix"></p>

                <div class="col-md-3 col-xs-6">@lEMAIL</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_EMAIL2">-</span></div>
                <div class="col-md-3 col-xs-6">@lSPECIFIC_TIME</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_SPECIFIC_TIME2">-</span></div>
                <p class="clearfix"></p>

                <div class="col-md-3 col-xs-6">@L_INSTALLATION_DATE</div>
                <div class="col-md-3 col-xs-6"><span id="txtfor_L_INSTALL_DATE2">-</span></div>
                <div class="col-md-3 col-xs-6"></div>
                <div class="col-md-3 col-xs-6"></div>

                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab2" class="newvas" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@lYOUR_PACK</span></h4>
                <p class="clearfix"></p>
                <div id="summary">
                    @*R22.03 ไปหามาใส่*@
                </div>
                <div id="summaryMultiPlaybox">
                    <table class="table-non-border" id="tblMultiPlayboxSummary"></table>
                </div>
                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab3Line2" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@lINSTALL_ADDR</span></h4>
                <div class="table-responsive">
                    <table class="table-non-border">
                        <tr>
                            <td><span id="lbfor_L_INSTALL_LINE2NEW">-</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab4Line2" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@lBILLING_ADDR</span></h4>
                <div class="table-responsive">
                    <table class="table-non-border">
                        <tr>
                            <td><span id="lbfor_L_BILL_LINE2NEW">-</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab5Line2" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@lVAT_DETAIL</span></h4>
                <div class="table-responsive">
                    <table class="table-non-border">
                        <tr>
                            <td><span id="lbfor_L_VAT_LINE2NEW">-</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytab8">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@lSEND_DOC</span></h4>
                <div class="col-sm-4 col-xs-6">
                    <div>
                        <ul id="err004"></ul>
                    </div>
                    <input id="NEW_L_EMAIL" name="" placeholder="@lEMAIL" class="form-control" type="text" />
                    <p class="clearfix"></p>
                </div>
                <p class="clearfix"></p>
                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <div id="summarytabCaptcha">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green">
                <h4 class="tgreen"><span class="hightlight">@L_CAPTCHA</span></h4>
                <p class="clearfix"></p>
                <p class="clearfix"></p>
                <div class="col-sm-4 col-xs-12 text-center">
                    <input type="text" id="defaultReal" name="defaultReal" class="form-control">
                </div>
                <p class="clearfix"></p>
                <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
        </div>

        <p class="clearfix page-header"></p>
        <div class="col-md-12 text-center">
            <p class="clearfix"></p>
            <div id="conditions3">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default btn-for-xs" onclick="registerSummary.backPage(0);">&nbsp; @bBACK &nbsp; </button>
                    <p class="clerfix visible-xs"></p>
                    <button id="btnNoAccept2" disabled type="button" class="btn btn-success btn-for-xs">
                        &nbsp; @bSubmit &nbsp; <i class="fa fa-arrow-circle-o-right "></i>
                    </button>
                    <p class="clerfix visible-xs"></p>
                    <button id="btnSubmit2" type="button" class="btn btn-success btn-for-xs" onclick="onSubmit();">
                        &nbsp; @bSubmit &nbsp; <i class="fa fa-arrow-circle-o-right "></i>
                    </button>
                </div>
                <p class="clearfix"></p>
            </div>
        </div>
        <p class="clearfix"></p>
    </div>

    <div id="listvas"></div>
    <div id="PDF_Detail2"></div>
    <div id="PDF_Detail">
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_MAIN_PACKAGE, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_MAIN_PACKAGE", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_LABEL_TIDTUN, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_LABEL_TIDTUN", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_TIDTUN, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_TIDTUN", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_BASEPHONE, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_BASEPHONE", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_DISCOUNTBASEPHONE, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_DISCOUNTBASEPHONE", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_PLAYBOXINSTALL, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_PLAYBOXINSTALL", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_DISCOUNTPLAYBOX, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_DISCOUNTPLAYBOX", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_DISCOUNT, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_DISCOUNT", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_SUM1, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_SUM1", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_LABEL_PAKAGENAME, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_LABEL_PAKAGENAME", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_PAKAGE, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_PAKAGE", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_FULLHD, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_FULLHD", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_LABEL_FULLHD, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_LABEL_FULLHD", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_FULLHD2, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_FULLHD2", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_LABEL_FULLHD2, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_LABEL_FULLHD2", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_SPEEDBOOST, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_SPEEDBOOST", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_LABEL_SPEEDBOOST, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_LABEL_SPEEDBOOST", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_MAINTAINPHONE, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_MAINTAINPHONE", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_SUM2, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_SUM2", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_VALUE_DETAIL_4DAY, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_VALUE_DETAIL_4DAY", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_LABEL_DETAIL_ALLFIRSTBILL, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_LABEL_DETAIL_ALLFIRSTBILL", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_BUNDLING_DISCOUNT_DETAIL, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_BUNDLING_DISCOUNT_DETAIL", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PDFPackageModel.PDF_L_DISCOUNT_DETAIL, new { @id = "SummaryPanelModel_PDFPackageModel_PDF_L_DISCOUNT_DETAIL", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SelectVas_Flag, new { @id = "SummaryPanelModel_PackageModel_SelectVas_Flag", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SelectPlayBox_Flag, new { @id = "SummaryPanelModel_PackageModel_SelectPlayBox_Flag", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SelectPlayPBL_Flag, new { @id = "SummaryPanelModel_PackageModel_SelectPlayPBL_Flag", @value = "" })
        @Html.HiddenFor(Model => Model.SummaryPanelModel.L_SEND_EMAIL, new { @id = "SummaryPanelModel_L_SEND_EMAIL", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_INSTALL_DATE, new { @id = "L_INSTALL_DATE", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_SPECIFIC_TIME, new { @id = "CustomerRegisterPanelModel_L_SPECIFIC_TIME", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.FBSSTimeSlot.AppointmentDate, new { @id = "CustomerRegisterPanelModel_FBSSTimeSlot_AppointmentDate", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.FBSSTimeSlot.InstallationCapacity, new { @id = "CustomerRegisterPanelModel_FBSSTimeSlot_InstallationCapacity", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.FBSSTimeSlot.TimeSlot, new { @id = "CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlot", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.FBSSTimeSlot.TimeSlotId, new { @id = "CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlotId", @value = "" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.ASSIGN_RULE, new { @id = "CustomerRegisterPanelModel_ASSIGN_RULE", @value = "" })

    </div>
    <div id="AddressforVas">
        @Html.HiddenFor(Model => Model.outPrimaryContactFirstName, new { @id = "outPrimaryContactFirstName" })
        @Html.HiddenFor(Model => Model.outContactLastName, new { @id = "outContactLastName" })
        @Html.HiddenFor(Model => Model.outAmphur, new { @id = "outAmphur" })
        @Html.HiddenFor(Model => Model.outBuildingName, new { @id = "outBuildingName" })
        @Html.HiddenFor(Model => Model.outFloor, new { @id = "outFloor" })
        @Html.HiddenFor(Model => Model.outHouseNumber, new { @id = "outHouseNumber" })
        @Html.HiddenFor(Model => Model.outMoo, new { @id = "outMoo" })
        @Html.HiddenFor(Model => Model.outMooban, new { @id = "outMooban" })
        @Html.HiddenFor(Model => Model.outProvince, new { @id = "outProvince" })
        @Html.HiddenFor(Model => Model.outRoom, new { @id = "outRoom" })
        @Html.HiddenFor(Model => Model.outSoi, new { @id = "outSoi" })
        @Html.HiddenFor(Model => Model.outStreetName, new { @id = "outStreetName" })
        @Html.HiddenFor(Model => Model.outBillLanguage, new { @id = "outBillLanguage" })
        @Html.HiddenFor(Model => Model.outtumbol, new { @id = "outtumbol" })
        @Html.HiddenFor(Model => Model.outBirthDate, new { @id = "outBirthDate" })
        @Html.HiddenFor(Model => Model.outEmail, new { @id = "outEmail" })
        @Html.HiddenFor(Model => Model.outparameter2, new { @id = "outparameter2" })
        @Html.HiddenFor(Model => Model.outAccountName, new { @id = "outAccountName" })
        @Html.HiddenFor(Model => Model.outAccountNumber, new { @id = "outAccountNumber" })
        @Html.HiddenFor(Model => Model.outServiceAccountNumber, new { @id = "outServiceAccountNumber" })
        @Html.HiddenFor(Model => Model.outBillingAccountNumber, new { @id = "outBillingAccountNumber" })
        @Html.HiddenFor(Model => Model.outProductName, new { @id = "outProductName" })
        @Html.HiddenFor(Model => Model.outDayOfServiceYear, new { @id = "outDayOfServiceYear" })
        @Html.HiddenFor(Model => Model.outAccountSubCategory, new { @id = "outAccountSubCategory" })
        @Html.HiddenFor(Model => Model.outPostalCode, new { @id = "outPostalCode" })
        @Html.HiddenFor(Model => Model.outcardType, new { @id = "outcardType" })
        @Html.HiddenFor(Model => Model.IDCardNo, new { @id = "IDCardNo" })
        @Html.HiddenFor(Model => Model.IDCardType, new { @id = "IDCardType" })
        @Html.HiddenFor(Model => Model.no, new { @id = "no" })
    </div>
    <div id="testadvas">
        @{
            if (TopUp == "1")
            {
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_CARD_TYPE, new { @id = "CustomerRegisterPanelModel_L_CARD_TYPE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_CARD_NO, new { @id = "CustomerRegisterPanelModel_L_CARD_NO" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.CA_ID, new { @id = "CoveragePanelModel_CA_ID" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.BA_ID, new { @id = "CoveragePanelModel_BA_ID" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.SA_ID, new { @id = "CoveragePanelModel_SA_ID" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.SffProductName, new { @id = "CoveragePanelModel_SffProductName" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.SffServiceYear, new { @id = "CoveragePanelModel_SffServiceYear" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.P_MOBILE, new { @id = "CoveragePanelModel_P_MOBILE" })

                // address

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_HOME_NUMBER_2, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOO, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOOBAN, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_BUILD_NAME, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_FLOOR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROOM, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_SOI, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROAD, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_TUMBOL, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_AMPHUR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_PROVINCE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSetup.L_ZIPCODE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE" })

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_HOME_NUMBER_2, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOO, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOOBAN, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_BUILD_NAME, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_FLOOR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROOM, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_SOI, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROAD, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_TUMBOL, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_AMPHUR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_PROVINCE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ZIPCODE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE" })

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_HOME_NUMBER_2, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_MOO, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_MOOBAN, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_BUILD_NAME, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_FLOOR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_ROOM, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_SOI, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_ROAD, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_TUMBOL, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_AMPHUR, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_PROVINCE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.AddressPanelModelVat.L_ZIPCODE, new { @id = "CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE" })

                // detail

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_FIRST_NAME, new { @id = "CustomerRegisterPanelModel_L_FIRST_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_LAST_NAME, new { @id = "CustomerRegisterPanelModel_L_LAST_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_GOVERNMENT_NAME, new { @id = "CustomerRegisterPanelModel_L_GOVERNMENT_NAME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_CONTACT_PERSON, new { @id = "CustomerRegisterPanelModel_L_CONTACT_PERSON" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.SubCateType, new { @id = "CustomerRegisterPanelModel_SubCateType" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_GENDER, new { @id = "CustomerRegisterPanelModel_L_GENDER" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_CONTACT_PHONE, new { @id = "CustomerRegisterPanelModel_L_CONTACT_PHONE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_HOME_PHONE, new { @id = "CustomerRegisterPanelModel_L_HOME_PHONE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_BIRTHDAY, new { @id = "CustomerRegisterPanelModel_L_BIRTHDAY" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_EMAIL, new { @id = "CustomerRegisterPanelModel_L_EMAIL" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_SPECIFIC_TIME, new { @id = "CustomerRegisterPanelModel_L_SPECIFIC_TIME" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_TITLE, new { @id = "CustomerRegisterPanelModel_L_TITLE" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.CateType, new { @id = "CustomerRegisterPanelModel_CateType" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.L_FOR_CS_TEAM, new { @id = "CustomerRegisterPanelModel_L_FOR_CS_TEAM" })
                @Html.HiddenFor(Model => Model.CoveragePanelModel.Address.AddressId, new { @id = "CoveragePanelModel_Address_AddressId" })

                // New AddressPanel 15.7

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.installAddress1, new { @id = "CustomerRegisterPanelModel_installAddress1" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.installAddress2, new { @id = "CustomerRegisterPanelModel_installAddress2" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.installAddress3, new { @id = "CustomerRegisterPanelModel_installAddress3" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.installAddress4, new { @id = "CustomerRegisterPanelModel_installAddress4" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.installAddress5, new { @id = "CustomerRegisterPanelModel_installAddress5" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.pbox_count, new { @id = "CustomerRegisterPanelModel_pbox_count" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.v_installAddress, new { @id = "CustomerRegisterPanelModel_v_installAddress" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.outFullAddress, new { @id = "CustomerRegisterPanelModel_outFullAddress" })

                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddress1, new { @id = "CustomerRegisterPanelModel_vatAddress1" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddress2, new { @id = "CustomerRegisterPanelModel_vatAddress2" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddress3, new { @id = "CustomerRegisterPanelModel_vatAddress3" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddress4, new { @id = "CustomerRegisterPanelModel_vatAddress4" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddress5, new { @id = "CustomerRegisterPanelModel_vatAddress5" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatAddressFull, new { @id = "CustomerRegisterPanelModel_vatAddressFull" })
                @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.vatPostalCd, new { @id = "CustomerRegisterPanelModel_vatPostalCd" })

                //17.6 multi playbox
                @Html.HiddenFor(Model => Model.RegisterPlayboxNumber, new { @id = "RegisterPlayboxNumber" })

            }
        }

        @Html.HiddenFor(a => a.CoveragePanelModel.AccessMode, new { @id = "CoveragePanelModel_AccessMode" })
        @Html.HiddenFor(a => a.CoveragePanelModel.ServiceCode, new { @id = "CoveragePanelModel_ServiceCode" })
        @Html.HiddenFor(Model => Model.DisplayPackagePanelModel.L_SPECIAL_BUNDLING_DISCOUNT, new { @id = "DisplayPackagePanelModel_L_SPECIAL_BUNDLING_DISCOUNT" })
        @Html.HiddenFor(Model => Model.DisplayPackagePanelModel.L_SPECIAL_DISCOUNT, new { @id = "DisplayPackagePanelModel_L_SPECIAL_DISCOUNT" })

        @Html.HiddenFor(a => a.SignaturePDF, new { @id = "SignaturePDF" })
        @Html.HiddenFor(a => a.SignaturePDF2, new { @id = "SignaturePDF2" })

        @*TODO: eStatement*@
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.EStatmentFlag, new { @id = "CustomerRegisterPanelModel_EStatmentFlag" })
        @Html.HiddenFor(Model => Model.CustomerRegisterPanelModel.ReceiveEmailFlag, new { @id = "CustomerRegisterPanelModel_ReceiveEmailFlag" })

        <div id="ListImageName" style="display: none">
            @*for generate return Image Filename*@
        </div>
        <input type="hidden" id="isSignature" value="f" />
        <input type="hidden" id="signaturePhoto" value="" />

    </div>
    <div>
        <input type="hidden" id="hdGetVoip" value="0" />
        <input type="hidden" id="hdGetPlayBox" value="0" />
        <input type="hidden" id="hdGetBPL" value="0" />
        <input type="hidden" id="hdGetMultiPlayBox" value="0" />
        @Html.HiddenFor(Model => Model.SummaryPanelModel.RESERVED_ID, new { @id = "SummaryPanelModel_RESERVED_ID" })

        @*Multi playbox*@
        <input type="hidden" name="hdL_MULTI_PLAYBOX_INITIATIONS_FEE" id="hdL_MULTI_PLAYBOX_INITIATIONS_FEE" value="@L_MULTI_PLAYBOX_INITIATIONS_FEE" />
        <input type="hidden" name="hdL_MULTI_PLAYBOX_SUMM_DETAIL" id="hdL_MULTI_PLAYBOX_SUMM_DETAIL" value="@L_MULTI_PLAYBOX_SUMM_DETAIL" />

        <input type="hidden" id="inpHd_AUTOMATE" value="@L_AUTOMATE" />

        @*18.3 Add Parameter Existing*@
        @Html.HiddenFor(model => model.CustomerRegisterPanelModel.L_LOC_CODE, new { @id = "Location_Code" })
        @Html.HiddenFor(model => model.CustomerRegisterPanelModel.L_ASC_CODE, new { @id = "ASC_Code" })
        @Html.HiddenFor(model => model.CustomerRegisterPanelModel.L_STAFF_ID, new { @id = "Employee_ID" })

        @Html.HiddenFor(Model => Model.SummaryPanelModel.VAS_FLAG, new { @id = "SummaryPanelModel_VAS_FLAG" })
    </div>

    <div id="listDcontract" style="display:none;"></div>@*21.4 ATV*@
    <div id="listDetailCalliMPBReplace" style="display:none;"></div>@*22.03 Topup Replace*@

    <script type="text/javascript">
        $('#btnNoAccept2').hide();
        var chkSave = $('#chkSave');
        var checkvas = '@vas_flag';
        var registerSummary = new RegisterSummary();

        $(function () {

            $('#defaultReal').realperson({
                length: 5,
                regenerate: 'Change',
                dot: '*',
                dots: $.realperson.defaultDots,
                chars: $.realperson.alphanumeric
            });

            if ("@TopUp" == "1") {
                var selValue = $('#outcardType').val();

                if (selValue == 'R') {
                    $("#summarytab0").show();
                    $("#summarytab1").hide();
                }
                else {
                    $("#summarytab0").hide();
                    $("#summarytab1").show();
                    $("#summarytab5Line2").show();
                    $("#summarytab5").hide();
                }

                // package
                $("#summarytab2").show();
                $("#summarytab3Line2").show();
                $("#summarytab4Line2").show();
                $("#conditions3").show();

                //email check and submit
                $("#summarytab8").show();
                $("#summarytabCaptcha").show();
            }
        });

        function RegisterSummary() {

            this.backPage = function (type) {

                if (type == 0) {
                    // Update 17.4 Script Adobe Analytic
                    digitalData.customLinkName = "summary:cancel-button";
                    console.log("custom-link-click : funcn registerSummary.backPage Type 0");
                    

                    if ("@TopUp" == "1") {
                        $("#page4").hide();
                        $('#page2_1').show();
                    }
                }

            }
        }

        function DataBindPage() {
            var value = "";
            $('#PDF_Detail2').html("");
            $("#listvas").html("");
            $('#btnNoAccept2').hide();

            // package
            $("#CoveragePanelModel_Address_AddressId").val($("#ZTEVasAddressID").val());
            $("#sumstepvas").show();
            $("#sumstep").hide();
            selValue = $("#CustomerRegisterPanelModel_CateType").val();
            if (selValue == 'R') {
                $("#summarytab0").show();
                $("#summarytab1").hide();
                $("#summarytab5Line2").hide();
            }
            else {
                $("#summarytab0").hide();
                $("#summarytab1").show();
                $("#summarytab5Line2").show();
                if (selValue == 'G') {
                    $('#lbfor_L_GOVERNMENT').text('@lGOVERNMENT');
                }
                else if (selValue == 'B') {
                    $('#lbfor_L_GOVERNMENT').text('@lBUSINESS');
                }
            }

            if ($("#LanguagePage").val() == 1) {
                $("#status-th").show();
                $("#status-en").hide();
            }
            else {
                $("#status-th").hide();
                $("#status-en").show();
            }

            //start summarytab0
            if ("@TopUp" == "1") {

                //ข้อมูลผู้สมัคร วันที่ให้เข้าติดตั้ง
                value = $('#L_INSTALL_DATE').val();
                if ($("#LanguagePage").val() == 1) {
                    if (value != "") {
                        var temp = value.split("/");
                        temp[2] = temp[2] * 1 + 543;
                        value = temp[0] + "/" + temp[1] + "/" + temp[2];
                    }
                }
                if (value != "") { $('#txtfor_L_INSTALL_DATE').text(value + "  " + $('#CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlot').val()); }

                //ข้อมูลผู้สมัคร ประเภทบัตร
                value = $('#CustomerRegisterPanelModel_L_CARD_TYPE').val(); if (value != "") { $('#txtfor_ID_CARD_NAME').text(value); }

                //ข้อมูลผู้สมัคร เลขที่บัตร
                value = $('#CustomerRegisterPanelModel_L_CARD_NO').val(); if (value != "") { $('#txtfor_L_CARD_NO').text(privacyInfoCard(value)); }

                //ข้อมูลผู้สมัคร ชื่อ
                value = $('#CustomerRegisterPanelModel_L_FIRST_NAME').val(); if (value != "") { $('#txtfor_L_FIRST_NAME').text(value); }
                value = $('#CustomerRegisterPanelModel_L_LAST_NAME').val(); if (value != "") { $('#txtfor_L_LAST_NAME').text(privacyNameSurname(value)); }
                value = $('#CustomerRegisterPanelModel_L_TITLE').val(); if (value != "") { $('#txtfor_L_TITLE_NAME').text(value); }

                //ข้อมูลผู้สมัคร เพศ
                //$.ajax({
                //    url: '/Process/GetOtherInformation',
                //    data: { mobileno: $('#CoveragePanelModel_P_MOBILE').val(), caid: $('#CoveragePanelModel_CA_ID').val(), baid: $('#CoveragePanelModel_BA_ID').val(), selectvalue: 'GENDER' },
                //    dataType: "json",
                //    type: 'POST',
                //    success: function (response) {
                //        if (response != "") {
                //            $('#txtfor_L_GENDER').text(response);
                //            $('#CustomerRegisterPanelModel_L_GENDER').val(response);
                //        }
                //        else {
                //            if ($("#LanguagePage").val() == 1) {
                //                $('#CustomerRegisterPanelModel_L_GENDER').val('-');
                //                $('#txtfor_L_GENDER').text('-');
                //            }
                //            else {
                //                $('#CustomerRegisterPanelModel_L_GENDER').val('-');
                //                $('#txtfor_L_GENDER').text('-');
                //            }
                //        }
                //    }
                //});

                //ข้อมูลผู้สมัคร หมายเลขที่ใช้ในการติดต่อ
                $.ajax({
                    url: '/Process/GetOtherInformation',
                    data: {
                        mobileno: $('#CoveragePanelModel_P_MOBILE').val(),
                        caid: $('#CoveragePanelModel_CA_ID').val(),
                        baid: $('#CoveragePanelModel_BA_ID').val(),
                        selectvalue: 'CONTACT'
                    },
                    dataType: "json",
                    type: 'POST',
                    success: function (response) {
                        if (response != "") {
                            var arrayRespon = response.split(',');
                            $('#CustomerRegisterPanelModel_L_CONTACT_PHONE').val(arrayRespon[2]);
                            $("#txtfor_L_HOME_PHONE").html(privacyMsisdn(arrayRespon[2]));
                        }
                    }
                });

                //ข้อมูลผู้สมัคร วันเกิด
                //value = $('#outBirthDate').val();
                //if ($("#LanguagePage").val() == 1) {
                //    if (value != "") {
                //        var temp = value.split("/");
                //        temp[2] = temp[2] * 1 + 543;
                //        value = temp[0] + "/" + temp[1] + "/" + temp[2];
                //    }
                //}
                //if (value != "") { $('#txtfor_L_BIRTHDAY').text(value); }
                //$('#CustomerRegisterPanelModel_L_BIRTHDAY').val(value);

                //ข้อมูลผู้สมัคร Email
                value = $('#CustomerRegisterPanelModel_L_EMAIL').val(); if (value != "") { $('#txtfor_L_EMAIL').html(privacyEmail(value, "20")); }

                //ข้อมูลผู้สมัคร เวลาที่สะดวกให้ติดต่อกลับ
                var sTime = '';
                if ($("#LanguagePage").val() == 1) { sTime = '08:00 - 17:00 น.'; }
                else { sTime = '08:00 AM - 5:00 PM'; }
                $("#CustomerRegisterPanelModel_L_SPECIFIC_TIME").val(sTime);
                $('#txtfor_L_SPECIFIC_TIME').text(sTime)

            }
            //end summarytab0

            //start summarytab1
            if ("@TopUp" == "1") {

                //ข้อมูลผู้สมัคร วันที่ให้เข้าติดตั้ง
                value = $('#L_INSTALL_DATE').val();
                if ($("#LanguagePage").val() == 1) {
                    if (value != "") {
                        var temp = value.split("/");
                        temp[2] = temp[2] * 1 + 543;
                        value = temp[0] + "/" + temp[1] + "/" + temp[2];
                    }
                }
                if (value != "") { $('#txtfor_L_INSTALL_DATE2').text(value + "  " + $('#CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlot').val()); }

                //ข้อมูลผู้สมัคร ชื่อหน่วยงานราชการ/ชื่อบริษัท
                value = $('#CustomerRegisterPanelModel_L_TITLE').val(); if (value != "") { value = value + " " }
                value += $('#CustomerRegisterPanelModel_L_GOVERNMENT_NAME').val(); if (value != "") { $('#txtfor_L_GOVERNMENT_NAME').text(value); }

                //ข้อมูลผู้สมัคร ประเภทบัตร
                value = $('#CustomerRegisterPanelModel_L_CARD_TYPE').val(); if (value != "") { $('#txtfor_L_CARD_TYPE2').text(value); }

                //ข้อมูลผู้สมัคร เลขที่บัตร
                value = $('#CustomerRegisterPanelModel_L_CARD_NO').val(); if (value != "") { $('#txtfor_L_CARD_NO2').text(privacyInfoCard(value)); }

                //ข้อมูลผู้สมัคร ชื่อ-นามสกุล ผู้เป็นตัวแทนติดต่อ
                value = $('#CustomerRegisterPanelModel_L_FIRST_NAME').val() + ' ' + privacyNameSurname($('#CustomerRegisterPanelModel_L_LAST_NAME').val()); if (value != "") { $('#txtfor_L_CONTACT_PERSON2').text(value); }

                //ข้อมูลผู้สมัคร หมายเลขที่ใช้ในการติดต่อ
                /*value = "";
                value = $('#txtVasSumHomePhone').val(); if ($('#txtVasSumHomePhoneTo').val() != "") { value = value + " Ext. " + $('#txtVasSumHomePhoneTo').val() }
                $('#CustomerRegisterPanelModel_L_HOME_PHONE').val(value);
                if ($('#VasSumL_MOBILE').val() != "" && value != "") { value = value + ", " + $('#VasSumL_MOBILE').val() } else { value = value + $('#VasSumL_MOBILE').val() }
                if ($('#VasSumL_OR').val() != "") { value = value + ", " + $('#VasSumL_OR').val() }
                $('#CustomerRegisterPanelModel_L_CONTACT_PHONE').val(value);
                $('#txtfor_L_CONTACT_PHONE2').text(value);*/
                $.ajax({
                    url: '/Process/GetOtherInformation',
                    data: {
                        mobileno: $('#CoveragePanelModel_P_MOBILE').val(),
                        caid: $('#CoveragePanelModel_CA_ID').val(),
                        baid: $('#CoveragePanelModel_BA_ID').val(),
                        selectvalue: 'CONTACT'
                    },
                    dataType: "json",
                    type: 'POST',
                    success: function (response) {
                        if (response != "") {
                            var arrayRespon = response.split(',');
                            $('#CustomerRegisterPanelModel_L_CONTACT_PHONE').val(arrayRespon[2]);
                            $("#txtfor_L_CONTACT_PHONE2").html(privacyMsisdn(arrayRespon[2]));
                        }
                    }
                });

                //ข้อมูลผู้สมัคร Email
                value = $('#CustomerRegisterPanelModel_L_EMAIL').val(); if (value != "") { $('#txtfor_L_EMAIL2').text(value); }

                //ข้อมูลผู้สมัคร เวลาที่สะดวกให้ติดต่อกลับ
                var sTime = '';
                if ($("#LanguagePage").val() == 1) { sTime = '08:00 - 17:00 น.'; }
                else { sTime = '08:00 AM - 5:00 PM'; }
                $("#CustomerRegisterPanelModel_L_SPECIFIC_TIME").val(sTime);
                $('#txtfor_L_SPECIFIC_TIME2').text(sTime)

            }
            //end summarytab1

            //start summarytab2
            if ("@TopUp" == "1") {
                //div summaryMultiPlaybox
                //table tblMultiPlayboxSummary
            }
            //end summarytab2

            //start summarytab3Line2
            if ("@TopUp" == "1") {
                if ($("#CustomerRegisterPanelModel_v_installAddress").val() != "") {
                    $("#lbfor_L_INSTALL_LINE2NEW").text($("#CustomerRegisterPanelModel_v_installAddress").val());
                }
            }
            //end summarytab3Line2

            //start summarytab4Line2
            if ("@TopUp" == "1") {
                if ($("#CustomerRegisterPanelModel_outFullAddress").val() != "") {
                    if ($("#CustomerRegisterPanelModel_outFullAddress").val().indexOf($("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val()) > -1) {
                        $("#lbfor_L_BILL_LINE2NEW").text($("#CustomerRegisterPanelModel_outFullAddress").val());
                    }
                    else {
                        var newfulladdress = $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val() + " " +
                                             $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val();
                        $("#CustomerRegisterPanelModel_outFullAddress").val(newfulladdress);
                        $("#lbfor_L_BILL_LINE2NEW").text(newfulladdress);
                    }
                }
            }
            //end summarytab4Line2

            //start summarytab5Line2
            if ("@TopUp" == "1") {
                if ($("#CustomerRegisterPanelModel_vatAddressFull").val() != "") {
                    $("#lbfor_L_VAT_LINE2NEW").text($("#CustomerRegisterPanelModel_vatAddressFull").val());
                }
            }
            //end summarytab5Line2

            //start summarytab8
            value = $('#L_EMAIL').val(); $('#NEW_L_EMAIL').val(value);
            if ("@TopUp" == "1") {
                value = $('#CustomerRegisterPanelModel_L_EMAIL').val(); if (value != "") { $('#NEW_L_EMAIL').val(value); }
            }
            //end summarytab8
        }

        function onSubmit() {
            LockScreen(true, "");
            validateModel004R = new Array();

            // Update 17.4 Script Adobe Analytic
            digitalData.customLinkName = "summary:confirm-button";
            console.log("custom-link-click : button btnSubmit2 func onSubmit");
            

            if ($("#NEW_L_EMAIL").val() != "") {
                validateModel004R.push({ id: "NEW_L_EMAIL", condition: "Email" });
            }

            var chk = ValidationProcessing(validateModel004R, "err004");

            var strAT = $("#inpHd_AUTOMATE").val();
            if (strAT != $('#defaultReal').val()) {
                $.ajax({
                    url: '/Process/ValidateCaptcha',
                    data: { inputUser: $('#defaultReal').val(), inputHash: $('#defaultReal').realperson('getHash') },
                    dataType: "json",
                    async: false,
                    type: 'POST',
                    success: function(response) {
                        if (!response) {
                            LockScreen(false);
                            toastrErrorMessage("@L_CAPTCHA_ERR");
                            $("#defaultReal").removeClass('form-control').addClass('form-control errorinput');
                            $("#btnSubmitPrePrint").hide();
                            $("#btnNoAcceptPrePrint").show();
                        }
                        else {
                            if (chk) {
                                if ("@TopUp" == "1")
                                {
                                    $("#SummaryPanelModel_VAS_FLAG").val("7");
                                    var tempmail = $('#CustomerRegisterPanelModel_L_EMAIL').val();
                                    if (tempmail == undefined || tempmail == "") {
                                        $('#CustomerRegisterPanelModel_L_EMAIL').val($("#NEW_L_EMAIL").val());
                                    }
                                    $('#CustomerRegisterPanelModel_EStatmentFlag').val('');

                                    // 18.3  Add Parameter Existing
                                    var locationCd = "";
                                    var ascCode = "";
                                    var employee_id = "";
                                    // Line officer : Send => Location Code , ASC Code , Employee ID
                                    // Line other : Send => Location Code = "" , ASC Code = "" , Employee ID = ""
                                    if (window.parent.$("#isOfficer").length > 0 && window.parent.$("#isOfficer").val() == "Y") {
                                        if (window.parent.$("#LcCode").length > 0) {
                                            locationCd = window.parent.$('#LcCode').val();
                                            $("#Location_Code").val(locationCd);
                                        }

                                        if (window.parent.$("#ASCCode").length > 0) {
                                            ascCode = window.parent.$('#ASCCode').val();
                                            $("#ASC_Code").val(ascCode);
                                        }

                                        if (window.parent.$("#EmployeeID").length > 0) {
                                            employee_id = window.parent.$('#EmployeeID').val();
                                            $("#Employee_ID").val(employee_id);
                                        }
                                    }
                                    else {
                                        $("#Location_Code").val("");
                                        $("#ASC_Code").val("");
                                        $("#Employee_ID").val("");
                                    }
                                    //-----

                                    // R20.6 Service Level - Show Timeslot Playbox 2,3 Comment Check tmpPlaybox23
                                    if (checkDateTimeSlot) {
                                        ReservedTimeSlot();
                                    }
                                    else { $("#SummaryPanelModel_RESERVED_ID").val(""); }

                                    //R20.5 Service Level
                                    var outServiceLevel = sessionStorage.getItem("ServiceLevel");
                                    //R20.6 Service Level - Set ServiceLevel Playbox main,2,3
                                    $("#CustomerRegisterPanelModel_ServiceLevel").val(outServiceLevel);
                                    $("#ServiceLevel").val(outServiceLevel);

                                    GetCallIMTopupReplace();
                                    $("#iForm").submit();
                                }
                            } else {
                                $("#btnSubmitPrePrint").hide();
                                $("#btnNoAcceptPrePrint").show();
                                LockScreen(false);
                            }
                        }
                    }
                });
            }
            else {
                $('#CustomerRegisterPanelModel_L_BIRTHDAY').val($('#txtfor_L_BIRTHDAY').text());
                if ($("#NEW_L_EMAIL").val() != "") {
                    $("#SummaryPanelModel_L_SEND_EMAIL").val(true);
                }
                else {
                    $("#SummaryPanelModel_L_SEND_EMAIL").val(false);
                }

                if ("@TopUp" == "1") {
                    var tempmail = $('#CustomerRegisterPanelModel_L_EMAIL').val();
                    if (tempmail == undefined || tempmail == "") {
                        $('#CustomerRegisterPanelModel_L_EMAIL').val($("#NEW_L_EMAIL").val());
                    }

                    $('#CustomerRegisterPanelModel_EStatmentFlag').val('');
                }
                else {
                    $("#L_EMAIL").val($("#NEW_L_EMAIL").val());
                }

                if (chkSave.prop('checked')) {
                    $("#SummaryPanelModel_L_SAVE").val(true);
                }
                else {
                    $("#SummaryPanelModel_L_SAVE").val(false);
                }

                if (chk) {

                    $("#btnSubmit").hide();
                    $("#btnNoAccept").show();

                    $("#btnSubmit2").hide();
                    $("#btnNoAccept2").show();

                    if ("@TopUp" == "1") {
                        $("#SummaryPanelModel_VAS_FLAG").val("7");
                        var tempmail = $('#CustomerRegisterPanelModel_L_EMAIL').val();
                        if (tempmail == undefined || tempmail == "") {
                            $('#CustomerRegisterPanelModel_L_EMAIL').val($("#NEW_L_EMAIL").val());
                        }
                        $('#CustomerRegisterPanelModel_EStatmentFlag').val('');

                        GetCallIMTopupReplace();
                        $("#iForm").submit();
                    }
                }
                else {
                    $("#btnSubmitPrePrint").hide();
                    $("#btnNoAcceptPrePrint").show();
                    LockScreen(false);
                }
            }
        }

        function ReservedTimeSlot() {
            var chkPass = true;
            var tasktype = "MA";
            var eventRule = "";
            var PlayBoxCountOld = "0";
            var PlayBoxCountNew = "0";
            var serviceLevel = sessionStorage.getItem("ServiceLevel");
            var areaRegion = $("#CoveragePanelModel_Address_AreaRegion").val();

            var datetemp = $('#CustomerRegisterPanelModel_FBSSTimeSlot_AppointmentDate').val();
            var sentdata = {
                ACCESS_MODE: sessionStorage.getItem('ACCESS_MODE'),
                PROD_SPEC_CODE: "",
                ADDRESS_ID: $("#ZTEVasAddressID").val(),
                LOCATION_CODE: $("#L_LOC_CODE").val(),
                SUBDISTRICT: $("#CustomerRegisterPanelModel_installAddress2").val(),
                POSTAL_CODE: $("#CustomerRegisterPanelModel_installAddress5").val(),
                ASSIGN_RULE: $("#CustomerRegisterPanelModel_ASSIGN_RULE").val(),
                AISAIRNUMBER: sessionStorage.getItem("AisAirNumber"),
                SUB_ACCESS_MODE: "",
                TASK_TYPE: tasktype,
                SERVICE_LEVEL: serviceLevel,
                AREA_REGION: areaRegion,
                EVENT_RULE: eventRule,
                PlayBoxCountOld: PlayBoxCountOld,
                PlayBoxCountNew: PlayBoxCountNew,
                SPECIAL_SKILL: "",
                SymptonCodePBreplace: $("#sympton_code_pbreplace").val()
            }


            if (checkDateTimeSlot) {
                sentdata.APPOINTMENT_DATE = parseInt(datetemp.split('/')[0].toString()) + "-" + datetemp.split('/')[1] + "-" + datetemp.split('/')[2];
                sentdata.TIME_SLOT = $('#CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlot').val();
            }
            else if ($("#divTimeSlot").find("i.color-green").closest("div").find("input[name='FBSSAppointmentDate']").val() != undefined
                && $("#divTimeSlot").find("i.color-green").closest("div").find("input[name='FBSSTimeSlot']").val() != undefined) {
                sentdata.APPOINTMENT_DATE = $("#divTimeSlot").find("i.color-green").closest("div").find("input[name='FBSSAppointmentDate']").val();
                sentdata.TIME_SLOT = $("#divTimeSlot").find("i.color-green").closest("div").find("input[name='FBSSTimeSlot']").val();
            }

            $("#SummaryPanelModel_RESERVED_ID").val("");

            if ($("#ZTEVasAddressID").val() != "") {
                if (($("#divTimeSlotVas").find("i.color-green").closest("div").find("input[name='FBSSAppointmentDate']").val() != undefined
                    && $("#divTimeSlotVas").find("i.color-green").closest("div").find("input[name='FBSSTimeSlot']").val() != undefined)) //|| $("#PlugAndPlayFlow").val() == "Y"
                {
                    $.ajax({
                        type: "GET",
                        url: "/CustomerRegister/ReservedTimeslot",
                        data: sentdata,
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            if (data.RESULT == "0") {
                                $("#SummaryPanelModel_RESERVED_ID").val(data.RESERVED_ID);
                            }
                            else if (data.RESULT == "-2") {
                                $("#SummaryPanelModel_RESERVED_ID").val("");
                                chkPass = false;
                            }
                            else {
                                $("#SummaryPanelModel_RESERVED_ID").val("");
                                chkPass = false;
                            }
                        },
                        error: function () {
                            $("#SummaryPanelModel_RESERVED_ID").val("");
                            chkPass = false;
                        }
                    });
                }
            }
            return chkPass;
        }

        function GetCallIMTopupReplace() {

            $("#listDetailCalliMPBReplace").html("");
            var strBuilderValue = "";
            
            var AisAirNumber = sessionStorage.getItem("AisAirNumber");
            var ContractNo = $('#CustomerRegisterPanelModel_L_CONTACT_PHONE').val();
            var CustomerName = $('#CustomerRegisterPanelModel_L_FIRST_NAME').val() + ' ' + $('#CustomerRegisterPanelModel_L_LAST_NAME').val();;
            var SerialNo = sessionStorage.getItem("serial_no");
            var ReservedId = $("#SummaryPanelModel_RESERVED_ID").val();
            var TimeSlot = $('#CustomerRegisterPanelModel_FBSSTimeSlot_TimeSlot').val(); //format HH:MM-HH:MM
            var DateTimeSlot = $('#CustomerRegisterPanelModel_FBSSTimeSlot_AppointmentDate').val();
            DateTimeSlot = DateTimeSlot.replace(/\//g, "-"); //format YYYY-DD-MM
            var AccessMode = sessionStorage.getItem('ACCESS_MODE');
            var AddressId = $("#ZTEVasAddressID").val();
            var CountPB = $('select[name=ddlReplacePlaybox]').val();;

            if (ReservedId != "") {
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.FIBRENET_ID' value='" + AisAirNumber + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.CONTRACT_NO' value='" + ContractNo + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.CUSTOMER_NAME' value='" + CustomerName + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.SERIAL_NO' value='" + SerialNo + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.RESERVED_ID' value='" + ReservedId + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.TIME_SLOT' value='" + TimeSlot + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.DATE_TIME_SLOT' value='" + DateTimeSlot + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.ACCESS_MODE' value='" + AccessMode + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.ADDRESS_ID' value='" + AddressId + "' />";
                strBuilderValue += "<input type='hidden' name='SummaryPanelModel.DetailCalliMPBReplace.COUNT_PB' value='" + CountPB + "' />";
            }

            $("#listDetailCalliMPBReplace").html(strBuilderValue);
        }

    </script>
}
