@using System.Collections.Generic;
@using WBBEntity.PanelModels;
@{
    var isSaveCommplete = false;
    var productSubType = "";
    var languagePage = "";
    var lclose = "";
    var lsave = "";
    var lpopupsave = "";

    if (null != ViewBag.SWifi)
    {
        productSubType = ViewBag.SWiFi;
    }
    if (null != ViewBag.SaveSuccess)
    {
        isSaveCommplete = ViewBag.SaveSuccess;
    }
    if (null != ViewBag.LanguagePage)
    {
        languagePage = ViewBag.LanguagePage;
    }
    if (null != ViewBag.LCLOSE)
    {
        lclose = ViewBag.LCLOSE;
    }
    if (null != ViewBag.LSAVE)
    {
        lsave = ViewBag.LSAVE;
    }
    if (null != ViewBag.LPOPUPSAVE)
    {
        lpopupsave = ViewBag.LPOPUPSAVE;
    }

    Layout = null;

    string L_MY_ACCOUNT = "";
    string L_MY_PERSONAL_INFO = "";
    string L_AIS_FIBRE_NO = "";
    string L_CHOOSE_CARD_TYPE = "";
    string L_CARD_NUMBER = "";
    string B_CONTINUE = "";
    string L_LOGIN_FAILED = "";
    string B_OK = "";
    string L_FILL_OUT = "";
    string L_SELECT_ITEM = "";
    string L_NEW_CUST_NOT_FOUND2 = "";
    string L_NEW_CUST_NOT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_STA_LET = "";
    string FBB_Con_Length_ID_Card_Number_ROY_LET = "";
    string FBB_Con_Length_ID_Card_Number_EMB_LET = "";
    string FBB_Con_Length_ID_Card_Number_CERT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_TAX_ID = "";
    string FBB_Con_Length_ID_Card_Number_PASSPORT = "";
    string FBB_Con_Length_ID_Card_Number_GOV_LET = "";
    string FBB_Con_LengthIDCardNumberHILL_CARD = "";
    string FBB_Con_LengthIDCardNumberID_CARD = "";
    string FBB_Con_LengthIDCardNumberIMM_CARD = "";
    string FBB_Con_LengthIDCardNumberMONK_CERT = "";
    string FBB_Con_Input_CERT_FOUND = "";
    string FBB_Con_Input_EMB_LET = "";
    string FBB_Con_Input_HILL_CARD = "";
    string FBB_Con_Input_ID_CARD = "";
    string FBB_Con_Input_IMM_CARD = "";
    string FBB_Con_Input_MONK_CERT = "";
    string FBB_Con_Input_PASSPORT = "";
    string FBB_Con_Input_ROY_LET = "";
    string FBB_Con_Input_STA_LET = "";
    string FBB_Con_Input_TAX_ID = "";
    string FBB_Con_Input_GOV_LET = "";
    string lCARD_TYPE = "";
    string B_BACK = "";
    string L_NEW_CUST_NOT_FOUND3 = "";
    string L_NEW_CUST_NOT_FOUND4 = "";
    string L_NEW_CUST_NOT_FOUND6 = "";
    string L_NEW_CUST_NOT_FOUND11 = "";

    string SHOW_ICON_FIXEDLINE_CUST_VAS = "";
    string SHOW_ICON_PLAYBOX_CUST_VAS = "";
    string SHOW_ICON_PLAYBOX_SSO_VAS = "";
    string SHOW_ICON_FIXEDLINE_SSO_VAS = "";
    if (ViewBag.LabelFBBTR010 != null)
    {

        var LabelFBBTR010 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR010;
        SHOW_ICON_FIXEDLINE_CUST_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_FIXEDLINE_CUST_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_FIXEDLINE_CUST_VAS").DisplayValue : "";
        SHOW_ICON_PLAYBOX_CUST_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_PLAYBOX_CUST_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_PLAYBOX_CUST_VAS").DisplayValue : "";
        SHOW_ICON_PLAYBOX_SSO_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_PLAYBOX_SSO_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_PLAYBOX_SSO_VAS").DisplayValue : "";
        SHOW_ICON_FIXEDLINE_SSO_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_FIXEDLINE_SSO_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_FIXEDLINE_SSO_VAS").DisplayValue : "";
    }
    string L_AIS_FIBRE_NO_EX = "";
    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_NEW_CUST_NOT_FOUND3 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND3") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND3").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND4 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND4") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND4").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND6 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND6") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND6").DisplayValue : "";
        L_MY_ACCOUNT = LabelFBBTR001.Any(c => c.Name == "L_MY_ACCOUNT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_ACCOUNT").DisplayValue : "";
        L_MY_PERSONAL_INFO = LabelFBBTR001.Any(c => c.Name == "L_MY_PERSONAL_INFO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_PERSONAL_INFO").DisplayValue : "";
        L_AIS_FIBRE_NO = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_CHOOSE_CARD_TYPE = LabelFBBTR001.Any(c => c.Name == "L_CHOOSE_CARD_TYPE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CHOOSE_CARD_TYPE").DisplayValue : "";
        L_CARD_NUMBER = LabelFBBTR001.Any(c => c.Name == "L_CARD_NUMBER") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CARD_NUMBER").DisplayValue : "";
        B_CONTINUE = LabelFBBTR001.Any(c => c.Name == "B_CONTINUE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_CONTINUE").DisplayValue : "";
        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";
        B_OK = LabelFBBTR001.Any(c => c.Name == "B_OK") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";
        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
        L_SELECT_ITEM = LabelFBBTR001.Any(c => c.Name == "L_SELECT_ITEM") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SELECT_ITEM").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND2 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND2") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND2").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND").DisplayValue : "";
        L_AIS_FIBRE_NO_EX = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO_EX") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO_EX").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND11 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND11") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND11").DisplayValue : "";

        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
    }


    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
    }

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        FBB_Con_LengthIDCardNumberHILL_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number HILL_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number HILL_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberID_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number ID_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number ID_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberIMM_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number IMM_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number IMM_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberMONK_CERT = FbbConstant.Any(f => f.Field == "Length ID Card Number MONK_CERT") ? FbbConstant.First(f => f.Field == "Length ID Card Number MONK_CERT").Validation : "";
        FBB_Con_Length_ID_Card_Number_STA_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number STA_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number STA_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_ROY_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number ROY_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number ROY_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_EMB_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number EMB_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number EMB_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_CERT_FOUND = FbbConstant.Any(f => f.Field == "Length ID Card Number CERT_FOUND") ? FbbConstant.First(f => f.Field == "Length ID Card Number CERT_FOUND").Validation : "";
        FBB_Con_Length_ID_Card_Number_TAX_ID = FbbConstant.Any(f => f.Field == "Length ID Card Number TAX_ID") ? FbbConstant.First(f => f.Field == "Length ID Card Number TAX_ID").Validation : "";
        FBB_Con_Length_ID_Card_Number_PASSPORT = FbbConstant.Any(f => f.Field == "Length ID Card Number PASSPORT") ? FbbConstant.First(f => f.Field == "Length ID Card Number PASSPORT").Validation : "";
        FBB_Con_Length_ID_Card_Number_GOV_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number GOV LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number GOV LET").Validation : "";
        FBB_Con_Input_CERT_FOUND = FbbConstant.Any(f => f.Field == "Input CERT_FOUND") ? FbbConstant.First(f => f.Field == "Input CERT_FOUND").Validation : "";
        FBB_Con_Input_EMB_LET = FbbConstant.Any(f => f.Field == "Input EMB_LET") ? FbbConstant.First(f => f.Field == "Input EMB_LET").Validation : "";
        FBB_Con_Input_HILL_CARD = FbbConstant.Any(f => f.Field == "Input HILL_CARD") ? FbbConstant.First(f => f.Field == "Input HILL_CARD").Validation : "";
        FBB_Con_Input_ID_CARD = FbbConstant.Any(f => f.Field == "Input ID_CARD") ? FbbConstant.First(f => f.Field == "Input ID_CARD").Validation : "";
        FBB_Con_Input_IMM_CARD = FbbConstant.Any(f => f.Field == "Input IMM_CARD") ? FbbConstant.First(f => f.Field == "Input IMM_CARD").Validation : "";
        FBB_Con_Input_MONK_CERT = FbbConstant.Any(f => f.Field == "Input MONK_CERT") ? FbbConstant.First(f => f.Field == "Input MONK_CERT").Validation : "";
        FBB_Con_Input_PASSPORT = FbbConstant.Any(f => f.Field == "Input PASSPORT") ? FbbConstant.First(f => f.Field == "Input PASSPORT").Validation : "";
        FBB_Con_Input_ROY_LET = FbbConstant.Any(f => f.Field == "Input ROY_LET") ? FbbConstant.First(f => f.Field == "Input ROY_LET").Validation : "";
        FBB_Con_Input_STA_LET = FbbConstant.Any(f => f.Field == "Input STA_LET") ? FbbConstant.First(f => f.Field == "Input STA_LET").Validation : "";
        FBB_Con_Input_TAX_ID = FbbConstant.Any(f => f.Field == "Input TAX_ID") ? FbbConstant.First(f => f.Field == "Input TAX_ID").Validation : "";
        FBB_Con_Input_GOV_LET = FbbConstant.Any(f => f.Field == "Input GOV_LET") ? FbbConstant.First(f => f.Field == "Input GOV_LET").Validation : "";
    }
}

@Html.Partial("~/Views/Process/_HeaderSearchProfile.cshtml")
<style>
    fieldset {
        border: 2px solid #83ad47;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    #tbl-popup {
        width: 100%;
    }

    .btnmodal {
        padding: 10px 15px;
        background-color: #58AA0C;
        color: #fff !important;
    }

    .btnmodal:hover {
        padding: 10px 15px;
        background-color: #4a831c;
        color: #fff;
        text-decoration: none;
    }

    .modal-dialog-center {
        margin-top: 10%;
    }
</style>
<form id="test" method="post" action="/Process/ProcessLine2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 hidden-xs">
                <img src="~/Content/images/bg-sf.PNG" class="img-responsive" />
            </div>
            <div class="col-sm-6 col-md-6" id="col-form">
                <h1>@L_MY_ACCOUNT</h1>
                <h3>@L_MY_PERSONAL_INFO</h3>
                <p>@L_AIS_FIBRE_NO</p>
                <input type="text" class="form-control" id="AisAirNumber" maxlength="10" autocomplete="off" title="@L_FILL_OUT" />
                <p style="color: #aaa; font-size: 18px">@L_AIS_FIBRE_NO_EX</p>
                <br />
                <p>@L_CHOOSE_CARD_TYPE</p>
                <select id="ID_CARD_NAMEs" onchange="onChangeID_CARD_NAMEs(this);" title="@lCARD_TYPE" class="form-control" title="@L_SELECT_ITEM"></select>
                <br />
                <p>@L_CARD_NUMBER</p>
                <input type="text" class="form-control" id="L_CARD_NOs" maxlength="30" autocomplete="off" title="@L_FILL_OUT" />
                <br />
                <br />
                <p align="right">
                    <a href="/ProcessSelect/" class="btn3" id="btnBack">@B_BACK</a>
                    <a class="btn1">@B_CONTINUE</a>
                    <a class="btn2 i-hidden" onclick="checkProcess()">@B_CONTINUE</a>
                </p>
            </div>
            <div class="col-sm-6 col-md-6 i-hidden" id="col-err">
                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                <h3 id="lb-failed"></h3>
                <br />
                <br />
                <p align="right">
                    <a class="btn2" onclick="backForm()">@B_OK</a>
                </p>
            </div>
        </div>
    </div>

    <footer class="hidden-xs hidden-sm">
        <div style="margin-top: -4px; float: right; color: white; font-size: small;">
        </div>
    </footer>

    <div>
        <input type="hidden" id="LanguagePage" />

        <input type='hidden' name='outPrimaryContactFirstName' id='outPrimaryContactFirstName' />
        <input type='hidden' name='outContactLastName' id='outContactLastName' />
        <input type='hidden' name='outAmphur' id='outAmphur' />
        <input type='hidden' name='outBuildingName' id='outBuildingName' />
        <input type='hidden' name='outFloor' id='outFloor' />
        <input type='hidden' name='outHouseNumber' id='outHouseNumber' />
        <input type='hidden' name='outMoo' id='outMoo' />
        <input type='hidden' name='outMooban' id='outMooban' />
        <input type='hidden' name='outProvince' id='outProvince' />
        <input type='hidden' name='outRoom' id='outRoom' />
        <input type='hidden' name='outSoi' id='outSoi' />
        <input type='hidden' name='outStreetName' id='outStreetName' />
        <input type='hidden' name='outBillLanguage' id='outBillLanguage' />
        <input type='hidden' name='outtumbol' id='outtumbol' />

        <input type='hidden' name='outBirthDate' id='outBirthDate' />
        <input type='hidden' name='outEmail' id='outEmail' />
        <input type='hidden' name='outparameter2' id='outparameter2' />
        <input type='hidden' name='outAccountName' id='outAccountName' />
        <input type='hidden' name='outAccountNumber' id='outAccountNumber' />
        <input type='hidden' name='outServiceAccountNumber' id='outServiceAccountNumber' />
        <input type='hidden' name='outBillingAccountNumber' id='outBillingAccountNumber' />
        <input type='hidden' name='outProductName' id='outProductName' />
        <input type='hidden' name='outDayOfServiceYear' id='outDayOfServiceYear' />
        <input type='hidden' name='no' id='no' />

        <input type='hidden' name='outcardType' id='outcardType' />
        <input type='hidden' name='outAccountSubCategory' id='outAccountSubCategory' />
        <input type='hidden' name='outPostalCode' id='outPostalCode' />
        <input type='hidden' name='IDCardNo' id='IDCardNo' />
        <input type='hidden' name='IDCardType' id='IDCardType' />
        <input type='hidden' name='mainProCode' id='mainProCode' />

        @* new *@

        @* AddressPanel *@
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE' />

        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE' />

        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE' />

        @* New AddressPanel 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress1' id='CustomerRegisterPanelModel_installAddress1' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress2' id='CustomerRegisterPanelModel_installAddress2' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress3' id='CustomerRegisterPanelModel_installAddress3' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress4' id='CustomerRegisterPanelModel_installAddress4' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress5' id='CustomerRegisterPanelModel_installAddress5' />
        <input type='hidden' name='CustomerRegisterPanelModel.pbox_count' id='CustomerRegisterPanelModel_pbox_count' />

        @* New VAT AddressPanel 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress1' id='CustomerRegisterPanelModel_vatAddress1' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress2' id='CustomerRegisterPanelModel_vatAddress2' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress3' id='CustomerRegisterPanelModel_vatAddress3' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress4' id='CustomerRegisterPanelModel_vatAddress4' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress5' id='CustomerRegisterPanelModel_vatAddress5' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddressFull' id='CustomerRegisterPanelModel_vatAddressFull' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatPostalCd' id='CustomerRegisterPanelModel_vatPostalCd' />

        @* user detail *@
        <input type='hidden' name='CustomerRegisterPanelModel.L_FIRST_NAME' id='CustomerRegisterPanelModel_L_FIRST_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_LAST_NAME' id='CustomerRegisterPanelModel_L_LAST_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_GOVERNMENT_NAME' id='CustomerRegisterPanelModel_L_GOVERNMENT_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CONTACT_PERSON' id='CustomerRegisterPanelModel_L_CONTACT_PERSON' />
        <input type='hidden' name='CustomerRegisterPanelModel.SubCateType' id='CustomerRegisterPanelModel_SubCateType' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CONTACT_PHONE' id='CustomerRegisterPanelModel_L_CONTACT_PHONE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_BIRTHDAY' id='CustomerRegisterPanelModel_L_BIRTHDAY' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_EMAIL' id='CustomerRegisterPanelModel_L_EMAIL' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_TITLE' id='CustomerRegisterPanelModel_L_TITLE' />

        @* other *@
        <input type='hidden' name='CoveragePanelModel.CA_ID' id='CoveragePanelModel_CA_ID' />
        <input type='hidden' name='CoveragePanelModel.BA_ID' id='CoveragePanelModel_BA_ID' />
        <input type='hidden' name='CoveragePanelModel.SA_ID' id='CoveragePanelModel_SA_ID' />
        <input type='hidden' name='CoveragePanelModel.P_MOBILE' id='CoveragePanelModel_P_MOBILE' />
        <input type='hidden' name='CoveragePanelModel.SffProductName' id='CoveragePanelModel_SffProductName' />
        <input type='hidden' name='CoveragePanelModel.SffServiceYear' id='CoveragePanelModel_SffServiceYear' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_TYPE' id='CustomerRegisterPanelModel_L_CARD_TYPE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_NO' id='CustomerRegisterPanelModel_L_CARD_NO' />
        <input type='hidden' name='CustomerRegisterPanelModel.CateType' id='CustomerRegisterPanelModel_CateType' />
        <input type="hidden" name="SffProfileLogID" id="SffProfileLogID" />
        <input type="hidden" name="TopUp" id="TopUp" />
        <input type="hidden" name="v_icon_pb" id="v_icon_pb" />
        <input type="hidden" name="v_check_pb" id="v_check_pb" />
        <input type="hidden" name="v_add_playbox" id="v_add_playbox" />

        @* New Value 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.v_installAddress' id='CustomerRegisterPanelModel_v_installAddress' />
        <input type='hidden' name='CustomerRegisterPanelModel.outFullAddress' id='CustomerRegisterPanelModel_outFullAddress' />

        <input type="hidden" name="v_number_of_pb" id="v_number_of_pb" />
        <input type="hidden" name="v_sff_main_promotionCD" id="v_sff_main_promotionCD" />
        <input type="hidden" name="v_owner_product" id="v_owner_product" />
        <input type="hidden" name="L_NUMBER_OF_PLAYBOX" id="L_NUMBER_OF_PLAYBOX" />
        @* 18.10 *@
        <input type="hidden" name="v_package_subtype" id="v_package_subtype" />

    </div>

    @*Popup End Process
        <div id="basic-modal-content" >
             <fieldset>
                <table style="width: 100%; text-align: center; color: black;">
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="LastPopupMessage"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>@lpopupsave</div>
                        </td>
                    </tr>
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="greenButton" onclick="DownloadPDF();" style="color: #666666;">@lsave</a> <a href="#" class="greyButton" onclick="$.modal.close();Reload();" style="color: #666666;">@lclose</a></td>
                    </tr>
                </table>
             </fieldset>
        </div>*@
</form>
<table class="i-hidden" id="tempV2" border="1" bordercolor="red"></table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Reload();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="LastPopupMessage" style="text-align: center;"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btnmodal" onclick="DownloadPDF();">@lsave</a>
                <a href="#" class="btnmodal" onclick="Reload();">@lclose</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    ///////////// begin popup ////////////
    var success = '@isSaveCommplete';
    var swifi = '@productSubType';
    var language_ = '@languagePage';

    if (success == 'True') {
        PopupMessage();
        $('#myModal').modal('show');
        //showjpopup('580px', '250px');
    }

    function DownloadPDF() {

        window.location.href = "/Process/download";
        setTimeout(function () { Reload() }, 3000);
    }

    function Reload() {
        window.location.href = "/Process/TopUp";
        //window.location.href = location;

    }

    function ClosePopupReload() {
        if (success == 'True') {
            Reload();
        }
    }

    function showjpopup(width_, height_) {
        $('#basic-modal-content').modal('show');
        $('#basic-modal-content').css('display', 'block');

        var div1 = $('#simplemodal-container');
        if (width_ != null) { div1.css('width', width_); }
        if (height_ != null) { div1.css('height', height_); }

        div1.css('margin-left', '10%');

        return false;
    }

    function PopupMessage() {
        //GetLastPopupMessage
        var ProSubType = "";
        if (swifi == "SWiFi") {
            ProSubType = "L_POP_UP_WIRELESS";
        }
        else {
            ProSubType = "L_POP_UP_WIRE";
        }

        $.ajax({
            type: "GET",
            url: "/MasterData/GetLastPopupMessage?LovName=" + ProSubType + "&dataType=1",
            dataType: "json",
            success: function (data) {

                var strBuilder = '<table class="tbl-line-height"  id="tbl-popup">';
                $.each(data, function (i, e) {
                    var str = '';
                    if (language_ == "2") {
                        str = '<tr><td><h3>' + e.LovValue2 + '</h3></td></tr>';
                    }
                    else {
                        str = '<tr><td><h3>' + e.LovValue1 + '</h3></td></tr>';
                    }

                    strBuilder += str;
                });
                strBuilder += '</table>';
                //
                $('#LastPopupMessage').append(strBuilder);
            }
        });
    }

    /////////// end popup ////////////

    $(function () {
        //debugger;
        if ("@ViewBag.Vas" == "") {
            $("#btnBack").hide();
            $("#TopUp").val("1");
        }
        else if ("@ViewBag.Vas" == "2") {
            sessionStorage.setItem("vas_flag", "2");
        }

        $("#lb-failed").html("");
        $.post('/WBB/GetCurrentCulture').done(function (x) {
            $("#LanguagePage").val(x);
            changeLanguage();

            var language = "";
            if (x == 1)
                language = "th";
            else
                language = "en";
        });

        getCustomerCardTypes();

        $("#AisAirNumber").keyup(function () {
            CheckKeyUps("AisAirNumber", "[0-9]");
            checkBeforeProcess();
        });

        $("#L_CARD_NOs").keyup(function () {
            if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_TAX_ID");
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_MONK_CERT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_GOV_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_PASSPORT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_EMB_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_IMM_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_STA_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_HILL_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_CERT_FOUND");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ID_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ROY_LET");

            checkBeforeProcess();
        });

        setCardMaxlength();
    });

    function checkBeforeProcess() {

        var ml = "";
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            ml = "@FBB_Con_Length_ID_Card_Number_TAX_ID";
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                ml = "@FBB_Con_LengthIDCardNumberMONK_CERT";
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_GOV_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                ml = "@FBB_Con_Length_ID_Card_Number_PASSPORT";
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_EMB_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                ml = "@FBB_Con_LengthIDCardNumberIMM_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_STA_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                ml = "@FBB_Con_LengthIDCardNumberHILL_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                ml = "@FBB_Con_Length_ID_Card_Number_CERT_FOUND";
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                ml = "@FBB_Con_LengthIDCardNumberID_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_ROY_LET";

        if ((($("#L_CARD_NOs").val() != "" && $("#ID_CARD_NAMEs :selected").val() != "ID_CARD")
            || ($("#L_CARD_NOs").val().length == ml && $("#ID_CARD_NAMEs :selected").val() == "ID_CARD"))
            && $("#AisAirNumber").val().length == 10) {
            $(".btn1").hide();
            $(".btn2").show();
        }
        else {
            $(".btn2").hide();
            $(".btn1").show();
        }
    }

    function backForm() {
        $("#col-form").show();
        $("#col-err").hide();
    }

    function changeLanguage() {
        if ($("#LanguagePage").val() == "1") {
            $("#btnTh").show();
            $("#btnEn").hide();

            $(".display-th").show();
            $(".display-en").hide();
        }
        else {
            $("#btnTh").hide();
            $("#btnEn").show();

            $(".display-th").hide();
            $(".display-en").show();
        }
    }

    function setCardMaxlength() {
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_TAX_ID");
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberMONK_CERT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_GOV_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_PASSPORT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_EMB_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberIMM_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_STA_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberHILL_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_CERT_FOUND");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberID_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_ROY_LET");
    }

    function onChangeID_CARD_NAMEs(idCardName) {
        $("#L_CARD_NOs").val("");
        $(".btn2").hide();
        $(".btn1").show();
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/GetCustomerSubCat",
            data: { 'idCardName': idCardName.value },
            dataType: "json",
            async: false,
            success: function (data) {
            },
        });

        setCardMaxlength();
    }

    function CheckKeyUps(id, RexStr) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        var filter = new RegExp(RexStr);
        for (var i = 0; i < strKey.length; i++) {
            if (filter.test(strKey.substr(i, 1))) {
                strBuilder += strKey.substr(i, 1);
            }
        }
        $("#" + id).val(strBuilder);
    }

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        //GetCustomerCardType
        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                    $.each(data, function (i, e) {
                        if (e.DefaultValue != undefined)
                            strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                        else
                            strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                    });
                    strBuilder = firstStr + strBuilder;

                    $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function checkProcess() {

        sessionStorage.setItem("AisAirNumber", null);
        $("#v_icon_fl").val("");
        $("#v_icon_pb").val("");
        $("#v_add_playbox").val("");
        $("#lb-failed").html("");
        var twoMobileNo = $("#AisAirNumber").val().substr(0, 2);
        var threeMobileNo = $("#AisAirNumber").val().substr(0, 3);
        if (twoMobileNo == "88") {
            var isSuccess = false;
            isSuccess = getListServiceAnsPromotionByPackType();
            if (isSuccess) {

                $.ajax({
                    url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
                    data: { mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()), cardNo: $.trim($("#L_CARD_NOs").val()), cardType: $("#ID_CARD_NAMEs").val(), line: "@ViewBag.Vas" },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        var data = response.data;
                        if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND");
                        }
                        else if (data.errorMessage == "") {

                            $.ajax({
                                url: '/CheckCoverage/GetCheckProcess',
                                data: { key: data.GUIDKEY, },
                                dataType: "json",
                                type: 'POST',
                                async: false,
                                success: function (response) {

                                    var data = response.data;
                                    var v_icon_pb = "";
                                    var v_icon_fl = "";

                                    if ("@ViewBag.Vas" == "" && $("#TopUp").val() == "1") {
                                        v_icon_pb = "@SHOW_ICON_PLAYBOX_CUST_VAS";
                                        v_icon_fl = "@SHOW_ICON_FIXEDLINE_CUST_VAS";
                                    }
                                    else {
                                        v_icon_pb = "@SHOW_ICON_PLAYBOX_SSO_VAS";
                                        v_icon_fl = "@SHOW_ICON_FIXEDLINE_SSO_VAS";
                                    }

                                    if ((parseInt($("#v_number_of_pb").val(), 10) >= parseInt($("#L_NUMBER_OF_PLAYBOX").val(), 10) && v_icon_fl == 'N') || data.projectName == 'Triple Play') {
                                        $("#col-form").hide();
                                        $("#col-err").show();
                                        $("#lb-failed").html("@Html.Raw(L_NEW_CUST_NOT_FOUND6)");
                                    }
                                    else {

                                        if ((parseInt($("#v_number_of_pb").val(), 10) >= parseInt($("#L_NUMBER_OF_PLAYBOX").val(), 10)) || data.projectName == 'Triple Play')
                                            $("#v_icon_pb").val("N");
                                        else
                                            $("#v_icon_pb").val(v_icon_pb);

                                        $("#v_icon_fl").val(v_icon_fl);

                                        $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                                        $("#outContactLastName").val(data.outContactLastName);
                                        $("#outAmphur").val(data.outAmphur);
                                        $("#outBuildingName").val(data.outBuildingName);
                                        $("#outFloor").val(data.outFloor);
                                        $("#outHouseNumber").val(data.outHouseNumber);
                                        $("#outMoo").val(data.outMoo);
                                        $("#outMooban").val(data.outMooban);
                                        $("#outProvince").val(data.outProvince);
                                        $("#outRoom").val(data.outRoom);
                                        $("#outSoi").val(data.outSoi);
                                        $("#outStreetName").val(data.outStreetName);
                                        $("#outBillLanguage").val(data.outBillLanguage);
                                        $("#outtumbol").val(data.outTumbol);
                                        $("#outBirthDate").val(data.outBirthDate);
                                        $("#outEmail").val(data.outEmail);
                                        $("#outparameter2").val(data.outparameter2);
                                        $("#outAccountName").val(data.outAccountName);
                                        $("#outAccountNumber").val(data.outAccountNumber);
                                        $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                                        $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                                        $("#outProductName").val(data.outProductName);
                                        $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                                        $("#no").val($("#AisAirNumber").val());
                                        $("#CustomerRegisterPanelModel_outFullAddress").val(data.outFullAddress);

                                        $("#outcardType").val(data.cardType);
                                        $("#outAccountSubCategory").val(data.outAccountSubCategory);
                                        $("#outPostalCode").val(data.outPostalCode);
                                        $("#IDCardType").val($('#ID_CARD_NAMEs :selected').text());
                                        $("#IDCardNo").val($("#L_CARD_NOs").val());

                                        /// address //
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO").val(data.outMoo);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN").val(data.outMooban);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME").val(data.outBuildingName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR").val(data.outFloor);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM").val(data.outRoom);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI").val(data.outSoi);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD").val(data.outStreetName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL").val(data.outTumbol);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR").val(data.outAmphur);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE").val(data.outProvince);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE").val(data.outPostalCode);

                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val(data.outMoo);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN").val(data.outMooban);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val(data.outBuildingName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val(data.outFloor);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM").val(data.outRoom);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI").val(data.outSoi);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val(data.outStreetName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val(data.outTumbol);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val(data.outAmphur);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val(data.outProvince);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val(data.outPostalCode);

                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO").val(data.outMoo);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val(data.outMooban);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME").val(data.outBuildingName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR").val(data.outFloor);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM").val(data.outRoom);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI").val(data.outSoi);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD").val(data.outStreetName);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL").val(data.outTumbol);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR").val(data.outAmphur);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE").val(data.outProvince);
                                        $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE").val(data.outPostalCode);

                                        ///detail ///
                                        $("#CustomerRegisterPanelModel_L_FIRST_NAME").val(data.outPrimaryContactFirstName);
                                        $("#CustomerRegisterPanelModel_L_LAST_NAME").val(data.outContactLastName);
                                        $("#CustomerRegisterPanelModel_L_GOVERNMENT_NAME").val(data.outAccountName);
                                        $("#CustomerRegisterPanelModel_L_CONTACT_PERSON").val(data.outPrimaryContactFirstName + " " + data.outContactLastName);
                                        $("#CustomerRegisterPanelModel_SubCateType").val(data.outAccountSubCategory);
                                        $("#CustomerRegisterPanelModel_L_CONTACT_PHONE").val(data.outparameter2);
                                        $("#CustomerRegisterPanelModel_L_BIRTHDAY").val(data.outBirthDate);
                                        $("#CustomerRegisterPanelModel_L_EMAIL").val(data.outEmail);

                                        $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($('#ID_CARD_NAMEs :selected').text());
                                        $("#CustomerRegisterPanelModel_L_CARD_NO").val($("#L_CARD_NOs").val());
                                        $("#CoveragePanelModel_CA_ID").val(data.outAccountNumber);
                                        $("#CoveragePanelModel_SA_ID").val(data.outServiceAccountNumber);
                                        $("#CoveragePanelModel_BA_ID").val(data.outBillingAccountNumber);
                                        $("#CoveragePanelModel_SffProductName").val(data.outProductName);
                                        $("#CoveragePanelModel_SffServiceYear").val(data.outDayOfServiceYear);
                                        $("#CoveragePanelModel_P_MOBILE").val($("#AisAirNumber").val());
                                        sessionStorage.setItem("AisAirNumber", $("#AisAirNumber").val());
                                        //sessionStorage.setItem("TopUp", $("#TopUp").val());
                                        $("#CustomerRegisterPanelModel_CateType").val(data.cardType);
                                        $("#CustomerRegisterPanelModel_L_TITLE").val(data.outTitle);
                                        $("#SffProfileLogID").val(data.SffProfileLogID);

                                        $("#CustomerRegisterPanelModel_vatAddress1").val(data.vatAddress1);
                                        $("#CustomerRegisterPanelModel_vatAddress2").val(data.vatAddress2);
                                        $("#CustomerRegisterPanelModel_vatAddress3").val(data.vatAddress3);
                                        $("#CustomerRegisterPanelModel_vatAddress4").val(data.vatAddress4);
                                        $("#CustomerRegisterPanelModel_vatAddress5").val(data.vatAddress5);
                                        $("#CustomerRegisterPanelModel_vatPostalCd").val(data.vatPostalCd);
                                        $("#CustomerRegisterPanelModel_vatAddressFull").val(data.vatAddressFull);

                                        getPackageV2(data.OwnerProduct, data.PackageCode, data.outProductName, data.outDayOfServiceYear);
                                    }
                                }
                            });
                        }
                        else { //error service
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                        }
                    }
                    , error: function (err) {
                    }
                });
        }
    }
    else if (threeMobileNo == "007") {
        $("#col-form").hide();
        $("#col-err").show();
        $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
        }
        else {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
        }
    }

    function getPackageV2(ownerProduct, packageCode, sffProductName, sffServiceYear) {
        var count_PBOX = 0;
        $.ajax({
            type: "GET",
            url: "/SelectPackage/GetListPackageService",
            data: {
                "P_OWNER_PRODUCT": $("#v_owner_product").val(),
                "P_PRODUCT_SUBTYPE": $("#v_package_subtype").val(), //"VAS",
                "P_NETWORK_TYPE": sffProductName,
                "P_SERVICE_DAY": sffServiceYear,
                "line": "@ViewBag.Vas",
                    "P_PACKAGE_FOR": "PUBLIC",
                    "P_PACKAGE_CODE": packageCode,
                    "no": $("#AisAirNumber").val(),
                    "topUp": $("#TopUp").val(),
                    "P_SFF_PROMOCODE": $("#v_sff_main_promotionCD").val(),
                    "p_Address_Id": "",
                    "p_Plug_And_Play_Flag": "", //Add New Parameter for Plug and Play //Added by PatthamawadeeH. 28122016
                    "AisAirNumber": sessionStorage.getItem("AisAirNumber")
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.length == 0) {
                        $("#col-form").hide();
                        $("#col-err").show();
                        $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
                    }
                    else {
                        var tempV2 = "";
                        $("#tempV2").empty();
                        $.each(data, function (i, e) {

                            if (e.PRODUCT_SUBTYPE == "PBOX") {
                                count_PBOX++;
                                tempV2 += appendingV2(i, e);
                            }
                            else {
                                (e.PRODUCT_SUBTYPE == "VOIP" || e.PRODUCT_SUBTYPE == "VAS")
                                tempV2 += appendingV2(i, e);
                            }
                        });
                        if ($("#TopUp").val() == "1" && count_PBOX == 0) {
                            tempV2 = "";

                        }
                        $("#tempV2").append(tempV2);

                        if ($('#tempV2 tr').length > 0) {
                            $("#test").submit();
                        }
                        else {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
                        }
                    }
                }
        });
    }

    function getListServiceAnsPromotionByPackType() {

        var result = false;
        $.ajax({
            type: "POST",
            url: "/SelectPackage/GetListServiceAndPromotionByPackType",
            data: {
                "mobileNo": $.trim($("#AisAirNumber").val()),
                "idCard": $.trim($("#L_CARD_NOs").val()),
                "idCardType": $("#ID_CARD_NAMEs").val()
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if ($.trim(data.errorMessage) != "" || data.resultFlag == "N") {
                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND");
                    result = false;
                }
                else if (data.v_owner_product == "") {
                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND");
                    result = false;
                }
                else {

                    $("#CustomerRegisterPanelModel_v_installAddress").val(data.v_installAddress);
                    $("#CustomerRegisterPanelModel_installAddress1").val(data.v_installAddress1);
                    $("#CustomerRegisterPanelModel_installAddress2").val(data.v_installAddress2);
                    $("#CustomerRegisterPanelModel_installAddress3").val(data.v_installAddress3);
                    $("#CustomerRegisterPanelModel_installAddress4").val(data.v_installAddress4);
                    $("#CustomerRegisterPanelModel_installAddress5").val(data.v_installAddress5);
                    $("#CustomerRegisterPanelModel_pbox_count").val(data.v_number_of_pb_number);

                    $("#v_number_of_pb").val(data.v_number_of_pb_number);
                    $("#v_sff_main_promotionCD").val(data.v_sff_main_promotionCD);
                    $("#v_owner_product").val(data.v_owner_product);
                    $("#L_NUMBER_OF_PLAYBOX").val(data.L_NUMBER_OF_PLAYBOX);
                    $("#v_package_subtype").val(data.v_package_subtype);

                    result = true;
                }

            }
        });
        return result;
    }

    function appendingV2(i, e) {
        return "<tr>" +
               "<td>" +
               "</td>" +
               "</tr>";
    }

</script>
