@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels;
@{
    var isSaveCommplete = false;
    var productSubType = "";
    var languagePage = "";
    var lclose = "";
    var lsave = "";
    var lpopupsave = "";

    if (null != ViewBag.SWifi)
    {
        productSubType = ViewBag.SWiFi;
    }
    if (null != ViewBag.SaveSuccess)
    {
        isSaveCommplete = ViewBag.SaveSuccess;
    }
    if (null != ViewBag.LanguagePage)
    {
        languagePage = ViewBag.LanguagePage;
    }
    if (null != ViewBag.LCLOSE)
    {
        lclose = ViewBag.LCLOSE;
    }
    if (null != ViewBag.LSAVE)
    {
        lsave = ViewBag.LSAVE;
    }
    if (null != ViewBag.LPOPUPSAVE)
    {
        lpopupsave = ViewBag.LPOPUPSAVE;
    }

    Layout = null;

    string L_MY_ACCOUNT = "";
    string L_MY_PERSONAL_INFO = "";
    string L_AIS_FIBRE_NO = "";
    string L_CHOOSE_CARD_TYPE = "";
    string L_CARD_NUMBER = "";
    string B_CONTINUE = "";
    string L_LOGIN_FAILED = "";
    string B_OK = "";
    string L_FILL_OUT = "";
    string L_SELECT_ITEM = "";
    string L_NEW_CUST_NOT_FOUND2 = "";
    string L_NEW_CUST_NOT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_STA_LET = "";
    string FBB_Con_Length_ID_Card_Number_ROY_LET = "";
    string FBB_Con_Length_ID_Card_Number_EMB_LET = "";
    string FBB_Con_Length_ID_Card_Number_CERT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_TAX_ID = "";
    string FBB_Con_Length_ID_Card_Number_PASSPORT = "";
    string FBB_Con_Length_ID_Card_Number_GOV_LET = "";
    string FBB_Con_LengthIDCardNumberHILL_CARD = "";
    string FBB_Con_LengthIDCardNumberID_CARD = "";
    string FBB_Con_LengthIDCardNumberIMM_CARD = "";
    string FBB_Con_LengthIDCardNumberMONK_CERT = "";
    string FBB_Con_Input_CERT_FOUND = "";
    string FBB_Con_Input_EMB_LET = "";
    string FBB_Con_Input_HILL_CARD = "";
    string FBB_Con_Input_ID_CARD = "";
    string FBB_Con_Input_IMM_CARD = "";
    string FBB_Con_Input_MONK_CERT = "";
    string FBB_Con_Input_PASSPORT = "";
    string FBB_Con_Input_ROY_LET = "";
    string FBB_Con_Input_STA_LET = "";
    string FBB_Con_Input_TAX_ID = "";
    string FBB_Con_Input_GOV_LET = "";
    string lCARD_TYPE = "";
    string B_BACK = "";
    string L_NEW_CUST_NOT_FOUND3 = "";
    string L_NEW_CUST_NOT_FOUND4 = "";

    string SHOW_ICON_FIXEDLINE_CUST_VAS = "";
    string SHOW_ICON_PLAYBOX_CUST_VAS = "";
    string SHOW_ICON_PLAYBOX_SSO_VAS = "";
    string SHOW_ICON_FIXEDLINE_SSO_VAS = "";

    string L_DETAIL_DISCOUNT_SINGLE_BILL = "";
    string L_PAY_SINGLE_BILL = "";
    string L_PAY_SEPARATE_BILL = "";
    string B_APPLY = "";
    string B_CANCEL = "";

    string L_SEARCH_MOBILE = "";
    string L_NEW_CUST_NOT_FOUND7 = "";
    string L_NEW_CUST_NOT_FOUND8 = "";
    string L_NEW_CUST_NOT_FOUND11 = "";


    if (ViewBag.LabelFBBTR010 != null)
    {

        var LabelFBBTR010 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR010;
        SHOW_ICON_FIXEDLINE_CUST_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_FIXEDLINE_CUST_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_FIXEDLINE_CUST_VAS").DisplayValue : "";
        SHOW_ICON_PLAYBOX_CUST_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_PLAYBOX_CUST_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_PLAYBOX_CUST_VAS").DisplayValue : "";
        SHOW_ICON_PLAYBOX_SSO_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_PLAYBOX_SSO_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_PLAYBOX_SSO_VAS").DisplayValue : "";
        SHOW_ICON_FIXEDLINE_SSO_VAS = LabelFBBTR010.Any(c => c.Name == "SHOW_ICON_FIXEDLINE_SSO_VAS") ? LabelFBBTR010.FirstOrDefault(c => c.Name == "SHOW_ICON_FIXEDLINE_SSO_VAS").DisplayValue : "";
    }
    string L_AIS_FIBRE_NO_EX = "";
    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_NEW_CUST_NOT_FOUND3 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND3") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND3").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND4 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND4") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND4").DisplayValue : "";
        L_MY_ACCOUNT = LabelFBBTR001.Any(c => c.Name == "L_MY_ACCOUNT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_ACCOUNT").DisplayValue : "";
        L_MY_PERSONAL_INFO = LabelFBBTR001.Any(c => c.Name == "L_MY_PERSONAL_INFO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_PERSONAL_INFO").DisplayValue : "";
        L_AIS_FIBRE_NO = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_CHOOSE_CARD_TYPE = LabelFBBTR001.Any(c => c.Name == "L_CHOOSE_CARD_TYPE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CHOOSE_CARD_TYPE").DisplayValue : "";
        L_CARD_NUMBER = LabelFBBTR001.Any(c => c.Name == "L_CARD_NUMBER") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CARD_NUMBER").DisplayValue : "";
        B_CONTINUE = LabelFBBTR001.Any(c => c.Name == "B_CONTINUE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_CONTINUE").DisplayValue : "";
        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";
        B_OK = LabelFBBTR001.Any(c => c.Name == "B_OK") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";
        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
        L_SELECT_ITEM = LabelFBBTR001.Any(c => c.Name == "L_SELECT_ITEM") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SELECT_ITEM").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND2 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND2") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND2").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND").DisplayValue : "";
        L_AIS_FIBRE_NO_EX = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO_EX") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO_EX").DisplayValue : "";

        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";

        L_DETAIL_DISCOUNT_SINGLE_BILL = LabelFBBTR001.Any(c => c.Name == "L_DETAIL_DISCOUNT_SINGLE_BILL") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_DETAIL_DISCOUNT_SINGLE_BILL").DisplayValue : "";
        L_PAY_SINGLE_BILL = LabelFBBTR001.Any(c => c.Name == "L_PAY_SINGLE_BILL") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_PAY_SINGLE_BILL").DisplayValue : "";
        L_PAY_SEPARATE_BILL = LabelFBBTR001.Any(c => c.Name == "L_PAY_SEPARATE_BILL") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_PAY_SEPARATE_BILL").DisplayValue : "";
        B_APPLY = LabelFBBTR001.Any(c => c.Name == "B_APPLY") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_APPLY").DisplayValue : "";

        L_SEARCH_MOBILE = LabelFBBTR001.Any(c => c.Name == "L_SEARCH_MOBILE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SEARCH_MOBILE").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND7 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND7") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND7").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND8 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND8") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND8").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND11 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND11") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND11").DisplayValue : "";



    }
    if (ViewBag.LabelFBBTR004 != null)
    {
        var LabelFBBTR004 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR004;
        B_CANCEL = LabelFBBTR004.Any(c => c.Name == "B_CANCEL") ? LabelFBBTR004.FirstOrDefault(c => c.Name == "B_CANCEL").DisplayValue : "";
    }

    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
    }

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        FBB_Con_LengthIDCardNumberHILL_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number HILL_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number HILL_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberID_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number ID_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number ID_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberIMM_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number IMM_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number IMM_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberMONK_CERT = FbbConstant.Any(f => f.Field == "Length ID Card Number MONK_CERT") ? FbbConstant.First(f => f.Field == "Length ID Card Number MONK_CERT").Validation : "";
        FBB_Con_Length_ID_Card_Number_STA_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number STA_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number STA_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_ROY_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number ROY_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number ROY_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_EMB_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number EMB_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number EMB_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_CERT_FOUND = FbbConstant.Any(f => f.Field == "Length ID Card Number CERT_FOUND") ? FbbConstant.First(f => f.Field == "Length ID Card Number CERT_FOUND").Validation : "";
        FBB_Con_Length_ID_Card_Number_TAX_ID = FbbConstant.Any(f => f.Field == "Length ID Card Number TAX_ID") ? FbbConstant.First(f => f.Field == "Length ID Card Number TAX_ID").Validation : "";
        FBB_Con_Length_ID_Card_Number_PASSPORT = FbbConstant.Any(f => f.Field == "Length ID Card Number PASSPORT") ? FbbConstant.First(f => f.Field == "Length ID Card Number PASSPORT").Validation : "";
        FBB_Con_Length_ID_Card_Number_GOV_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number GOV LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number GOV LET").Validation : "";
        FBB_Con_Input_CERT_FOUND = FbbConstant.Any(f => f.Field == "Input CERT_FOUND") ? FbbConstant.First(f => f.Field == "Input CERT_FOUND").Validation : "";
        FBB_Con_Input_EMB_LET = FbbConstant.Any(f => f.Field == "Input EMB_LET") ? FbbConstant.First(f => f.Field == "Input EMB_LET").Validation : "";
        FBB_Con_Input_HILL_CARD = FbbConstant.Any(f => f.Field == "Input HILL_CARD") ? FbbConstant.First(f => f.Field == "Input HILL_CARD").Validation : "";
        FBB_Con_Input_ID_CARD = FbbConstant.Any(f => f.Field == "Input ID_CARD") ? FbbConstant.First(f => f.Field == "Input ID_CARD").Validation : "";
        FBB_Con_Input_IMM_CARD = FbbConstant.Any(f => f.Field == "Input IMM_CARD") ? FbbConstant.First(f => f.Field == "Input IMM_CARD").Validation : "";
        FBB_Con_Input_MONK_CERT = FbbConstant.Any(f => f.Field == "Input MONK_CERT") ? FbbConstant.First(f => f.Field == "Input MONK_CERT").Validation : "";
        FBB_Con_Input_PASSPORT = FbbConstant.Any(f => f.Field == "Input PASSPORT") ? FbbConstant.First(f => f.Field == "Input PASSPORT").Validation : "";
        FBB_Con_Input_ROY_LET = FbbConstant.Any(f => f.Field == "Input ROY_LET") ? FbbConstant.First(f => f.Field == "Input ROY_LET").Validation : "";
        FBB_Con_Input_STA_LET = FbbConstant.Any(f => f.Field == "Input STA_LET") ? FbbConstant.First(f => f.Field == "Input STA_LET").Validation : "";
        FBB_Con_Input_TAX_ID = FbbConstant.Any(f => f.Field == "Input TAX_ID") ? FbbConstant.First(f => f.Field == "Input TAX_ID").Validation : "";
        FBB_Con_Input_GOV_LET = FbbConstant.Any(f => f.Field == "Input GOV_LET") ? FbbConstant.First(f => f.Field == "Input GOV_LET").Validation : "";
    }
}

@Html.Partial("~/Views/Process/_HeaderSearchProfile.cshtml")
<style>
    fieldset {
        border: 2px solid #83ad47;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    #tbl-popup {
        width: 100%;
    }

    .btnmodal {
        padding: 10px 15px;
        background-color: #58AA0C;
        color: #fff !important;
    }

        .btnmodal:hover {
            padding: 10px 15px;
            background-color: #4a831c;
            color: #fff;
            text-decoration: none;
        }

    .modal-dialog-center {
        margin-top: 10%;
    }
</style>
<form id="test" method="post" action="/Process/ProcessLine3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 hidden-xs">
                <img src="~/Content/images/bg-sf.PNG" class="img-responsive" />
            </div>

            <div class="col-sm-6 col-md-6" id="col-form">

                <h1>@L_MY_ACCOUNT</h1>
                <h3>@L_MY_PERSONAL_INFO</h3>

                <p>@L_SEARCH_MOBILE</p>
                <input type="text" class="form-control" id="AisAirNumber" maxlength="10" autocomplete="off" title="@L_FILL_OUT" />
                @*<p style="color: #aaa; font-size: 18px">@L_AIS_FIBRE_NO_EX</p>*@
                <br />

                <p>@L_CHOOSE_CARD_TYPE</p>
                <select id="ID_CARD_NAMEs" onchange="onChangeID_CARD_NAMEs(this);" title="@lCARD_TYPE" class="form-control" title="@L_SELECT_ITEM"></select>

                <br />

                <p>@L_CARD_NUMBER</p>
                <input type="text" class="form-control" id="L_CARD_NOs" maxlength="30" autocomplete="off" title="@L_FILL_OUT" />


                <br />
                <br />
                <p align="right">
                    <a href="/ProcessSelect/" class="btn3" id="btnBack">@B_BACK</a>
                    <a class="btn1">@B_CONTINUE</a>
                    <a class="btn2 i-hidden" onclick="checkProcess()">@B_CONTINUE</a>
                </p>
            </div>

            <div class="col-sm-6 col-md-6 i-hidden" id="col-err">

                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                <h3 id="lb-failed"></h3>

                <br />
                <br />

                <p align="right">
                    <a class="btn2" onclick="backForm()">@B_OK</a>
                </p>
            </div>

            <div class="col-sm-6 col-md-6 i-hidden" id="includeBill">

                <div style="color: #91908e; font-size: 4em;" align="center">@Html.Raw(L_DETAIL_DISCOUNT_SINGLE_BILL)</div>

                <br />
                <br />
                <div>
                    <div style="display: inline">
                        <input type="radio" id="singlebill" value="single" name="bill" checked>
                    </div>
                    <div style="display: inline; padding-left: 1%;">
                        <label style="color: #91908e; font-size: 2em;">@L_PAY_SINGLE_BILL</label>
                    </div>
                </div>
                <div>
                    <div style="display: inline">
                        <input type="radio" id="includebill" value="include" name="bill">
                    </div>
                    <div style="display: inline; padding-left: 1%;">
                        <label style="color: #91908e; font-size: 2em;">@L_PAY_SEPARATE_BILL</label>
                    </div>
                </div>
                <br />
                <br />

                <p align="center">
                    <a class="btn2" onclick="accept()">@B_APPLY</a>
                    <a class="btn3" onclick="Reload()">@B_CANCEL</a>
                </p>
            </div>
        </div>
    </div>




    <footer class="hidden-xs hidden-sm">
        <div style="margin-top: -4px; float: right; color: white; font-size: small;">
        </div>
    </footer>

    <div>
        <input type="hidden" id="LanguagePage" />
        <input type='hidden' name='CoveragePanelModel.P_MOBILE' id='CoveragePanelModel_P_MOBILE' />
        <input type='hidden' name='CoveragePanelModel.OneBill' id='CoveragePanelModel_OneBill' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_TYPE' id='CustomerRegisterPanelModel_L_CARD_TYPE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_NO' id='CustomerRegisterPanelModel_L_CARD_NO' />
        <input type="hidden" name="TopUp" id="TopUp" />
        @Html.HiddenFor(a => a.CoveragePanelModel.Serenade_Flag, new { @id = "CoveragePanelModel_Serenade_Flag" })
    </div>

    @*Popup End Process
        <div id="basic-modal-content" >
             <fieldset>
                <table style="width: 100%; text-align: center; color: black;">
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="LastPopupMessage"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>@lpopupsave</div>
                        </td>
                    </tr>
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="greenButton" onclick="DownloadPDF();" style="color: #666666;">@lsave</a> <a href="#" class="greyButton" onclick="$.modal.close();Reload();" style="color: #666666;">@lclose</a></td>
                    </tr>
                </table>
             </fieldset>
        </div>*@
</form>
<table class="i-hidden" id="tempV2" border="1" bordercolor="red"></table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" onclick="Reload();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="LastPopupMessage" style="text-align: center;"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btnmodal" onclick="DownloadPDF();">@lsave</a>
                <a href="#" class="btnmodal" onclick="Reload();">@lclose</a>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>

    ///////////// begin popup ////////////
    var success = '@isSaveCommplete';
    var swifi = '@productSubType';
    var language_ = '@languagePage';

    if (success == 'True') {

        PopupMessage();
        $('#myModal').modal('show');
        //showjpopup('580px', '250px');
    }


    function DownloadPDF() {

        window.location.href = "/Process/download";
        setTimeout(function () { Reload() }, 3000);
    }

    function Reload() {
        window.location.href = "/Process/TriplePlay";
        //window.location.href = location;

    }

    function ClosePopupReload() {
        if (success == 'True') {
            Reload();
        }
    }

    function showjpopup(width_, height_) {
        $('#basic-modal-content').modal('show');
        $('#basic-modal-content').css('display', 'block');

        var div1 = $('#simplemodal-container');
        if (width_ != null) { div1.css('width', width_); }
        if (height_ != null) { div1.css('height', height_); }

        div1.css('margin-left', '10%');

        return false;
    }

    function PopupMessage() {
        //GetLastPopupMessage
        var ProSubType = "";
        if (swifi == "SWiFi") {
            ProSubType = "L_POP_UP_WIRELESS";
        }
        else {
            ProSubType = "L_POP_UP_WIRE";
        }

        $.ajax({
            type: "GET",
            url: "/MasterData/GetLastPopupMessage?LovName=" + ProSubType + "&dataType=1",
            dataType: "json",
            success: function (data) {

                var strBuilder = '<table class="tbl-line-height"  id="tbl-popup">';
                $.each(data, function (i, e) {
                    var str = '';
                    if (language_ == "2") {
                        str = '<tr><td><h3>' + e.LovValue2 + '</h3></td></tr>';
                    }
                    else {
                        str = '<tr><td><h3>' + e.LovValue1 + '</h3></td></tr>';
                    }

                    strBuilder += str;
                });
                strBuilder += '</table>';
                //
                $('#LastPopupMessage').append(strBuilder);
            }
        });
    }

    /////////// end popup ////////////

    $(function () {
        var ddd = false;
        var checkcanbuytripleplay = "N";

        if ("@ViewBag.Vas" == "") {
            $("#btnBack").hide();
            $("#TopUp").val("3");
        }

        $("#lb-failed").html("");
        $.post('/WBB/GetCurrentCulture').done(function (x) {
            $("#LanguagePage").val(x);
            changeLanguage();

            var language = "";
            if (x == 1)
                language = "th";
            else
                language = "en";
        });


        getCustomerCardTypes();

        $("#AisAirNumber").keyup(function () {
            CheckKeyUps("AisAirNumber", "[0-9]");
            checkBeforeProcess();
        });

        $("#L_CARD_NOs").keyup(function () {
            if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_TAX_ID");
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_MONK_CERT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_GOV_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_PASSPORT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_EMB_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_IMM_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_STA_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_HILL_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_CERT_FOUND");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ID_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ROY_LET");

            checkBeforeProcess();
        });

        setCardMaxlength();
    });

    function checkBeforeProcess() {

        var ml = "";
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            ml = "@FBB_Con_Length_ID_Card_Number_TAX_ID";
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            ml = "@FBB_Con_LengthIDCardNumberMONK_CERT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_GOV_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            ml = "@FBB_Con_Length_ID_Card_Number_PASSPORT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_EMB_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            ml = "@FBB_Con_LengthIDCardNumberIMM_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_STA_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            ml = "@FBB_Con_LengthIDCardNumberHILL_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            ml = "@FBB_Con_Length_ID_Card_Number_CERT_FOUND";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            ml = "@FBB_Con_LengthIDCardNumberID_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_ROY_LET";

        if ((($("#L_CARD_NOs").val() != "" && $("#ID_CARD_NAMEs :selected").val() != "ID_CARD")
            || ($("#L_CARD_NOs").val().length == ml && $("#ID_CARD_NAMEs :selected").val() == "ID_CARD"))
            && $("#AisAirNumber").val().length == 10 && $("#AisAirNumber").val().substr(0, 1) == "0") {
            $(".btn1").hide();
            $(".btn2").show();
        }
        else {
            $(".btn2").hide();
            $(".btn1").show();
        }
    }

    function backForm() {
        $("#col-form").show();
        $("#col-err").hide();
    }

    function changeLanguage() {

        if ($("#LanguagePage").val() == "1") {
            $("#btnTh").show();
            $("#btnEn").hide();

            $(".display-th").show();
            $(".display-en").hide();
        }
        else {

            $("#btnTh").hide();
            $("#btnEn").show();

            $(".display-th").hide();
            $(".display-en").show();
        }
    }

    function setCardMaxlength() {
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_TAX_ID");
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberMONK_CERT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_GOV_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_PASSPORT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_EMB_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberIMM_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_STA_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberHILL_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_CERT_FOUND");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberID_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_ROY_LET");
    }

    function onChangeID_CARD_NAMEs(idCardName) {
        $("#L_CARD_NOs").val("");
        $(".btn2").hide();
        $(".btn1").show();
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/GetCustomerSubCat",
            data: { 'idCardName': idCardName.value },
            dataType: "json",
            async: false,
            success: function (data) {
            },
        });

        setCardMaxlength();
    }

    function CheckKeyUps(id, RexStr) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        var filter = new RegExp(RexStr);
        for (var i = 0; i < strKey.length; i++) {
            if (filter.test(strKey.substr(i, 1))) {
                strBuilder += strKey.substr(i, 1);
            }
        }
        $("#" + id).val(strBuilder);
    }

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        //GetCustomerCardType
        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                $.each(data, function (i, e) {
                    if (e.DefaultValue != undefined)
                        strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                    else
                        strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                });
                strBuilder = firstStr + strBuilder;

                $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function checkProcess() {

        var threeMobileNo = $("#AisAirNumber").val().substr(0, 3);

        if (threeMobileNo == "007") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND11)');
        }
        else {
            var temp = check3G();

            if (!temp) {

                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND)');
            }
            else {

                CheckPrePostPaid();
                if (!ddd) {  //// check prepaid or postpaid

                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND7)');

                }
                else {

                    var twoMobileNo = $("#AisAirNumber").val().substr(0, 1);
                    if (twoMobileNo == "0") {

                        if (checkcanbuytripleplay == "N") {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND8)');
                        }
                        else {

                            gobill();
                        }

                        @*$.ajax({
                    url: '/Process/Check_DubTriple',
                    data: { mobileNo: $.trim($("#AisAirNumber").val()) },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        if (response) {
                            gobill();
                        }
                        else {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND8)');
                        }
                    }
                });*@


                    }
                    else {
                        $("#col-form").hide();
                        $("#col-err").show();
                        $("#lb-failed").html('@Html.Raw(L_NEW_CUST_NOT_FOUND)');
                    }
                }
            }
        }

    }

    function gobill() {

        $("#col-form").hide();
        // $("#includeBill").show();//แก้ไขไม่แสดงหน้าส่วนลด4000
        accept();
    }
    function accept() {

        $("#CoveragePanelModel_OneBill").val($('input[name=bill]:checked').val());

        $("#CoveragePanelModel_P_MOBILE").val($.trim($("#AisAirNumber").val()));
        $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($("#ID_CARD_NAMEs").val());
        $("#CustomerRegisterPanelModel_L_CARD_NO").val($.trim($("#L_CARD_NOs").val()));
        $("#test").submit();
    }

    function CheckPrePostPaid() {

        $.ajax({
            url: '/Process/Check_pre_postpaid',
            data: { msisdn: $.trim($("#AisAirNumber").val()), orderRef: $.trim($("#L_CARD_NOs").val()) },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                if (response) {
                    ddd = true;
                }
                else {
                    ddd = false;
                }
            }
        });
    }
    function check3G() {

        var chk = true;
        var chk_Serenade_Flag = ""; // Check สิทธิ์ส่วนลด Bundling

        if (chk) {

            $.ajax({
                url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
                data: { mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()), cardNo: $.trim($("#L_CARD_NOs").val()), cardType: $("#ID_CARD_NAMEs").val() },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    var data = response.data;

                    $("#dataSFF").val(data.errorMessage + " ,Full Error: " + data.outErrorMessage);
                    if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                        chk = false;
                    }
                    else if (data.errorMessage == "") { //found data
                        $.ajax({
                            url: '/CheckCoverage/GetCheck3G',
                            data: { key: data.GUIDKEY, },
                            dataType: "json",
                            type: 'POST',
                            async: false,
                            success: function (response) {
                                var data = response.data;

                                if (data.outProductName != "3G") {
                                    chk = false;
                                }
                                else { //// check dup tripleplay
                                    checkcanbuytripleplay = data.vataddTripleplay;

                                    if (checkcanbuytripleplay == "Y") {
                                        if (data.outMobileSegment == "Emerald" || data.outMobileSegment == "Gold" || data.outMobileSegment == "Platinum") {
                                            chk_Serenade_Flag = 'Y';//ลูกค้าเก่าที่เป็นserenade
                                        }
                                        else {
                                            chk_Serenade_Flag = 'N';//ลูกค้าเก่าที่ไม่ใช่serenade
                                        }
                                    }
                                    else {
                                        chk_Serenade_Flag = "";
                                    }
                                    $("#HdchkSerenade_Flag").val(chk_Serenade_Flag);
                                    sessionStorage.setItem("type", "AIS");
                                }


                            }
                        });
                    }
                    else { //error service
                        chk = false;
                    }
                }
            });

            return chk;
        }
    }
</script>
