
@using WBBEntity.PanelModels;
@{
    
    //string L_PAGE_SEARCH_PANEL = "Search Panel"; 
    //string B_TAB_EXPORT = "Export to Excel";
    //string B_PAGE_CANCEL = "Clear";
    //string B_PAGE_SEARCH = "Search";
    
    //string L_TAB_NAME_1 = "Sub Contractor";
    //string L_TAB_NAME_2 = "Install Cost";

    //string L_TAB_HEAD_NAME_1 = "Report Name : Sub Contractor";
    //string L_TAB_HEAD_NAME_2 = "Report Name : Install Cost";
    
    //string L_ORG_ID = "Org ID";
    //string L_SUB_CONTRACTOR = "Sub Contractor";
    //string L_STORAGE_LOCATION = "Storage Location";
    //string L_PHASE = "Phase";		

    //string L_TAB1_GRID_Col_1 = "ORG_ID";
    //string L_TAB1_GRID_Col_2 = "Sub Contractor NameTH";
    //string L_TAB1_GRID_Col_3 = "Sub Contractor NameEN";
    //string L_TAB1_GRID_Col_4 = "Storage Location";
    //string L_TAB1_GRID_Col_5 = "Sub Contractor Email";
    //string L_TAB1_GRID_Col_6 = "Phase";
    //string L_TAB1_GRID_Col_7 = "Sub Contractor Code";
    //string L_TAB1_GRID_Col_8 = "Sub Contractor For Email";

    //string L_ORDER_TYPE = "Order Type";
    //string L_SERVICE = "Service";
    //string L_PATTERN = "Pattern";
    //string L_VENDOR_BUILDING = "Vendor/Building";
    
    //string L_TAB2_GRID_Col_1 = "Order Type";
    //string L_TAB2_GRID_Col_2 = "Service";
    //string L_TAB2_GRID_Col_3 = "Pattern";
    //string L_TAB2_GRID_Col_4 = "Vendor/Building";
    //string L_TAB2_GRID_Col_5 = "LengthTarget (From - To)";
    //string L_TAB2_GRID_Col_6 = "Internet Rate";
    //string L_TAB2_GRID_Col_7 = "Play Box Rate";
    //string L_TAB2_GRID_Col_8 = "Voip Rate";
    //string L_TAB2_GRID_Col_9 = "Effective Date";
    //string L_TAB2_GRID_Col_10 = "Expire Date";
    //string L_TAB2_GRID_Col_11 = "Remark";
    
       string L_PAGE_SEARCH_PANEL = "";
       string B_TAB_EXPORT = "";
       string B_PAGE_CANCEL = "";
       string B_PAGE_SEARCH = "";
       string L_TAB_NAME_1 = "";
       string L_TAB_NAME_2 = "";
       string L_TAB_HEAD_NAME_1 = "";
       string L_TAB_HEAD_NAME_2 = "";
       string L_ORG_ID = "";
       string L_SUB_CONTRACTOR = "";
       string L_STORAGE_LOCATION = "";
       string L_PHASE = "";
       string L_TAB1_GRID_Col_1 = "";
       string L_TAB1_GRID_Col_2 = "";
       string L_TAB1_GRID_Col_3 = "";
       string L_TAB1_GRID_Col_4 = "";
       string L_TAB1_GRID_Col_5 = "";
       string L_TAB1_GRID_Col_6 = "";
       string L_TAB1_GRID_Col_7 = "";
       string L_TAB1_GRID_Col_8 = "";
       string L_ORDER_TYPE = "";
       string L_SERVICE = "";
       string L_PATTERN = "";
       string L_VENDOR_BUILDING = "";
       string L_TAB2_GRID_Col_1 = "";
       string L_TAB2_GRID_Col_2 = "";
       string L_TAB2_GRID_Col_3 = "";
       string L_TAB2_GRID_Col_4 = "";
       string L_TAB2_GRID_Col_5 = "";
       string L_TAB2_GRID_Col_6 = "";
       string L_TAB2_GRID_Col_7 = "";
       string L_TAB2_GRID_Col_8 = "";
       string L_TAB2_GRID_Col_9 = "";
       string L_TAB2_GRID_Col_10 = "";
       string L_TAB2_GRID_Col_11 = "";

    if (ViewBag.configscreen != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.configscreen;
        L_PAGE_SEARCH_PANEL = configscreen.Any(f => f.Name == "L_PAGE_SEARCH_PANEL") ? configscreen.FirstOrDefault(f => f.Name == "L_PAGE_SEARCH_PANEL").LovValue1 : "";
        B_TAB_EXPORT = configscreen.Any(f => f.Name == "B_TAB_EXPORT") ? configscreen.FirstOrDefault(f => f.Name == "B_TAB_EXPORT").LovValue1 : "";
        B_PAGE_CANCEL = configscreen.Any(f => f.Name == "B_PAGE_CANCEL") ? configscreen.FirstOrDefault(f => f.Name == "B_PAGE_CANCEL").LovValue1 : "";
        B_PAGE_SEARCH = configscreen.Any(f => f.Name == "B_PAGE_SEARCH") ? configscreen.FirstOrDefault(f => f.Name == "B_PAGE_SEARCH").LovValue1 : "";
        L_TAB_NAME_1 = configscreen.Any(f => f.Name == "L_TAB_NAME_1") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB_NAME_1").LovValue1 : "";
        L_TAB_NAME_2 = configscreen.Any(f => f.Name == "L_TAB_NAME_2") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB_NAME_2").LovValue1 : "";
        L_TAB_HEAD_NAME_1 = configscreen.Any(f => f.Name == "L_TAB_HEAD_NAME_1") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB_HEAD_NAME_1").LovValue1 : "";
        L_TAB_HEAD_NAME_2 = configscreen.Any(f => f.Name == "L_TAB_HEAD_NAME_2") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB_HEAD_NAME_2").LovValue1 : "";
        L_ORG_ID = configscreen.Any(f => f.Name == "L_ORG_ID") ? configscreen.FirstOrDefault(f => f.Name == "L_ORG_ID").LovValue1 : "";
        L_SUB_CONTRACTOR = configscreen.Any(f => f.Name == "L_SUB_CONTRACTOR") ? configscreen.FirstOrDefault(f => f.Name == "L_SUB_CONTRACTOR").LovValue1 : "";
        L_STORAGE_LOCATION = configscreen.Any(f => f.Name == "L_STORAGE_LOCATION") ? configscreen.FirstOrDefault(f => f.Name == "L_STORAGE_LOCATION").LovValue1 : "";
        L_PHASE = configscreen.Any(f => f.Name == "L_PHASE") ? configscreen.FirstOrDefault(f => f.Name == "L_PHASE").LovValue1 : "";
        L_TAB1_GRID_Col_1 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_1") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_1").LovValue1 : "";
        L_TAB1_GRID_Col_2 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_2") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_2").LovValue1 : "";
        L_TAB1_GRID_Col_3 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_3") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_3").LovValue1 : "";
        L_TAB1_GRID_Col_4 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_4") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_4").LovValue1 : "";
        L_TAB1_GRID_Col_5 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_5") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_5").LovValue1 : "";
        L_TAB1_GRID_Col_6 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_6") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_6").LovValue1 : "";
        L_TAB1_GRID_Col_7 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_7") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_7").LovValue1 : "";
        L_TAB1_GRID_Col_8 = configscreen.Any(f => f.Name == "L_TAB1_GRID_Col_8") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB1_GRID_Col_8").LovValue1 : "";
        L_ORDER_TYPE = configscreen.Any(f => f.Name == "L_ORDER_TYPE") ? configscreen.FirstOrDefault(f => f.Name == "L_ORDER_TYPE").LovValue1 : "";
        L_SERVICE = configscreen.Any(f => f.Name == "L_SERVICE") ? configscreen.FirstOrDefault(f => f.Name == "L_SERVICE").LovValue1 : "";
        L_PATTERN = configscreen.Any(f => f.Name == "L_PATTERN") ? configscreen.FirstOrDefault(f => f.Name == "L_PATTERN").LovValue1 : "";
        L_VENDOR_BUILDING = configscreen.Any(f => f.Name == "L_VENDOR_BUILDING") ? configscreen.FirstOrDefault(f => f.Name == "L_VENDOR_BUILDING").LovValue1 : "";
        L_TAB2_GRID_Col_1 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_1") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_1").LovValue1 : "";
        L_TAB2_GRID_Col_2 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_2") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_2").LovValue1 : "";
        L_TAB2_GRID_Col_3 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_3") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_3").LovValue1 : "";
        L_TAB2_GRID_Col_4 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_4") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_4").LovValue1 : "";
        L_TAB2_GRID_Col_5 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_5") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_5").LovValue1 : "";
        L_TAB2_GRID_Col_6 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_6") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_6").LovValue1 : "";
        L_TAB2_GRID_Col_7 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_7") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_7").LovValue1 : "";
        L_TAB2_GRID_Col_8 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_8") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_8").LovValue1 : "";
        L_TAB2_GRID_Col_9 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_9") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_9").LovValue1 : "";
        L_TAB2_GRID_Col_10 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_10") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_10").LovValue1 : "";
        L_TAB2_GRID_Col_11 = configscreen.Any(f => f.Name == "L_TAB2_GRID_Col_11") ? configscreen.FirstOrDefault(f => f.Name == "L_TAB2_GRID_Col_11").LovValue1 : "";
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            overflow-x: hidden;
        }

        .col-sm-3 {
            width: 23.4%;
        }

        .col-sm-3, .col-xs-6 {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: inherit;
        }

        #product-list thead th {
            text-align: center;
        }

        .calendar-resend.k-textbox .k-icon {
            top: 54%;
            margin: -8px 0 0;
            position: absolute;
            left: 19%;
        }

        .color-red {
            color: red !important;
        }

        .k-grid tr td {
            border-bottom: 1px solid #b8b7b7;
        }
    </style>
</head>
<body>

    <div id="gridresult" class="row">
        <div class="col-sm-12 col-md-12">
            <div class='pull-right pull-center' style="padding-top:2px">
                <a onclick='_ExportToExcel()' id='btnExport' class='btn btn-default' disabled='disabled'><i class='fa fa-file-excel-o  fa-lg'></i>&nbsp; @B_TAB_EXPORT </a>&nbsp;
            </div>
            <div class="demo-section wide grid">
                @(Html.Kendo().TabStrip()
                    .Name("SoftwareTabStrip")
                    .Events(events => events
                            .Select("onSelect")
                        )
                    .Animation(animation => animation.Open(effect => effect.Fade(FadeDirection.In)))
                    .Items(tabstrip =>
                    {
                        tabstrip.Add()
                                .Text(@L_TAB_NAME_1)
                                .Selected(true)
                                .Content(@<text>

                                    <div class="page-header i-header-fit">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 style="margin-top: 0">@L_TAB_HEAD_NAME_1</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12" style="width:98%">
                                            <div class="panel panel-success" id="divSearch_Tab1">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        <span>@L_PAGE_SEARCH_PANEL</span>
                                                        <a data-toggle="collapse" class="pull-right" href="#SearchPanel" onclick="onPanelToggle(this);" id="SearchPanelHeader"><i class="fa fa-chevron-circle-down fa-lg" id="SearchPanelHeaderArrow"></i></a>
                                                    </h3>
                                                </div>
                                                <div id="SearchPanel" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div id="Row1" class="row">
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_ORG_ID</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                        .Name("ddl_ORG_ID")
                                                                        .DataTextField("LOV_NAME")
                                                                        .DataValueField("VALUE")
                                                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                        .Filter("contains")
                                                                        .DataSource(source =>
                                                                        {
                                                                            source.Read(read =>
                                                                            {
                                                                                read.Action("p_get_orgid", "MasterConfigPhase");
                                                                            });
                                                                        }).SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5 col-md-5">
                                                                <label>@L_SUB_CONTRACTOR</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                        .Name("ddl_SUB_CONTRACTOR")
                                                                        .DataTextField("LOV_NAME")
                                                                        .DataValueField("VALUE")
                                                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                        .Filter("contains")
                                                                        .DataSource(source =>
                                                                        {
                                                                            source.Read(read =>
                                                                            {
                                                                                read.Action("p_get_nameth_subcontract", "MasterConfigPhase");
                                                                            });
                                                                        }).SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="Row1" class="row">
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_STORAGE_LOCATION</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                        .Name("ddl_STORAGE_LOCATION")
                                                                        .DataTextField("LOV_NAME")
                                                                        .DataValueField("VALUE")
                                                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                        .Filter("contains")
                                                                        .DataSource(source =>
                                                                        {
                                                                        source.Read(read =>
                                                                        {
                                                                        read.Action("p_get_storage_subcontract", "MasterConfigPhase");
                                                                        });
                                                                        }).SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5 col-md-5">
                                                                <label>@L_PHASE</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                        .Name("ddl_PHASE")
                                                                        .DataTextField("LOV_NAME")
                                                                        .DataValueField("VALUE")
                                                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                        .Filter("contains")
                                                                        .DataSource(source =>
                                                                        {
                                                                            source.Read(read =>
                                                                            {
                                                                                read.Action("p_get_phase_subcontract", "MasterConfigPhase");
                                                                            });
                                                                        }).SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="Row6" class="row">
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="i-text-align-right">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-12 i-text-align-right" style="width:98%">
                                                                <a class="btn btn-default" onclick="Tab1_Clear();"><i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;@B_PAGE_CANCEL</a>
                                                                <a class="btn btn-info" onclick="Tab1_Search();"><i class="fa fa-search fa-lg"></i>&nbsp;&nbsp;@B_PAGE_SEARCH</a>
                                                            </div>
                                                        </div>
                                                        @*end row6*@
                                                    </div>
                                                    @*end SearchPanel*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @(Html.Kendo().Grid<WBBEntity.PanelModels.FBBWebConfigModels.SupContractorReportList>()
                                    .Name("grid_1")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.ORG_ID).Title(@L_TAB1_GRID_Col_1).HtmlAttributes(new { style = "text-align:center;" }).Width(100);
                                        columns.Bound(p => p.SUB_CONTRACTOR_NAME_TH).Title(@L_TAB1_GRID_Col_2).HtmlAttributes(new { style = "text-align:left;" }).Width(300);
                                        columns.Bound(p => p.SUB_CONTRACTOR_NAME_TH).Title(@L_TAB1_GRID_Col_3).HtmlAttributes(new { style = "text-align:left;" }).Width(300);
                                        columns.Bound(p => p.STORAGE_LOCATION).Title(@L_TAB1_GRID_Col_4).HtmlAttributes(new { style = "text-align:center;" }).Width(200);
                                        columns.Bound(p => p.SUBCONTRACT_EMAIL).Title(@L_TAB1_GRID_Col_5).HtmlAttributes(new { style = "text-align:left;" }).Width(200);
                                        columns.Bound(p => p.PHASE).Title(@L_TAB1_GRID_Col_6).HtmlAttributes(new { style = "text-align:center;" }).Width(100);
                                        columns.Bound(p => p.SUB_CONTRACTOR_CODE).Title(@L_TAB1_GRID_Col_7).HtmlAttributes(new { style = "text-align:center;" }).Width(200);
                                        columns.Bound(p => p.SUB_CONTRACTOR_FOR_MAIL).Title(@L_TAB1_GRID_Col_8).HtmlAttributes(new { style = "text-align:left;" }).Width(250);
                                    })
                                    .Scrollable(scrollable => scrollable.Height("auto"))
                                    .Sortable()
                                    .Resizable(resize => resize.Columns(true))
                                    .Pageable(pageable => pageable.Numeric(true).PageSizes(new int[] { 20, 50, 100 }))
                                    .AutoBind(false)
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(20)
                                            //.Sort(sort => sort.Add("ORG_ID").Ascending())
                                            .Read(read => read.Action("ReportSUBSONTRACT_Async", "MasterConfigPhase").Data("bindingValue"))
                                        )
                                    .Events(e => e.DataBound("onGridDataBound_Tab1"))
                                    )
                                </text>);

                        tabstrip.Add()
                                .Text(@L_TAB_NAME_2)
                                .Content(@<text>
                                    <div class="page-header i-header-fit">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 style="margin-top: 0">@L_TAB_HEAD_NAME_2</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12" style="width:98%">
                                            <div class="panel panel-success" id="divSearch_Tab2">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        <span>@L_PAGE_SEARCH_PANEL</span>
                                                        <a data-toggle="collapse" class="pull-right" href="#SearchPanel2" onclick="onPanelToggle(this);" id="SearchPanelHeader"><i class="fa fa-chevron-circle-down fa-lg" id="SearchPanelHeaderArrow"></i></a>
                                                    </h3>
                                                </div>
                                                <div id="SearchPanel2" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div id="Row1" class="row">
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_ORDER_TYPE</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                    .Name("ddlOrderTypeSearch")
                                                                    .DataTextField("DISPLAY_VAL")
                                                                    .DataValueField("VAL1")
                                                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Read(read =>
                                                                        {
                                                                            read.Action("SetDDLOrderType", "ConfigurationSAPOnline", new { typeMode = "Search" });
                                                                        });
                                                                    })
                                                                    .SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_SERVICE</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                    .Name("ddlServiceSearch")
                                                                    .DataTextField("DISPLAY_VAL")
                                                                    .DataValueField("VAL1")
                                                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Read(read =>
                                                                        {
                                                                            read.Action("SetDDLService", "ConfigurationSAPOnline", new { typeMode = "Search" });
                                                                        });
                                                                    })
                                                                    .Events(e => e.Change("OnServiceSearchChange"))
                                                                    .SelectedIndex(0)
)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="Row1" class="row">
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_PATTERN</label>
                                                                <div class="i-fg-data-entry">
                                                                   @(Html.Kendo().DropDownList()
                                                                        .Name("ddlCustomerSearch")
                                                                        .DataTextField("DISPLAY_VAL")
                                                                        .DataValueField("VAL1")
                                                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                        .DataSource(source =>
                                                                        {
                                                                        source.Read(read =>
                                                                            {
                                                                                read.Action("SetDDLCustomer", "ConfigurationSAPOnline", new { typeMode = "Search" });
                                                                            });
                                                                        })
                                                                        .Events(e => e.Change("OnCustomerSearchChange"))
                                                                        .SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-md-4">
                                                                <label>@L_VENDOR_BUILDING</label>
                                                                <div class="i-fg-data-entry">
                                                                    @(Html.Kendo().DropDownList()
                                                                    .Name("ddlCustomerNameSearch")
                                                                    .DataTextField("DISPLAY_VAL")
                                                                    .DataValueField("VAL1")
                                                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                                                    .Filter("contains")
                                                                    .DataSource(source =>
                                                                    {
                                                                        source.Read(read =>
                                                                        {
                                                                            read.Action("SetDDLName", "ConfigurationSAPOnline", new { typeMode = "Search" });
                                                                        });
                                                                    })
                                                                    .Events(e => e.Change("OnCustomerNameSearchChange"))
                                                                    .SelectedIndex(0)
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="Row6" class="row">
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="i-text-align-right">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-12 i-text-align-right" style="width:98%">
                                                                <a class="btn btn-default" onclick="Tab2_Clear();"><i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;@B_PAGE_CANCEL</a>
                                                                <a class="btn btn-info" onclick="Tab2_Search();"><i class="fa fa-search fa-lg"></i>&nbsp;&nbsp;@B_PAGE_SEARCH</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @(Html.Kendo().Grid<WBBEntity.PanelModels.FBBWebConfigModels.CostInstallation>()
                                        .Name("grid_2")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.ORDER_TYPE).Title(@L_TAB2_GRID_Col_1).HtmlAttributes(new { style = "text-align:left;" }).Width(100);
                                            columns.Bound(p => p.SERVICE).Title(@L_TAB2_GRID_Col_2).HtmlAttributes(new { style = "text-align:left;" }).Width(100);
                                            columns.Bound(p => p.CUSTOMER).Title(@L_TAB2_GRID_Col_3).HtmlAttributes(new { style = "text-align:left;" }).Width(80);
                                            columns.Bound(p => p.TMP_CODE_CUSTOMER_NAME).Title(@L_TAB2_GRID_Col_4).HtmlAttributes(new { style = "text-align:left;" }).Width(140);
                                            columns.Bound(p => p.TMP_LENGTH_FR_TO).Title(@L_TAB2_GRID_Col_5).HtmlAttributes(new { style = "text-align:center;" }).Width(250);

                                            columns.Bound(p => p.INTERNET_RATE).Format("{0:n}").Title(@L_TAB2_GRID_Col_6).HtmlAttributes(new { style = "text-align:right;" }).Width(150);
                                            columns.Bound(p => p.PLAYBOX_RATE).Format("{0:n}").Title(@L_TAB2_GRID_Col_7).HtmlAttributes(new { style = "text-align:right;" }).Width(150);
                                            columns.Bound(p => p.VOIP_RATE).Format("{0:n}").Title(@L_TAB2_GRID_Col_8).HtmlAttributes(new { style = "text-align:right;" }).Width(150);
                                            columns.Bound(p => p.EFFECTIVE_DATE).Format("{0:dd/MM/yyyy}").ClientTemplate("#=formatDate(EFFECTIVE_DATE)#").Title(@L_TAB2_GRID_Col_9).HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                            columns.Bound(p => p.EXPIRE_DATE).Format("{0: dd/MM/yyyy}").ClientTemplate("#=formatDate(EXPIRE_DATE)#").Title(@L_TAB2_GRID_Col_10).HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                            columns.Bound(p => p.REMARK).Title(@L_TAB2_GRID_Col_11).HtmlAttributes(new { style = "text-align:left;" }).Width(100);
                            
                                        })
                                        .Scrollable(scrollable => scrollable.Height("auto"))
                                        .Sortable()
                                        .Resizable(resize => resize.Columns(true))
                                        .Pageable(pageable => pageable.Numeric(true).PageSizes(new int[] { 20, 50, 100 }))
                                        .AutoBind(false)
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(20)
                                                            .Sort(sort => sort.Add("UPDATED_DATE").Descending())
                                                            .Read(read => read.Action("CostInstallationAsync", "ConfigurationSAPOnline").Data("bindingValueInstall"))
                                            )
                                                .Events(e => e.DataBound("onGridDataBound_Tab2"))
)
                                </text>);

                    })
                )
            </div>
        </div>
    </div>

    <script>
    var SubcontractorCode = '';
    var Materialcode = '';
    var Company = '';
    var Plant = '';
    var SNPattern = '';
    var Product = '';
    var CostCenter = '';
    var AssetClass = '';
    var Action = '';

    $(document).ready(function () {
    });
    // onGridDataBound Equipment
    function onGridDataBound_Tab1() {
        Loading(0);
        itemCount = this.dataSource.view().length;
        if (this.dataSource.view().length == 0) {
            //insert empty row

            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
            this.tbody.html(emptyRow);

            //workarounds for IE lt 9
            //this.table.width(800);
            //$(".k-grid-content").width(2 * kendo.support.scrollbar());
            //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

            //workarounds for IE lt 9
            this.table.width(800);
            $("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());
        }
        else {
            // $("#gridOverviewStatus div.k-grid-content").height("auto");
            $('#gridOverviewStatus div.k-grid-content').height("auto");
            $('#gridOverviewStatus div.k-grid-content').css("max-height", "300px");
        }

        if (!(this.dataSource.view().length != 0)) {
            $('#selectall').prop('checked', false);
            $('#selectall').attr("disabled", "disabled");
        }

        Tab1_temp_model = defaultData_Tap1();
        IsExport();
    }

    // onGridDataBound Installation
    function onGridDataBound_Tab2() {
        Loading(0);
        //itemCount = this.dataSource.view().length;
        //insert empty row
        if (this.dataSource.view().length == 0) {

            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
            this.tbody.html(emptyRow);

            // $("#gridOverviewStatus2 div.k-grid-content").height(3 * kendo.support.scrollbar());

            //workarounds for IE lt 9
            this.table.width(800);
            $("#gridOverviewStatus2 div.k-grid-content").height(3 * kendo.support.scrollbar());
        }
        else {
            // $("#gridOverviewStatus2 div.k-grid-content").height("auto");
            $('#gridOverviewStatus2 div.k-grid-content').height("auto");
            $('#gridOverviewStatus2 div.k-grid-content').css("max-height", "300px");
        }
        Tab2_temp_model = defaultData_Tap2();
        IsExport();
    }
    function IsExport() {
        var is_show = false;
        var _grid_1 = $("#grid_1").data("kendoGrid").dataSource.view().length;
        var _grid_2 = $("#grid_2").data("kendoGrid").dataSource.view().length;
        if (_grid_1 == null) _grid_1 = 0;
        if (_grid_2 == null) _grid_2 = 0;

        if (_grid_1 > 0 || _grid_2 > 0) {
            $('#btnExport').attr("disabled", false); // show
        }
        else {
            $('#btnExport').attr("disabled", true); // hide
        }
    }

    function onGridDataBoundMainAsset() {
        Loading(0);
        //insert empty row
        if (this.dataSource.view().length == 0) {

            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
            this.tbody.html(emptyRow);

            // $("#gridOverviewStatus3 div.k-grid-content").height(3 * kendo.support.scrollbar());
            //workarounds for IE lt 9
            this.table.width(800);
            $("#gridOverviewStatus3 div.k-grid-content").height(3 * kendo.support.scrollbar());
        }
        else {
            //$("#gridOverviewStatus3 div.k-grid-content").height("auto");
            $('#gridOverviewStatus3 div.k-grid-content').height("auto");
            $('#gridOverviewStatus3 div.k-grid-content').css("max-height", "300px");
        }

        if (!(this.dataSource.view().length != 0)) {
            $('#selectMAall').prop('checked', false);
            $('#selectMAall').attr("disabled", "disabled");
        }

    }
    function onGridDataBoundRevalue() {
        Loading(0);
        //insert empty row
        if (this.dataSource.view().length == 0) {

            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
            this.tbody.html(emptyRow);

            // $("#gridOverviewStatus3 div.k-grid-content").height(3 * kendo.support.scrollbar());
            //workarounds for IE lt 9
            this.table.width(800);
            $("#gridOverviewStatus4 div.k-grid-content").height(3 * kendo.support.scrollbar());
        }
        else {
            //$("#gridOverviewStatus3 div.k-grid-content").height("auto");
            $('#gridOverviewStatus4 div.k-grid-content').height("auto");
            $('#gridOverviewStatus4 div.k-grid-content').css("max-height", "300px");
        }

        if (!(this.dataSource.view().length != 0)) {
            $('#selectRVall').prop('checked', false);
            $('#selectRVall').attr("disabled", "disabled");
        }
    }
    // Not Use
    function onGridDataBoundProductList() {
        Loading(0);
        itemCount = this.dataSource.view().length;
        if (this.dataSource.view().length == 0) {
            //insert empty row

            var colspan = this.thead.find("th").length;
            //alert(colspan)
            var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
            this.tbody.html(emptyRow);

            //workarounds for IE lt 9
            //this.table.width(800);
            //$(".k-grid-content").width(2 * kendo.support.scrollbar());
            $(".k-grid-content").height(3 * kendo.support.scrollbar());
        }
        else {
            var grid = $("#gridDetailProductList").data("kendoGrid");
            var gridData = grid.dataSource.view();
            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                if (gridData[i].STATUS == 'ERROR' || gridData[i].STATUS == 'Pending') {
                    currenRow.addClass("color-red")
                } else {
                    currenRow.removeClass("color-red")
                }
            }
            $(".k-grid-content").height("auto");
        }

        //$('#btnExport').attr("disabled", !(this.dataSource.view().length != 0));
        //Status = ERROR => btnResendAll hide
        //$('#btnResendAll').attr("disabled", !(this.dataSource.view().length != 0));
    }

    function Tab1_Clear() {
        $("#ddl_ORG_ID").data('kendoDropDownList').dataSource.filter({});
        $("#ddl_SUB_CONTRACTOR").data('kendoDropDownList').dataSource.filter({});
        $("#ddl_STORAGE_LOCATION").data('kendoDropDownList').dataSource.filter({});
        $("#ddl_PHASE").data('kendoDropDownList').dataSource.filter({});

        $("#ddl_ORG_ID").data('kendoDropDownList').select(0);
        $("#ddl_SUB_CONTRACTOR").data('kendoDropDownList').select(0);
        $("#ddl_STORAGE_LOCATION").data('kendoDropDownList').select(0);
        $("#ddl_PHASE").data('kendoDropDownList').select(0);
    }

    var Tab1_temp_model;
    function Tab1_Search() {
        var model = defaultData_Tap1();
        Tab1_temp_model = model;
        var grid = $("#grid_1").data("kendoGrid");
        grid.dataSource.page(1);
    }

    var SupContractorReportModel = function () {
        ORG_ID: "";
        SUB_CONTRACTOR_NAME_TH: "";
        STORAGE_LOCATION: "";
        PHASE: "";
    }

    function defaultData_Tap1() {
        var SupModel = new SupContractorReportModel();
        var _ddl_ORG_ID = $("#ddl_ORG_ID").val();
        if (_ddl_ORG_ID.toUpperCase() == "ALL") { _ddl_ORG_ID = "-1"; }
        SupModel.ORG_ID = _ddl_ORG_ID;

        var _ddl_SUB_CONTRACTOR = $("#ddl_SUB_CONTRACTOR").val();
        if (_ddl_SUB_CONTRACTOR.toUpperCase() == "ALL") { _ddl_SUB_CONTRACTOR = "-1"; }
        SupModel.SUB_CONTRACTOR_NAME_TH = _ddl_SUB_CONTRACTOR;

        SupModel.STORAGE_LOCATION = $("#ddl_STORAGE_LOCATION").val();
        SupModel.PHASE = $("#ddl_PHASE").val();
        return SupModel;
    }

    function onSelect(e) {
    }

    function Tab2_Clear() {
        $("#ddlOrderTypeSearch").data('kendoDropDownList').select(0);
        $("#ddlServiceSearch").data('kendoDropDownList').select(0);
        $("#ddlCustomerSearch").data('kendoDropDownList').select(0);
        //$("#ddlCustomerNameSearch").data('kendoDropDownList').select(0);
        var data_clear = [{ DISPLAY_VAL: "ALL", VAL1: "" }];
        $("#ddlCustomerNameSearch").kendoDropDownList({
            dataTextField: "DISPLAY_VAL",
            dataValueField: "VAL1",
            dataSource: data_clear,
            change: OnCustomerNameSearchChange,
            filter: "contains"
        });
    }

    var Tab2_temp_model;
    function Tab2_Search() {
        var model = defaultData_Tap2();
        Tab2_temp_model = model;
        var grid = $("#grid_2").data("kendoGrid");
        grid.dataSource.page(1);
    }

    var InstallCostModel = function () {
        ID: "";
        SERVICE: "";
        CUSTOMER: "";
        CUSTOMER_NAME: "";
        ORDER_TYPE: "";
        INTERNET_RATE: "";
        PLAYBOX_RATE: "";
        VOIP_RATE: "";
        EFFECTIVE_DATE: "";
        EXPIRE_DATE: "";
        CHK_PLAYBOX: "";
    }

    function defaultData_Tap2() {
        var searchModel = new InstallCostModel();
        searchModel.SERVICE = $("#ddlServiceSearch").val();
        searchModel.CUSTOMER = $("#ddlCustomerSearch").val();
        searchModel.CUSTOMER_NAME = $("#ddlCustomerNameSearch").val();
        searchModel.ORDER_TYPE = $("#ddlOrderTypeSearch").val();
        return searchModel;
    }

    function bindingValue() {
        Loading();
        var model = defaultData_Tap1();
        return {
            dataS: JSON.stringify(model)
        };
    }

    function bindingValueInstall() {
        Loading();
        var model = defaultData_Tap2();
        //btnExport
        return {
            dataS: JSON.stringify(model)
        };
    }

    function OnCustomerNameSearchChange(e) {
        setTimeout(function () {
            if ($("#ddlCustomerNameSearch").data('kendoDropDownList').select() < 0) {
                $("#ddlCustomerNameSearch").data('kendoDropDownList').select(0);
            }

            if ($("#ddlCustomerNameSearch").parent().find(".k-loading").length > 0) {
                $("#ddlCustomerNameSearch").parent().find(".k-loading").removeClass("k-loading");
            }
        }, 100);
    }

    function OnOrderTypeSearchChange(e) {
        var _ddlOrderTypeSearch = $("#ddlOrderTypeSearch").val();
        var _ddlServiceSearch = $("#ddlServiceSearch").val();
        var _ddlCustomerSearch = $("#ddlCustomerSearch").val();
        OnServiceSearchChange();
    }

    // Dropdownlist Service - Search
    function OnServiceSearchChange(e) {
        var _ddlOrderTypeSearch = $("#ddlOrderTypeSearch").val();
        var _ddlServiceSearch = $("#ddlServiceSearch").val();
        var _ddlCustomerSearch = $("#ddlCustomerSearch").val();
    }

    // Dropdownlist Customer - Search
    var temp_data_dropdown = null;
    function OnCustomerSearchChange(e) {
        Loading();
        setTimeout(function () {
            OnCustomerSearchChange_Step2();
        }, 0)

    }
    function OnCustomerSearchChange_Step2() {
        var _ddlOrderTypeSearch = $("#ddlOrderTypeSearch").val();
        var _ddlServiceSearch = $("#ddlServiceSearch").val();
        var _ddlCustomerSearch = $("#ddlCustomerSearch").val().replace(/\ /g, "");

        //if (_ddlCustomerSearch.trim().toUpperCase() == "DEFAULT")
        //{
        //    $("#ddlCustomerNameSearch").data('kendoDropDownList').enable(false);
        //    $("#ddlCustomerNameSearch").data('kendoDropDownList').select(-1);
        //    Loading(0);
        //}
        //else
        if (_ddlCustomerSearch.trim().toUpperCase() == "PROJECT" || _ddlCustomerSearch.trim().toUpperCase() == "SALETARGET") {
            $("#ddlCustomerNameSearch").data('kendoDropDownList').enable(true);
            $("#ddlCustomerNameSearch").data('kendoDropDownList').select(-1);
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { typeMode: "Search", orderType: _ddlOrderTypeSearch, service: _ddlServiceSearch, customer: _ddlCustomerSearch },
                url: "/ConfigurationSAPOnline/SetDDLName",
                dataType: "json",
                success: function (data) {
                    try {
                        temp_data_dropdown = data;
                        $("#ddlCustomerNameSearch").kendoDropDownList({
                            dataTextField: "DISPLAY_VAL",
                            dataValueField: "VAL1",
                            dataSource: data,
                            change: OnCustomerNameSearchChange,
                            filter: "contains",
                            virtual: {
                                itemHeight: 26,
                                valueMapper: function (options) {
                                    options.success([options.value || 0]); //return the value <-> item index mapping;
                                }
                            }
                        });
                        Loading(0);
                    } catch (ex) {
                        Loading(0);
                    }
                }
            });
        }
        else {
            Loading();
            $("#ddlCustomerNameSearch").data('kendoDropDownList').enable(true);
            $.ajax({
                cache: false,
                type: "GET",
                async: true,
                data: { typeMode: "Search", orderType: _ddlOrderTypeSearch, service: _ddlServiceSearch, customer: _ddlCustomerSearch },
                url: "/ConfigurationSAPOnline/SetDDLName",
                dataType: "json",
                success: function (data) {
                    $("#ddlCustomerNameSearch").data("kendoDropDownList").dataSource.read();
                    $("#ddlCustomerNameSearch").kendoDropDownList({
                        dataTextField: "DISPLAY_VAL",
                        dataValueField: "VAL1",
                        dataSource: data,
                        change: OnCustomerNameSearchChange,
                        filter: "contains"
                    });
                    Loading(0);
                }
            });
        }
        OnCustomerNameSearchChange();
    }

    function DropDownList_reset_datasource_search(Input) {
        var _ddlCustomerSearch = $("#ddlCustomerSearch").val().replace(/\ /g, "");
        if (_ddlCustomerSearch.trim().toUpperCase() == "PROJECT" || _ddlCustomerSearch.trim().toUpperCase() == "SALETARGET") {

            if (temp_data_dropdown) {
                try {
                    $("#ddlCustomerNameSearch").data('kendoDropDownList').select(-1);
                    $("#ddlCustomerNameSearch").kendoDropDownList({
                        dataTextField: "DISPLAY_VAL",
                        dataValueField: "VAL1",
                        dataSource: temp_data_dropdown,
                        change: OnCustomerNameSearchChange,
                        filter: "contains",
                        virtual: {
                            valueMapper: function (options) {
                                options.success([options.value || 0]); //return the value <-> item index mapping;
                            }
                        }
                    });
                } catch (ex) {
                    Loading(0);
                }
            }
        }
    }

    function formatDate(OrderDate) {
        if (OrderDate != null) {
            var d = new Date(OrderDate);
            d.setUTCHours(17);
            //var b = new Date(OrderDate + '+07:00');
            var formatedOrderDate = kendo.format("{0:dd/MM/yyyy}", d);
            return formatedOrderDate;
        }
        return "";
    }

    // Export 2 Tabs
    function _ExportToExcel()
    {
        var model_1 = Tab1_temp_model;
        var model_2 = Tab2_temp_model;

        //Sup Contracter
        if (model_1 == null) {
            model_1 = defaultData_Tap1();
            model_1.ORG_ID = "-1";
            model_1.SUB_CONTRACTOR_NAME_TH = "-1";
            model_1.STORAGE_LOCATION = "ALL";
            model_1.PHASE = "ALL";
        }
        // Cost
        if (model_2 == null) {
            model_2 = defaultData_Tap2();

            model_2.ORDER_TYPE = "";
            model_2.SERVICE = "";
            model_2.CUSTOMER = "";
            model_2.CUSTOMER_NAME = "";
        }

        window.open("/ConfigurationSAPOnline/Export_Subcontractor_CostInstallation?dataS_tab2=" + JSON.stringify(model_2) + "&dataS_tab1=" + JSON.stringify(model_1));
    }
    </script>
</body>
</html>
