@model WBBEntity.PanelModels.FBBWebConfigModels.DormitoryMasterModel
@using WBBEntity.PanelModels;
@{
 

    string ADMIN001_H_01 = "";
    string L_DORMITORY_NAME_TH = "";
    string L_DORMITORY_NAME_EN = "";
    string L_BUILDING_TH = "";
    string L_BUILDING_EN = "";
    string L_SUB_CONTRACT_CODE = "";
    string L_SUB_CONTRACT_NAME = "";
    string L_OTY_ROOM = "";
    string L_HOUSE_NO = "";
    string L_MOO = "";
    string L_SOI = "";
    string L_STREET = "";
    string L_TUMBON = "";
    string L_AMPHUR = "";
    string L_PROVINCE = "";
    string L_POSTCODE = "";
    string L_OTY_ROOM_EN = "";
    string L_HOUSE_NO_EN = "";
    string L_MOO_EN = "";
    string L_SOI_EN = "";
    string L_STREET_EN = "";
    string L_TUMBON_EN = "";
    string L_AMPHUR_EN = "";
    string L_PROVINCE_EN = "";
    string L_POSTCODE_EN = "";
    string B_ADD_NEW = "";
    string B_EDIT = "";
    string B_SAVE = "";
    string H_CONTRACT_DORM = "";
    string L_CONTRACT_NAME = "";
    string L_CONTRACT_EMAIL = "";
    string L_CONTRACT_PHONE = "";
    string H_TARGET_LAUCH ="";
    string L_TARGET_LAUCH_DT = "";
    string L_LAUCH_DT = "";
    string L_TARGET_VOLUMN = "";
    string L_VOLUMN = "";
    
    
    if (ViewBag.configscreen != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.configscreen;
        ADMIN001_H_01 = configscreen.Any(f => f.Name == "H_DORMITORY_SUB_MENU_1_5") ? configscreen.FirstOrDefault(f => f.Name == "H_DORMITORY_SUB_MENU_1_5").LovValue2 : "";
        L_DORMITORY_NAME_TH = configscreen.Any(f => f.Name == "L_DORMITORY_NAME") ? configscreen.First(f => f.Name == "L_DORMITORY_NAME").LovValue1 : "";
        L_DORMITORY_NAME_EN = configscreen.Any(f => f.Name == "L_DORMITORY_NAME") ? configscreen.First(f => f.Name == "L_DORMITORY_NAME").LovValue2 : "";
        L_HOUSE_NO = configscreen.Any(f => f.Name == "L_HOUSE_NO") ? configscreen.First(f => f.Name == "L_HOUSE_NO").LovValue1 : "";
        L_MOO = configscreen.Any(f => f.Name == "L_MOO") ? configscreen.First(f => f.Name == "L_MOO").LovValue1 : "";
        L_SOI = configscreen.Any(f => f.Name == "L_SOI") ? configscreen.First(f => f.Name == "L_SOI").LovValue1 : "";
        L_STREET = configscreen.Any(f => f.Name == "L_STREET") ? configscreen.First(f => f.Name == "L_STREET").LovValue1 : "";
        L_TUMBON = configscreen.Any(f => f.Name == "L_TUMBOL") ? configscreen.First(f => f.Name == "L_TUMBOL").LovValue1 : "";
        L_AMPHUR = configscreen.Any(f => f.Name == "L_AMPHUR") ? configscreen.First(f => f.Name == "L_AMPHUR").LovValue1 : "";
        L_PROVINCE = configscreen.Any(f => f.Name == "L_PROVINCE") ? configscreen.First(f => f.Name == "L_PROVINCE").LovValue1 : "";
        L_POSTCODE = configscreen.Any(f => f.Name == "L_POSTCODE") ? configscreen.First(f => f.Name == "L_POSTCODE").LovValue1 : "";
        L_OTY_ROOM_EN = configscreen.Any(f => f.Name == "ADMIN001_SUB_H_QTY_ROOM") ? configscreen.First(f => f.Name == "ADMIN001_SUB_H_QTY_ROOM").LovValue2 : "";
        L_HOUSE_NO_EN = configscreen.Any(f => f.Name == "L_HOUSE_NO") ? configscreen.First(f => f.Name == "L_HOUSE_NO").LovValue2 : "";
        L_MOO_EN = configscreen.Any(f => f.Name == "L_MOO") ? configscreen.First(f => f.Name == "L_MOO").LovValue2 : "";
        L_SOI_EN = configscreen.Any(f => f.Name == "L_SOI") ? configscreen.First(f => f.Name == "L_SOI").LovValue2 : "";
        L_STREET_EN = configscreen.Any(f => f.Name == "L_STREET") ? configscreen.First(f => f.Name == "L_STREET").LovValue2 : "";
        L_TUMBON_EN = configscreen.Any(f => f.Name == "L_TUMBOL") ? configscreen.First(f => f.Name == "L_TUMBOL").LovValue2 : "";
        L_AMPHUR_EN = configscreen.Any(f => f.Name == "L_AMPHUR") ? configscreen.First(f => f.Name == "L_AMPHUR").LovValue2 : "";
        L_PROVINCE_EN = configscreen.Any(f => f.Name == "L_PROVINCE") ? configscreen.First(f => f.Name == "L_PROVINCE").LovValue2 : "";
        L_POSTCODE_EN = configscreen.Any(f => f.Name == "L_POSTCODE") ? configscreen.First(f => f.Name == "L_POSTCODE").LovValue2 : "";
        B_SAVE = configscreen.Any(f => f.Name == "B_SAVE") ? configscreen.FirstOrDefault(f => f.Name == "B_SAVE").LovValue2 : "";
        L_BUILDING_TH = configscreen.Any(f => f.Name == "G_BUILDING_NAME") ? configscreen.First(f => f.Name == "G_BUILDING_NAME").LovValue1 : "";
        L_BUILDING_EN = configscreen.Any(f => f.Name == "G_BUILDING_NAME") ? configscreen.First(f => f.Name == "G_BUILDING_NAME").LovValue2 : "";
        L_OTY_ROOM = configscreen.Any(f => f.Name == "G_ROOM_AMOUNT") ? configscreen.First(f => f.Name == "G_ROOM_AMOUNT").LovValue2 : "";
        B_ADD_NEW = configscreen.Any(f => f.Name == "B_ADD_NEW_BUILDING") ? configscreen.First(f => f.Name == "B_ADD_NEW_BUILDING").LovValue1 : "";
        B_EDIT = configscreen.Any(f => f.Name == "B_EDIT") ? configscreen.First(f => f.Name == "B_EDIT").LovValue1 : "";
        H_CONTRACT_DORM = configscreen.Any(f => f.Name == "H_CONTRACT_DORM") ? configscreen.First(f => f.Name == "H_CONTRACT_DORM").LovValue1 : "";
        L_CONTRACT_NAME = configscreen.Any(f => f.Name == "L_CONTRACT_NAME") ? configscreen.First(f => f.Name == "L_CONTRACT_NAME").LovValue1 : "";
        L_CONTRACT_EMAIL = configscreen.Any(f => f.Name == "L_CONTRACT_EMAIL") ? configscreen.First(f => f.Name == "L_CONTRACT_EMAIL").LovValue1 : "";
        L_CONTRACT_PHONE = configscreen.Any(f => f.Name == "L_CONTRACT_PHONE") ? configscreen.First(f => f.Name == "L_CONTRACT_PHONE").LovValue1 : "";
        H_TARGET_LAUCH = configscreen.Any(f => f.Name == "H_TARGET_LAUCH") ? configscreen.First(f => f.Name == "H_TARGET_LAUCH").LovValue1 : "";
        L_TARGET_LAUCH_DT = configscreen.Any(f => f.Name == "L_TARGET_LAUCH_DT") ? configscreen.First(f => f.Name == "L_TARGET_LAUCH_DT").LovValue1 : "";
        L_LAUCH_DT = configscreen.Any(f => f.Name == "L_LAUCH_DT") ? configscreen.First(f => f.Name == "L_LAUCH_DT").LovValue1 : "";
        L_TARGET_VOLUMN = configscreen.Any(f => f.Name == "L_TARGET_VOLUMN") ? configscreen.First(f => f.Name == "L_TARGET_VOLUMN").LovValue1 : "";
        L_VOLUMN = configscreen.Any(f => f.Name == "L_VOLUMN") ? configscreen.First(f => f.Name == "L_VOLUMN").LovValue1 : "";
    }
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.HiddenFor(t => t.dormitory_id, @Model.dormitory_id)
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i style="font-size: large;">&nbsp;@ADMIN001_H_01</i>
                </h3>
            </div>@*endpanel heading*@
            <div id="CoverageInformation" class="panel-collapse collapse in i-gap-top-1 i-gap-right-1 i-gap-left-1 i-gap-bottom-1">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class=" panel panel-default">
                            <div id="panelbodyCoverageIformation" class="panel-body">
                                <div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>ข้อมูลหอพัก</label>&nbsp;&nbsp;
                                        <a class="btn btn-default" onclick="_EditDormitory();"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;Edit</a>
                                    </div>
                                    <div class="col-sm-12 col-md-12 i-gap-top-1">
                                        <div class=" panel panel-default">
                                            <div id="panelbody1" class="panel-body">
                                                <div id="row1" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_DORMITORY_NAME_TH</label>
                                                        <div class="i-fg-data-entry">
                                                            @Html.TextBoxFor(t => t.dormitory_name_th, new { @class = "dis k-textbox form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                </div>
                                                <div id="row2" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_HOUSE_NO</label>
                                                        <div class="i-fg-data-entry">
                                                            @Html.TextBoxFor(t => t.HOME_NO_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_MOO</label>
                                                        <div class="i-fg-data-entry">
                                                            @Html.TextBoxFor(t => t.MOO_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_SOI</label>
                                                        @Html.TextBoxFor(t => t.SOI_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_STREET</label>
                                                        @Html.TextBoxFor(t => t.STREET_NAME_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>

                                                </div>
                                                <div id="row3" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_PROVINCE</label>
                                                        @Html.TextBoxFor(t => t.Province_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_AMPHUR</label>
                                                        @Html.TextBoxFor(t => t.AMPHUR_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_TUMBON</label>
                                                        @Html.TextBoxFor(t => t.TUMBON_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_POSTCODE</label>
                                                        @Html.TextBoxFor(t => t.Postcode_TH, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                </div><br />
                                                <div id="row4" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_DORMITORY_NAME_EN</label>
                                                        <div class="i-fg-data-entry">
                                                            @Html.TextBoxFor(t => t.dormitory_name_en, new { @class = "dis k-textbox form-control", @readonly = true })
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                    </div>
                                                </div>
                                                <div id="row5" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_HOUSE_NO_EN</label>
                                                        <div class="i-fg-data-entry">
                                                            @Html.TextBoxFor(t => t.HOME_NO_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_MOO_EN</label>
                                                        @Html.TextBoxFor(t => t.MOO_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_SOI_EN</label>
                                                        @Html.TextBoxFor(t => t.SOI_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_STREET_EN</label>
                                                        @Html.TextBoxFor(t => t.STREET_NAME_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div id="row6" class="row">
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_PROVINCE_EN</label>
                                                        @Html.TextBoxFor(t => t.Province_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_AMPHUR_EN</label>
                                                        @Html.TextBoxFor(t => t.AMPHUR_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_TUMBON_EN</label>
                                                        @Html.TextBoxFor(t => t.TUMBON_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="col-sm-12 col-md-3">
                                                        <label>@L_POSTCODE_EN</label>
                                                        @Html.TextBoxFor(t => t.Postcode_EN, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                     <div id="row7" class="row">
                                                  <div class="col-sm-12 col-md-3">
                                    <label>@H_CONTRACT_DORM</label>&nbsp;&nbsp;
                                </div>
                                                 </div>
                                            <div id="row13" class="row">
                                                 <div class="col-sm-12 col-md-12 i-gap-top-1">
                                            <div id="row9" class="row">
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_CONTRACT_NAME<span id="requiredfor-Contact_Name"></span></label>
                                                    <div class="i-fg-data-entry">
                                                        @Html.TextBoxFor(t => t.Contact_Name, new { @class = "dis k-textbox form-control" })
                                                    </div>
                                                    <div class="i-fg-data-entry-validation" id="validatefor-Contact_Name"></div>
                                                </div>
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_CONTRACT_EMAIL<span id="requiredfor-contract_email"></span></label>
                                                    <div class="i-fg-data-entry">
                                                        @Html.TextBoxFor(t => t.contract_email, new { @class = "dis k-textbox form-control" })
                                                    </div>
                                                    <div class="i-fg-data-entry-validation" id="validatefor-contract_email"></div>
                                                </div>
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_CONTRACT_PHONE<span id="requiredfor-contract_phone"></span></label>
                                                    <div class="i-fg-data-entry">
                                                        @Html.TextBoxFor(t => t.contract_phone, new { @class = "dis k-textbox form-control" })
                                                    </div>
                                                    <div class="i-fg-data-entry-validation" id="validatefor-contract_phone"></div>
                                                </div>
                                    </div><br />
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <label>@H_TARGET_LAUCH</label>
                                </div>
                                <div class="col-sm-12 col-md-12 i-gap-top-1">
                                            <div id="row11" class="row">
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_TARGET_LAUCH_DT</label>
                                                 
                                                        @(Html.Kendo().DatePickerFor(t => t.target_launch_dt)
                                                                .Name("Target_launch_dt")
                                 .HtmlAttributes(new { @class = "form-control i-form-control-extend", @readonly = true })
                                 .Format("dd/MM/yyyy"))
                                                </div>
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_LAUCH_DT</label>
                                                 
                                                        @(Html.Kendo().DatePickerFor(t => t.launch_dt).Name("Launch_dt")
                                 .HtmlAttributes(new { @class = "form-control i-form-control-extend" , @readonly = true})
                                 .Format("dd/MM/yyyy"))
                                                </div>
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_TARGET_VOLUMN<span id="requiredfor-target_volumn"></span></label>
                                                    <div class="i-fg-data-entry">
                                                        @Html.TextBoxFor(t => t.target_volumn, new { @class = "dis k-textbox form-control", @readonly = true })
                                                    </div>
                                                    <div class="i-fg-data-entry-validation" id="validatefor-target_volumn"></div>
                                                </div>
                                                <div class="col-sm-12 col-md-3">
                                                    <label>@L_VOLUMN<span id="requiredfor-volumn"></span></label>
                                                    <div class="i-fg-data-entry">
                                                        @Html.TextBoxFor(t => t.volumn, new { @class = "dis k-textbox form-control" , @readonly = true})
                                                    </div>
                                                    <div class="i-fg-data-entry-validation" id="validatefor-volumn"></div>
                                                </div>
                                            </div>
                                </div>
                                                </div>

                                            </div>
                                            @*end panelbody1*@
                                        </div>@*end paneldefault*@
                                    </div>
                                  
                                    <div class="col-sm-6 col-md-6">
                                        <label>รายละเอียดของอาคาร/ตึก</label>&nbsp;&nbsp;
                                        <a class="btn btn-default" onclick="_EditBuilding();"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;Edit</a>
                                    </div>
                                    <div class="col-sm-12 col-md-12 i-gap-top-1">
                                        <div class=" panel panel-default">
                                            <div id="panelbody2" class="panel-body">
                                                <div class="col-sm-12 col-md-12 ">
                                                    <div id="gridresult" class="row">
                                                        @(Html.Kendo().Grid<WBBEntity.PanelModels.FBBWebConfigModels.DormitoryBuilding>()
                                                            .Name("gridBuilding")
                                                            .Columns(columns =>
                                                                {
                                                                    columns.Bound(p => p.dormitory_no_th).Title(@L_BUILDING_TH).HtmlAttributes(new { style = "text-align:left;" }).Width(200);
                                                                    columns.Bound(p => p.dormitory_no_en).Title(@L_BUILDING_EN).HtmlAttributes(new { style = "text-align:left;" }).Width(200);
                                                                    columns.Bound(p => p.number_of_room).Title(@L_OTY_ROOM).HtmlAttributes(new { style = "text-align:right;" }).Width(200);
                                                                    //columns.Bound(p => p.state).Title("On Service").HtmlAttributes(new { style = "text-align:left;" }).Width(200);

                                                                })
                                                            .Pageable
                                                            (
                                                                pageable => pageable
                                                                    .PageSizes(false)
                                                                    .Numeric(true)
                                                            )
                                                            .Scrollable
                                                            (
                                                                scrollable => scrollable.Height("auto")
                                                            )
                                                            .AutoBind(true)
                                                            .DataSource
                                                            (
                                                                dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Read(read => read.Action("BuildingData", "DormitoryMaster"))
                                                            )
                                                            .Events(e => e.DataBound("onGridDataBound"))
                                                        )
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>@*end apconfig*@
                                <div class="wrap01 col-sm-12 col-md-12" style="margin-top: -10px">
                                    <ul id="error" class="i-red"></ul>
                                </div>
                                <div id="panelbody4" class="panel-body">
                                    <div id="row8" class="row">
                                        <div class="col-sm-12 col-md-12 i-text-align-center">
                                            <a class="btn btn-default" onclick="_Back();"><i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>@*end panel*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var SaveStatus = '@ViewBag.SaveStatus';
    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        if (SaveStatus != "") {
            if (SaveStatus.substring(0, 18) == "Saved successfully") {
                showFeedback("success", SaveStatus, "SaveDormitory Master");
            }
            else {
                showFeedback("error", SaveStatus);
            }
        }
    });
    function onGridDataBound() {
        Loading(0);
    }

    function _Back() {
        Loading();
        var url = '@Url.Action("Index", "DormitoryMaster")';
        window.location.href = url;
    }
    function _EditDormitory() {
        Loading();
        var url = '@Url.Action("ViewToEditConfigurationDormitory", "DormitoryMaster")';
        url = url + "?DormitoryID=" + $('#dormitory_id').val();
        window.location.href = url;
    }
    function _EditBuilding() {
        Loading();
        var url = '@Url.Action("ViewToEditConfigurationDormitoryBuilding", "DormitoryMaster")';
        url = url + "?DormitoryID=" + $('#dormitory_id').val();
        window.location.href = url;
    }

</script>
