@{
    Layout = null;
    string RegisterChangeCoverageURL = "";
    string TrackingURL = "";
    string RegisterDormitoryURL = "";
    string SCPEURL = "";
    if (null != ViewBag.UrlScreenMainforshop)
    {
        var configscreen = (List<WBBEntity.PanelModels.LovValueModel>)ViewBag.UrlScreenMainforshop;

        RegisterChangeCoverageURL = configscreen.Any(f => f.Name == "URL_MAIN_FOR_SHOP") ? configscreen.First(f => f.Name == "URL_MAIN_FOR_SHOP").LovValue1 : "";
        TrackingURL = configscreen.Any(f => f.Name == "URL_TRACKING") ? configscreen.First(f => f.Name == "URL_TRACKING").LovValue1 : "";
        RegisterDormitoryURL = configscreen.Any(f => f.Name == "URL_REGISTER_DORMITORY") ? configscreen.First(f => f.Name == "URL_REGISTER_DORMITORY").LovValue1 : "";
        SCPEURL = configscreen.Any(f => f.Name == "URL_SCPE") ? configscreen.First(f => f.Name == "URL_SCPE").LovValue1 : "";
               
    }
}
<head>
    <title>Mainforshop</title>
    @Styles.Render("~/Content/css/bootsrapcss")
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/boostrapjs")
</head>
<body>
    <div class="col-10">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="@RegisterChangeCoverageURL">
                <img src="~/Images/fibre_icon_04.jpg" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="@TrackingURL">
                <img src="~/Images/fibre_icon_05.jpg" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
             <a href="@RegisterDormitoryURL">
                <img src="~/Images/fibre_icon_06.jpg" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
             <a href="@SCPEURL">
                <img src="~/Images/fibre_icon_07.jpg" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            
        </div>
</div>
</body>
