@using WBBWeb.Extension
@model WBBEntity.PanelModels.QuickWinPanelModel
@using WBBEntity.PanelModels

@{
    string language = Session[WebConstants.SessionKeys.CurrentUICulture] != null ? Session[WebConstants.SessionKeys.CurrentUICulture].ToString() : "";

    string L_CHOOSE_PACKAGE = "";
    string L_PACKAGE_NAME = "";
    string L_DOWNLOAD_SPEED = "";
    string L_UPLOAD_SPEED = "";
    string L_MONTHLY_FEE = "";
    string L_IDENTIFY_SERIAL = "";
    string L_HOWTO_IDENTIFY_SERIAL = "";
    string L_POPUP_HOWTO_IDENTIFY_SERIAL = "";
    string L_POPUP_HOWTO_IDENTIFY_SERIAL_DETAIL = "";
    string L_GET_SPECIAL_DISCOUNT = "";
    string L_GET_SPECIAL_DISCOUNT_INCORRECT = "";
    string L_POPUP_SN_IN_STOCK = "";
    string L_SUMMARY_PACKAGE = "";
    string L_MONTHLY_SERVICE_FEE = "";
    string L_SELECT_PACKAGE_NAME = "";
    string L_TOTAL_MONTHLY_FEE = "";
    string L_AVERAGE_DAILY = "";
    string L_CAL_PER_DAY = "";
    string L_TOTAL_EST_PAID = "";
    string L_EXCLUDE_VAT = "";
    string L_BAHT = "";
    string B_BACK = "";
    string B_NEXT = "";
    string B_CLOSE = "";
    string CALL_TDM_SERVICE = "";



    if (ViewBag.LabelFBBOR028 != null)
    {
        var LabelFBBOR028 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR028;
        L_CHOOSE_PACKAGE = LabelFBBOR028.Any(c => c.Name == "L_CHOOSE_PACKAGE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_CHOOSE_PACKAGE").DisplayValue : "";
        L_PACKAGE_NAME = LabelFBBOR028.Any(c => c.Name == "L_PACKAGE_NAME") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_PACKAGE_NAME").DisplayValue : "";
        L_DOWNLOAD_SPEED = LabelFBBOR028.Any(c => c.Name == "L_DOWNLOAD_SPEED") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_DOWNLOAD_SPEED").DisplayValue : "";
        L_UPLOAD_SPEED = LabelFBBOR028.Any(c => c.Name == "L_UPLOAD_SPEED") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_UPLOAD_SPEED").DisplayValue : "";
        L_MONTHLY_FEE = LabelFBBOR028.Any(c => c.Name == "L_MONTHLY_FEE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_MONTHLY_FEE").DisplayValue : "";
        L_IDENTIFY_SERIAL = LabelFBBOR028.Any(c => c.Name == "L_IDENTIFY_SERIAL") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_IDENTIFY_SERIAL").DisplayValue : "";
        L_HOWTO_IDENTIFY_SERIAL = LabelFBBOR028.Any(c => c.Name == "L_HOWTO_IDENTIFY_SERIAL") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_HOWTO_IDENTIFY_SERIAL").DisplayValue : "";
        L_POPUP_HOWTO_IDENTIFY_SERIAL = LabelFBBOR028.Any(c => c.Name == "L_POPUP_HOWTO_IDENTIFY_SERIAL") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_POPUP_HOWTO_IDENTIFY_SERIAL").DisplayValue : "";
        L_POPUP_HOWTO_IDENTIFY_SERIAL_DETAIL = LabelFBBOR028.Any(c => c.Name == "L_POPUP_HOWTO_IDENTIFY_SERIAL_DETAIL") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_POPUP_HOWTO_IDENTIFY_SERIAL_DETAIL").DisplayValue : "";
        L_GET_SPECIAL_DISCOUNT = LabelFBBOR028.Any(c => c.Name == "L_GET_SPECIAL_DISCOUNT") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_GET_SPECIAL_DISCOUNT").DisplayValue : "";
        L_GET_SPECIAL_DISCOUNT_INCORRECT = LabelFBBOR028.Any(c => c.Name == "L_GET_SPECIAL_DISCOUNT_INCORRECT") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_GET_SPECIAL_DISCOUNT_INCORRECT").DisplayValue : "Special discount incorrect";
        L_POPUP_SN_IN_STOCK = LabelFBBOR028.Any(c => c.Name == "L_POPUP_SN_IN_STOCK") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_POPUP_SN_IN_STOCK").DisplayValue : "";
        L_SUMMARY_PACKAGE = LabelFBBOR028.Any(c => c.Name == "L_SUMMARY_PACKAGE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_SUMMARY_PACKAGE").DisplayValue : "";
        L_MONTHLY_SERVICE_FEE = LabelFBBOR028.Any(c => c.Name == "L_MONTHLY_SERVICE_FEE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_MONTHLY_SERVICE_FEE").DisplayValue : "";
        L_SELECT_PACKAGE_NAME = LabelFBBOR028.Any(c => c.Name == "L_SELECT_PACKAGE_NAME") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_SELECT_PACKAGE_NAME").DisplayValue : "";
        L_TOTAL_MONTHLY_FEE = LabelFBBOR028.Any(c => c.Name == "L_TOTAL_MONTHLY_FEE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_TOTAL_MONTHLY_FEE").DisplayValue : "";
        L_AVERAGE_DAILY = LabelFBBOR028.Any(c => c.Name == "L_AVERAGE_DAILY") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_AVERAGE_DAILY").DisplayValue : "";
        L_CAL_PER_DAY = LabelFBBOR028.Any(c => c.Name == "L_CAL_PER_DAY") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_CAL_PER_DAY").DisplayValue : "";
        L_TOTAL_EST_PAID = LabelFBBOR028.Any(c => c.Name == "L_TOTAL_EST_PAID") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_TOTAL_EST_PAID").DisplayValue : "";
        L_EXCLUDE_VAT = LabelFBBOR028.Any(c => c.Name == "L_EXCLUDE_VAT") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_EXCLUDE_VAT").DisplayValue : "";
        L_BAHT = LabelFBBOR028.Any(c => c.Name == "L_BAHT") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "L_BAHT").DisplayValue : "";
        B_BACK = LabelFBBOR028.Any(c => c.Name == "B_BACK") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
        B_NEXT = LabelFBBOR028.Any(c => c.Name == "B_NEXT") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "B_NEXT").DisplayValue : "";
        B_CLOSE = LabelFBBOR028.Any(c => c.Name == "B_CLOSE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "B_CLOSE").DisplayValue : "";
        CALL_TDM_SERVICE = LabelFBBOR028.Any(c => c.Name == "CALL_TDM_SERVICE") ? LabelFBBOR028.FirstOrDefault(c => c.Name == "CALL_TDM_SERVICE").DisplayValue : "";

    }

    string L_TIMEOUT_VALUE = "";
    string SHOW_PAYMENT_PAGE = "";

    if (ViewBag.FbbConstant != null)
    {
        var LabelFbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        L_TIMEOUT_VALUE = LabelFbbConstant.Any(f => f.Field == "L_TIMEOUT_VALUE") ? LabelFbbConstant.First(f => f.Field == "L_TIMEOUT_VALUE").Validation : "60";
        SHOW_PAYMENT_PAGE = LabelFbbConstant.Any(f => f.Field == "SHOW_PAYMENT_PAGE") ? LabelFbbConstant.First(f => f.Field == "SHOW_PAYMENT_PAGE").Validation : "";
    }
}

<div id="page2" class="container" style="display: none;">


    <div class="form-summary col-md-8-5 col-xs-12 addrounded">
        <p class="clearfix"></p>

        <h4 class="title- page-header tgreen">@Html.Raw(L_CHOOSE_PACKAGE)</h4>

        <p class="clearfix"></p>

        <div id="dynamicBody002"></div>

            <p class="clearfix"></p>
        <div id="divSerialCPE" style="display: none;">
            <div class="col-sm-7 col-xs-7">
                @Html.Raw(L_IDENTIFY_SERIAL)
            </div>
            <div class="col-sm-7 col-xs-7">
                <input style="" name="SerialCPE" id="SerialCPE" class="form-control" placeholder="" maxlength="30" type="text">
                <span id="cpe_serial_barcode_hdn" style="display: none;">
            </div>
            <div class="col-sm-2 col-xs-2">
                <img src="/Content/images/barcode.png" onclick="ScanCPE()" class="img-responsive left">
            </div>
            <div class="col-sm-3 col-xs-12">
                <a onclick="$('#modalBarcode').modal('toggle');" style="cursor: pointer;" class="tgreen" title="@Html.Raw(L_HOWTO_IDENTIFY_SERIAL)">@Html.Raw(L_HOWTO_IDENTIFY_SERIAL)</a>
            </div>
            <div class="col-sm-12 col-xs-12 tgreen text-center ">
                @*<h4 id="MsgDiscount" style="display:none">@Html.Raw(L_GET_SPECIAL_DISCOUNT)</h4>*@
                @*<h4 id="MsgDiscountIncorrect" style="display:none; color: red;">@Html.Raw(L_GET_SPECIAL_DISCOUNT_INCORRECT)</h4>*@
            </div>
            <p class="clearfix"></p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div id="interactive" class="viewport">
                <video id="video" autoplay="autoplay" preload="auto"></video>
            </div>
        </div>


        <p class="clearfix page-header"></p>
        <div class="col-md-12 text-center wrapButton-total">
            <button id="btnBackPageCheckCoverrage" type="button" class="btn btn-default btn-for-xs">&nbsp; @Html.Raw(B_BACK) &nbsp; </button>
            <button id="btnNextPageCheckCoverrage" type="button" class="btn btn-success btn-for-xs">&nbsp; @Html.Raw(B_NEXT) &nbsp; <i class=" fa fa-arrow-circle-o-right "></i></button>
        </div>
        <p class="clearfix"></p>
    </div>

    <div class="form-summary2 col-md-4 col-xs-12 addrounded pull-right hidden-sm hidden-xs">
        <p class="clearfix"></p>
        <h4 class="greenheader page-header twhite">@L_SUMMARY_PACKAGE</h4>
        <div id="divFormSummarySelectPackage">
            <div class="page-dot">
                <i class="fa fa-chevron-right tgreen"></i><span class="tgreen" id="oProrate">@L_MONTHLY_SERVICE_FEE</span>
                <p class="clearfix"></p>
                <div class="col-xs-8"><span id="o6">@L_SELECT_PACKAGE_NAME</span><input type="hidden" id="summLb3"><div id="summLb3show"></div></div>
                <div class="col-xs-4 text-right"><span id="summVal3"></span> @L_BAHT</div>              
                <p class="clearfix"></p>
                <div class="col-xs-8"><strong><span id="o7">@L_TOTAL_MONTHLY_FEE</span></strong></div>
                <div class="col-xs-4 text-right"><strong><span id="summTotal2"></span> @L_BAHT</strong></div>
                <div id="vatBYOD" class="col-xs-8"><strong><span>@L_EXCLUDE_VAT</span></strong></div>
                <p class="clearfix"></p>
            </div>

            <div id="divCalPerDay" class="page-dot">
                <i class="fa fa-chevron-right tgreen"></i><span class="tgreen" id="o5">@L_AVERAGE_DAILY</span>
                <p class="clearfix"></p>
                <div class="col-xs-8"><span id="o62">@L_CAL_PER_DAY</span></div>
                <div class="col-xs-4 text-right"><span id="sumProrate"></span> @L_BAHT</div>
                <p class="clearfix"></p>

                <div class="col-xs-8"><strong><span id="o42">@L_TOTAL_EST_PAID</span></strong></div>
                <div class="col-xs-4 text-right"><strong><span id="sumTotalProrate"></span> @L_BAHT</strong></div>
                <p class="clearfix"></p>

                <div class="col-xs-8"><strong><span id="vat">@L_EXCLUDE_VAT</span></strong></div>
                <p class="clearfix"></p>
            </div>


        </div>

    </div>
</div>

<div style="display: none;" class="modal fade" id="modalBarcode" tabindex="-1" role="dialog" aria-labelledby="modal001_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="add-border-rounded-green">
                    <h4 class="tgreen"><span class="hightlight">@Html.Raw(L_POPUP_HOWTO_IDENTIFY_SERIAL)</span></h4>
                    <p class="clearfix"></p>
                    <div style="padding: 0 10px 0 10px;">
                        @Html.Raw(L_POPUP_HOWTO_IDENTIFY_SERIAL_DETAIL)
                    </div>
                    <p class="clearfix"></p>
                    <div class="col-sm-2 col-xs-2">
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <img src="/Content/images/barcode2.png" class="img-responsive left">
                    </div>
                    <div class="col-sm-2 col-xs-2">
                    </div>
                    <p class="clearfix"></p>
                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        <button type="button" id="" class="btn btn-default" data-dismiss="modal" onclick="$.modal.close();">&nbsp; @Html.Raw(B_CLOSE) &nbsp; </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @functions{
            public string GetAntiForgeryToken()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + "," + formToken;
            }
        }

    $('#btnBackPageCheckCoverrage').click(function () {
        clearTimeout(timeoutTask);
        $("#iconBarcode_PB").hide();
        $('#page2').hide();
        $('#page1').show();
        $('#CheckCPEInfo').val("N");
        var divCPE = $("#DIV_CPE_INFO");
        divCPE.empty();
        $('#SerialCPE').val("");
        $("#SerialCPE").removeClass("errorinput");
        Re_Discount();
        selectPage(1);
    });

    $('#btnNextPageCheckCoverrage').click(function () {

        var a = [];
        var chk = false;
        $("#SerialCPE").val($("#SerialCPE").val().trim());

        if ($("input[name=SelectOptionSelectInstallRouter]:checked").val() == "5") {
            var a = [];
            a.push({ id: "SerialCPE" });
            chk = ValidationProcessing(a, "err001");
            CheckCPE();
            if (chk && $('#CheckCPEInfo').val() == "Y") {

                if ("@CALL_TDM_SERVICE" == "Y") {
                    //queryStockTDM
                    $.ajax({
                        type: "POST",
                        url: "/scpe/queryStockTDM",
                        data: {
                            "sN": $("#SerialCPE").val()
                        },
                        dataType: "json",
                        async: true,
                        success: function (data) {
                            var a = [];
                            if (data.showpopup && data.isError) {
                                toastrErrorMessage("@Html.Raw(L_GET_SPECIAL_DISCOUNT_INCORRECT)");
                            }
                            else if (data.showpopup) {
                                toastrErrorMessage("@Html.Raw(L_POPUP_SN_IN_STOCK)");
                            }
                            else {
                                $("#iconBarcode_PB").hide();
                                $('#page2').hide();
                                $('#page3').show();
                                $('#divRegisterInfo').show();
                                $("#divInstallDate").hide();
                                if ($("#REQUEST_SUB_FLAG").val() == "Y") {
                                    setTimeSlotConfigSelectDate();
                                    $("#divInstallDate").show();
                                }
                                selectPage(3);
                                onChangeID_CARD_NAME(document.getElementById("ID_CARD_NAME"));
                            }
                        }
                    });
                }
                else {
                    $("#iconBarcode_PB").hide();
                    $('#page2').hide();
                    $('#page3').show();
                    $('#divRegisterInfo').show();
                    $("#divInstallDate").hide();
                    if ($("#REQUEST_SUB_FLAG").val() == "Y") {
                        setTimeSlotConfigSelectDate();
                        $("#divInstallDate").show();
                    }
                    selectPage(3);
                    onChangeID_CARD_NAME(document.getElementById("ID_CARD_NAME"));
                }
            }
            else {
                $("#SerialCPE")[0].className = "form-control errorinput";
                toastrErrorMessage("@Html.Raw(L_GET_SPECIAL_DISCOUNT_INCORRECT)");
            }
        }
        else {
            $("#iconBarcode_PB").hide();
            $('#page2').hide();
            $('#page3').show();
            $('#divRegisterInfo').show();
            $("#divInstallDate").hide();
            if ($("#REQUEST_SUB_FLAG").val() == "Y") {
                setTimeSlotConfigSelectDate();
                $("#divInstallDate").show();
            }
            selectPage(3);
            onChangeID_CARD_NAME(document.getElementById("ID_CARD_NAME"));
        }
    });

    function CheckCPE() {
        var divCPE = $("#DIV_CPE_INFO");
        divCPE.empty();
        $('#CheckCPEInfo').val("N");
        $("#SerialCPE").removeClass("errorinput");
        //Re_Discount();
        if (CheckSerialCPE($("#SerialCPE").val())) {
            $('#CheckCPEInfo').val("Y");
            //Set_Discount();
        }
        else {
            //Re_Discount();
            $("#SerialCPE")[0].className = "form-control errorinput";
        }
    }

    var timeoutTask
    function getPackage() {
        try {
            $("#divSerialCPE").hide();
            $("#interactive").slideUp();
            $("#ShowScan").val("N");

            // set timeout
            var timeoutValue = 60000 * parseInt('@L_TIMEOUT_VALUE');
            timeoutTask = setTimeout("ShowTimeout();", timeoutValue);
            if ($("input[name=SelectOptionSelectInstallRouter]:checked").val() == "5") {
                $("#divSerialCPE").show();

                if (isOnMobileDevice()) {
                    $("#ShowScan").val("Y");
                }
            }

            var p_region = $("#P_Region").val();
            var p_province = $("#COVERAGE_L_PROVINCE").val();
            var p_district = $("#COVERAGE_L_AMPHUR").val();
            var p_sub_district = $("#COVERAGE_L_TUMBOL").val();
            var p_address_type = $("#P_addrtype").val();
            var p_building_name = $("#P_build_name").val();
            var p_building_no = $("#P_build_no").val();

            var p_location_code = "";
            var p_asc_code = "";
            var p_partner_type = "";
            var p_partner_subtype = "";

            if ($("#HdFunctionSubProduct").val() == "") $("#HdFunctionSubProduct").val($("#HdFunctionSubProducts").val());
            if ($("#CoveragePanelModel_SffServiceYear").val() == "") $("#CoveragePanelModel_SffServiceYear").val("0");

            var asyncSafari = false;
            if (/Safari|iPhone|iPad|iPod/i.test(navigator.userAgent))
                asyncSafari = true;

            $.ajax({
                type: "GET",
                url: "/SelectPackage/GetListPackageSellRounter",
                data: {
                    "logID": $("#HdResultId").val()
                    , "OptionInstallRouter": $("input[name=SelectOptionSelectInstallRouter]:checked").val()
                },
                dataType: "json",
                async: asyncSafari,
                success: function (data) {
                    LockScreen(false, "");

                    selectPage(2);
                    $('#page1').hide();
                    $('#page2').show();

                    var temp = "";
                    var group = "";
                    var sl = "";
                    var sl2 = "";

                    if (data.length == 0) {
                        $("#dynamicBody002").empty();
                        $("#btnNextPageCheckCoverrage").hide();
                    }
                    else {
                        $("#btnNextPageCheckCoverrage").show();
                        $("#HdFunctionSubProduct").val(data[0].PRODUCT_SUBTYPE);

                        var g = data[0].S_GROUP;
                        if (g != undefined) {
                            var css = "";
                            var arr = new Array();
                            $.each(g, function (i, e) {

                                arr.push({ index: i, group: e.PACKAGE_GROUP, type: e.PACKAGE_TYPE });

                                var chkGroupWord = e.PACKAGE_GROUP;
                                css = "line-height:12px;";

                                var packageName = e.PACKAGE_GROUP.replace("-", " ");

                                group += "<strong>" + packageName + "</strong><br>" +
                                         groupWording(chkGroupWord) +
                                         "<div class='panel panel-info'>";

                                group += "<div class='panel-heading' style='border-bottom: none;!important;'></div>" +
                                            "<div class='table-responsive'>" +
                                            "<table class='table table-hover'><thead class='text-center promotionTitle' style='background: #e9ecf0;' ><tr>" +
                                                "<th class='text-center'> &nbsp;</th>" +
                                                "<th class='text-center'>@Html.Raw(L_PACKAGE_NAME)</th>" +
                                                "<th class='text-center'>@Html.Raw(L_DOWNLOAD_SPEED)</th>" +
                                                "<th class='text-center'>@Html.Raw(L_UPLOAD_SPEED)</th>" +
                                                "<th class='text-center'>@Html.Raw(L_MONTHLY_FEE)</th>" +
                                        "</tr></thead>";

                                group += "<tbody class='text-center promotionDetail2'  id='dynamicRow" + i + "'></tbody></table>" +
                                        "</div></div>" + remarkGroupWording(chkGroupWord, $("#P_build_name").val()) + "<p class='clearfix'></p>";

                            });

                            $("#dynamicBody002").empty();
                            $("#dynamicBody002").append(group);

                            var ff1 = true;
                            $.each(arr, function (j, k) {
                                temp = "";

                                $.each(data, function (i, e) {
                                    if (e.PACKAGE_GROUP == k.group && ((e.PACKAGE_TYPE == "Main" || e.PACKAGE_TYPE == "Bundle" || e.PACKAGE_TYPE == "TRIPLE")
                                        && e.PRODUCT_SUBTYPE != "VOIP" && e.PRODUCT_SUBTYPE != "VAS" && e.PRODUCT_SUBTYPE != "PBOX"
                                        && e.PRODUCT_SUBTYPE != "Ontop Special")) {
                                        if (ff1) { sl = "checked"; ff1 = false; }
                                        temp += appendingMain(i, e, sl, data);
                                        sl = "";
                                    }
                                });

                                $("#dynamicRow" + j).append(temp);

                            });

                            var ff2 = true;
                            var tempChildSP = "";
                            $("#tempOntopSEP").empty();
                            $.each(data, function (i, e) {
                                if (e.PACKAGE_TYPE == "Ontop Special" && e.PACKAGE_TYPE != "Ontop" && e.PRODUCT_SUBTYPE != "VOIP" && e.PRODUCT_SUBTYPE != "VAS") {
                                    if (ff2) { sl2 = "checked"; ff2 = false; }
                                    tempChildSP += appendingChildSP(i, e, sl2);
                                    sl2 = ""
                                    FlagOntopSP = true;
                                }
                            });
                            $("#tempOntopSEP").append(tempChildSP);

                        }
                        // end of create package table

                        $('#dynamicBody002').find('table.table-hover').find('tbody').find('tr').attr("style", "cursor: pointer;");
                        $('#dynamicBody002').find('table.table-hover').find('tbody').find('tr').click(function () {
                            $(this).find('th').find('input[type=radio]').prop('checked', true);
                            onBinding();
                        });
                    }
                    onBinding();
                },
                complete: function (xhr, textStatus) {
                    var buildLogger = "xhr.status: " + xhr.status + ", textStatus: " + textStatus;

                    var forgeryId = "@GetAntiForgeryToken()";

                    $.ajax({
                        url: "/Process/writelog",
                        type: 'POST',
                        headers: {
                            'VerificationToken': forgeryId,
                            'isLog': true
                        },
                        data: {
                            message: buildLogger,
                            AisAirNumber: "|",
                            method: "_SelectPackage",
                            service: "GetListPackageService"
                        },
                        success: function (result) {
                        }
                    });

                    console.log("Logged");
                }
            });
        } catch (e) {
            LockScreen(false, "");
            console.log(e);
        }
    }

    function getPackageV2() {
        try {
            $("#divSerialCPE").hide();
            $("#interactive").slideUp();
            $("#ShowScan").val("N");

            // set timeout
            var timeoutValue = 60000 * parseInt('@L_TIMEOUT_VALUE');
            timeoutTask = setTimeout("ShowTimeout();", timeoutValue);
            if ($("input[name=SelectOptionSelectInstallRouter]:checked").val() == "5") {
                $("#divSerialCPE").show();

                if (isOnMobileDevice()) {
                    $("#ShowScan").val("Y");
                }
            }

            if ($("#HdFunctionSubProduct").val() == "") $("#HdFunctionSubProduct").val($("#HdFunctionSubProducts").val());
            if ($("#CoveragePanelModel_SffServiceYear").val() == "") $("#CoveragePanelModel_SffServiceYear").val("0");

            var asyncSafari = false;
            if (/Safari|iPhone|iPad|iPod/i.test(navigator.userAgent))
                asyncSafari = true;

            $.ajax({
                type: "GET",
                url: "/SelectPackage/GetListPackageSellRounterV2",
                data: {
                    "logID": $("#HdResultId").val()
                    , "OptionInstallRouter": $("input[name=SelectOptionSelectInstallRouter]:checked").val()
                },
                dataType: "json",
                async: asyncSafari,
                success: function (data) {
                    LockScreen(false, "");

                    selectPage(2);
                    $('#page1').hide();
                    $('#page2').show();

                    var temp = "";
                    var group = "";
                    var sl = "";
                    var sl2 = "";

                    if (data.length == 0) {
                        $("#dynamicBody002").empty();
                        $("#btnNextPageCheckCoverrage").hide();
                    }
                    else {
                        $("#btnNextPageCheckCoverrage").show();
                        $("#HdFunctionSubProduct").val(data[0].PRODUCT_SUBTYPE);

                        var g = data[0].S_GROUP;
                        if (g != undefined) {
                            var css = "";
                            var arr = new Array();
                            $.each(g, function (i, e) {
                                console.log("Package Data : ", e);
                                arr.push({ index: i, group: e.PACKAGE_GROUP, type: e.PACKAGE_TYPE });

                                var groupWord = "";
                                var groupWordRemark = "";

                                if ('@language' == "1") {
                                    groupWord = e.PACKAGE_GROUP_DESC_THA;
                                    groupWordRemark = e.PACKAGE_REMARK_THA;
                                }
                                else {
                                    groupWord = e.PACKAGE_GROUP_DESC_ENG;
                                    groupWordRemark = e.PACKAGE_REMARK_ENG;
                                }

                                css = "line-height:12px;";

                                var packageName = e.PACKAGE_GROUP.replace("-", " ");

                                group += "<strong>" + packageName + "</strong><br>" +
                                    groupWord +
                                    "<div class='panel panel-info'>";

                                group += "<div class='panel-heading' style='border-bottom: none;!important;'></div>" +
                                    "<div class='table-responsive'>" +
                                    "<table class='table table-hover'><thead class='text-center promotionTitle' style='background: #e9ecf0;' ><tr>" +
                                    "<th class='text-center'> &nbsp;</th>" +
                                    "<th class='text-center'>@Html.Raw(L_PACKAGE_NAME)</th>" +
                                    "<th class='text-center'>@Html.Raw(L_DOWNLOAD_SPEED)</th>" +
                                    "<th class='text-center'>@Html.Raw(L_UPLOAD_SPEED)</th>" +
                                    "<th class='text-center'>@Html.Raw(L_MONTHLY_FEE)</th>" +
                                    "</tr></thead>";

                                group += "<tbody class='text-center promotionDetail2'  id='dynamicRow" + i + "'></tbody></table>" +
                                    "</div></div>" + groupWordRemark + "<p class='clearfix'></p>";

                            });

                            $("#dynamicBody002").empty();
                            $("#dynamicBody002").append(group);

                            var ff1 = true;
                            $.each(arr, function (j, k) {              
                                temp = "";

                                $.each(data, function (i, e) {
                                    if (e.PACKAGE_GROUP == k.group) {
                                        if (ff1) { sl = "checked"; ff1 = false; }
                                        temp += appendingMainV2(i, e, sl, data);
                                        sl = "";
                                    }
                                });

                                $("#dynamicRow" + j).append(temp);

                            });

                        }
                        // end of create package table

                        $('#dynamicBody002').find('table.table-hover').find('tbody').find('tr').attr("style", "cursor: pointer;");
                        $('#dynamicBody002').find('table.table-hover').find('tbody').find('tr').click(function () {
                            $(this).find('th').find('input[type=radio]').prop('checked', true);
                            onBindingV2();
                        });
                    }
                    onBindingV2();
                },
                complete: function (xhr, textStatus) {
                    var buildLogger = "xhr.status: " + xhr.status + ", textStatus: " + textStatus;

                    var forgeryId = "@GetAntiForgeryToken()";

                    $.ajax({
                        url: "/Process/writelog",
                        type: 'POST',
                        headers: {
                            'VerificationToken': forgeryId,
                            'isLog': true
                        },
                        data: {
                            message: buildLogger,
                            AisAirNumber: "|",
                            method: "_SelectPackage",
                            service: "GetListPackageServiceV2"
                        },
                        success: function (result) {
                        }
                    });

                    console.log("Logged");
                }
            });
        } catch (e) {
            LockScreen(false, "");
            console.log(e);
        }
    }

    function onBinding(e) {
        var i = $("input[name=SelectPackage]:checked").val();
        var mc = $("#MAPPING_CODE" + i).val();
        var packageGroup = $("#PACKAGE_GROUP" + i).val();
        var owner = $("#OWNER_PRODUCT" + i).val();
        var productCode = $("#PACKAGE_CODE" + i).val();
        var technology = $("#TECHNOLOGY" + i).val();
        var productSubType = $("#PRODUCT_SUBTYPE_" + i).val();
        var packagetype = $("#PACKAGE_TYPE" + i).val();
        var PRODUCT_SUBTYPE3 = $("#PRODUCT_SUBTYPE3_" + i).val();
        $("#HdPackage_Group_Name").val(packageGroup);

        $("#SummaryPanelModel_PackageModel_PACKAGE_TYPE").val($("#PACKAGE_TYPE" + i).val())
        if (productSubType != undefined && productSubType != "undefined") {
            $("#HdFunctionSubProduct").val(productSubType);
            $('#CoveragePanelModel_PRODUCT_SUBTYPE').val(productSubType);
        }
        var objEntranceFee = [];

        var summLb3 = $("#PACKAGE_NAME" + i).val();
        var summVal3 = $("#RECURRING_CHARGE" + i).val();
        var tempSummTotal3 = parseFloat(summVal3);
        var technologyDisplay = $("#TECHNOLOGY" + i).val();

        // begin prorate calculting.
        var sumProrate = 0;
        var sumTotalProrate = 0;
        var thisDate = new Date();
        var thisYear = thisDate.getFullYear();
        var thisMonth = thisDate.getMonth();
        var daysInMonth = thisDate.getDaysInMonth();
        sumProrate = (tempSummTotal3 / daysInMonth) * 1;
        sumTotalProrate = tempSummTotal3 + sumProrate;
        var selectedTechnology = $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val();

        //แสดงผลคำนวณฝั่งขวา

        if ('@SHOW_PAYMENT_PAGE' == 'Y' && $("input[name=SelectOptionSelectInstallRouter]:checked").val() == "3") {
            $('#divCalPerDay').hide();
            $('#vatBYOD').show();
        }
        else {
            $('#divCalPerDay').show();
            $('#vatBYOD').hide();
        }

        $("#summLb3").val(summLb3);
        $("#summLb3show").html(summLb3.replace(/\|/g, '<br>'));
        $("#TechnologyDisplay").val(technologyDisplay);

        $("#summVal3").text(parseFloat(summVal3));
        $("#summTotal2").text(accounting.formatNumber(summVal3, 2));

        $("#sumProrate").text(accounting.formatNumber(sumProrate, 2));
        $("#sumTotalProrate").text(accounting.formatNumber(sumTotalProrate, 2));

        $("#DisplayPackagePanelModel_Prorate").val($("#sumProrate").text());
        $("#DisplayPackagePanelModel_TotalProrate").val($("#sumTotalProrate").text());

        if ($("#CheckCPEInfo").val() == "Y") {
            Set_Discount();
        }
        else {
            Re_Discount();
        }

    }

    function onBindingV2(e) {
        var i = $("input[name=SelectPackage]:checked").val();
        var packageGroup = $("#PACKAGE_GROUP" + i).val();
        var productSubType = $("#PRODUCT_SUBTYPE_" + i).val();
        $("#HdPackage_Group_Name").val(packageGroup);

        $("#SummaryPanelModel_PackageModel_PACKAGE_TYPE").val($("#PACKAGE_TYPE" + i).val())
        if (productSubType != undefined && productSubType != "undefined") {
            $("#HdFunctionSubProduct").val(productSubType);
            $('#CoveragePanelModel_PRODUCT_SUBTYPE').val(productSubType);
        }

        var summLb3 = "";
        var technologyDisplay = "";
        if ('@language' == '1') {
            summLb3 = $("#SFF_WORD_IN_STATEMENT_THA" + i).val();
            technologyDisplay = $("#PACKAGE_DISPLAY_THA" + i).val();
        }
        else {
            summLb3 = $("#SFF_WORD_IN_STATEMENT_ENG" + i).val();
            technologyDisplay = $("#PACKAGE_DISPLAY_ENG" + i).val();
        }

        var summVal3 = $("#PRICE_CHARGE" + i).val();
        var tempSummTotal3 = parseFloat(summVal3);

        // begin prorate calculting.
        var sumProrate = 0;
        var sumTotalProrate = 0;
        var thisDate = new Date();
        var daysInMonth = thisDate.getDaysInMonth();
        sumProrate = (tempSummTotal3 / daysInMonth) * 1;
        sumTotalProrate = tempSummTotal3 + sumProrate;

        //แสดงผลคำนวณฝั่งขวา

        if ('@SHOW_PAYMENT_PAGE' == 'Y' && $("input[name=SelectOptionSelectInstallRouter]:checked").val() == "3") {
            $('#divCalPerDay').hide();
            $('#vatBYOD').show();
        }
        else {
            $('#divCalPerDay').show();
            $('#vatBYOD').hide();
        }

        $("#summLb3").val(summLb3);
        $("#summLb3show").html(summLb3.replace(/\|/g, '<br>'));
        $("#TechnologyDisplay").val(technologyDisplay);

        $("#summVal3").text(accounting.formatNumber(summVal3, 2));
        $("#summTotal2").text(accounting.formatNumber(summVal3, 2));

        $("#sumProrate").text(accounting.formatNumber(sumProrate, 2));
        $("#sumTotalProrate").text(accounting.formatNumber(sumTotalProrate, 2));

        $("#DisplayPackagePanelModel_Prorate").val($("#sumProrate").text());
        $("#DisplayPackagePanelModel_TotalProrate").val($("#sumTotalProrate").text());

    }

    function appendingMain(i, e, sl, data) {

        if (sl == undefined) sl = "";

        var strResult = "";

        strResult = "<tr class='promotionDetail-table'>" +
               "<th>" +
               "<input type='radio' name='SelectPackage' id='SelectPackage" + i + "' " + sl + " onclick='onBinding(this)' value='" + i + "'>" +
               "<input type='hidden' id='MAPPING_CODE" + i + "' value='" + e.MAPPING_CODE + "'>" +
               "<input type='hidden' id='MAPPING_PRODUCT" + i + "' value='" + e.MAPPING_PRODUCT + "'>" +
               "<input type='hidden' id='PACKAGE_CODE" + i + "' value='" + e.PACKAGE_CODE + "'>" +
               "<input type='hidden' id='PACKAGE_NAME" + i + "' value='" + e.PACKAGE_NAME + "'>" +
               "<input type='hidden' id='PACKAGE_GROUP" + i + "' value='" + e.PACKAGE_GROUP + "'>" +
               "<input type='hidden' id='RECURRING_CHARGE" + i + "' value='" + parseFloat(e.RECURRING_CHARGE) + "'>" +
               "<input type='hidden' id='PRE_RECURRING_CHARGE" + i + "' value='" + e.PRE_RECURRING_CHARGE + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_BILL_THA" + i + "' value='" + e.SFF_PROMOTION_BILL_THA + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_BILL_ENG" + i + "' value='" + e.SFF_PROMOTION_BILL_ENG + "'>" +
               "<input type='hidden' id='TECHNOLOGY" + i + "' value='" + e.TECHNOLOGY + "'>" +
               "<input type='hidden' id='DOWNLOAD_SPEED" + i + "' value='" + e.DOWNLOAD_SPEED + "'>" +
               "<input type='hidden' id='UPLOAD_SPEED" + i + "' value='" + e.UPLOAD_SPEED + "'>" +
               "<input type='hidden' id='INITIATION_CHARGE" + i + "' value='" + e.INITIATION_CHARGE + "'>" +
               "<input type='hidden' id='PRE_INITIATION_CHARGE" + i + "' value='" + e.PRE_INITIATION_CHARGE + "'>" +
               "<input type='hidden' id='PACKAGE_TYPE" + i + "' value='" + e.PACKAGE_TYPE + "'>" +
               "<input type='hidden' id='PRODUCT_SUBTYPE_" + i + "' value='" + e.PRODUCT_SUBTYPE + "'>" +
               "<input type='hidden' id='PRODUCT_SUBTYPE3_" + i + "' value='" + e.PRODUCT_SUBTYPE3 + "'>" +
               "<input type='hidden' id='OWNER_PRODUCT" + i + "' value='" + e.OWNER_PRODUCT + "'>" +
               "<input type='hidden' id='ACCESS_MODE" + i + "' value='" + e.ACCESS_MODE + "'>" +
               "<input type='hidden' id='SERVICE_CODE" + i + "' value='" + e.SERVICE_CODE + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_CODE" + i + "' value='" + e.SFF_PROMOTION_CODE + "'>" +
               "<input type='hidden' id='AUTO_MAPPING" + i + "' value='" + e.AUTO_MAPPING + "'>" +
               "<input type='hidden' id='DISPLAY_FLAG" + i + "' value='" + e.DISPLAY_FLAG + "'>" +
               "<input type='hidden' id='RECURRING_CHARGE_VAT" + i + "' value='" + e.RECURRING_CHARGE_VAT + "'>" +
               "</th>";

        var proName = e.TECHNOLOGY.replace(/\|/g, '<br>');

        var resultsAutoMapping = data[0].PACKAGE_AUTO;
        if (resultsAutoMapping != undefined) {
            resultsAutoMapping = resultsAutoMapping.filter(function (elem) {
                return elem.MAPPING_CODE.indexOf(e.MAPPING_CODE) !== -1 && elem.AUTO_MAPPING.indexOf('A') !== -1 && elem.DISPLAY_FLAG.indexOf('Y') !== -1;
            });
            resultsAutoMapping = sortResults(resultsAutoMapping, "DISPLAY_SEQ", true);
            $.each(resultsAutoMapping, function (g, t) {
                if (e.TECHNOLOGY != t.TECHNOLOGY) {
                    var tempTechnology = t.TECHNOLOGY.replace(/\|/g, '<br>');
                    proName = proName + "<br>" + tempTechnology;
                }
            });
        }

        strResult += "<td class='text-left'>" + proName + "</td>" +
            "<td>" + e.DOWNLOAD_SPEED + "</td>" +
            "<td>" + e.UPLOAD_SPEED + "</td>" +
            "<td>" + accounting.formatNumber(e.RECURRING_CHARGE, 2) + "</td>";
        return strResult + "</tr>";
    }

    function appendingChildSP(i, e, sl) {

        if (sl == undefined) sl = "";
        var mc = e.MAPPING_CODE;

        var key = mc + "SP";

        return "<tr>" +
               "<td>" +
               "<input type='hidden' name='SelectOntopSP" + mc + e.OWNER_PRODUCT + "' value='" + i + "'>" +
               "<input type='hidden' id='MAPPING_CODE" + key + "' value='" + e.MAPPING_CODE + "'>" +
               "<input type='hidden' id='MAPPING_PRODUCT" + key + "' value='" + e.MAPPING_PRODUCT + "'>" +
               "<input type='hidden' id='PACKAGE_CODE" + key + "' value='" + e.PACKAGE_CODE + "'>" +
               "<input type='hidden' id='PACKAGE_NAME" + key + "' value='" + e.PACKAGE_NAME + "'>" +
               "<input type='hidden' id='PACKAGE_GROUP" + key + "' value='" + e.PACKAGE_GROUP + "'>" +
               "<input type='hidden' id='RECURRING_CHARGE" + key + "' value='" + e.RECURRING_CHARGE + "'>" +
               "<input type='hidden' id='PRE_RECURRING_CHARGE" + key + "' value='" + e.PRE_RECURRING_CHARGE + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_BILL_THA" + key + "' value='" + e.SFF_PROMOTION_BILL_THA + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_BILL_ENG" + key + "' value='" + e.SFF_PROMOTION_BILL_ENG + "'>" +
               "<input type='hidden' id='TECHNOLOGY" + key + "' value='" + e.TECHNOLOGY + "'>" +
               "<input type='hidden' id='DOWNLOAD_SPEED" + key + "' value='" + e.DOWNLOAD_SPEED + "'>" +
               "<input type='hidden' id='UPLOAD_SPEED" + key + "' value='" + e.UPLOAD_SPEED + "'>" +
               "<input type='hidden' id='INITIATION_CHARGE" + key + "' value='" + e.INITIATION_CHARGE + "'>" +
               "<input type='hidden' id='PRE_INITIATION_CHARGE" + key + "' value='" + e.PRE_INITIATION_CHARGE + "'>" +
               "<input type='hidden' id='PACKAGE_TYPE" + key + "' value='" + e.PACKAGE_TYPE + "'>" +
               "<input type='hidden' id='PRODUCT_SUBTYPE_" + key + "' value='" + e.PRODUCT_SUBTYPE + "'>" +
               "<input type='hidden' id='PRODUCT_SUBTYPE3_" + key + "' value='" + e.PRODUCT_SUBTYPE3 + "'>" +
               "<input type='hidden' id='OWNER_PRODUCT" + key + "' value='" + e.OWNER_PRODUCT + "'>" +
               "<input type='hidden' id='ACCESS_MODE" + key + "' value='" + e.ACCESS_MODE + "'>" +
               "<input type='hidden' id='SERVICE_CODE" + key + "' value='" + e.SERVICE_CODE + "'>" +
               "<input type='hidden' id='DISCOUNT_TYPE" + key + "' value='" + e.DISCOUNT_TYPE + "'>" +
               "<input type='hidden' id='DISCOUNT_VALUE" + key + "' value='" + e.DISCOUNT_VALUE + "'>" +
               "<input type='hidden' id='DISCOUNT_DAY" + key + "' value='" + e.DISCOUNT_DAY + "'>" +
               "<input type='hidden' id='SFF_PROMOTION_CODE" + key + "' value='" + e.SFF_PROMOTION_CODE + "'>" +
               "</td>" +
               "</tr>";


    }

    function appendingMainV2(i, e, sl, data) {

        if (sl == undefined) sl = "";

        var strResult = "";

        strResult = "<tr class='promotionDetail-table'>" +
            "<th>" +
            "<input type='radio' name='SelectPackage' id='SelectPackage" + i + "' " + sl + " onclick='onBindingV2(this)' value='" + i + "'>" +
            "<input type='hidden' id='SFF_PROMOTION_CODE" + i + "' value='" + e.SFF_PROMOTION_CODE + "'>" +
            "<input type='hidden' id='MAPPING_CODE" + i + "' value='" + e.MAPPING_CODE + "'>" +
            "<input type='hidden' id='PACKAGE_SERVICE_CODE" + i + "' value='" + e.PACKAGE_SERVICE_CODE + "'>" +
            "<input type='hidden' id='SFF_PRODUCT_NAME" + i + "' value='" + e.PACKAGE_NAME + "'>" +
            "<input type='hidden' id='PACKAGE_GROUP" + i + "' value='" + e.PACKAGE_GROUP + "'>" +
            "<input type='hidden' id='PACKAGE_GROUP_DESC_THA" + i + "' value='" + e.PACKAGE_GROUP_DESC_THA + "'>" +
            "<input type='hidden' id='PACKAGE_GROUP_DESC_ENG" + i + "' value='" + e.PACKAGE_GROUP_DESC_ENG + "'>" +
            "<input type='hidden' id='PACKAGE_REMARK_THA" + i + "' value='" + e.PACKAGE_REMARK_THA + "'>" +
            "<input type='hidden' id='PACKAGE_REMARK_ENG" + i + "' value='" + e.PACKAGE_REMARK_ENG + "'>" +
            "<input type='hidden' id='PRICE_CHARGE" + i + "' value='" + parseFloat(e.PRICE_CHARGE) + "'>" +
            "<input type='hidden' id='PRICE_CHARGE_VAT" + i + "' value='" + parseFloat(e.PRICE_CHARGE_VAT) + "'>" +
            "<input type='hidden' id='PRE_PRICE_CHARGE" + i + "' value='" + parseFloat(e.PRE_PRICE_CHARGE) + "'>" +
            "<input type='hidden' id='SFF_WORD_IN_STATEMENT_THA" + i + "' value='" + e.SFF_WORD_IN_STATEMENT_THA + "'>" +
            "<input type='hidden' id='SFF_WORD_IN_STATEMENT_ENG" + i + "' value='" + e.SFF_WORD_IN_STATEMENT_ENG + "'>" +
            "<input type='hidden' id='PACKAGE_DISPLAY_THA" + i + "' value='" + e.PACKAGE_DISPLAY_THA + "'>" +
            "<input type='hidden' id='PACKAGE_DISPLAY_ENG" + i + "' value='" + e.PACKAGE_DISPLAY_ENG + "'>" +
            "<input type='hidden' id='DOWNLOAD_SPEED" + i + "' value='" + e.DOWNLOAD_SPEED + "'>" +
            "<input type='hidden' id='UPLOAD_SPEED" + i + "' value='" + e.UPLOAD_SPEED + "'>" +
            "<input type='hidden' id='PACKAGE_TYPE" + i + "' value='" + e.PACKAGE_TYPE + "'>" +
            "<input type='hidden' id='PACKAGE_TYPE_DESC" + i + "' value='" + e.PACKAGE_TYPE_DESC + "'>" +
            "<input type='hidden' id='PRODUCT_SUBTYPE_" + i + "' value='" + e.PRODUCT_SUBTYPE + "'>" +
            "<input type='hidden' id='OWNER_PRODUCT" + i + "' value='" + e.OWNER_PRODUCT + "'>" +
            "<input type='hidden' id='ACCESS_MODE" + i + "' value='" + e.ACCESS_MODE + "'>" +
            "<input type='hidden' id='SERVICE_CODE" + i + "' value='" + e.SERVICE_CODE + "'>" +
            "<input type='hidden' id='PRODUCT_SUBTYPE3_" + i + "' value='" + e.PRODUCT_SUBTYPE3 + "'>" +
            "<input type='hidden' id='DISCOUNT_TYPE" + i + "' value='" + e.DISCOUNT_TYPE + "'>" +
            "<input type='hidden' id='DISCOUNT_VALUE" + i + "' value='" + e.DISCOUNT_VALUE + "'>" +
            "<input type='hidden' id='DISCOUNT_DAY" + i + "' value='" + e.DISCOUNT_DAY + "'>" +
            "<input type='hidden' id='AUTO_MAPPING_PROMOTION_CODE" + i + "' value='" + e.AUTO_MAPPING_PROMOTION_CODE + "'>" +
            "</th>";

        var proName = "";
        if ('@language' == "1") {
            proName = e.PACKAGE_DISPLAY_THA.replace(/\|/g, '<br>');
        }
        else {
            proName = e.PACKAGE_DISPLAY_ENG.replace(/\|/g, '<br>');
        }

        strResult += "<td class='text-left'>" + proName + "</td>" +
            "<td>" + e.DOWNLOAD_SPEED + "</td>" +
            "<td>" + e.UPLOAD_SPEED + "</td>" +
            "<td>" + accounting.formatNumber(e.PRICE_CHARGE, 2) + "</td>";
        return strResult + "</tr>";
    }


    function Set_Discount() {

        //debugger;
        var i = $("input[name=SelectPackage]:checked").val();
        var mc = $("#MAPPING_CODE" + i).val();
        var key = mc + "SP";
        var discount_type = $('#DISCOUNT_TYPE' + key).val();
        var discount_value = $('#DISCOUNT_VALUE' + key).val();
        var sff_promotion_code = $('#SFF_PROMOTION_CODE' + key).val();

        var Charge = $('#RECURRING_CHARGE' + i).val();
        var summTotal1 = Charge;

        var result = parseFloat(Charge);
        if(discount_type != undefined)
        {
            result = Calculate_Discount(discount_type, discount_value, i);
        }

        var daysInMonth = new Date().getDaysInMonth();
        var summValDiscount = result;
        var sumProrate = (result / daysInMonth) * 1;
        var sumTotalProrate = result + sumProrate;

        $('#sumProrate').text(accounting.formatNumber(sumProrate, 2));
        $('#sumTotalProrate').text(accounting.formatNumber(sumTotalProrate, 2));

        $('#summVal3').text(accounting.formatNumber(summValDiscount, 2));
        $("#summTotal2").text(accounting.formatNumber(summValDiscount, 2));
    }

    function Re_Discount() {
        var i = $("input[name=SelectPackage]:checked").val();

        var Charge = $('#RECURRING_CHARGE' + i).val();
        var summTotal1 = $('#summTotal1').text() != "" && $('#summTotal1').text() != undefined ? parseFloat($('#summTotal1').text().replace(',', '')) : 0;

        var daysInMonth = new Date().getDaysInMonth();
        var sumProrate = (parseFloat(Charge) / daysInMonth) * 1;
        var sumTotalProrate = parseFloat(Charge) + sumProrate + summTotal1;

        $('#sumProrate').text(accounting.formatNumber(sumProrate, 2));
        $('#sumTotalProrate').text(accounting.formatNumber(sumTotalProrate, 2));

        $('#summVal3').text(accounting.formatNumber(Charge, 2));
        $("#summTotal2").text(accounting.formatNumber(Charge, 2));
    }

    function Calculate_Discount(type, value, keyMain) {
        if (type == "PCT") {
            var dis = (parseFloat($('#RECURRING_CHARGE' + keyMain).val()) * parseFloat(value)) / 100;
            var total = parseFloat($('#RECURRING_CHARGE' + keyMain).val()) - dis;
            return total;
        }
        else if (type == "MNY") {
            var total = parseFloat($('#RECURRING_CHARGE' + keyMain).val()) - value;
            return total;
        }
        else if (type == "PAID") {
            var total = parseFloat(value);
            return total;
        }
    }

    function groupWording(g) {
        var word = "";

        $.ajax({
            type: "GET",
            url: "/SelectPackage/GetDescription",
            data:
            {
                Packgrop: g
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.length == 0 || data[0].DisplayValue == undefined) {
                    return "";
                }
                else {
                    word = data[0].DisplayValue;

                }
            }
        });

        if (word == "")
            return "";
        else
            return word;
    }

    function remarkGroupWording(g, b) {
        var word = "";

        $.ajax({
            type: "GET",
            url: "/SelectPackage/GetRemark",
            data:
            {
                Packgroup: g,
                BuildingName: b
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.length == 0 || data[0].DisplayValue == undefined) {
                    return "";
                }
                else {
                    word = data[0].DisplayValue;

                }
            }
        });
        if (word == "")
            return "";
        else
            return word;
    }

    function CheckSerialCPE(SerialCPE) {
        var check = false;
        var div = $("#DIV_CPE_INFO");
        div.empty();

        if (SerialCPE != "") {
            var CPESerialNo = "";
            var CPEErrorDes = "";
            var CPEStatusDev = "";
            var PBSerialNo = "";
            var PBErrorDes = "";
            var PBStatusDev = "";


            $.ajax({
                url: '/CustomerRegister/GetCheckCPE',
                data: {
                    CPECode: SerialCPE.trim(),
                    playbox: "",
                    idcardNo: "",
                    AisAirNumber: "|"
                },
                dataType: "json",
                async: false,
                type: 'POST',
                success: function (data) {

                    if (data != null || data != undefined) {
                        $.each(data, function (i, e) {
                            if (e.CPE_TYPE_ERR == "") {
                                if (e.Check_Result_Code == "0" && e.STATUS_DESC == "Available" && e.SN_PATTERN == "S") {
                                    if (e.SN == SerialCPE.trim()) {
                                        if (e.SN != "" && e.SN != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].cpe_type" id ="CustomerRegisterPanelModel_CPE_Info_0__cpe_type" value="' + e.cpe_type + '" />');
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].SN" id ="CustomerRegisterPanelModel_CPE_Info_0__SN" value="' + e.SN + '" />');
                                            check = true;
                                        }
                                        if (e.CPE_MAC_ADDR != "" && e.CPE_MAC_ADDR != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_MAC_ADDR" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_MAC_ADDR" value="' + e.CPE_MAC_ADDR + '" />');
                                        }
                                        
                                        //R20.4
                                        if (e.STATUS_DESC != "" && e.STATUS_DESC != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].STATUS_DESC" id ="CustomerRegisterPanelModel_CPE_Info_0__STATUS_DESC" value="' + e.STATUS_DESC + '" />');
                                        }
                                        if (e.CPE_MODEL_NAME != "" && e.CPE_MODEL_NAME != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_MODEL_NAME" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_MODEL_NAME" value="' + e.CPE_MODEL_NAME + '" />');
                                        }
                                        if (e.CPE_COMPANY_CODE != "" && e.CPE_COMPANY_CODE != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_COMPANY_CODE" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_COMPANY_CODE" value="' + e.CPE_COMPANY_CODE + '" />');
                                        }
                                        if (e.CPE_PLANT != "" && e.CPE_PLANT != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_PLANT" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_PLANT" value="' + e.CPE_PLANT + '" />');
                                        }
                                        if (e.CPE_STORAGE_LOCATION != "" && e.CPE_STORAGE_LOCATION != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_STORAGE_LOCATION" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_STORAGE_LOCATION" value="' + e.CPE_STORAGE_LOCATION + '" />');
                                        }
                                        if (e.CPE_MATERIAL_CODE != "" && e.CPE_MATERIAL_CODE != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].CPE_MATERIAL_CODE" id ="CustomerRegisterPanelModel_CPE_Info_0__CPE_MATERIAL_CODE" value="' + e.CPE_MATERIAL_CODE + '" />');
                                        }
                                        if (e.REGISTER_DATE != "" && e.REGISTER_DATE != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].REGISTER_DATE" id ="CustomerRegisterPanelModel_CPE_Info_0__REGISTER_DATE" value="' + e.REGISTER_DATE + '" />');
                                        }
                                        if (e.FIBRENET_ID != "" && e.FIBRENET_ID != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].FIBRENET_ID" id ="CustomerRegisterPanelModel_CPE_Info_0__FIBRENET_ID" value="' + e.FIBRENET_ID + '" />');
                                        }
                                        if (e.SN_PATTERN != "" && e.SN_PATTERN != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].SN_PATTERN" id ="CustomerRegisterPanelModel_CPE_Info_0__SN_PATTERN" value="' + e.SN_PATTERN + '" />');
                                        }
                                        if (e.SHIP_TO != "" && e.SHIP_TO != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].SHIP_TO" id ="CustomerRegisterPanelModel_CPE_Info_0__SHIP_TO" value="' + e.SHIP_TO + '" />');
                                        }
                                        if (e.WARRANTY_START_DATE != "" && e.WARRANTY_START_DATE != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].WARRANTY_START_DATE" id ="CustomerRegisterPanelModel_CPE_Info_0__WARRANTY_START_DATE" value="' + e.WARRANTY_START_DATE + '" />');
                                        }
                                        if (e.WARRANTY_END_DATE != "" && e.WARRANTY_END_DATE != null) {
                                            div.append('<input type="hidden" name="CustomerRegisterPanelModel.CPE_Info[0].WARRANTY_END_DATE" id ="CustomerRegisterPanelModel_CPE_Info_0__WARRANTY_END_DATE" value="' + e.WARRANTY_END_DATE + '" />');
                                        }
                                    }
                                }
                            }

                        });
                    }

                }
            });
        }

        return check;
    }

    var openFlag = false;

    function ScanCPE() {
        if ($("#ShowScan").val() == "Y") {
            $("#interactive").slideUp();
            if (isAisNative()) {
                aisNative.scanBarcode();
            } else {
                if (!openFlag) {

                    var backCamID;
                    if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
                        console.log("enumerateDevices() not supported.");
                        ScanBarCode();
                    }
                    else {
                        navigator.mediaDevices.enumerateDevices()
                        .then(function (devices) {
                            devices.forEach(function (device) {
                                console.log("device: ", JSON.stringify(device));
                                if (device.kind == "videoinput" && device.label.match(/back/) != null) {
                                    backCamID = device.deviceId;
                                }
                            });
                            ScanBarCode(backCamID);
                        })
                        .catch(function (err) {
                            console.log(err.name + ": " + err.message);
                        });

                        if (typeof (backCamID) == "undefined") {
                            console.log("back camera not found.");
                        }
                    }
                }
                else
                    Quagga.stop();

                openFlag = !openFlag;
            }
        }
    }

    function ScanBarCode(backCamID) {
        var CodeScan = JSON.parse(Code_ScanBarcode());
        CodeScan.inputStream.constraints.deviceId = backCamID;
        console.log("CodeScan: ", CodeScan)
        $("#interactive").slideDown();

        var BarCodeApp = {
            init: function () {
                Quagga.init(this.state, function (err) {
                    if (err) {
                        return;
                    }
                    Quagga.start();
                });
            },

            state: CodeScan,

            lastResult: null
        };

        BarCodeApp.init();

        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                }
            }
        });


        Quagga.onDetected(function (result) {
            var code = result.codeResult.code;

            if (BarCodeApp.lastResult !== code) {
                BarCodeApp.lastResult = code;
                var $node = null, canvas = Quagga.canvas.dom.image;
                $("#SerialCPE").val(code);
                Quagga.stop();
                $("#interactive").slideUp();
            }
        });
    }

    function Code_ScanBarcode() {
        var CodeScan = "";
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/Get_ScanBarcode",
            dataType: "json",
            async: false,
            success: function (data) {

                if (data != null && data != undefined) {
                    CodeScan = data;
                }
            }
        });

        return CodeScan;
    }

    function onBarcodeCallback(result) {
        try {
            $("#cpe_serial_barcode_hdn").html(result);
            $("#SerialCPE").val($("#cpe_serial_barcode_hdn").find("barcode").html());
        } catch (e) {
            $("#SerialCPE").val(e.message);
        }
    }

    function isAisNative() {
        if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null) {
            return false;

        } else {
            return true;
        }

        return false;
    }

    function isOnMobileDevice() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            return true;
        } else {
            return false;
        }
    }

    function sortJson(element, prop, propType, asc) {
        switch (propType) {
            case "int":
                element = element.sort(function (a, b) {
                    if (asc) {
                        return (parseInt(a[prop]) > parseInt(b[prop])) ? 1 : ((parseInt(a[prop]) < parseInt(b[prop])) ? -1 : 0);
                    } else {
                        return (parseInt(b[prop]) > parseInt(a[prop])) ? 1 : ((parseInt(b[prop]) < parseInt(a[prop])) ? -1 : 0);
                    }
                });
                break;
            default:
                element = element.sort(function (a, b) {
                    if (asc) {
                        return (a[prop].toLowerCase() > b[prop].toLowerCase()) ? 1 : ((a[prop].toLowerCase() < b[prop].toLowerCase()) ? -1 : 0);
                    } else {
                        return (b[prop].toLowerCase() > a[prop].toLowerCase()) ? 1 : ((b[prop].toLowerCase() < a[prop].toLowerCase()) ? -1 : 0);
                    }
                });
        }
    }
</script>