@using System.Collections.Generic;
@using WBBWeb.Extension
@using WBBEntity.PanelModels;
@model WBBEntity.PanelModels.ReplacePlayboxModel

@{
    Layout = "~/Views/Shared/_LayoutReferences.cshtml";

    string L_CONFIRM_TAB_01 = "";
    string L_CONFIRM_TAB_02 = "";
    string L_CONFIRM_HEADER = "";
    string L_CONFIRM_SUB_HEADER = "";
    string L_CONFIRM_REMARK = "";
    string L_CHECK_BOX = "";
    string B_CONFIRM_CANCEL = "";
    string B_CONFIRM_CONFIRM = "";
    string L_POP_UP_SUCCESS_01 = "";
    string L_POP_UP_SUCCESS_02 = "";
    string L_POP_UP_SUCCESS_03 = "";
    string L_POP_UP_ERROR_01 = "";
    string L_POP_UP_ERROR_02 = "";
    string CONFIG_TYPE_PRODUCT = "";

    string L_CONFIRM_REMARK_1 = "";
    string L_CONFIRM_REMARK_2 = "";
    string L_CONFIRM_REMARK_3 = "";
    string L_CONFIRM_REMARK_4 = "";
    string L_CONFIRM_REMARK_5 = "";
    string L_CONFIRM_REMARK_6 = "";
    string L_CONFIRM_REMARK_7 = "";
    string L_CONFIRM_REMARK_8 = "";
    string L_CONFIRM_REMARK_9 = "";



    if (ViewBag.FBBREPLACE != null)
    {
        var FBBREPLACE = (List<LovScreenValueModel>)ViewBag.FBBREPLACE;

        L_CONFIRM_TAB_01 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_TAB_01") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_TAB_01").DisplayValue : "";
        L_CONFIRM_TAB_02 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_TAB_02") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_TAB_02").DisplayValue : "";
        L_CONFIRM_HEADER = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_HEADER") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_HEADER").DisplayValue : "";
        L_CONFIRM_SUB_HEADER = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_SUB_HEADER") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_SUB_HEADER").DisplayValue : "";
        L_CONFIRM_REMARK = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK").DisplayValue : "";
        L_CHECK_BOX = FBBREPLACE.Any(c => c.Name == "L_CHECK_BOX") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CHECK_BOX").DisplayValue : "";
        B_CONFIRM_CANCEL = FBBREPLACE.Any(c => c.Name == "B_CONFIRM_CANCEL") ? FBBREPLACE.FirstOrDefault(c => c.Name == "B_CONFIRM_CANCEL").DisplayValue : "";
        B_CONFIRM_CONFIRM = FBBREPLACE.Any(c => c.Name == "B_CONFIRM_CONFIRM") ? FBBREPLACE.FirstOrDefault(c => c.Name == "B_CONFIRM_CONFIRM").DisplayValue : "";
        L_POP_UP_SUCCESS_01 = FBBREPLACE.Any(c => c.Name == "L_POP_UP_SUCCESS_01") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_POP_UP_SUCCESS_01").DisplayValue : "";
        L_POP_UP_SUCCESS_02 = FBBREPLACE.Any(c => c.Name == "L_POP_UP_SUCCESS_02") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_POP_UP_SUCCESS_02").DisplayValue : "";
        L_POP_UP_SUCCESS_03 = FBBREPLACE.Any(c => c.Name == "L_POP_UP_SUCCESS_03") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_POP_UP_SUCCESS_03").DisplayValue : "";
        L_POP_UP_ERROR_01 = FBBREPLACE.Any(c => c.Name == "L_POP_UP_ERROR_01") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_POP_UP_ERROR_01").DisplayValue : "";
        L_POP_UP_ERROR_02 = FBBREPLACE.Any(c => c.Name == "L_POP_UP_ERROR_02") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_POP_UP_ERROR_02").DisplayValue : "";
        CONFIG_TYPE_PRODUCT = FBBREPLACE.Any(c => c.Name == "CONFIG_TYPE_PRODUCT") ? FBBREPLACE.FirstOrDefault(c => c.Name == "CONFIG_TYPE_PRODUCT").DisplayValue : "";

        L_CONFIRM_REMARK_1 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_1") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_1").DisplayValue : "";
        L_CONFIRM_REMARK_2 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_2") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_2").DisplayValue : "";
        L_CONFIRM_REMARK_3 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_3") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_3").DisplayValue : "";
        L_CONFIRM_REMARK_4 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_4") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_4").DisplayValue : "";
        L_CONFIRM_REMARK_5 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_5") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_5").DisplayValue : "";
        L_CONFIRM_REMARK_6 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_6") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_6").DisplayValue : "";
        L_CONFIRM_REMARK_7 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_7") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_7").DisplayValue : "";
        L_CONFIRM_REMARK_8 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_8") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_8").DisplayValue : "";
        L_CONFIRM_REMARK_9 = FBBREPLACE.Any(c => c.Name == "L_CONFIRM_REMARK_9") ? FBBREPLACE.FirstOrDefault(c => c.Name == "L_CONFIRM_REMARK_9").DisplayValue : "";
        
    }
}
<style>
    /*a, a:link, a:active, a:visited, a:hover, a:focus {
        color: #fff;
    }*/

    .nav-nopadding {
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 20%;
        background-color: #8DC63F;
        text-align: center;
        white-space: nowrap;
    }

    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .vertical-align-center {
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }

    .modal-content {
        width: inherit;
        height: inherit;
        margin: 0 auto;
        pointer-events: all;
    }

    .fa-6 {
        font-size: 10em;
    }

    .preview-img {
        width: 200px;
        height: 160px;
        cursor: pointer;
        margin: 7px;
    }
    .preview-pdf {
        width:200px; 
        height:160px; 
        cursor:pointer;
        margin: 7px;
        border:1px solid black;
    }

    #ais_topbar {
        display: block;
    }

    #ais_topbar .topbar_ribbon {
	    padding-left:10px;
        float: left;
        height: 60px;
    }

    #ribbonking{ width:100%; height:60px;  background: url("/Images/bg1366.jpg") no-repeat center;  background-color:#000;}
    #ribbonking_wrapper{height:60px; margin: 0 auto; max-width: 1140px;}


</style>

<div id="ais_topbar">
    @*<div id="ribbonking">
	    <div id="ribbonking_wrapper">
    	    <div class="topbar_ribbon"><img src="~/Images/iconribbon.png" alt="ais logo"></div>
        </div>
    </div>*@
</div>

<div id="container">
    <div id="box1N_holder">
        <div class="row_ais">
            <div class="column large-11 large-centered">
                <div class="hidden-xs" style="display: none; margin-top: 50px;" id="status_plugandnplay">
                    <img src="~/Images/Header_appform.jpg" class="img-responsive">
                </div>
                <div class="container" id="mainHeader">
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>

                    <div class="col-md-2 hidden-xs hidden-sm" id="logo_div" style="margin-top: 12px;">
                        <img src="~/Content/images/postpaid/fibre_logo.png" class="img-responsive left">
                    </div>
                    <div class="col-md-10 col-xs-12 hidden-xs" id="replace_playbox_th_div">

                        <div class="col-md-2 col-xs-12 hidden-xs nav-nopadding" id="replace_playbox_th_1_imgo">
                            <p>
                                <img src="~/Content/images/postpaid/step6_on.png" class="img-responsive" style="display: inline-block">
                            </p>
                            <p><span style="color: white">@L_CONFIRM_TAB_01</span></p>
                        </div>
                        <div class="col-md-2 col-xs-12 hidden-xs nav-nopadding" id="replace_playbox_th_2_imgo">
                            <p>
                                <img src="~/Content/images/postpaid/step3_on.png" class="img-responsive" style="display: inline-block">
                            </p>
                            <p><span style="color: white">@L_CONFIRM_TAB_02</span></p>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="LanguagePage" />
            </div>
        </div>
        <div class="panel_ais">
            <div class="row_ais">
                <div class="column large-11 large-centered">
                    <div class="content-menu">
                        <div class="row_ais">
                            <div class="column large-12 medium-12 small-12">
                                <div class="detail-for-menu">
                                    <div class="innercontent">
                                        <div class="row_ais">
                                            <div class="column large-10">
                                                <div id="renderBody" class="card"></div>
                                                @using (Html.BeginForm("SaveReplacePlaybox", "ReplacePlaybox", FormMethod.Post, new { id = "iForm", enctype = "multipart/form-data", autocomplete = "off" }))
                                                {
                                                    @Html.HiddenFor(t => t.AisAirNumber);
                                                    @Html.HiddenFor(t => t.ContractMobileNO);
                                                    <div id="SelectOntopPage" class="container">
                                                        <div class="col-md-12 col-xs-12 addrounded">
                                                            <p class="clearfix"></p>
                                                            <h4 class="page-header tgreen">@Html.Raw(L_CONFIRM_HEADER)</h4>
                                                            <p class="clearfix"></p>
                                                            <div id="divReplacePlaybox" class="row-border">
                                                                <div class="col-sm-12 col-xs-12">
                                                                    <p class="clearfix visible-xs"></p>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                       <b>@Html.Raw(L_CONFIRM_REMARK_5)</b>
                                                                        <p class="clearfix"></p>
                                                                        @Html.Raw(L_CONFIRM_REMARK_9)
                                                                       <br />
                                                                       <span style="font-size : 12px;">@Html.Raw(L_CONFIRM_REMARK_6)</span>
                                                                       <br />
                                                                       <span style="font-size : 12px;">@Html.Raw(L_CONFIRM_REMARK_7)</span>
                                                                    </div>
                                                                    <div class="col-sm-3 col-xs-12 text-center">
                                                                        <img class="img-responsive center-block" style="height: auto;" src="~/Images/WechatIMG159.png">
                                                                    </div>
                                                                    <div class="col-sm-3 col-xs-12 text-center">
                                                                        <img class="img-responsive center-block" style="height: auto;" src="~/Images/WechatIMG160.png">
                                                                    </div>
                                                                </div>

                                                                <p class="clearfix"></p>
                                                                <p class="clearfix page-header"></p>
                                                                <div class="col-md-12 text-center">
                                                                    <a id="btnConfirm" href="javascript:void(0);" role="button" class="btn btn-success btn-for-xs"
                                                                        onclick="onBtnConfirm_Click()">&nbsp; @B_CONFIRM_CONFIRM &nbsp; <i class="fa fa-arrow-circle-o-right "></i>
                                                                    </a>
                                                                     &nbsp;&nbsp;
                                                                    <a id="btnBack" href="javascript:void(0);" role="button" class="btn btn-default btn-for-xs"
                                                                        onclick="onBtnBack_Click()">&nbsp; @B_CONFIRM_CANCEL &nbsp;
                                                                    </a>                                                                    
                                                                </div>
                                                                <p class="clearfix"></p>
                                                            </div>
                                                        </div>
                                                    </div>   
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  Put Content Here จบเนื้อหา  -->
    <div style="clear: both;"></div>
    <div id="aisfooter">
        @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
        {
            @Html.Partial("_FooterTH")
        }
        else
        {
            @Html.Partial("_FooterEN")
        }

    </div>
    <div class="truehits-bg">&nbsp;</div>
</div>

<div id="ProgressIcon" class="modal fade">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
        </div>
    </div>
</div>

<script type="text/javascript">
    @Html.JsMinify(
    @<text>
    var language = "";
    var oldIE;

    $(function () {

        ais_interface_process('mini-menu', 'postpaid', 'th', '', false);

        if ($("#LanguagePage").val() == 1)
            language = "th";
        else
            language = "en";

        $('.responsive').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 1,

            responsive: [
              {
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: 5,
                      slidesToScroll: 1
                  }
              },
              {
                  breakpoint: 720,
                  settings: {
                      slidesToShow: 3,
                      slidesToScroll: 2,
                      dots: false,
                      infinite: true

                  }
              }
            ]
        });

        // Detecting IE
        if ($('html').is('.lt-ie7, .lt-ie8, .lt-ie9')) {
            oldIE = true;
        }

        if (oldIE) {
            if (sessionStorage.getItem('detectedIE') != 'detected') {
                var oldIENoticeMassage = 'เว็ปไซต์สามารถใช้งานได้ดีกับ Microsoft Internet Explorer 9 ขึ้นไป หรือ Google Chrome / Firefox เวอร์ชั่นล่าสุด',
                oldIEBtnMessage = 'ตกลง';

                if (language == 'en') {
                    oldIENoticeMassage = 'This site is best viewed using Internet Explorer 9, Chrome, Safari and browser later.';
                    oldIEBtnMessage = 'Okay';
                }

                sessionStorage.setItem('detectedIE', 'detected');
                bootbox.dialog({
                    message:
                            "<p class='clearfix'></p>" +
                            "<div class='add-border-rounded-green'>" +
                                "<p class='clearfix'></p>" +
                                "<h3 class='text-center'>" +
                                oldIENoticeMassage +
                                "</h3>" +
                            "</div>" +
                            "<p class='clearfix'></p>",
                    buttons: {
                        success: {
                            label: oldIEBtnMessage,
                            className: "btn-success",
                        }
                    }
                });
            }
        }
    });
    </text>)
</script>

<script type="text/javascript">
    @Html.JsMinify(
    @<text>

    function LockScreen(x, txt) {
        if (x) {
            $('#ProgressIcon #txtLoading').html(txt);
            $('#ProgressIcon').modal({
                backdrop: "static",
                keyboard: true,
                show: true
            });
        }
        else {
            $('#ProgressIcon').modal('hide');
        }
    }

    function configScreenPage() {
        window.scrollTo(0, 0);
        $("#silder").css("visibility", "hidden");
        $("body").css("overflow-y", "hidden");
    }

    var get_current_language = $.ajax({
        type: "GET",
        url: "/WBB/GetCurrentCulture",
        async: false,
        success: function (x) {
            $("#LanguagePage").val(x);
            return x;
        }
    });

    function onBtnBack_Click() {
        LockScreen(true, "");
        window.location.href = "@Url.Action("Index", "ReplacePlaybox")";
    }

    function onBtnConfirm_Click() {
        LockScreen(true, "");
        $("#iForm").submit();
    }
    </text>)
</script>
