@model WBBEntity.PanelModels.LoginPanelModel
@using WBBEntity.PanelModels;
@{
    Layout = null;
    string L_PAGE_TITLE = "";
    if (ViewBag.configscreen != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.configscreen;
        L_PAGE_TITLE = configscreen[0].Text.ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*fix CSS device*@
    <title>FBB Portal</title>

    @Scripts.Render("~/bundles/js/jquery")

    @Scripts.Render("~/bundles/js/login")
    @Styles.Render("~/bundles/css/login")
    <link rel="stylesheet" href="~/Content/Content2016/fonts/helvetica.css" />

</head>
<body id="login">
    <div class="content">

        <div class="panel-login">
            @*Html.BeginForm("Index", "Process", FormMethod.Post, new { id = "iForm", enctype = "multipart/form-data", autocomplete = "off" })*@
            @using (Html.BeginForm("Login", "CheckIn",new { returnUrl = ViewBag.ReturnUrl, }))
            {
                @functions{
                    public string GetAntiForgeryToken()
                    {
                        string cookieToken, formToken;
                        AntiForgery.GetTokens(null, out cookieToken, out formToken);
                        return cookieToken + "," + formToken;
                    }
                }
                @Html.Hidden("VerificationToken", GetAntiForgeryToken())
                <div class="title-login">FBB Portal Login</div>
                <div class="field-group">
                    <div class="field field-inline" id="field-username">
                        <div class="caption">Username</div>
                        <div class="input"><input type="text" maxlength="50" @Html.TextBoxFor(m => m.UserName)></div>

                        <div class="clear"></div>
                    </div>
                    <div class="field field-inline" id="field-password">
                        <div class="caption">Password</div>

                        <div class="input"><input type="password" maxlength="50" @Html.PasswordFor(m => m.Password)></div>
                        <!-- bug in IE7 - the left space of input under div element -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="msg-error" id="errorMsg">
                    @Html.ValidationSummary()
                    @*@Html.ValidationMessageFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.Password)*@
                    @*@Html.ValidationMessage("V01-003")*@
                </div>
                @*<button class="btn" type="submit" onclick="return checkPassword(document.getElementById('Password').value);">Login</button>*@
                <button class="btn" type="submit">Login</button>
            }
        </div>
    </div>
    <div class="footer"></div>
    <script type="text/javascript">

        function checkPassword(password) {
            //alert(password);
            var pattern = new RegExp(/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/);
            if (pattern.test(password)) {
                $("#errorMsg").html("Please only use standard alphanumerics");
                return false;
            }
            else {
                $("#errorMsg").html("");
                return true;
            }
        }
    </script>
</body>
</html>
