@using WBBEntity.PanelModels;
@{
    Layout = null;

    string L_MY_ACCOUNT = "";
    string L_MY_PERSONAL_INFO = "";
    string L_AIS_FIBRE_NO = "";
    string L_CHOOSE_CARD_TYPE = "";
    string L_CARD_NUMBER = "";
    string B_CONTINUE = "";
    string L_FILL_OUT = "";
    string L_SELECT_ITEM = "";
    string L_AIS_FIBRE_NO_EX = "";

    string lCARD_TYPE = "";
    string B_BACK = "";

    string FBB_Con_Length_ID_Card_Number_STA_LET = "";
    string FBB_Con_Length_ID_Card_Number_ROY_LET = "";
    string FBB_Con_Length_ID_Card_Number_EMB_LET = "";
    string FBB_Con_Length_ID_Card_Number_CERT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_TAX_ID = "";
    string FBB_Con_Length_ID_Card_Number_PASSPORT = "";
    string FBB_Con_Length_ID_Card_Number_GOV_LET = "";
    string FBB_Con_LengthIDCardNumberHILL_CARD = "";
    string FBB_Con_LengthIDCardNumberID_CARD = "";
    string FBB_Con_LengthIDCardNumberIMM_CARD = "";
    string FBB_Con_LengthIDCardNumberMONK_CERT = "";
    string FBB_Con_Input_CERT_FOUND = "";
    string FBB_Con_Input_EMB_LET = "";
    string FBB_Con_Input_HILL_CARD = "";
    string FBB_Con_Input_ID_CARD = "";
    string FBB_Con_Input_IMM_CARD = "";
    string FBB_Con_Input_MONK_CERT = "";
    string FBB_Con_Input_PASSPORT = "";
    string FBB_Con_Input_ROY_LET = "";
    string FBB_Con_Input_STA_LET = "";
    string FBB_Con_Input_TAX_ID = "";
    string FBB_Con_Input_GOV_LET = "";

    string L_NEW_CUST_NOT_FOUND = "";
    string L_NEW_CUST_NOT_FOUND2 = "";
    string L_NEW_CUST_NOT_FOUND3 = "";
    string L_NEW_CUST_NOT_FOUND4 = "";
    string L_NEW_CUST_NOT_FOUND6 = "";
    string L_NEW_CUST_NOT_FOUND10 = "";
    string L_NEW_CUST_NOT_FOUND11 = "";
    string Existing_Check_3BB_MSG = "";

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_MY_ACCOUNT = LabelFBBTR001.Any(c => c.Name == "L_MY_ACCOUNT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_ACCOUNT").DisplayValue : "";
        L_MY_PERSONAL_INFO = LabelFBBTR001.Any(c => c.Name == "L_MY_PERSONAL_INFO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_PERSONAL_INFO").DisplayValue : "";
        L_AIS_FIBRE_NO = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_CHOOSE_CARD_TYPE = LabelFBBTR001.Any(c => c.Name == "L_CHOOSE_CARD_TYPE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CHOOSE_CARD_TYPE").DisplayValue : "";
        L_CARD_NUMBER = LabelFBBTR001.Any(c => c.Name == "L_CARD_NUMBER") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CARD_NUMBER").DisplayValue : "";
        B_CONTINUE = LabelFBBTR001.Any(c => c.Name == "B_CONTINUE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_CONTINUE").DisplayValue : "";
        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
        L_SELECT_ITEM = LabelFBBTR001.Any(c => c.Name == "L_SELECT_ITEM") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SELECT_ITEM").DisplayValue : "";
        L_AIS_FIBRE_NO_EX = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO_EX") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO_EX").DisplayValue : "";

        L_NEW_CUST_NOT_FOUND = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND2 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND2") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND2").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND3 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND3") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND3").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND4 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND4") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND4").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND6 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND6") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND6").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND10 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND10") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND10").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND11 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND11") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND11").DisplayValue : "";

        Existing_Check_3BB_MSG = LabelFBBTR001.Any(c => c.Name == "Existing_Check_3BB_MSG") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "Existing_Check_3BB_MSG").DisplayValue : "";

    }

    if (ViewBag.LabelFBBTR000 != null)
    {
        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
    }

    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
    }
    string Existing_Check_3BB_Flag = "";
    string Existing_Check_Prefix_3BB = "";
    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        FBB_Con_LengthIDCardNumberHILL_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number HILL_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number HILL_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberID_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number ID_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number ID_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberIMM_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number IMM_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number IMM_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberMONK_CERT = FbbConstant.Any(f => f.Field == "Length ID Card Number MONK_CERT") ? FbbConstant.First(f => f.Field == "Length ID Card Number MONK_CERT").Validation : "";
        FBB_Con_Length_ID_Card_Number_STA_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number STA_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number STA_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_ROY_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number ROY_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number ROY_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_EMB_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number EMB_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number EMB_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_CERT_FOUND = FbbConstant.Any(f => f.Field == "Length ID Card Number CERT_FOUND") ? FbbConstant.First(f => f.Field == "Length ID Card Number CERT_FOUND").Validation : "";
        FBB_Con_Length_ID_Card_Number_TAX_ID = FbbConstant.Any(f => f.Field == "Length ID Card Number TAX_ID") ? FbbConstant.First(f => f.Field == "Length ID Card Number TAX_ID").Validation : "";
        FBB_Con_Length_ID_Card_Number_PASSPORT = FbbConstant.Any(f => f.Field == "Length ID Card Number PASSPORT") ? FbbConstant.First(f => f.Field == "Length ID Card Number PASSPORT").Validation : "";
        FBB_Con_Length_ID_Card_Number_GOV_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number GOV LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number GOV LET").Validation : "";
        FBB_Con_Input_CERT_FOUND = FbbConstant.Any(f => f.Field == "Input CERT_FOUND") ? FbbConstant.First(f => f.Field == "Input CERT_FOUND").Validation : "";
        FBB_Con_Input_EMB_LET = FbbConstant.Any(f => f.Field == "Input EMB_LET") ? FbbConstant.First(f => f.Field == "Input EMB_LET").Validation : "";
        FBB_Con_Input_HILL_CARD = FbbConstant.Any(f => f.Field == "Input HILL_CARD") ? FbbConstant.First(f => f.Field == "Input HILL_CARD").Validation : "";
        FBB_Con_Input_ID_CARD = FbbConstant.Any(f => f.Field == "Input ID_CARD") ? FbbConstant.First(f => f.Field == "Input ID_CARD").Validation : "";
        FBB_Con_Input_IMM_CARD = FbbConstant.Any(f => f.Field == "Input IMM_CARD") ? FbbConstant.First(f => f.Field == "Input IMM_CARD").Validation : "";
        FBB_Con_Input_MONK_CERT = FbbConstant.Any(f => f.Field == "Input MONK_CERT") ? FbbConstant.First(f => f.Field == "Input MONK_CERT").Validation : "";
        FBB_Con_Input_PASSPORT = FbbConstant.Any(f => f.Field == "Input PASSPORT") ? FbbConstant.First(f => f.Field == "Input PASSPORT").Validation : "";
        FBB_Con_Input_ROY_LET = FbbConstant.Any(f => f.Field == "Input ROY_LET") ? FbbConstant.First(f => f.Field == "Input ROY_LET").Validation : "";
        FBB_Con_Input_STA_LET = FbbConstant.Any(f => f.Field == "Input STA_LET") ? FbbConstant.First(f => f.Field == "Input STA_LET").Validation : "";
        FBB_Con_Input_TAX_ID = FbbConstant.Any(f => f.Field == "Input TAX_ID") ? FbbConstant.First(f => f.Field == "Input TAX_ID").Validation : "";
        FBB_Con_Input_GOV_LET = FbbConstant.Any(f => f.Field == "Input GOV_LET") ? FbbConstant.First(f => f.Field == "Input GOV_LET").Validation : "";

        Existing_Check_3BB_Flag = FbbConstant.Any(c => c.Field == "Existing_Check_3BB_Flag") ? FbbConstant.FirstOrDefault(c => c.Field == "Existing_Check_3BB_Flag").Validation : "";
        Existing_Check_Prefix_3BB = FbbConstant.Any(c => c.Field == "Existing_Check_Prefix_3BB") ? FbbConstant.FirstOrDefault(c => c.Field == "Existing_Check_Prefix_3BB").Validation : "";

    }
}

<div class="col-sm-6 col-md-6" id="col-form">

    <h1>@L_MY_ACCOUNT</h1>
    <h3>@L_MY_PERSONAL_INFO</h3>

    <p>@L_AIS_FIBRE_NO</p>
    <input type="text" class="form-control" id="AisAirNumber" maxlength="10" autocomplete="off" title="@L_FILL_OUT" />
    <p style="color: #aaa; font-size: 18px">@L_AIS_FIBRE_NO_EX</p>
    <br />

    <p>@L_CHOOSE_CARD_TYPE</p>
    <select id="ID_CARD_NAMEs" onchange="onChangeID_CARD_NAMEs(this);" title="@lCARD_TYPE" class="form-control" title="@L_SELECT_ITEM"></select>

    <br />

    <p>@L_CARD_NUMBER</p>
    <input type="text" class="form-control" id="L_CARD_NOs" maxlength="30" autocomplete="off" title="@L_FILL_OUT" />


    <br />
    <br />
    <p align="right">
        <a href="/ProcessSelect/" class="btn3" id="btnBack">@B_BACK</a>
        <a class="btn1" id="btnNextToInputMobile1">@B_CONTINUE</a>
        <a class="btn2 i-hidden" id="btnNextToInputMobile2" onclick="checkProcess()">@B_CONTINUE</a>

    </p>
</div>

<input type='hidden' name='chkSubNetworkType' id='chkSubNetworkType' />
<input type='hidden' name='HdchkSerenade_Flag' id='HdchkSerenade_Flag' />


<script type="text/javascript">
    $(function () {
        getCustomerCardTypes();

        $("#AisAirNumber").keyup(function () {
            CheckKeyUps("AisAirNumber", "[0-9]");
            CheckAirNumber88("AisAirNumber");
            checkBeforeInputMobileNumber();
        });

        $("#L_CARD_NOs").keyup(function () {
            if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_TAX_ID");
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_MONK_CERT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_GOV_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_PASSPORT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_EMB_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_IMM_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_STA_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_HILL_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_CERT_FOUND");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ID_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ROY_LET");

            checkBeforeInputMobileNumber();
        });

        setCardMaxlength();
    });

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        //GetCustomerCardType
        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                $.each(data, function (i, e) {
                    if (e.DefaultValue != undefined)
                        strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                    else
                        strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                });
                strBuilder = firstStr + strBuilder;

                $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function checkBeforeInputMobileNumber() {
        var ml = "";
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            ml = "@FBB_Con_Length_ID_Card_Number_TAX_ID";
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            ml = "@FBB_Con_LengthIDCardNumberMONK_CERT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_GOV_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            ml = "@FBB_Con_Length_ID_Card_Number_PASSPORT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_EMB_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            ml = "@FBB_Con_LengthIDCardNumberIMM_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_STA_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            ml = "@FBB_Con_LengthIDCardNumberHILL_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            ml = "@FBB_Con_Length_ID_Card_Number_CERT_FOUND";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            ml = "@FBB_Con_LengthIDCardNumberID_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_ROY_LET";

        if ((($("#L_CARD_NOs").val() != "" && $("#ID_CARD_NAMEs :selected").val() != "ID_CARD")
            || ($("#L_CARD_NOs").val().length == ml && $("#ID_CARD_NAMEs :selected").val() == "ID_CARD"))
            && $("#AisAirNumber").val().length == 10) {
            //$(".btn1").hide();
            //$(".btn2").show();
            $("#btnNextToInputMobile1").hide();
            $("#btnNextToInputMobile2").show();
        }
        else {
            //$(".btn2").hide();
            //$(".btn1").show();
            $("#btnNextToInputMobile1").show();
            $("#btnNextToInputMobile2").hide();
        }
    }

    function onChangeID_CARD_NAMEs(idCardName) {
        $("#L_CARD_NOs").val("");
        //$(".btn2").hide();
        //$(".btn1").show();
        $("#btnNextToInputMobile1").hide();
        $("#btnNextToInputMobile2").show();
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/GetCustomerSubCat",
            data: { 'idCardName': idCardName.value },
            dataType: "json",
            async: false,
            success: function (data) {
            },
        });

        setCardMaxlength();
    }

    function setCardMaxlength() {
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_TAX_ID");
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberMONK_CERT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_GOV_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_PASSPORT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_EMB_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberIMM_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_STA_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberHILL_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_CERT_FOUND");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberID_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_ROY_LET");
    }

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        //GetCustomerCardType
        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                $.each(data, function (i, e) {
                    if (e.DefaultValue != undefined)
                        strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                    else
                        strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                });
                strBuilder = firstStr + strBuilder;

                $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function checkProcess() {
        var twoMobileNo = $("#AisAirNumber").val().substr(0, 2);
        var threeMobileNo = $("#AisAirNumber").val().substr(0, 3);
        if ("@Existing_Check_3BB_Flag" == "Y") {
            if (threeMobileNo == "@Existing_Check_Prefix_3BB") {
                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@Existing_Check_3BB_MSG.");
                $("#FromPage").val("col-form");
            }
            if (twoMobileNo == "88") {
            $.ajax({
                url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
                data: { mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()), cardNo: $.trim($("#L_CARD_NOs").val()), cardType: $("#ID_CARD_NAMEs").val(), line: "2" },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    var data = response.data;

                    $.ajax({
                        url: '/CheckCoverage/GetCheckChanvePackageProcess',
                        data: { key: data.GUIDKEY, },
                        dataType: "json",
                        type: 'POST',
                        async: false,
                        success: function (response) {
                            var data = response.data;
                            if (data.projectName != "FMC")
                            {
                                $("#L_MOBILE_NOs").val(data.outMobileNumber);
                            }
                            $("#old_relate_mobile").val(data.outMobileNumber);
                            $("#outMobileNo").val(data.outMobileNumber);
                            $("#CustomerRegisterPanelModel_L_MOBILE").val(data.outMobileNumber);
                            if ($("#L_MOBILE_NOs").val() != "") {
                                //$("#L_MOBILE_NOs").attr("readonly", true);
                                //$("#chkChangeContactMobile").prop("checked", false);
                            }
                            else
                            {
                                //$("#chkChangeContactMobile").prop("checked", true);
                            }

                            if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                                //Not Ais Mobile
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                                $("#FromPage").val("col-form");
                            }
                            else if (data.errorMessage == "") {
                                var v_icon_pb = "";
                                var v_icon_fl = "";
                                var v_add_playbox = data.checkPlayBox;

                                $("#outOwnerProduct").val(data.OwnerProduct);
                                $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                                $("#outContactLastName").val(data.outContactLastName);
                                $("#outAmphur").val(data.outAmphur);
                                $("#outBuildingName").val(data.outBuildingName);
                                $("#outFloor").val(data.outFloor);
                                $("#outHouseNumber").val(data.outHouseNumber);
                                $("#outMoo").val(data.outMoo);
                                $("#outMooban").val(data.outMooban);
                                $("#outProvince").val(data.outProvince);
                                $("#outRoom").val(data.outRoom);
                                $("#outSoi").val(data.outSoi);
                                $("#outStreetName").val(data.outStreetName);
                                $("#outBillLanguage").val(data.outBillLanguage);
                                $("#outtumbol").val(data.outTumbol);
                                $("#outBirthDate").val(data.outBirthDate);
                                $("#outEmail").val(data.outEmail);
                                $("#outparameter2").val(data.outparameter2);
                                $("#outAccountName").val(data.outAccountName);
                                $("#outAccountNumber").val(data.outAccountNumber);
                                $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                                $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                                $("#outProductName").val(data.outProductName);
                                $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                                $("#no").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_outFullAddress").val(data.outFullAddress);

                                $("#outcardType").val(data.cardType);
                                $("#outAccountSubCategory").val(data.outAccountSubCategory);
                                $("#outPostalCode").val(data.outPostalCode);
                                $("#IDCardType").val($('#ID_CARD_NAMEs :selected').text());
                                $("#IDCardNo").val($("#L_CARD_NOs").val());

                                $("#outAccountCategory").val(data.outAccountCategory);

                                /// address //
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE").val(data.outPostalCode);

                                ///detail ///
                                $("#CustomerRegisterPanelModel_L_FIRST_NAME").val(data.outPrimaryContactFirstName);
                                $("#CustomerRegisterPanelModel_L_LAST_NAME").val(data.outContactLastName);
                                $("#CustomerRegisterPanelModel_L_GOVERNMENT_NAME").val(data.outAccountName);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PERSON").val(data.outPrimaryContactFirstName + " " + data.outContactLastName);
                                $("#CustomerRegisterPanelModel_SubCateType").val(data.outAccountSubCategory);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PHONE").val(data.outparameter2);
                                $("#CustomerRegisterPanelModel_L_BIRTHDAY").val(data.outBirthDate);
                                $("#CustomerRegisterPanelModel_L_EMAIL").val(data.outEmail);

                                $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($('#ID_CARD_NAMEs :selected').text());
                                $("#CustomerRegisterPanelModel_L_CARD_NO").val($("#L_CARD_NOs").val());
                                $("#CoveragePanelModel_CA_ID").val(data.outAccountNumber);
                                $("#CoveragePanelModel_SA_ID").val(data.outServiceAccountNumber);
                                $("#CoveragePanelModel_BA_ID").val(data.outBillingAccountNumber);
                                $("#CoveragePanelModel_SffProductName").val(data.outProductName);
                                $("#CoveragePanelModel_SffServiceYear").val(data.outDayOfServiceYear);
                                $("#CoveragePanelModel_P_MOBILE").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_CateType").val(data.cardType);
                                $("#CustomerRegisterPanelModel_L_TITLE").val(data.outTitle);
                                $("#SffProfileLogID").val(data.SffProfileLogID);
                                $('#CustomerRegisterPanelModel_Project_name').val(data.projectName);

                                $("#CustomerRegisterPanelModel_vatAddress1").val(data.vatAddress1);
                                $("#CustomerRegisterPanelModel_vatAddress2").val(data.vatAddress2);
                                $("#CustomerRegisterPanelModel_vatAddress3").val(data.vatAddress3);
                                $("#CustomerRegisterPanelModel_vatAddress4").val(data.vatAddress4);
                                $("#CustomerRegisterPanelModel_vatAddress5").val(data.vatAddress5);
                                $("#CustomerRegisterPanelModel_vatPostalCd").val(data.vatPostalCd);
                                $("#CustomerRegisterPanelModel_vatAddressFull").val(data.vatAddressFull);
                                $("#v_PackageCode").val(data.PackageCode);

                                $("#col-form").hide();
                                checkBeforeNextProcess();
                                $("#col-formInputMobileNo").show();
                                $("#col-ChangeContactMobile").show();
                                $("#col-Condition").show();
                            }
                            else { //error service
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                                $("#FromPage").val("col-form");
                            }
                        }
                    });



                    //if ($("#L_MOBILE_NOs").val() != "") {
                    //    GetCCCustInfo();
                    //}

                    ////////////ไปหน้าต่อไป//////////
                    //if ($("#L_MOBILE_NOs").val() != "") {
                    //    $("#L_MOBILE_NOs").attr("readonly", true);
                    //    if ($('#CoveragePanelModel_ChargeType').val() == "PREPAID") {
                    //        //กรณีเป็นเบอร์ pre-paid - go to otp
                    //        $("#col-form").hide();
                    //        checkBeforeNextProcess();
                    //        $("#col-formInputMobileNo").show();
                    //    }
                    //    else {
                    //        //กรณีเป็นเบอร์ postpaid - go to show profile info
                    //        //nextToPersonalInfo();
                    //        $("#col-form").hide();
                    //        checkBeforeNextProcess();
                    //        $("#col-formInputMobileNo").show();
                    //    }
                    //}
                    //else {
                    //    //กรณีไม่ได้ผูกเบอร์ - go to otp
                    //    $("#col-form").hide();
                    //    checkBeforeNextProcess();
                    //    $("#col-formInputMobileNo").show();
                    //}
                },
                error: function (err) {
                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                    $("#FromPage").val("col-form");
                }
            });
        }
            else if (threeMobileNo == "007") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
        }
            else {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
        }
        }
        else {
            if (twoMobileNo == "88") {
            $.ajax({
                url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
                data: { mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()), cardNo: $.trim($("#L_CARD_NOs").val()), cardType: $("#ID_CARD_NAMEs").val(), line: "2" },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    var data = response.data;

                    $.ajax({
                        url: '/CheckCoverage/GetCheckChanvePackageProcess',
                        data: { key: data.GUIDKEY, },
                        dataType: "json",
                        type: 'POST',
                        async: false,
                        success: function (response) {
                            var data = response.data;
                            if (data.projectName != "FMC")
                            {
                                $("#L_MOBILE_NOs").val(data.outMobileNumber);
                            }
                            $("#old_relate_mobile").val(data.outMobileNumber);
                            $("#outMobileNo").val(data.outMobileNumber);
                            $("#CustomerRegisterPanelModel_L_MOBILE").val(data.outMobileNumber);
                            if ($("#L_MOBILE_NOs").val() != "") {
                                //$("#L_MOBILE_NOs").attr("readonly", true);
                                //$("#chkChangeContactMobile").prop("checked", false);
                            }
                            else
                            {
                                //$("#chkChangeContactMobile").prop("checked", true);
                            }

                            if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                                //Not Ais Mobile
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                                $("#FromPage").val("col-form");
                            }
                            else if (data.errorMessage == "") {
                                var v_icon_pb = "";
                                var v_icon_fl = "";
                                var v_add_playbox = data.checkPlayBox;

                                $("#outOwnerProduct").val(data.OwnerProduct);
                                $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                                $("#outContactLastName").val(data.outContactLastName);
                                $("#outAmphur").val(data.outAmphur);
                                $("#outBuildingName").val(data.outBuildingName);
                                $("#outFloor").val(data.outFloor);
                                $("#outHouseNumber").val(data.outHouseNumber);
                                $("#outMoo").val(data.outMoo);
                                $("#outMooban").val(data.outMooban);
                                $("#outProvince").val(data.outProvince);
                                $("#outRoom").val(data.outRoom);
                                $("#outSoi").val(data.outSoi);
                                $("#outStreetName").val(data.outStreetName);
                                $("#outBillLanguage").val(data.outBillLanguage);
                                $("#outtumbol").val(data.outTumbol);
                                $("#outBirthDate").val(data.outBirthDate);
                                $("#outEmail").val(data.outEmail);
                                $("#outparameter2").val(data.outparameter2);
                                $("#outAccountName").val(data.outAccountName);
                                $("#outAccountNumber").val(data.outAccountNumber);
                                $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                                $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                                $("#outProductName").val(data.outProductName);
                                $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                                $("#no").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_outFullAddress").val(data.outFullAddress);

                                $("#outcardType").val(data.cardType);
                                $("#outAccountSubCategory").val(data.outAccountSubCategory);
                                $("#outPostalCode").val(data.outPostalCode);
                                $("#IDCardType").val($('#ID_CARD_NAMEs :selected').text());
                                $("#IDCardNo").val($("#L_CARD_NOs").val());

                                $("#outAccountCategory").val(data.outAccountCategory);

                                /// address //
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE").val(data.outPostalCode);

                                ///detail ///
                                $("#CustomerRegisterPanelModel_L_FIRST_NAME").val(data.outPrimaryContactFirstName);
                                $("#CustomerRegisterPanelModel_L_LAST_NAME").val(data.outContactLastName);
                                $("#CustomerRegisterPanelModel_L_GOVERNMENT_NAME").val(data.outAccountName);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PERSON").val(data.outPrimaryContactFirstName + " " + data.outContactLastName);
                                $("#CustomerRegisterPanelModel_SubCateType").val(data.outAccountSubCategory);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PHONE").val(data.outparameter2);
                                $("#CustomerRegisterPanelModel_L_BIRTHDAY").val(data.outBirthDate);
                                $("#CustomerRegisterPanelModel_L_EMAIL").val(data.outEmail);

                                $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($('#ID_CARD_NAMEs :selected').text());
                                $("#CustomerRegisterPanelModel_L_CARD_NO").val($("#L_CARD_NOs").val());
                                $("#CoveragePanelModel_CA_ID").val(data.outAccountNumber);
                                $("#CoveragePanelModel_SA_ID").val(data.outServiceAccountNumber);
                                $("#CoveragePanelModel_BA_ID").val(data.outBillingAccountNumber);
                                $("#CoveragePanelModel_SffProductName").val(data.outProductName);
                                $("#CoveragePanelModel_SffServiceYear").val(data.outDayOfServiceYear);
                                $("#CoveragePanelModel_P_MOBILE").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_CateType").val(data.cardType);
                                $("#CustomerRegisterPanelModel_L_TITLE").val(data.outTitle);
                                $("#SffProfileLogID").val(data.SffProfileLogID);
                                $('#CustomerRegisterPanelModel_Project_name').val(data.projectName);

                                $("#CustomerRegisterPanelModel_vatAddress1").val(data.vatAddress1);
                                $("#CustomerRegisterPanelModel_vatAddress2").val(data.vatAddress2);
                                $("#CustomerRegisterPanelModel_vatAddress3").val(data.vatAddress3);
                                $("#CustomerRegisterPanelModel_vatAddress4").val(data.vatAddress4);
                                $("#CustomerRegisterPanelModel_vatAddress5").val(data.vatAddress5);
                                $("#CustomerRegisterPanelModel_vatPostalCd").val(data.vatPostalCd);
                                $("#CustomerRegisterPanelModel_vatAddressFull").val(data.vatAddressFull);
                                $("#v_PackageCode").val(data.PackageCode);

                                $("#col-form").hide();
                                checkBeforeNextProcess();
                                $("#col-formInputMobileNo").show();
                                $("#col-ChangeContactMobile").show();
                                $("#col-Condition").show();
                            }
                            else { //error service
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                                $("#FromPage").val("col-form");
                            }
                        }
                    });



                    //if ($("#L_MOBILE_NOs").val() != "") {
                    //    GetCCCustInfo();
                    //}

                    ////////////ไปหน้าต่อไป//////////
                    //if ($("#L_MOBILE_NOs").val() != "") {
                    //    $("#L_MOBILE_NOs").attr("readonly", true);
                    //    if ($('#CoveragePanelModel_ChargeType').val() == "PREPAID") {
                    //        //กรณีเป็นเบอร์ pre-paid - go to otp
                    //        $("#col-form").hide();
                    //        checkBeforeNextProcess();
                    //        $("#col-formInputMobileNo").show();
                    //    }
                    //    else {
                    //        //กรณีเป็นเบอร์ postpaid - go to show profile info
                    //        //nextToPersonalInfo();
                    //        $("#col-form").hide();
                    //        checkBeforeNextProcess();
                    //        $("#col-formInputMobileNo").show();
                    //    }
                    //}
                    //else {
                    //    //กรณีไม่ได้ผูกเบอร์ - go to otp
                    //    $("#col-form").hide();
                    //    checkBeforeNextProcess();
                    //    $("#col-formInputMobileNo").show();
                    //}
                },
                error: function (err) {
                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                    $("#FromPage").val("col-form");
                }
            });
        }
            else if (threeMobileNo == "007") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
        }
            else {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
        }
        }
    }
</script>
