@using System.Collections.Generic;
@using WBBEntity.PanelModels;
@{
    var isSaveCommplete = false;
    var productSubType = "";
    var languagePage = "";
    var lclose = "";
    var lsave = "";
    var lpopupsave = "";
    var NamePackageFail = "";
    var dup = "";


    if (null != ViewBag.NamePackageFail)
    {
        NamePackageFail = ViewBag.NamePackageFail;
    }
    if (null != ViewBag.SWifi)
    {
        productSubType = ViewBag.SWiFi;
    }
    if (null != ViewBag.SaveSuccess)
    {
        isSaveCommplete = ViewBag.SaveSuccess;
    }
    if (null != ViewBag.LanguagePage)
    {
        languagePage = ViewBag.LanguagePage;
    }
    if (null != ViewBag.LCLOSE)
    {
        lclose = ViewBag.LCLOSE;
    }
    if (null != ViewBag.LSAVE)
    {
        lsave = ViewBag.LSAVE;
    }
    if (null != ViewBag.LPOPUPSAVE)
    {
        lpopupsave = ViewBag.LPOPUPSAVE;
    }
    if (null != ViewBag.DUP)
    {
        dup = ViewBag.DUP;
    }
    Layout = null;

    
}

@Html.Partial("~/Views/Process/_HeaderSearchProfile.cshtml")
<style>
    fieldset {
        border: 2px solid #83ad47;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    #tbl-popup {
        width: 100%;
    }

    .btnmodal {
        padding: 10px 15px;
        background-color: #58AA0C;
        color: #fff !important;
    }

        .btnmodal:hover {
            padding: 10px 15px;
            background-color: #4a831c;
            color: #fff;
            text-decoration: none;
        }

    .modal-dialog-center {
        margin-top: 10%;
    }
</style>
<form id="SearchProfilefrm" method="post" action="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 hidden-xs">
                <img src="~/Content/images/bg-sf.PNG" class="img-responsive" />
            </div>
            @Html.Partial("~/Views/Process/SearchProfiles/_AisAirNumber.cshtml")
            @Html.Partial("~/Views/Process/SearchProfiles/_Error.cshtml")
            @Html.Partial("~/Views/Process/SearchProfiles/_MobileNumber.cshtml")
            @Html.Partial("~/Views/Process/SearchProfiles/_OTP.cshtml")
        </div>
    </div>


    <footer class="hidden-xs hidden-sm">
        <div style="margin-top: -4px; float: right; color: white; font-size: small;">
        </div>
    </footer>

    <div>
        <input type="hidden" id="LanguagePage" />

        <input type='hidden' name='outPrimaryContactFirstName' id='outPrimaryContactFirstName' />
        <input type='hidden' name='outContactLastName' id='outContactLastName' />
        <input type='hidden' name='outAmphur' id='outAmphur' />
        <input type='hidden' name='outBuildingName' id='outBuildingName' />
        <input type='hidden' name='outFloor' id='outFloor' />
        <input type='hidden' name='outHouseNumber' id='outHouseNumber' />
        <input type='hidden' name='outMoo' id='outMoo' />
        <input type='hidden' name='outMooban' id='outMooban' />
        <input type='hidden' name='outProvince' id='outProvince' />
        <input type='hidden' name='outRoom' id='outRoom' />
        <input type='hidden' name='outSoi' id='outSoi' />
        <input type='hidden' name='outStreetName' id='outStreetName' />
        <input type='hidden' name='outBillLanguage' id='outBillLanguage' />
        <input type='hidden' name='outtumbol' id='outtumbol' />

        <input type='hidden' name='outBirthDate' id='outBirthDate' />
        <input type='hidden' name='outEmail' id='outEmail' />
        <input type='hidden' name='outparameter2' id='outparameter2' />
        <input type='hidden' name='outAccountName' id='outAccountName' />
        <input type='hidden' name='outAccountNumber' id='outAccountNumber' />
        <input type='hidden' name='outServiceAccountNumber' id='outServiceAccountNumber' />
        <input type='hidden' name='outBillingAccountNumber' id='outBillingAccountNumber' />
        <input type='hidden' name='outProductName' id='outProductName' />
        <input type='hidden' name='outDayOfServiceYear' id='outDayOfServiceYear' />
        <input type='hidden' name='no' id='no' />


        <input type='hidden' name='outcardType' id='outcardType' />
        <input type='hidden' name='outAccountSubCategory' id='outAccountSubCategory' />
        <input type='hidden' name='outPostalCode' id='outPostalCode' />
        <input type='hidden' name='IDCardNo' id='IDCardNo' />
        <input type='hidden' name='IDCardType' id='IDCardType' />
        <input type='hidden' name='mainProCode' id='mainProCode' />
        <input type='hidden' name='outOwnerProduct' id='outOwnerProduct' />
        <input type='hidden' name='outMobileNo' id='outMobileNo' />
        
        <input type='hidden' name='outAccountCategory' id='outAccountCategory' />

        <input type='hidden' name='old_relate_mobile' id='old_relate_mobile' />
        <input type='hidden' name='relate_mobile_action' id='relate_mobile_action' />
        <input type='hidden' name='mobileNumberContact' id='mobileNumberContact' />        
        @* new *@

        @* AddressPanel *@
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSetup.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE' />

        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelSendDoc.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE' />

        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_HOME_NUMBER_2' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_MOO' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_MOOBAN' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_BUILD_NAME' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_FLOOR' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ROOM' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_SOI' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ROAD' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_TUMBOL' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_AMPHUR' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_PROVINCE' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE' />
        <input type='hidden' name='CustomerRegisterPanelModel.AddressPanelModelVat.L_ZIPCODE' id='CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE' />


        @* New AddressPanel 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress1' id='CustomerRegisterPanelModel_installAddress1' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress2' id='CustomerRegisterPanelModel_installAddress2' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress3' id='CustomerRegisterPanelModel_installAddress3' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress4' id='CustomerRegisterPanelModel_installAddress4' />
        <input type='hidden' name='CustomerRegisterPanelModel.installAddress5' id='CustomerRegisterPanelModel_installAddress5' />
        <input type='hidden' name='CustomerRegisterPanelModel.pbox_count' id='CustomerRegisterPanelModel_pbox_count' />

        @* New VAT AddressPanel 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress1' id='CustomerRegisterPanelModel_vatAddress1' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress2' id='CustomerRegisterPanelModel_vatAddress2' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress3' id='CustomerRegisterPanelModel_vatAddress3' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress4' id='CustomerRegisterPanelModel_vatAddress4' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddress5' id='CustomerRegisterPanelModel_vatAddress5' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatAddressFull' id='CustomerRegisterPanelModel_vatAddressFull' />
        <input type='hidden' name='CustomerRegisterPanelModel.vatPostalCd' id='CustomerRegisterPanelModel_vatPostalCd' />

        @* user detail *@
        <input type='hidden' name='CustomerRegisterPanelModel.L_FIRST_NAME' id='CustomerRegisterPanelModel_L_FIRST_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_LAST_NAME' id='CustomerRegisterPanelModel_L_LAST_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_GOVERNMENT_NAME' id='CustomerRegisterPanelModel_L_GOVERNMENT_NAME' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CONTACT_PERSON' id='CustomerRegisterPanelModel_L_CONTACT_PERSON' />
        <input type='hidden' name='CustomerRegisterPanelModel.SubCateType' id='CustomerRegisterPanelModel_SubCateType' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CONTACT_PHONE' id='CustomerRegisterPanelModel_L_CONTACT_PHONE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_BIRTHDAY' id='CustomerRegisterPanelModel_L_BIRTHDAY' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_EMAIL' id='CustomerRegisterPanelModel_L_EMAIL' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_TITLE' id='CustomerRegisterPanelModel_L_TITLE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_MOBILE' id='CustomerRegisterPanelModel_L_MOBILE' />
        

        @* other *@
        <input type='hidden' name='CoveragePanelModel.CA_ID' id='CoveragePanelModel_CA_ID' />
        <input type='hidden' name='CoveragePanelModel.BA_ID' id='CoveragePanelModel_BA_ID' />
        <input type='hidden' name='CoveragePanelModel.SA_ID' id='CoveragePanelModel_SA_ID' />
        <input type='hidden' name='CoveragePanelModel.P_MOBILE' id='CoveragePanelModel_P_MOBILE' />
        <input type='hidden' name='CoveragePanelModel.SffProductName' id='CoveragePanelModel_SffProductName' />
        <input type='hidden' name='CoveragePanelModel.SffServiceYear' id='CoveragePanelModel_SffServiceYear' />
        <input type='hidden' name='CoveragePanelModel.MobileStatus' id='CoveragePanelModel_MobileStatus' />
        <input type='hidden' name='CoveragePanelModel.MobileSegment' id='CoveragePanelModel_MobileSegment' />
        <input type='hidden' name='CoveragePanelModel.ChargeType' id='CoveragePanelModel_ChargeType' />
        <input type='hidden' name='CoveragePanelModel.Serenade_Flag' id='CoveragePanelModel_Serenade_Flag' />
        <input type='hidden' name='CoveragePanelModel.ARPU' id='CoveragePanelModel_ARPU' />
        <input type='hidden' name='CustomerRegisterPanelModel.Project_name' id='CustomerRegisterPanelModel_Project_name' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_TYPE' id='CustomerRegisterPanelModel_L_CARD_TYPE' />
        <input type='hidden' name='CustomerRegisterPanelModel.L_CARD_NO' id='CustomerRegisterPanelModel_L_CARD_NO' />
        <input type='hidden' name='CustomerRegisterPanelModel.CateType' id='CustomerRegisterPanelModel_CateType' />
        <input type="hidden" name="SffProfileLogID" id="SffProfileLogID" />
        <input type="hidden" name="TopUp" id="TopUp" />


        @* New Value 15.7*@
        <input type='hidden' name='CustomerRegisterPanelModel.v_installAddress' id='CustomerRegisterPanelModel_v_installAddress' />
        <input type='hidden' name='CustomerRegisterPanelModel.outFullAddress' id='CustomerRegisterPanelModel_outFullAddress' />


        <input type="hidden" name="v_number_of_pb" id="v_number_of_pb" />
        <input type="hidden" name="v_sff_main_promotionCD" id="v_sff_main_promotionCD" />
        <input type="hidden" name="v_owner_product" id="v_owner_product" />
        <input type="hidden" name="L_NUMBER_OF_PLAYBOX" id="L_NUMBER_OF_PLAYBOX" />
        <input type="hidden" name="v_PackageCode" id="v_PackageCode" />

        @* 18.11*@
        <input type="hidden" name="v_package_subtype" id="v_package_subtype" />
    </div>

    @*Popup End Process
        <div id="basic-modal-content" >
             <fieldset>
                <table style="width: 100%; text-align: center; color: black;">
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="LastPopupMessage"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>@lpopupsave</div>
                        </td>
                    </tr>
                    <tr style="height: 25px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="greenButton" onclick="DownloadPDF();" style="color: #666666;">@lsave</a> <a href="#" class="greyButton" onclick="$.modal.close();Reload();" style="color: #666666;">@lclose</a></td>
                    </tr>
                </table>
             </fieldset>
        </div>*@
</form>
<table class="i-hidden" id="tempV2" border="1" bordercolor="red"></table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" onclick="Reload();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="LastPopupMessage" style="text-align: center;"></div>
            </div>
            <div class="modal-footer">
                @* <a href="#" class="btnmodal" onclick="DownloadPDF();">@lsave</a>*@
                <a href="#" class="btnmodal" onclick="Reload();">@lclose</a>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    ///////////// begin popup ////////////
    var success = '@isSaveCommplete';
    var swifi = '@productSubType';
    var language_ = '@languagePage';

    if (success == 'True') {

        PopupMessage();
        $('#myModal').modal('show');
        //showjpopup('580px', '250px');
    }


    function DownloadPDF() {

        window.location.href = "/Process/download";
        setTimeout(function () { Reload() }, 3000);
    }

    function Reload() {
        //window.location.href = "/Process/ChangePackagePromotion";
        window.location.href = window.location.href;
    }

    function ClosePopupReload() {
        if (success == 'True') {
            Reload();
        }
    }

    function showjpopup(width_, height_) {
        $('#basic-modal-content').modal('show');
        $('#basic-modal-content').css('display', 'block');

        var div1 = $('#simplemodal-container');
        if (width_ != null) { div1.css('width', width_); }
        if (height_ != null) { div1.css('height', height_); }

        div1.css('margin-left', '10%');

        return false;
    }

    @*function PopupMessage() {
        //GetLastPopupMessage

        var ProSubType = "";
        if (swifi == "fail") {
            if ("@dup" == "Y") {
                var error = "@Html.Raw(L_ONTOP_PLAYBOX_DUP)";
                var replacee = "@NamePackageFail";
                var word = "";
                if (replacee != "")
                    word = " " + replacee + " ";
                else
                    word = replacee;
                error = error.replace("{0}", word);
                var strBuilder = "<h3>" + error + "</h3>";
                $('#LastPopupMessage').html(strBuilder);
            }
            else if ("@NamePackageFail" == "old") {
                var error = "@Html.Raw(L_ONTOP_PLAYBOX_OLD_LAUNCHER)";
                error = error.replace("{0}", "");
                var strBuilder = "<h3>" + error + "</h3>";
                $('#LastPopupMessage').html(strBuilder);
            }
            else {
                var error = "@Html.Raw(L_ONTOP_PLAYBOX_FAIL)";
                var replacee = "@NamePackageFail";
                var word = "";
                if (replacee != "")
                    word = " " + replacee + " ";
                else
                    word = replacee;
                error = error.replace("{0}", word);
                var strBuilder = "<h3>" + error + "</h3>";
                $('#LastPopupMessage').html(strBuilder);
            }
        }
        else {
            var strBuilder = "<h3>" + "@L_ONTOP_PLAYBOX_SUCCESS" + "</h3>";
            $('#LastPopupMessage').html(strBuilder);
        }
    }*@

    /////////// end popup ////////////

    $(function () {

        if ("@ViewBag.Vas" == "") {
            $("#btnBack").hide();
            //$("#TopUp").val("4");
        }

        //$("#lb-failed").html("");
        $.post('/WBB/GetCurrentCulture').done(function (x) {
            $("#LanguagePage").val(x);
            changeLanguage();

            var language = "";
            if (x == 1)
                language = "th";
            else
                language = "en";
        });

        $("#SearchProfilefrm").attr("action", "@ViewBag.SetAction");
    });

    function changeLanguage() {
        if ($("#LanguagePage").val() == "1") {
            $("#btnTh").show();
            $("#btnEn").hide();

            $(".display-th").show();
            $(".display-en").hide();
        }
        else {
            $("#btnTh").hide();
            $("#btnEn").show();

            $(".display-th").hide();
            $(".display-en").show();
        }
    }

    function CheckKeyUps(id, RexStr) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        var filter = new RegExp(RexStr);
        for (var i = 0; i < strKey.length; i++) {
            if (filter.test(strKey.substr(i, 1))) {
                strBuilder += strKey.substr(i, 1);
            }
        }
        $("#" + id).val(strBuilder);
    }

    function CheckAirNumber88(id) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        var filter = new RegExp("[8]");
        for (var i = 0; i < strKey.length; i++) {
            if (i < 2) {
                if (filter.test(strKey.substr(i, 1))) {
                    strBuilder += strKey.substr(i, 1);
                }
            } else {
                strBuilder += strKey.substr(i, 1);
            }
        }
        $("#" + id).val(strBuilder);
    }

</script>

