@using WBBEntity.PanelModels;
@{
    Layout = null;

    string B_OK = "";
    string B_CANCEL = "";
    string L_FILL_OUT = "";
    string L_PASSWORD = "";
    string FBB_Con_Length_OTP = "4";
    string FBB_Con_Input_OTP = "";
    string L_ENTER_OTP_1 = "";
    string L_ENTER_OTP_2 = "";
    string L_ENTER_OTP_3 = "";
    string L_ENTER_OTP_4 = "";
    string L_ENTER_OTP_5 = "";
    string C_CHANGE_CONTACT_MOBILE = "";

    string L_ERR_NOT_FOUND = "not found";

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        B_OK = LabelFBBTR001.Any(c => c.Name == "B_OK") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";
        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
    }
    
    if (ViewBag.LabelFBBTR016 != null)
    {
        var labelFBBTR016 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR016;
        L_PASSWORD = labelFBBTR016.Any(c => c.Name == "L_PASSWORD") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_PASSWORD").DisplayValue : "";
        L_ENTER_OTP_1 = labelFBBTR016.Any(c => c.Name == "L_ENTER_OTP_1") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ENTER_OTP_1").DisplayValue : "";
        L_ENTER_OTP_2 = labelFBBTR016.Any(c => c.Name == "L_ENTER_OTP_2") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ENTER_OTP_2").DisplayValue : "";
        L_ENTER_OTP_3 = labelFBBTR016.Any(c => c.Name == "L_ENTER_OTP_3") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ENTER_OTP_3").DisplayValue : "";
        L_ENTER_OTP_4 = labelFBBTR016.Any(c => c.Name == "L_ENTER_OTP_4") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ENTER_OTP_4").DisplayValue : "";
        L_ENTER_OTP_5 = labelFBBTR016.Any(c => c.Name == "L_ENTER_OTP_5") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ENTER_OTP_5").DisplayValue : "";
        C_CHANGE_CONTACT_MOBILE = labelFBBTR016.Any(c => c.Name == "C_CHANGE_CONTACT_MOBILE") ? labelFBBTR016.FirstOrDefault(c => c.Name == "C_CHANGE_CONTACT_MOBILE").DisplayValue : "";
    }

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        //FBB_Con_Length_OTP = FbbConstant.Any(f => f.Field == "OTP Length") ? FbbConstant.First(f => f.Field == "OTP Length").Validation : "";
        FBB_Con_Input_OTP = FbbConstant.Any(f => f.Field == "Input_OTPPass") ? FbbConstant.First(f => f.Field == "Input_OTPPass").Validation : "";
    }

    if (ViewBag.LabelLovScreen != null)
    {
        var labelLovScreen = (List<LovScreenValueModel>)ViewBag.labelLovScreen;

        B_CANCEL = labelLovScreen.Any(c => c.Name == "B_CANCEL") ? labelLovScreen.First(c => c.Name == "B_CANCEL").DisplayValue : "";
    } 
}

<html class="no-js" lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10,9" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
<meta name="date" content="2016-03-12"/>
<meta name="sitecode" content="TH"/>

<title>AIS Fibre Broadband ความเร็วสูง 1 Gbps</title>

<!-- Cahing Browser -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<meta name="description" content="สิทธิพิเศษจากเอไอเอสไฟเบอร์">
<meta name="KeyWords" content="ais, เอไอเอส, เน็ต, อินเทอร์เน็ต, ไฟเบอร์"  />
<meta name="thumbnail" content="https://www.ais.co.th/fibre_postpaid/share.jpg" />
<meta name="thumbnail_height" content="110">   <!--Fix ขนาดของความสูง ไว้เท่านี้ ไม่เปลี่ยน-->
<meta name="thumbnail_width" content="75">  <!--Fix ขนาดของความกว้าง ไว้เท่านี้ ไม่เปลี่ยน-->

<!-- Facebook Propertie แชร์ Facebook -->
<meta property="og:title" content="AIS Fibre Broadband ความเร็วสูง 1 Gbps"/>
<meta property="og:description" content="สิทธิพิเศษจากเอไอเอสไฟเบอร์"/>
<meta property="og:image" content="https://www.ais.co.th/fibre_postpaid/share.jpg"/>

<!-- Tweet Propertie แชร์ Tweet -->
<meta property="tw:description" content="สิทธิพิเศษจากเอไอเอสไฟเบอร์"/>

<!-- Google Plus แชร์  Google -->
<meta itemprop="name" content="AIS Fibre Broadband ความเร็วสูง 1 Gbps">
<meta itemprop="description" content="สิทธิพิเศษจากเอไอเอสไฟเบอร์">
<meta itemprop="image" content="https://www.ais.co.th/fibre_postpaid/share.jpg">
   




<!--Include Style Script-->
<link rel="stylesheet" href="~/Content/css/dna.global.css" />
<link rel="stylesheet" href="~/Content/css/foundation.css" />
<link rel="stylesheet" href="~/Content/css/fibrepostpaid.css" />

<!--Include Style Script-->
<link href="~/Content/css/navais.min.css" rel="stylesheet" />
<link href="~/Content/css/helvetica.css" rel="stylesheet" />
<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/js/jquery.mainnav.min.js"></script>
<link href="~/Content/css/jquery.typeahead.css" rel="stylesheet" />
<link href="~/Content/css/menutypeahead.css" rel="stylesheet" />

<script src="~/js/menutypeahead.js"></script>
<script src="~/js/jquery.typeahead.min.js"></script>





<link href="~/Content/plugins/sod/selectordie.css" rel="stylesheet" type="text/css">
<link href="~/Content/plugins/sod/selectordie_theme.css" rel="stylesheet" type="text/css">
<script src="~/Content/plugins/sod/selectordie.min.js"></script>

<!--slick -->       
<link rel="stylesheet" type="text/css" href="~/Content/plugins/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/plugins/slick/slick-theme.css"/>
<script type="text/javascript" src="~/Content/plugins/slick/slick.min.js"></script>


<!-- start old -->
<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

<link href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />

<link href="http://localhost:50960/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="~/Scripts/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />



@*@Styles.Render("~/Content/css/rabbit")

*@
@Styles.Render("~/Content/css/bootsrapcss")
@Scripts.Render("~/bundles/js/rabbit")
@Scripts.Render("~/bundles/js/boostrapjs")

<!-- end old -->
    </head>
<style>
    fieldset {
        border: 2px solid #83ad47;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    #tbl-popup {
        width: 100%;
    }

    .btnmodal {
        padding: 10px 15px;
        background-color: #58AA0C;
        color: #fff !important;
    }

        .btnmodal:hover {
            padding: 10px 15px;
            background-color: #4a831c;
            color: #fff;
            text-decoration: none;
        }

    .modal-dialog-center {
        margin-top: 10%;
    }
     .btn1 {
        background-color: #8dbf65;
        color: #fff;
    }

        .btn1:hover {
            background-color: #8dbf65;
            color: #fff;
            cursor: not-allowed;
        }

    .btn2 {
        background-color: #c1da0e;
        color: #fff;
    }

        .btn2:hover {
            background-color: #4a831c;
            color: #fff;
        }

    .btn3 {
        background-color: #ccc;
        color: #fff !important;
    }

        .btn3:hover {
            background-color: #aaa;
            color: #fff !important;
            text-decoration: none;
        }
</style>



<script type="text/javascript">
    $(function () {
        $("#L_OTP_Pass").keyup(function () {
            //CheckKeyUps("L_OTP_NOs", "@FBB_Con_Input_OTP");
            checkBeforeGotoPersonalInfo();
        });

        $("#chkShowPass").change(function () {
            if(this.checked)
            {
                $("#L_OTP_Pass").attr('type', 'text');
            }
            else
            {
                $("#L_OTP_Pass").attr('type', 'password');
            }
        });
    });

    function IsChangeContactMobile(cb) {
        if (cb.checked) {            
            if ($("#L_MOBILE_NOs").val() != $("#returnContactMobile").val()) {
                $("#mobileNumberContact").val($("#L_MOBILE_NOs").val());
            }
            else {
                $("#mobileNumberContact").val("");
            }
        }
        else {
            $("#mobileNumberContact").val("");
        }
    }

    function checkBeforeGotoPersonalInfo() {

        if ($("#L_OTP_Pass").val().length == "@FBB_Con_Length_OTP") {
            $("#btnConfirmOTP1").hide();
            $("#btnConfirmOTP2").show();
        }
        else {
            $("#btnConfirmOTP1").show();
            $("#btnConfirmOTP2").hide();
        }
    }
    function RequestOTPFunc() {
        var resource = false;
        $.ajax({
            url: '/Process/SendOneTimePW',
            data: { msisdn: $.trim($("#L_MOBILE_NOs").val()), accountType: "all" },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (data3) {
                if (data3 != null) {
                    if (data3.code == "000") {
                        $('#GSSO_transactionID').val(data3.transactionID);
                        resource = true;
                    }
                }
            }
        });
        return resource;
    }
    function nextToPersonalInfo()
    {
        if (RequestOTPFunc()) {
            $("#SearchProfilefrm").submit();
        }
        else {
            //OTP is not Correct
            $('#col-form').hide();
            $("#col-ChangeContactMobile").hide();
            $('#col-formInputMobileNo').hide();
            $('#col-formInputOTP').hide();
            $('#lb-failed').html('@L_ERR_NOT_FOUND');
            $('#col-err').show();
            $('#FromPage').val('col-formInputOTP');
        }
        @*if ($('#CoveragePanelModel_ChargeType').val() == "POSTPAID")
        {
            $("#SearchProfilefrm").submit();
        }
        else if ($('#CoveragePanelModel_ChargeType').val() == "PREPAID")
        {
            $.ajax({
                url: '/Process/ConfirmOneTimePW',
                data: { msisdn: $.trim($("#L_MOBILE_NOs").val()), pwd: $('#L_OTP_Pass').val(), transactionID: $('#GSSO_transactionID').val() },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    if (data != null) {
                        if (data.code == "000" && data.transactionID == $('#GSSO_transactionID').val()) {                            
                            $("#SearchProfilefrm").submit();
                        }
                        else
                        {
                            //OTP is not Correct
                            $('#col-form').hide();
                            $("#col-ChangeContactMobile").hide();
                            $('#col-formInputMobileNo').hide();
                            $('#col-formInputOTP').hide();
                            $('#lb-failed').html('@L_ERR_NOT_FOUND');
                            $('#col-err').show();
                            $('#FromPage').val('col-formInputOTP');
                        }
                    }
                    else
                    {
                        //OTP is not Correct
                        $('#col-form').hide();
                        $("#col-ChangeContactMobile").hide();
                        $('#col-formInputMobileNo').hide();
                        $('#col-formInputOTP').hide();
                        $('#lb-failed').html('@L_ERR_NOT_FOUND');
                        $('#col-err').show();
                        $('#FromPage').val('col-formInputOTP');
                    }
                }
            });
        }
        else
        {
            $("#outMobileNo").val($("#L_MOBILE_NOs").val());
            $("#SearchProfilefrm").submit();
        }*@
    }

    function backToChangeContactMobile()
    {
        $("#col-ChangeContactMobile").show();
        $("#col-ChangeContactMobile").show();
        $("#btnSendOTP2").show();
        $("#col-Condition").show();
    }
</script>
        </html>