@using WBBEntity.PanelModels;
@using WBBWeb.Controllers;
@{
    Layout = null;

    string L_MY_ACCOUNT = "";
    string L_FILL_OUT = "";
    string L_SELECT_ITEM = "";
    string L_AIS_FIBRE_NO_EX = "";

    string lCARD_TYPE = "";

    string FBB_Con_Length_ID_Card_Number_STA_LET = "";
    string FBB_Con_Length_ID_Card_Number_ROY_LET = "";
    string FBB_Con_Length_ID_Card_Number_EMB_LET = "";
    string FBB_Con_Length_ID_Card_Number_CERT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_TAX_ID = "";
    string FBB_Con_Length_ID_Card_Number_PASSPORT = "";
    string FBB_Con_Length_ID_Card_Number_GOV_LET = "";
    string FBB_Con_LengthIDCardNumberHILL_CARD = "";
    string FBB_Con_LengthIDCardNumberID_CARD = "";
    string FBB_Con_LengthIDCardNumberIMM_CARD = "";
    string FBB_Con_LengthIDCardNumberMONK_CERT = "";
    string FBB_Con_Input_CERT_FOUND = "";
    string FBB_Con_Input_EMB_LET = "";
    string FBB_Con_Input_HILL_CARD = "";
    string FBB_Con_Input_ID_CARD = "";
    string FBB_Con_Input_IMM_CARD = "";
    string FBB_Con_Input_MONK_CERT = "";
    string FBB_Con_Input_PASSPORT = "";
    string FBB_Con_Input_ROY_LET = "";
    string FBB_Con_Input_STA_LET = "";
    string FBB_Con_Input_TAX_ID = "";
    string FBB_Con_Input_GOV_LET = "";

    string L_NEW_CUST_NOT_FOUND = "";
    string L_NEW_CUST_NOT_FOUND2 = "";
    string L_NEW_CUST_NOT_FOUND3 = "";
    string L_NEW_CUST_NOT_FOUND4 = "";
    string L_NEW_CUST_NOT_FOUND6 = "";
    string L_NEW_CUST_NOT_FOUND10 = "";
    string L_NEW_CUST_NOT_FOUND11 = "";

    string L_WELCOME_1 = "";
    string L_WELCOME_2 = "";
    string L_WELCOME_3 = "";
    string L_WELCOME_4 = "";
    string L_WELCOME_5 = "";
    string L_LOGIN_FAILED = "";
    string Existing_Check_3BB_MSG = "";
    string Existing_AccessType_MSG = "";
    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_MY_ACCOUNT = LabelFBBTR001.Any(c => c.Name == "L_MY_ACCOUNT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_ACCOUNT").DisplayValue : "";

        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
        L_SELECT_ITEM = LabelFBBTR001.Any(c => c.Name == "L_SELECT_ITEM") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SELECT_ITEM").DisplayValue : "";
        L_AIS_FIBRE_NO_EX = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO_EX") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO_EX").DisplayValue : "";

        L_NEW_CUST_NOT_FOUND = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND2 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND2") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND2").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND3 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND3") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND3").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND4 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND4") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND4").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND6 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND6") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND6").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND10 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND10") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND10").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND11 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND11") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND11").DisplayValue : "";
        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";
        Existing_Check_3BB_MSG = LabelFBBTR001.Any(c => c.Name == "Existing_Check_3BB_MSG") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "Existing_Check_3BB_MSG").DisplayValue : "";
        Existing_AccessType_MSG = LabelFBBTR001.Any(c => c.Name == "Existing_AccessType_MSG") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "Existing_AccessType_MSG").DisplayValue : "";

    }

    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
    }

    var Length_PW = "";
    var Input_PW = "";
    var L_ERR_NOT_FOUND = "";
    string Existing_Check_3BB_Flag = "";
    string Existing_Check_Prefix_3BB = "";
    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        FBB_Con_LengthIDCardNumberHILL_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number HILL_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number HILL_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberID_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number ID_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number ID_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberIMM_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number IMM_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number IMM_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberMONK_CERT = FbbConstant.Any(f => f.Field == "Length ID Card Number MONK_CERT") ? FbbConstant.First(f => f.Field == "Length ID Card Number MONK_CERT").Validation : "";
        FBB_Con_Length_ID_Card_Number_STA_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number STA_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number STA_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_ROY_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number ROY_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number ROY_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_EMB_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number EMB_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number EMB_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_CERT_FOUND = FbbConstant.Any(f => f.Field == "Length ID Card Number CERT_FOUND") ? FbbConstant.First(f => f.Field == "Length ID Card Number CERT_FOUND").Validation : "";
        FBB_Con_Length_ID_Card_Number_TAX_ID = FbbConstant.Any(f => f.Field == "Length ID Card Number TAX_ID") ? FbbConstant.First(f => f.Field == "Length ID Card Number TAX_ID").Validation : "";
        FBB_Con_Length_ID_Card_Number_PASSPORT = FbbConstant.Any(f => f.Field == "Length ID Card Number PASSPORT") ? FbbConstant.First(f => f.Field == "Length ID Card Number PASSPORT").Validation : "";
        FBB_Con_Length_ID_Card_Number_GOV_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number GOV LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number GOV LET").Validation : "";
        FBB_Con_Input_CERT_FOUND = FbbConstant.Any(f => f.Field == "Input CERT_FOUND") ? FbbConstant.First(f => f.Field == "Input CERT_FOUND").Validation : "";
        FBB_Con_Input_EMB_LET = FbbConstant.Any(f => f.Field == "Input EMB_LET") ? FbbConstant.First(f => f.Field == "Input EMB_LET").Validation : "";
        FBB_Con_Input_HILL_CARD = FbbConstant.Any(f => f.Field == "Input HILL_CARD") ? FbbConstant.First(f => f.Field == "Input HILL_CARD").Validation : "";
        FBB_Con_Input_ID_CARD = FbbConstant.Any(f => f.Field == "Input ID_CARD") ? FbbConstant.First(f => f.Field == "Input ID_CARD").Validation : "";
        FBB_Con_Input_IMM_CARD = FbbConstant.Any(f => f.Field == "Input IMM_CARD") ? FbbConstant.First(f => f.Field == "Input IMM_CARD").Validation : "";
        FBB_Con_Input_MONK_CERT = FbbConstant.Any(f => f.Field == "Input MONK_CERT") ? FbbConstant.First(f => f.Field == "Input MONK_CERT").Validation : "";
        FBB_Con_Input_PASSPORT = FbbConstant.Any(f => f.Field == "Input PASSPORT") ? FbbConstant.First(f => f.Field == "Input PASSPORT").Validation : "";
        FBB_Con_Input_ROY_LET = FbbConstant.Any(f => f.Field == "Input ROY_LET") ? FbbConstant.First(f => f.Field == "Input ROY_LET").Validation : "";
        FBB_Con_Input_STA_LET = FbbConstant.Any(f => f.Field == "Input STA_LET") ? FbbConstant.First(f => f.Field == "Input STA_LET").Validation : "";
        FBB_Con_Input_TAX_ID = FbbConstant.Any(f => f.Field == "Input TAX_ID") ? FbbConstant.First(f => f.Field == "Input TAX_ID").Validation : "";
        FBB_Con_Input_GOV_LET = FbbConstant.Any(f => f.Field == "Input GOV_LET") ? FbbConstant.First(f => f.Field == "Input GOV_LET").Validation : "";

        Length_PW = FbbConstant.Any(f => f.Field == "Length_Password") ? FbbConstant.First(f => f.Field == "Length_Password").Validation : "";
        Input_PW = FbbConstant.Any(f => f.Field == "Input_Password") ? FbbConstant.First(f => f.Field == "Input_Password").Validation : "";
        Existing_Check_3BB_Flag = FbbConstant.Any(c => c.Field == "Existing_Check_3BB_Flag") ? FbbConstant.FirstOrDefault(c => c.Field == "Existing_Check_3BB_Flag").Validation : "";
        Existing_Check_Prefix_3BB = FbbConstant.Any(c => c.Field == "Existing_Check_Prefix_3BB") ? FbbConstant.FirstOrDefault(c => c.Field == "Existing_Check_Prefix_3BB").Validation : "";
    }

    string L_ERROR_OTP = "";

    if (ViewBag.LabelFBBOR015 != null)
    {
        var LabelFBBOR015 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR015;
        L_WELCOME_1 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_1") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_1").DisplayValue : "";
        L_WELCOME_2 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_2") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_2").DisplayValue : "";
        L_WELCOME_3 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_3") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_3").DisplayValue : "";
        L_WELCOME_4 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_4") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_4").DisplayValue : "";
        L_WELCOME_5 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_5") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_5").DisplayValue : "";


        L_ERR_NOT_FOUND = LabelFBBOR015.Any(c => c.Name == "L_ERR_NOT_FOUND") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_ERR_NOT_FOUND").DisplayValue : "";
        L_ERROR_OTP = LabelFBBOR015.Any(c => c.Name == "L_ERROR_OTP") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_ERROR_OTP").DisplayValue : "";
    }

    string L_MY_PERSONAL_INFO = "";
    string L_AIS_FIBRE_NO = "";
    string L_CHOOSE_CARD_TYPE = "";
    string L_CARD_NUMBER = "";
    string L_EXISTING_FIBRE_CONDITION = "";
    string L_EXISTING_FIBRE_CONDITION_DETAIL = "";
    string L_EXISTING_FIBRE_OTP_DEFAULT = "";
    string B_CONTINUE = "";
    string B_BACK = "";

    string L_INPUT_OTP = "";
    string L_INCORRECT_OTP = "";
    string L_PW = "";
    string L_SHOW_PW = "";
    string L_REQUEST_PW = "";
    string L_CLOSE_PW = "";
    string L_EXISTING_FIBRE_WATCH_LIST = "";
    string B_OK = "";

    if (ViewBag.LabelLovScreenFBBWEB031 != null)
    {
        var LabelLovScreenFBBWEB031 = (List<LovScreenValueModel>)ViewBag.LabelLovScreenFBBWEB031;

        L_MY_PERSONAL_INFO = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_MY_PERSONAL_INFO") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_MY_PERSONAL_INFO").DisplayValue : "";
        L_AIS_FIBRE_NO = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_CHOOSE_CARD_TYPE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_CHOOSE_CARD_TYPE") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_CHOOSE_CARD_TYPE").DisplayValue : "";
        L_CARD_NUMBER = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_CARD_NUMBER") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_CARD_NUMBER").DisplayValue : "";
        L_EXISTING_FIBRE_CONDITION = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CONDITION") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CONDITION").DisplayValue : "N";
        L_EXISTING_FIBRE_CONDITION_DETAIL = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CONDITION_DETAIL") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CONDITION_DETAIL").DisplayValue : "N";
        L_EXISTING_FIBRE_OTP_DEFAULT = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_OTP_DEFAULT") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_OTP_DEFAULT").DisplayValue : "N";
        B_CONTINUE = LabelLovScreenFBBWEB031.Any(c => c.Name == "B_CONTINUE") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "B_CONTINUE").DisplayValue : "";
        B_BACK = LabelLovScreenFBBWEB031.Any(c => c.Name == "B_BACK") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";

        // OTP Page

        L_INPUT_OTP = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_INPUT_OTP") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_INPUT_OTP").DisplayValue : "";
        L_INCORRECT_OTP = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_INCORRECT_OTP") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_INCORRECT_OTP").DisplayValue : "";
        L_PW = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_PASSWORD") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_PASSWORD").DisplayValue : "";
        L_SHOW_PW = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_SHOW_PASSWORD") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_SHOW_PASSWORD").DisplayValue : "";
        L_REQUEST_PW = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_REQUEST_PASSWORD") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_REQUEST_PASSWORD").DisplayValue : "";
        L_CLOSE_PW = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_CLOSE_PASSWORD") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_CLOSE_PASSWORD").DisplayValue : "";
        L_EXISTING_FIBRE_WATCH_LIST = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_WATCH_LIST") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "L_EXISTING_FIBRE_WATCH_LIST").DisplayValue : "";
        B_OK = LabelLovScreenFBBWEB031.Any(c => c.Name == "B_OK") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";

    }

    string outType = "CUSTOMER";
    string outSubType = "CUSTOMER";
    string isOfficer = "";

    if (ViewBag.outType != null)
    {
        outType = ViewBag.outType;
    }
    if (ViewBag.outSubType != null)
    {
        outSubType = ViewBag.outSubType;
    }
    if(ViewBag.isOfficer != null)
    {
        isOfficer = ViewBag.isOfficer;
    }

    string HavePageOTP = "N";
    string BypassOTP = "N";

    var controller = DependencyResolver.Current.GetService<ProcessController>();

    var ListMenuAuthorize = controller.GetListMenuAuthorize(outType, outSubType);
    if (ListMenuAuthorize != null && ListMenuAuthorize.Count > 0)
    {
        if (ListMenuAuthorize.Where(t => t.menu_code == "OTP_PAGE" && t.menu_authorize == "Y").Count() > 0)
        {
            HavePageOTP = "Y";
        }
        if (ListMenuAuthorize.Where(t => t.menu_code == "BYPASS_OTP" && t.menu_authorize == "Y").Count() > 0)
        {
            BypassOTP = "Y";
        }
    }
}


<div id="col-form">
    <div id="container">
        <!--  Put Content Here เริ่มต้นเนื้อหา  -->

        <div id="box1_holder">
            <div class="panel_ais paddingmedium">
                @if(isOfficer != "Y")
                {
                <div class="row_ais">
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <div class="col-xs-12 col-sm-12 col-md-12" style="max-width: 1500px; padding-left: 0 !important; padding-right: 0 !important">
                        <div class="col-xs-12" style="text-align: right; padding-left: 0 !important; padding-right: 0 !important">
                            <a id="btnTh" href="~/WBB/ChangeCurrentCulture?culture=2" onclick="sessionStorage.setItem('detectedIE', '');">
                                <img src="~/Content/Content2016/images/lang_th.png" alt="" border="0" />
                            </a>
                            <a id="btnEn" href="~/WBB/ChangeCurrentCulture?culture=1" class="i-hidden" onclick="sessionStorage.setItem('detectedIE', '');">
                                <img src="~/Content/Content2016/images/lang_en.png" alt="" border="0" />
                            </a>
                        </div>
                    </div>
                </div>
                }
                <div class="row_ais">
                    <div class="column large-12">
                        <div class="fibrelogo">
                            <img src="~/Content/images/postpaid/fibre_logo.png" alt="" />
                        </div>
                        <div class="welcometext">@L_MY_ACCOUNT</div>
                    </div>
                </div>
                <div class="row_ais">
                    <div class="column large-4">
                        <div class="subheader">@L_WELCOME_1 <span>@L_WELCOME_2</span></div>
                        <div class="detailtext">
                            @L_WELCOME_3<br>
                            @L_WELCOME_4<br>
                            @L_WELCOME_5
                        </div>
                    </div>
                </div>

                <div class="boxform pay-topspace">
                    <div class="row_ais" id="ais-air-form">
                        <div class="column large-5 medium-6 small-12">
                            <div class="labeltext">@L_MY_PERSONAL_INFO</div>
                            @if(isOfficer != "Y")
                            {
                                <div class="mobile-number">
                                    <input type="text" class="inputform" id="AisAirNumber" maxlength="10" placeholder="@L_AIS_FIBRE_NO" autocomplete="off" />
                                </div>
                                <div class="cardtype">
                                    <select id="ID_CARD_NAMEs" onchange="onChangeID_CARD_NAMEs(this);" data-placeholder-option="true" class="basic" title="@L_SELECT_ITEM"></select>
                                </div>
                                <div class="card-number">
                                    <input type="text" class="inputform" id="L_CARD_NOs" maxlength="30" placeholder="@L_CARD_NUMBER" autocomplete="off"  />
                                </div>
                            }
                            else
                            {
                                <div class="mobile-number">
                                    <input type="text" class="inputform" id="AisAirNumberOfficer" maxlength="10" placeholder="@L_AIS_FIBRE_NO" autocomplete="off" />
                                </div>
                            }
                        </div>
                    </div>
                    <div id="col-ais-err" style="display: none;">
                        <div class="row_ais">
                            <div class="column large-5 medium-6 small-12">
                                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                                <h3 id="lb-ais-failed"></h3>

                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <input id="btOK" class="btnP2 btn btn-for-xs" type="button" style="font-size:20px;" onclick="backError()" value="@B_OK" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="col-ais-err-aisairnumber" style="display: none;">
                        <div class="row_ais">
                            <div class="column large-5 medium-6 small-12">
                                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                                <h3 id="lb-ais-failed-aisairnumber"></h3>

                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <input id="btOKair" class="btnP2 btn btn-for-xs" type="button" style="font-size:20px;" onclick="backErrorAisAirNumber()" value="@B_OK" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="col-OTP" style="display: none;">
                        <div class="row_ais">
                            <div class="labeltext">@Html.Raw(L_EXISTING_FIBRE_WATCH_LIST)</div>
                            <div class="mobile-number">
                                <input type="text" class="inputform" id="AisMobileNumber" maxlength="10" placeholder="@L_AIS_FIBRE_NO" autocomplete="off" />
                            </div>
                            <div class="column large-5 medium-6 small-12">
                                <h4>
                                    @*@L_INPUT_OTP_1 <span style="color: #558c0b">@L_INPUT_OTP_2</span> @L_INPUT_OTP_3
                                    <br />
                                    @L_INPUT_OTP_4 <span style="color: #558c0b">@L_INPUT_OTP_5</span>*@
                                    @Html.Raw(L_INPUT_OTP)
                                </h4>
                                <div class="mobile-number">
                                    <input id="passOTP" class="inputform" type="password" autocomplete="off" maxlength="@Length_PW" placeholder="@L_PW">
                                </div>
                            </div>
                        </div>
                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <a id="showPass" style="color: gray; cursor: pointer;" onclick="ShowPassword()">@L_SHOW_PW</a>
                                    <span style="font-size: large; color: gray;">|</span> <a style="color: gray; cursor: pointer;" onclick="SentPassword()">@L_REQUEST_PW</a>
                                </div>
                            </div>
                        </div>

                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">

                                    <input id="otpOK1" class="btnP1 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important;" value="@B_OK" />
                                    <input id="otpOK2" class="btnP2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important;" onclick="SubmitOTP()" value="@B_OK" />
                                    <input id="otpCancle" class="btnP3 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " onclick="BackOTP()" value="@B_BACK" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row_ais">
                        <div class="column large-5">
                            <div class="submit-manual" id="div_btn_submit">
                                <a href="/ProcessSelect/" class="btn3" id="btnBack">@B_BACK</a>
                                 @if (isOfficer == "Y")
                                 {
                                     <input id="backOfficer" class="btnP3 btn btn-for-xs" type="button" style="font-size:20px; border: 0 !important; border-radius: 0 !important" value="@B_BACK" onclick="backToMenuOfficer()" />
                                     <input id="btnNext" class="btn2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; display: none;" value="@B_CONTINUE" onclick="checkProcessOfficer()" />
                                 }
                                 else
                                 {
                                   <input id="btnNextToInputMobile2" class="btn2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; display: none;" value="@B_CONTINUE" onclick="checkProcess()" />
                                 }
                                 <input id="btnNextToInputMobile1" class="btn1 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " value="@B_CONTINUE" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxfootshader">
                <div class="panel_ais">
                    <div class="row_ais">
                        <div class="column large-8">
                            <div class="foottext">
                                <div class="condition-head">@(Html.Raw(L_EXISTING_FIBRE_CONDITION))</div>
                                <ol>
                                    <p class="t_inline">@(Html.Raw(L_EXISTING_FIBRE_CONDITION_DETAIL))</p>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="box2_holder">
        </div>
        <div id="box3_holder">
        </div>



        <!--  Put Content Here จบเนื้อหา  -->

        <div style="clear: both;"></div>
        <div id="aisfooter">
            @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
            {
                @Html.Partial("_FooterTH")
            }
            else
            {
                @Html.Partial("_FooterEN")
            }

        </div>
        <div class="truehits-bg">&nbsp;</div>

    </div>
    <div class="truehits-bg">&nbsp;</div>

</div>
<div>
    <input type="hidden" id="GSSO_transactionID" />
    <input type='hidden' name='chkSubNetworkType' id='chkSubNetworkType' />
    <input type='hidden' name='HdchkSerenade_Flag' id='HdchkSerenade_Flag' />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@isOfficer' == "Y") {
            $("#AisMobileNumber").prop("readonly", true);
            $("#AisAirNumberOfficer").keyup(function () {
                CheckKeyUps("AisAirNumberOfficer", "[0-9]");
                CheckAirNumber88("AisAirNumberOfficer");
                if ($("#AisAirNumberOfficer").val().length == 10) {
                    $("#btnNextToInputMobile1").hide();
                    $("#btnNext").show();
                }
                else {
                    $("#btnNextToInputMobile1").show();
                    $("#btnNext").hide();
                }
            });
        }
        else {

            getCustomerCardTypes();


            $("#AisAirNumber").keyup(function () {
                CheckKeyUps("AisAirNumber", "[0-9]");
                CheckAirNumber88("AisAirNumber");
                checkBeforeInputMobileNumber();
            });
            $("#AisMobileNumber").keyup(function () {
                CheckKeyUps("AisMobileNumber", "[0-9]");
            });
            $("#L_CARD_NOs").keyup(function () {
                if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_TAX_ID");
                else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_MONK_CERT");
                else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_GOV_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_PASSPORT");
                else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_EMB_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_IMM_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_STA_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_HILL_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_CERT_FOUND");
                else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ID_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ROY_LET");

                checkBeforeInputMobileNumber();
            });
        }
        setCardMaxlength();

        $("#passOTP").keyup(function () {
            CheckKeyUps("passOTP", "@Input_PW");
            if ($("#passOTP").val().length == "@Length_PW") {
                $("#otpOK1").hide();
                $("#otpOK2").show();
            }
            else {
                $("#otpOK1").show();
                $("#otpOK2").hide();
            }
        });
    });

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                $.each(data, function (i, e) {
                    if (e.DefaultValue != undefined)
                        strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                    else
                        strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                });
                strBuilder = firstStr + strBuilder;

                $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function watchinglist(aisairno) {
        var found = false;
        try {
            $.ajax({
                type: "GET",
                url: "/MasterData/WatchingList",
                data: { 'aisAirNo': aisairno },
                dataType: "json",
                async: false,
                success: function (data) {
                    found = data;
                },
                error: function (data) {
                    //console.log("error");
                }
            });
        } catch (e) {
            //console.log(e);
        }

        return found;
    }

    function checkBeforeInputMobileNumber() {
        var ml = "";
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            ml = "@FBB_Con_Length_ID_Card_Number_TAX_ID";
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            ml = "@FBB_Con_LengthIDCardNumberMONK_CERT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_GOV_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            ml = "@FBB_Con_Length_ID_Card_Number_PASSPORT";
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_EMB_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            ml = "@FBB_Con_LengthIDCardNumberIMM_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_STA_LET";
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            ml = "@FBB_Con_LengthIDCardNumberHILL_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            ml = "@FBB_Con_Length_ID_Card_Number_CERT_FOUND";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            ml = "@FBB_Con_LengthIDCardNumberID_CARD";
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            ml = "@FBB_Con_Length_ID_Card_Number_ROY_LET";

        if ((($("#L_CARD_NOs").val() != "" && $("#ID_CARD_NAMEs :selected").val() != "ID_CARD")
            || ($("#L_CARD_NOs").val().length == ml && $("#ID_CARD_NAMEs :selected").val() == "ID_CARD"))
            && $("#AisAirNumber").val().length == 10) {
            $("#btnNextToInputMobile1").hide();
            $("#btnNextToInputMobile2").show();
        }
        else {
            $("#btnNextToInputMobile1").show();
            $("#btnNextToInputMobile2").hide();
        }
    }

    function onChangeID_CARD_NAMEs(idCardName) {
        $("#L_CARD_NOs").val("");
        $("#btnNextToInputMobile1").hide();
        $("#btnNextToInputMobile2").show();
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/GetCustomerSubCat",
            data: { 'idCardName': idCardName.value },
            dataType: "json",
            async: false,
            success: function (data) {
            },
        });

        setCardMaxlength();
    }

    function setCardMaxlength() {
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_TAX_ID");
        else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberMONK_CERT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_GOV_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_PASSPORT");
        else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_EMB_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberIMM_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_STA_LET");
        else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberHILL_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_CERT_FOUND");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberID_CARD");
        else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_ROY_LET");
    }

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                $.each(data, function (i, e) {
                    if (e.DefaultValue != undefined)
                        strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                    else
                        strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                });
                strBuilder = firstStr + strBuilder;

                $('#ID_CARD_NAMEs').append(strBuilder);
            }
        });
    }

    function SubmitOTP() {

        $.ajax({
            url: '/Process/WatchlistConfirmOneTimePW',
            data: { pwd: $('#passOTP').val(), transactionID: $('#GSSO_transactionID').val() },
            dataType: "json",
            type: 'POST',
            success: function (data) {

                if (data != null) {
                    if (data.code == "000" && data.transactionID == $('#GSSO_transactionID').val()) {
                        if ('@isOfficer' == "Y") {
                            checkProcessOfficerHandler();
                        }
                        else {
                            checkProcessHandler();
                        }
                    } else {
                        $.ajax({
                            url: '/Process/getErrorCodeOTP',
                            data: { Error_Code: data.code, Mobile_No: "SESSION" },
                            dataType: "text",
                            type: 'POST',
                            async: false,
                            success: function (data6) {
                                if (data6 != null && data6 != "") {
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').hide();
                                    $('#lb-ais-failed').html(data6);
                                    $('#col-ais-err').show();
                                } else {
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').hide();
                                    $('#lb-ais-failed').html('@L_ERR_NOT_FOUND');
                                    $('#col-ais-err').show();
                                }
                            }
                        });
                    }
                } else {
                    $('#ais-air-form').hide();
                    $('#col-OTP').hide();
                    $('#lb-ais-failed').html('@L_ERR_NOT_FOUND');
                    $('#col-ais-err').show();
                }
            }
        });
    }

    function ShowPassword() {
        if ($('#showPass').text() == '@L_SHOW_PW') {
            document.getElementById("passOTP").type = 'text';
            $('#showPass').text("@L_CLOSE_PW");
        } else {
            document.getElementById("passOTP").type = 'password';
            $('#showPass').text('@L_SHOW_PW');
        }
    }

    function SentPassword() {

        $.ajax({
            url: '/Process/SendOneTimePW',
            data: { msisdn: $.trim($("#AisMobileNumber").val()), accountType: "all" },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (data3) {
                if (data3.code == "000") {
                    $('#GSSO_transactionID').val(data3.transactionID);
                    $('#passOTP').val("");
                    $("#otpOK1").show();
                    $("#otpOK2").hide();
                } else {
                    $.ajax({
                        url: '/Process/getErrorCodeOTP',
                        data: { Error_Code: data3.code, Mobile_No: "SESSION" },
                        dataType: "text",
                        type: 'POST',
                        async: false,
                        success: function (data6) {
                            if (data6 != null && data6 != "") {
                                $('#ais-air-form').hide();
                                $('#col-OTP').hide();
                                $('#lb-ais-failed').html(data6);
                                $('#col-ais-err').show();
                            } else {
                                $('#ais-air-form').hide();
                                $('#col-OTP').hide();
                                $('#lb-ais-failed').html('@L_ERR_NOT_FOUND');
                                $('#col-ais-err').show();
                            }
                        }
                    });
                }
            }
        });
    }

    function BackOTP() {

        $('#btnNextToInputMobile1').hide();
        if ('@isOfficer' == "Y") {
            $("#btnNext").show();
        }
        else {
            $("#btnNextToInputMobile2").show();
        }

        $('#ais-air-form').show();
        $('#col-OTP').hide();
        $("#otpOK1").hide();
        $("#otpOK2").hide();
        $("#otpCancle").hide();
    }

    function backError() {
        $('#passOTP').val('');
        $('#ais-air-form').hide();
        $('#btnNextToInputMobile2').hide();
        $('#btnNextToInputMobile1').hide();
        $('#col-ais-err').hide();
        $('#col-OTP').show();
        $("#otpOK1").show();
        $("#otpOK2").hide();
        $("#otpCancle").show();
    }

    function backErrorAisAirNumber() {
        $('#ais-air-form').show();
        $('#btnNext').show();
        $('#backOfficer').show();
        $('#btnNextToInputMobile1').hide();
        $('#col-ais-err-aisairnumber').hide();
    }

    function RequestOTPFuncAir() {
        var resource = "";
        $.ajax({
            url: '/Process/SendOneTimePW',
            data: { msisdn: $.trim($("#AisMobileNumber").val()), accountType: "all" },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (data3) {
                //console.log("data3: ", data3);
                if (data3 != null) {
                    if (data3.isSuccess) {
                        if (data3.code == "000") {
                            $('#GSSO_transactionID').val(data3.transactionID);
                        }
                    }
                    resource = data3.code;
                }
            }
        });
        return resource;
    }
    function checkProcess() {

        var twoMobileNo = $("#AisAirNumber").val().substr(0, 2);
        var threeMobileNo = $("#AisAirNumber").val().substr(0, 3);
        if ("@Existing_Check_3BB_Flag" == "Y") {
            if (threeMobileNo == "@Existing_Check_Prefix_3BB") {
                $('#btnNextToInputMobile2').hide();
                $('#btnNextToInputMobile1').hide();
                $("#ais-air-form").hide();
                $("#col-ais-err").hide();

                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@Existing_Check_3BB_MSG.");
            }
            else if (twoMobileNo == "88") {
                $('#passOTP').val("");
                $.ajax({
                    url: '/Process/GetContractMobileNo',
                    data: {
                        mobileNo: $("#AisAirNumber").val(),
                        cardNo: $("#L_CARD_NOs").val(),
                        cardType: $("#ID_CARD_NAMEs").val()
                    },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        if (response) {
                            $("#AisMobileNumber").val('');
                            if ('@L_EXISTING_FIBRE_OTP_DEFAULT' == "Y") {
                                $("#AisMobileNumber").val(response.contractMobileNo);
                                var StatusRequestOTP = RequestOTPFuncAir();
                                if (StatusRequestOTP == "000") {
                                    $('#btnNextToInputMobile2').hide();
                                    $('#btnNextToInputMobile1').hide();
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').show();
                                    $("#otpOK1").show();
                                    $("#otpOK2").hide();
                                    $("#otpCancle").show();
                                }else
                                {
                                    if (StatusRequestOTP == "") {
                                        $('#btnNextToInputMobile2').hide();
                                        $('#btnNextToInputMobile1').hide();
                                        $('#ais-air-form').hide();
                                        $('#col-OTP').hide();
                                        $('#lb-ais-failed').html('@L_ERROR_OTP');
                                        $('#col-ais-err').show();
                                    }
                                    else {
                                        $.ajax({
                                            url: '/Process/getErrorCodeOTP',
                                            data: { Error_Code: StatusRequestOTP, Mobile_No: response.contractMobileNo },
                                            dataType: "text",
                                            type: 'POST',
                                            async: false,
                                            success: function (data6) {
                                                if (data6 != null && data6 != "") {
                                                    $('#btnNextToInputMobile2').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed').html(data6);
                                                    $('#col-ais-err').show();
                                                } else {
                                                    $('#btnNextToInputMobile2').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed').html('@L_ERR_NOT_FOUND');
                                                    $('#col-ais-err').show();
                                                }
                                            }
                                        });

                                    }
                                }

                            } else {
                                checkProcessHandler();
                            }
                        }
                    }
                });
        }
            else if (threeMobileNo == "007") {
                $('#btnNextToInputMobile2').hide();
                $('#btnNextToInputMobile1').hide();
                $("#ais-air-form").hide();
                $("#col-ais-err").hide();

                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
            }
            else {
                $('#btnNextToInputMobile2').hide();
                $('#btnNextToInputMobile1').hide();
                $("#ais-air-form").hide();
                $("#col-ais-err").show();

                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2.");
            }
        } else {
            if (twoMobileNo == "88") {
                $('#passOTP').val("");
                $.ajax({
                    url: '/Process/GetContractMobileNo',
                    data: {
                        mobileNo: $("#AisAirNumber").val(),
                        cardNo: $("#L_CARD_NOs").val(),
                        cardType: $("#ID_CARD_NAMEs").val()
                    },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        if (response) {
                            $("#AisMobileNumber").val('');
                            if ('@L_EXISTING_FIBRE_OTP_DEFAULT' == "Y") {
                                $("#AisMobileNumber").val(response.contractMobileNo);
                                var StatusRequestOTP = RequestOTPFuncAir();
                                if (StatusRequestOTP == "000") {
                                    $('#btnNextToInputMobile2').hide();
                                    $('#btnNextToInputMobile1').hide();
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').show();
                                    $("#otpOK1").show();
                                    $("#otpOK2").hide();
                                    $("#otpCancle").show();
                                }else
                                {
                                    if (StatusRequestOTP == "") {
                                        $('#btnNextToInputMobile2').hide();
                                        $('#btnNextToInputMobile1').hide();
                                        $('#ais-air-form').hide();
                                        $('#col-OTP').hide();
                                        $('#lb-ais-failed').html('@L_ERROR_OTP');
                                        $('#col-ais-err').show();
                                    }
                                    else {
                                        $.ajax({
                                            url: '/Process/getErrorCodeOTP',
                                            data: { Error_Code: StatusRequestOTP, Mobile_No: response.contractMobileNo },
                                            dataType: "text",
                                            type: 'POST',
                                            async: false,
                                            success: function (data6) {
                                                if (data6 != null && data6 != "") {
                                                    $('#btnNextToInputMobile2').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed').html(data6);
                                                    $('#col-ais-err').show();
                                                } else {
                                                    $('#btnNextToInputMobile2').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed').html('@L_ERR_NOT_FOUND');
                                                    $('#col-ais-err').show();
                                                }
                                            }
                                        });

                                    }
                                }

                            } else {
                                checkProcessHandler();
                            }
                        }
                    }
                });
                }
            else if (threeMobileNo == "007") {
                    $('#btnNextToInputMobile2').hide();
                    $('#btnNextToInputMobile1').hide();
                    $("#ais-air-form").hide();
                    $("#col-ais-err").hide();

                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
            }
            else {
                    $('#btnNextToInputMobile2').hide();
                    $('#btnNextToInputMobile1').hide();
                    $("#ais-air-form").hide();
                    $("#col-ais-err").show();

                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2.");
            }
        }
    }
    function checkProcessHandler() {

        $.ajax({
            url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
            data: {
                mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()),
                cardNo: $.trim($("#L_CARD_NOs").val()),
                cardType: $("#ID_CARD_NAMEs").val(),
                line: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                var data = response.data;
                $.ajax({
                    url: '/CheckCoverage/GetCheckChanvePackageProcess',
                    data: { key: data.GUIDKEY, },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        var data = response.data;
                        if (data.projectName != "FMC") {
                            $("#L_MOBILE_NOs").val(data.outMobileNumber);
                        }
                        $("#old_relate_mobile").val(data.outMobileNumber);
                        $("#outMobileNo").val(data.outMobileNumber);
                        $("#CoveragePanelModel_Address_AddressId").val(data.outAddressId);
                        $("#CustomerRegisterPanelModel_L_MOBILE").val(data.outMobileNumber);
                        if ($("#L_MOBILE_NOs").val() != "") {
                        }
                        else {
                        }

                        if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                            $("#FromPage").val("col-form");
                        } else if (data.errorMessage == "") {
                            if (data.outAccessType == "") {
                                //$("#col-form").hide();
                                //$("#div_btn_submit").hide();
                                //$("#col-err").show();
                                ////$("#lb-failed").html("@Existing_AccessType_MSG.");

                                $('#btnNextToInputMobile2').hide();
                                $('#btnNextToInputMobile1').hide();
                                $("#ais-air-form").hide();
                                $("#col-ais-err").hide();
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@Existing_AccessType_MSG.");
                            } else {
                                var v_icon_pb = "";
                                var v_icon_fl = "";
                                var v_add_playbox = data.checkPlayBox;

                                $("#outOwnerProduct").val(data.OwnerProduct);
                                $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                                $("#outContactLastName").val(data.outContactLastName);
                                $("#outAmphur").val(data.outAmphur);
                                $("#outBuildingName").val(data.outBuildingName);
                                $("#outFloor").val(data.outFloor);
                                $("#outHouseNumber").val(data.outHouseNumber);
                                $("#outMoo").val(data.outMoo);
                                $("#outMooban").val(data.outMooban);
                                $("#outProvince").val(data.outProvince);
                                $("#outRoom").val(data.outRoom);
                                $("#outSoi").val(data.outSoi);
                                $("#outStreetName").val(data.outStreetName);
                                $("#outBillLanguage").val(data.outBillLanguage);
                                $("#outtumbol").val(data.outTumbol);
                                $("#outBirthDate").val(data.outBirthDate);
                                $("#outEmail").val(data.outEmail);
                                $("#outparameter2").val(data.outparameter2);
                                $("#outAccountName").val(data.outAccountName);
                                $("#outAccountNumber").val(data.outAccountNumber);
                                $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                                $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                                $("#outProductName").val(data.outProductName);
                                $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                                $("#no").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_outFullAddress").val(data.outFullAddress);

                                $("#outcardType").val(data.cardType);
                                $("#outAccountSubCategory").val(data.outAccountSubCategory);
                                $("#outPostalCode").val(data.outPostalCode);
                                //console.log('====> debug 1');
                                $("#IDCardType").val($('#ID_CARD_NAMEs :selected').text());
                                $("#IDCardTypeENG").val($('#ID_CARD_NAMEs').val());
                                $("#IDCardNo").val($("#L_CARD_NOs").val());

                                $("#outAccountCategory").val(data.outAccountCategory);

                                /// address //
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE").val(data.outPostalCode);

                                ///detail ///
                                $("#CustomerRegisterPanelModel_L_FIRST_NAME").val(data.outPrimaryContactFirstName);
                                $("#CustomerRegisterPanelModel_L_LAST_NAME").val(data.outContactLastName);
                                $("#CustomerRegisterPanelModel_L_GOVERNMENT_NAME").val(data.outAccountName);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PERSON").val(data.outPrimaryContactFirstName + " " + data.outContactLastName);
                                $("#CustomerRegisterPanelModel_SubCateType").val(data.outAccountSubCategory);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PHONE").val(data.outparameter2);
                                $("#CustomerRegisterPanelModel_L_BIRTHDAY").val(data.outBirthDate);
                                $("#CustomerRegisterPanelModel_L_EMAIL").val(data.outEmail);

                                $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($('#ID_CARD_NAMEs :selected').text());
                                $("#CustomerRegisterPanelModel_L_CARD_NO").val($("#L_CARD_NOs").val());
                                $("#CoveragePanelModel_CA_ID").val(data.outAccountNumber);
                                $("#CoveragePanelModel_SA_ID").val(data.outServiceAccountNumber);
                                $("#CoveragePanelModel_BA_ID").val(data.outBillingAccountNumber);
                                $("#CoveragePanelModel_SffProductName").val(data.outProductName);
                                $("#CoveragePanelModel_SffServiceYear").val(data.outDayOfServiceYear);
                                $("#CoveragePanelModel_P_MOBILE").val($("#AisAirNumber").val());
                                $("#CustomerRegisterPanelModel_CateType").val(data.cardType);
                                $("#CustomerRegisterPanelModel_L_TITLE").val(data.outTitle);
                                $("#SffProfileLogID").val(data.SffProfileLogID);
                                $('#CustomerRegisterPanelModel_Project_name').val(data.projectName);

                                $("#CustomerRegisterPanelModel_vatAddress1").val(data.vatAddress1);
                                $("#CustomerRegisterPanelModel_vatAddress2").val(data.vatAddress2);
                                $("#CustomerRegisterPanelModel_vatAddress3").val(data.vatAddress3);
                                $("#CustomerRegisterPanelModel_vatAddress4").val(data.vatAddress4);
                                $("#CustomerRegisterPanelModel_vatAddress5").val(data.vatAddress5);
                                $("#CustomerRegisterPanelModel_vatPostalCd").val(data.vatPostalCd);
                                $("#CustomerRegisterPanelModel_vatAddressFull").val(data.vatAddressFull);
                                $("#v_PackageCode").val(data.PackageCode);

                                //R20.5 add by Aware : Atipon Wiparsmongkol
                                $("#CustomerRegisterPanelModel_ServiceLevel").val(data.outServiceLevel);

                                nextToPersonalInfo();
                            }
                        }
                        else { //error service
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                            $("#FromPage").val("col-form");
                        }
                    }
                });

            },
            error: function (err) {
                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                $("#FromPage").val("col-form");
            }
        });
    }

    function checkProcessOfficer() {
        var twoMobileNo = $("#AisAirNumberOfficer").val().substr(0, 2);
        var threeMobileNo = $("#AisAirNumberOfficer").val().substr(0, 3);
        if ("@Existing_Check_3BB_Flag" == "Y") {
            if (threeMobileNo == "@Existing_Check_Prefix_3BB") {
                $('#btnNext').hide();
                $('#btnNextToInputMobile1').hide();
                $('#backOfficer').hide();
                $('#ais-air-form').hide();
                $('#col-OTP').hide();
                $('#lb-ais-failed-aisairnumber').html('@Existing_Check_3BB_MSG');
                $('#col-ais-err-aisairnumber').show();
            }
            else if (twoMobileNo == "88") {
            $('#passOTP').val("");
            //console.log('AisAirNumberOfficer : ', $("#AisAirNumberOfficer").val());
            $.ajax({
                url: '/Process/GetContractMobileNo',
                data: {
                    mobileNo: $("#AisAirNumberOfficer").val(),
                    cardNo: "officer",
                    cardType: "" },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    if (response) {
                        $("#AisMobileNumber").val('');
                        $("#AisMobileNumber").val(response.contractMobileNo);
                        if ($("#AisMobileNumber").val() != "") {
                            if ('@HavePageOTP' == "Y" && '@BypassOTP' == 'N') {
                                var StatusRequestOTP = RequestOTPFuncAir();
                                if (StatusRequestOTP == "000") {
                                    $('#btnNext').hide();
                                    $('#btnNextToInputMobile1').hide();
                                    $('#backOfficer').hide();
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').show();
                                    $("#otpOK1").show();
                                    $("#otpOK2").hide();
                                    $("#otpCancle").show();
                                } else {
                                    if (StatusRequestOTP == "") {
                                        $('#btnNext').hide();
                                        $('#btnNextToInputMobile1').hide();
                                        $('#backOfficer').hide();
                                        $('#ais-air-form').hide();
                                        $('#col-OTP').hide();
                                        $('#lb-ais-failed-aisairnumber').html('Cannot call service request OTP.');
                                        $('#col-ais-err-aisairnumber').show();
                                    }
                                    else {
                                        $.ajax({
                                            url: '/Process/getErrorCodeOTP',
                                            data: { Error_Code: StatusRequestOTP, Mobile_No: response.contractMobileNo },
                                            dataType: "text",
                                            type: 'POST',
                                            async: false,
                                            success: function (data6) {
                                                if (data6 != null && data6 != "") {
                                                    $('#btnNext').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#backOfficer').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed-aisairnumber').html(data6);
                                                    $('#col-ais-err-aisairnumber').show();
                                                } else {
                                                    $('#btnNext').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#backOfficer').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed-aisairnumber').html('Cannot call service request OTP.');
                                                    $('#col-ais-err-aisairnumber').show();
                                                }
                                            }
                                        });
                                    }
                                }

                            } else {
                                checkProcessOfficerHandler();
                            }
                        }
                        else {
                            $('#btnNext').hide();
                            $('#btnNextToInputMobile1').hide();
                            $('#backOfficer').hide();
                            $('#ais-air-form').hide();
                            $('#col-OTP').hide();
                            $('#lb-ais-failed-aisairnumber').html('@L_NEW_CUST_NOT_FOUND');
                            $('#col-ais-err-aisairnumber').show();
                        }
                    }
                }
            });
        }
            else if (threeMobileNo == "007") {
            $('#btnNext').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").hide();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
        }
            else {
            $('#btnNext').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").show();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2.");
        }
        } else {
            if (twoMobileNo == "88") {
            $('#passOTP').val("");
            //console.log('AisAirNumberOfficer : ', $("#AisAirNumberOfficer").val());
            $.ajax({
                url: '/Process/GetContractMobileNo',
                data: {
                    mobileNo: $("#AisAirNumberOfficer").val(),
                    cardNo: "officer",
                    cardType: "" },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    if (response) {
                        $("#AisMobileNumber").val('');
                        $("#AisMobileNumber").val(response.contractMobileNo);
                        if ($("#AisMobileNumber").val() != "") {
                            if ('@HavePageOTP' == "Y" && '@BypassOTP' == 'N') {
                                var StatusRequestOTP = RequestOTPFuncAir();
                                if (StatusRequestOTP == "000") {
                                    $('#btnNext').hide();
                                    $('#btnNextToInputMobile1').hide();
                                    $('#backOfficer').hide();
                                    $('#ais-air-form').hide();
                                    $('#col-OTP').show();
                                    $("#otpOK1").show();
                                    $("#otpOK2").hide();
                                    $("#otpCancle").show();
                                } else {
                                    if (StatusRequestOTP == "") {
                                        $('#btnNext').hide();
                                        $('#btnNextToInputMobile1').hide();
                                        $('#backOfficer').hide();
                                        $('#ais-air-form').hide();
                                        $('#col-OTP').hide();
                                        $('#lb-ais-failed-aisairnumber').html('Cannot call service request OTP.');
                                        $('#col-ais-err-aisairnumber').show();
                                    }
                                    else {
                                        $.ajax({
                                            url: '/Process/getErrorCodeOTP',
                                            data: { Error_Code: StatusRequestOTP, Mobile_No: response.contractMobileNo },
                                            dataType: "text",
                                            type: 'POST',
                                            async: false,
                                            success: function (data6) {
                                                if (data6 != null && data6 != "") {
                                                    $('#btnNext').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#backOfficer').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed-aisairnumber').html(data6);
                                                    $('#col-ais-err-aisairnumber').show();
                                                } else {
                                                    $('#btnNext').hide();
                                                    $('#btnNextToInputMobile1').hide();
                                                    $('#backOfficer').hide();
                                                    $('#ais-air-form').hide();
                                                    $('#col-OTP').hide();
                                                    $('#lb-ais-failed-aisairnumber').html('Cannot call service request OTP.');
                                                    $('#col-ais-err-aisairnumber').show();
                                                }
                                            }
                                        });
                                    }
                                }

                            } else {
                                checkProcessOfficerHandler();
                            }
                        }
                        else {
                            $('#btnNext').hide();
                            $('#btnNextToInputMobile1').hide();
                            $('#backOfficer').hide();
                            $('#ais-air-form').hide();
                            $('#col-OTP').hide();
                            $('#lb-ais-failed-aisairnumber').html('@L_NEW_CUST_NOT_FOUND');
                            $('#col-ais-err-aisairnumber').show();
                        }
                    }
                }
            });
        }
            else if (threeMobileNo == "007") {
            $('#btnNext').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").hide();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11.");
        }
            else {
            $('#btnNext').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").show();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2.");
        }
        }
    }

    function checkProcessOfficerHandler() {

        $.ajax({
            url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
            data: {
                mobileNo: codefbb.fbbMessage($("#AisAirNumberOfficer").val()),
                cardNo: "officer",
                cardType: "",
                line: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                var data = response.data;

                $.ajax({
                    url: '/CheckCoverage/GetCheckChanvePackageProcess',
                    data: { key: data.GUIDKEY, },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        var data = response.data;
                        if (data.projectName != "FMC") {
                            $("#L_MOBILE_NOs").val(data.outMobileNumber);
                        }
                        $("#old_relate_mobile").val(data.outMobileNumber);
                        $("#outMobileNo").val(data.outMobileNumber);
                        $("#CoveragePanelModel_Address_AddressId").val(data.outAddressId);
                        $("#CustomerRegisterPanelModel_L_MOBILE").val(data.outMobileNumber);
                        if ($("#L_MOBILE_NOs").val() != "") {
                        }
                        else {
                        }

                        if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                            $("#FromPage").val("col-form");
                        } else if (data.errorMessage == "") {
                            if (data.outAccessType == "") {
                                //$("#col-form").hide();
                                //$("#div_btn_submit").hide();
                                //$("#col-err").show();
                                ////$("#lb-failed").html("@Existing_AccessType_MSG.");

                                $('#btnNext').hide();
                                $('#btnNextToInputMobile1').hide();
                                $('#backOfficer').hide();
                                $('#ais-air-form').hide();
                                $('#col-OTP').hide();
                                $('#lb-ais-failed-aisairnumber').html('@Existing_AccessType_MSG');
                                $('#col-ais-err-aisairnumber').show();
                            } else {
                                var v_icon_pb = "";
                                var v_icon_fl = "";
                                var v_add_playbox = data.checkPlayBox;

                                $("#outOwnerProduct").val(data.OwnerProduct);
                                $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                                $("#outContactLastName").val(data.outContactLastName);
                                $("#outAmphur").val(data.outAmphur);
                                $("#outBuildingName").val(data.outBuildingName);
                                $("#outFloor").val(data.outFloor);
                                $("#outHouseNumber").val(data.outHouseNumber);
                                $("#outMoo").val(data.outMoo);
                                $("#outMooban").val(data.outMooban);
                                $("#outProvince").val(data.outProvince);
                                $("#outRoom").val(data.outRoom);
                                $("#outSoi").val(data.outSoi);
                                $("#outStreetName").val(data.outStreetName);
                                $("#outBillLanguage").val(data.outBillLanguage);
                                $("#outtumbol").val(data.outTumbol);
                                $("#outBirthDate").val(data.outBirthDate);
                                $("#outEmail").val(data.outEmail);
                                $("#outparameter2").val(data.outparameter2);
                                $("#outAccountName").val(data.outAccountName);
                                $("#outAccountNumber").val(data.outAccountNumber);
                                $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                                $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                                $("#outProductName").val(data.outProductName);
                                $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                                $("#no").val($("#AisAirNumberOfficer").val());
                                $("#CustomerRegisterPanelModel_outFullAddress").val(data.outFullAddress);

                                $("#outcardType").val(data.cardType);
                                $("#outAccountSubCategory").val(data.outAccountSubCategory);
                                $("#outPostalCode").val(data.outPostalCode);

                                $("#outAccountCategory").val(data.outAccountCategory);

                                /// address //
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSetup_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelSendDoc_L_ZIPCODE").val(data.outPostalCode);

                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_HOME_NUMBER_2").val(data.outHouseNumber);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOO").val(data.outMoo);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_MOOBAN").val(data.outMooban);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_BUILD_NAME").val(data.outBuildingName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_FLOOR").val(data.outFloor);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROOM").val(data.outRoom);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_SOI").val(data.outSoi);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ROAD").val(data.outStreetName);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_TUMBOL").val(data.outTumbol);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_AMPHUR").val(data.outAmphur);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_PROVINCE").val(data.outProvince);
                                $("#CustomerRegisterPanelModel_AddressPanelModelVat_L_ZIPCODE").val(data.outPostalCode);

                                ///detail ///
                                $("#CustomerRegisterPanelModel_L_FIRST_NAME").val(data.outPrimaryContactFirstName);
                                $("#CustomerRegisterPanelModel_L_LAST_NAME").val(data.outContactLastName);
                                $("#CustomerRegisterPanelModel_L_GOVERNMENT_NAME").val(data.outAccountName);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PERSON").val(data.outPrimaryContactFirstName + " " + data.outContactLastName);
                                $("#CustomerRegisterPanelModel_SubCateType").val(data.outAccountSubCategory);
                                $("#CustomerRegisterPanelModel_L_CONTACT_PHONE").val(data.outparameter2);
                                $("#CustomerRegisterPanelModel_L_BIRTHDAY").val(data.outBirthDate);
                                $("#CustomerRegisterPanelModel_L_EMAIL").val(data.outEmail);

                                $("#CustomerRegisterPanelModel_L_CARD_TYPE").val($('#ID_CARD_NAMEs :selected').text());
                                $("#CustomerRegisterPanelModel_L_CARD_NO").val($("#L_CARD_NOs").val());
                                $("#CoveragePanelModel_CA_ID").val(data.outAccountNumber);
                                $("#CoveragePanelModel_SA_ID").val(data.outServiceAccountNumber);
                                $("#CoveragePanelModel_BA_ID").val(data.outBillingAccountNumber);
                                $("#CoveragePanelModel_SffProductName").val(data.outProductName);
                                $("#CoveragePanelModel_SffServiceYear").val(data.outDayOfServiceYear);
                                $("#CoveragePanelModel_P_MOBILE").val($("#AisAirNumberOfficer").val());
                                $("#CustomerRegisterPanelModel_CateType").val(data.cardType);
                                $("#CustomerRegisterPanelModel_L_TITLE").val(data.outTitle);
                                $("#SffProfileLogID").val(data.SffProfileLogID);
                                $('#CustomerRegisterPanelModel_Project_name').val(data.projectName);

                                $("#CustomerRegisterPanelModel_vatAddress1").val(data.vatAddress1);
                                $("#CustomerRegisterPanelModel_vatAddress2").val(data.vatAddress2);
                                $("#CustomerRegisterPanelModel_vatAddress3").val(data.vatAddress3);
                                $("#CustomerRegisterPanelModel_vatAddress4").val(data.vatAddress4);
                                $("#CustomerRegisterPanelModel_vatAddress5").val(data.vatAddress5);
                                $("#CustomerRegisterPanelModel_vatPostalCd").val(data.vatPostalCd);
                                $("#CustomerRegisterPanelModel_vatAddressFull").val(data.vatAddressFull);
                                $("#v_PackageCode").val(data.PackageCode);

                                //R20.5 add by Aware : Atipon Wiparsmongkol
                                $("#CustomerRegisterPanelModel_ServiceLevel").val(data.outServiceLevel);

                                nextToPersonalInfo();
                            }
                        }
                        else { //error service
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                            $("#FromPage").val("col-form");
                        }
                    }
                });

            },
            error: function (err) {
                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND.");
                $("#FromPage").val("col-form");
            }
        });
    }

    function backToMenuOfficer() {
        $("#SearchProfilefrm").attr("action", "@Url.Action("MenuOfficer","Process")");
        $("#SearchProfilefrm").submit();
    }

    function redirectMain() {
        alert("red");
        $.ajax({
            url: "/Process/RedirectExistingFibreMain",
            data: {},
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {

            }
        });
    }
</script>
