@using WBBEntity.PanelModels;
@{
    Layout = null;
    string L_LOGIN_FAILED = "";

    string L_MY_ACCOUNT = "";
    string L_WELCOME_1 = "";
    string L_WELCOME_2 = "";
    string L_WELCOME_3 = "";
    string L_WELCOME_4 = "";
    string L_WELCOME_5 = "";
    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";
    }

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_MY_ACCOUNT = LabelFBBTR001.Any(c => c.Name == "L_MY_ACCOUNT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_MY_ACCOUNT").DisplayValue : "";
        
    }

    
    
    if (ViewBag.LabelFBBOR015 != null)
    {
        var LabelFBBOR015 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR015;
        L_WELCOME_1 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_1") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_1").DisplayValue : "";
        L_WELCOME_2 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_2") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_2").DisplayValue : "";
        L_WELCOME_3 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_3") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_3").DisplayValue : "";
        L_WELCOME_4 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_4") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_4").DisplayValue : "";
        L_WELCOME_5 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_5") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_5").DisplayValue : "";
    }

    string L_EXISTING_FIBRE_CONDITION = "";
    string L_EXISTING_FIBRE_CONDITION_DETAIL = "";
    string B_OK = "";

    if (ViewBag.LabelLovScreenFBBWEB031 != null)
    {
        var LabelLovScreenFBBWEB031 = (List<LovScreenValueModel>)ViewBag.LabelLovScreenFBBWEB031;

        L_EXISTING_FIBRE_CONDITION = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CONDITION") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CONDITION").DisplayValue : "N";
        L_EXISTING_FIBRE_CONDITION_DETAIL = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CONDITION_DETAIL") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CONDITION_DETAIL").DisplayValue : "N";
        B_OK = LabelLovScreenFBBWEB031.Any(c => c.Name == "B_OK") ? LabelLovScreenFBBWEB031.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";       
    }
}

    
<div id="col-err">
  <div id="container">
    <!--  Put Content Here เริ่มต้นเนื้อหา  -->
    	
    <div id="box1_holder">
      <div class="panel_ais paddingmedium" >
          <div class="row_ais">
                <p class="clearfix"></p>
                <p class="clearfix"></p>
                <div class="col-xs-12 col-sm-12 col-md-12"  style="max-width: 1500px; padding-left: 0 !important; padding-right: 0 !important">
                    <div class="col-xs-12" style="text-align: right; padding-left: 0 !important; padding-right: 0 !important">

                        @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
                        {
                           <a id="btnTh" href="~/WBB/ChangeCurrentCulture?culture=2" onclick="sessionStorage.setItem('detectedIE', '');">
                            <img src="~/Content/Content2016/images/lang_th.png" alt="" border="0" /></a>
                        }
                        else
                        {
                            <a id="btnEn" href="~/WBB/ChangeCurrentCulture?culture=1" class="i-hidden" onclick="sessionStorage.setItem('detectedIE', '');">
                            <img src="~/Content/Content2016/images/lang_en.png" alt="" border="0" /></a>
                        }

                    </div>
                </div>
            </div>
      <div class="row_ais">
        <div class="column large-12">
            <div class="fibrelogo"><img src="~/Content/images/postpaid/fibre_logo.png" alt=""/></div>
            <div class="welcometext">@L_MY_ACCOUNT</div>
        </div>
      </div>
      <div class="row_ais">
          <div class="column large-4">
          <div class="subheader">@L_WELCOME_1 <span>@L_WELCOME_2</span></div>
          <div class="detailtext">
            @L_WELCOME_3<br>
            @L_WELCOME_4<br>
            @L_WELCOME_5
          </div>
          </div>
      </div>
      <div class="boxform pay-topspace">
      <div class="row_ais">
         


          <!--div login error-->
          <div class="col-sm-6 col-md-6" id="col-err2">

                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                <h3 id="lb-failed"></h3>

                <br />
                <br />

                @*<p align="right">
                    <a class="btn2" onclick="backForm()">@B_OK</a>
                </p>*@
               <input id="btnerror" onclick="backForm()" class="btn2 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " value="@B_OK" />
        
            </div>
          <!-- end div login error-->

      </div>
      
      </div>
      </div>
      
      <div class="boxfootshader">
      <div class="panel_ais">
      <div class="row_ais">
      <div class="column large-8">
      <div class="foottext">
         <div class="condition-head">@(Html.Raw(L_EXISTING_FIBRE_CONDITION))</div>
        <ol>
          <div class="t_inline">@(Html.Raw(L_EXISTING_FIBRE_CONDITION_DETAIL))</div>
        </ol>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      
    </div>
    
    <div id="box2_holder">
      
    </div>
    <div id="box3_holder">
      
    </div>
    
    
    
    <!--  Put Content Here จบเนื้อหา  -->

    <div style="clear:both;"></div>
  <div id="aisfooter">
        @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
        {
            @Html.Partial("_FooterTH")
        }
        else
        {
            @Html.Partial("_FooterEN")
        }
        
        </div>
        <div class="truehits-bg">&nbsp;</div> 

    </div>
      
      <div class="truehits-bg">&nbsp;</div> 

    </div>
    
</div>

<input type='hidden' name='FromPage' id='FromPage' />

<script type="text/javascript">
   

    function backForm() {
        $("#col-err").hide();
        if ($("#FromPage").val() == "col-form") {
            $("#col-form").show();            
        }
        else if ($("#FromPage").val() == "col-formInputMobileNo")
        {
            //กรณีให้ส่งใหม่
            //$('#col-formInputMobileNo').show();
            //$("#btnSendOTP2").show();
            //$("#col-Condition").show();

            //กลับไปหน้าแรก
            window.location.href = window.location.href;
        }
        else if($("#FromPage").val() == "col-formInputOTP")
        {
            //กรณีให้กรอกใหม่
            //$('#col-formInputMobileNo').show();
            //$('#col-formInputOTP').show();

            //กลับไปหน้าแรก
            window.location.href = window.location.href;
        }
        else
        {
            //location.reload();
            window.location.href = window.location.href;
        }
    }

    //function changeLanguage() {
    //    if ($("#LanguagePage").val() == "1") {
    //        $("#btnTh").show();
    //        $("#btnEn").hide();

    //    }
    //    else {
    //        $("#btnTh").hide();
    //        $("#btnEn").show();

    //    }
    //}
</script>
     