@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels
@{
    Layout = null;

    string B_NEXT = "";

    string L_PROFILE_WELCOME = "";
    string L_AIS_FIBRE_NO = "";
    string L_MOBILE_NUMBER = "";
    string L_PROFILE_PACKAGE = "";

    if (ViewBag.LabelLovScreen != null)
    {
        var labelLovScreen = (List<LovScreenValueModel>)ViewBag.labelLovScreen;

        B_NEXT = labelLovScreen.Any(c => c.Name == "B_NEXT") ? labelLovScreen.First(c => c.Name == "B_NEXT").DisplayValue : "";
        L_AIS_FIBRE_NO = labelLovScreen.Any(c => c.Name == "L_AIS_FIBRE_NO") ? labelLovScreen.First(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_MOBILE_NUMBER = labelLovScreen.Any(c => c.Name == "L_MOBILE_NUMBER") ? labelLovScreen.First(c => c.Name == "L_MOBILE_NUMBER").DisplayValue : ""; //FBBOR015
        L_PROFILE_PACKAGE = labelLovScreen.Any(c => c.Name == "L_PROFILE_PACKAGE") ? labelLovScreen.First(c => c.Name == "L_PROFILE_PACKAGE").DisplayValue : "";

        L_PROFILE_WELCOME = labelLovScreen.Any(c => c.Name == "L_PROFILE_WELCOME") ? labelLovScreen.First(c => c.Name == "L_PROFILE_WELCOME").DisplayValue : "";
    }
    QuickWinPanelModel qwm = new QuickWinPanelModel();
    if (ViewBag.QuickWinPanelModel != null)
    {
        qwm = (QuickWinPanelModel)ViewBag.QuickWinPanelModel;
    }
    string L_EXISTING_FIBRE_OTP_DEFAULT = "";
    string L_EXISTING_FIBRE_MENU_HOME = "";
    string L_EXISTING_FIBRE_MENU_PACKAGE = "";
    string L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE = "";
    string L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE = "";
    string L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE = "";
    string L_EXISTING_FIBRE_WELCOME = "";
    string L_EXISTING_FIBRE_TYPE_OF_PRIVILEGE = "";
    string L_EXISTING_FIBRE_MOBILE_SERVICE_YEAR = "";
    string L_EXISTING_FIBRE_EMAIL = "";
    string L_EXISTING_FIBRE_THE_LAST_TIME = "";
    string L_EXISTING_FIBRE_FAQ = "";
    string L_EXISTING_FIBRE_CONTACT = "";
    string L_EXISTING_FIBRE_LOGOUT = "";
    string L_EXISTING_FIBRE_CURRENT_PACKAGE = "";

    if (ViewBag.LabelLovScreenFBBWEB031 != null)
    {
        var LabelLovScreenFBBWEB031 = (List<LovScreenValueModel>)ViewBag.LabelLovScreenFBBWEB031;

        L_EXISTING_FIBRE_OTP_DEFAULT = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_OTP_DEFAULT") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_OTP_DEFAULT").DisplayValue : "";
        L_EXISTING_FIBRE_MENU_HOME = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MENU_HOME") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MENU_HOME").DisplayValue : "";
        L_EXISTING_FIBRE_MENU_PACKAGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MENU_PACKAGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MENU_PACKAGE").DisplayValue : "";
        L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE").DisplayValue : "";
        L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE").DisplayValue : "";
        L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE").DisplayValue : "";
        L_EXISTING_FIBRE_WELCOME = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_WELCOME") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_WELCOME").DisplayValue : "";
        L_EXISTING_FIBRE_TYPE_OF_PRIVILEGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_TYPE_OF_PRIVILEGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_TYPE_OF_PRIVILEGE").DisplayValue : "";
        L_EXISTING_FIBRE_MOBILE_SERVICE_YEAR = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_MOBILE_SERVICE_YEAR") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_MOBILE_SERVICE_YEAR").DisplayValue : "";
        L_EXISTING_FIBRE_EMAIL = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_EMAIL") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_EMAIL").DisplayValue : "";
        L_EXISTING_FIBRE_THE_LAST_TIME = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_THE_LAST_TIME") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_THE_LAST_TIME").DisplayValue : "";
        L_EXISTING_FIBRE_FAQ = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_FAQ") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_FAQ").DisplayValue : "";
        L_EXISTING_FIBRE_CONTACT = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CONTACT") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CONTACT").DisplayValue : "";
        L_EXISTING_FIBRE_LOGOUT = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_LOGOUT") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_LOGOUT").DisplayValue : "";
        L_EXISTING_FIBRE_CURRENT_PACKAGE = LabelLovScreenFBBWEB031.Any(c => c.Name == "L_EXISTING_FIBRE_CURRENT_PACKAGE") ? LabelLovScreenFBBWEB031.First(c => c.Name == "L_EXISTING_FIBRE_CURRENT_PACKAGE").DisplayValue : "";
    }
}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link type="image/ico" href="resource/common/images/COM/favicon.ico" rel="icon">
    <title>AIS eService บริการออนไลน์ จัดการทุกเรื่องง่ายๆ ได้ 24 ชม.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="DESCRIPTION"
          content="บริการออนไลน์ เช็กค่าโทรรายเดือน ตรวจสอบยอดการใช้โทรศัพท์มือถือ จัดการจ่ายค่าโทร AIS ฯลฯ ด้วยตัวคุณเองได้ง่ายๆ ตลอด 24 ชั่วโมงกับ  AIS eService" />
    <meta name="KEYWORDS" content="ais eservice,เช็กค่าโทร  ais" />
    <link href="~/Content/ExistingFibre/css/main.css" rel="stylesheet" />
    <link href="~/Content/ExistingFibre/css/module.css" rel="stylesheet" />
    <link href="~/Content/ExistingFibre/css/app.css" rel="stylesheet" />
    <link href="~/Content/ExistingFibre/css/vendor.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/js/jquery")
</head>
<body>
    <div class="header">
        <div menu-mobile="">
            <div id="headmenu" class="mobilemenu">menu</div>
            <div id="menu_mobile" class="l_pad15 r_pad15 t_pad10" style="display:none">
                <div ng-show="isDisplay" class="mobile-menu-wrapper r_pad15 ng-hide">
                    <div id="headmenufull" class="mobileactive">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="40%" id="menuDisplay">
                                        <img src="~/Content/ExistingFibre/img/icon_menu_mobile.png">
                                        <span>menu</span>
                                    </td>
                                    <td>
                                        <div class="langmobile">
                                            <ul>
                                                <li>
                                                    <a>
                                                        <div class="lang radius3">EN</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="lang radius3 curent">TH</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="sideinner_top ng-scope">

                        <div class="ng-hide">
                            <div class="mobile-number ng-binding ng-scope">@Session["CONTRACTMOBILENO"]</div>
                        </div>
                    </div>
                    <ul class="red" id="submobile">
                        <!-- ngRepeat: menu in menus -->
                        <li class="mobile-menu-lv1 ng-scope"> <a class="ng-isolate-scope"> <img width="45" alt="" src="~/Content/ExistingFibre/img/menu_home_mobile.gif"> <span class="ng-binding">@L_EXISTING_FIBRE_MENU_HOME</span> </a> <!-- ngIf: !menu.isLeaf --> </li><!-- end ngRepeat: menu in menus -->
                        <li class="mobile-menu-lv1 ng-scope">
                            <a class="ng-isolate-scope" id="menu_package"> <img width="45" alt="" src="~/Content/ExistingFibre/img/menu_packages_mobile.gif"> <span class="ng-binding">@L_EXISTING_FIBRE_MENU_PACKAGE</span> </a> <!-- ngIf: !menu.isLeaf -->
                            <ul id="sub_menu_package" class="mobile-menu-lv2 menu-toggle-animation ng-scope ng-animate active" style="display: none;">
                                <li class="ng-scope">
                                    <a class="ng-isolate-scope" id="menu_change_package">
                                        <div class="m_sub_icon">
                                            <span class="ng-binding">@L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE</span>
                                        </div>
                                    </a>
                                    <a class="ng-isolate-scope" id="menu_ontop">
                                        <div class="m_sub_icon">
                                            <span class="ng-binding">@L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE</span>
                                        </div>
                                    </a>
                                    <a class="ng-isolate-scope" id="menu_newtopup">
                                        <div class="m_sub_icon">
                                            <span class="ng-binding">@L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        <li class="mobile-menu-lv1"><a href="#/faq"><img src="~/Content/ExistingFibre/img/menu_faq.gif" width="45"><span class="ng-binding">คำถามที่พบบ่อย</span></a></li>
                        <li class="mobile-menu-lv1"><a target="_blank" href="https://www.ais.co.th/callcenter/th/call_center.html"><img src="~/Content/ExistingFibre/img/menu_contact.gif" width="45"><span class="ng-binding">ติดต่อเรา</span></a></li>
                        <li class="mobile-menu-lv1"><a href="@Url.Action("ExistingFibre", "Process")"><img src="~/Content/ExistingFibre/img/menu_logout.gif" width="45"><span class="ng-binding">ออกจากระบบ</span></a></li>
                    </ul> <div id="submobile_bottom"></div>
                </div>
            </div>
            <div class="panel">
                <div id="logo_aismobile"> <a href="https://www.ais.co.th/Default.aspx" target="_blank"> <img width="116" height="62" src="~/Content/ExistingFibre/img/logo_mobile.png"> </a> </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="menu top-link-menu">
                    <ul>
                        <li><a id="langpc_en" class="lang radius3">EN</a></li>
                        <li><a id="langpc_th" class="lang radius3 curent">TH</a></li>
                        <li><a href="@Url.Action("ExistingFibre", "Process")"><span class="text_menu">@L_EXISTING_FIBRE_LOGOUT</span></a></li>
                        <li><a href="https://www.ais.co.th/callcenter/th/call_center.html" target="_blank"><span class="text_menu">@L_EXISTING_FIBRE_CONTACT</span></a></li>
                        <li><a href="#/faq"><span class="text_menu">@L_EXISTING_FIBRE_FAQ</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="slidemenu">
        <div id="slide_interface">
            <div class="sidemenu">
                <div id="sidemenu" class="radius5 magin_bottom15 hidden-print">
                    <img src="~/Content/ExistingFibre/img/logo_postpaid.png" style="width:270px;height: 98px" width="270" height="98" alt=""> <!-- ngIf: auth.hybridFlag!='Y' -->
                    <div id="sideinnerTop" class="sideinner_top ng-scope">
                        <div class="mobile-number ng-binding ng-scope" id="lblMobileNumVal"></div>
                    </div>
                    <ul class="ng-scope">
                        <!-- ngRepeat: menu in menus -->
                        <li class="menu-lv1 ng-scope">
                            <a id="menu-1" class="sideinner ng-isolate-scope curent">
                                <img src="~/Content/ExistingFibre/img/menu_home.gif" width="43" height="39">
                                <span class="ng-binding">@L_EXISTING_FIBRE_MENU_HOME</span>
                            </a>
                        </li>
                        <li class="menu-lv1 ng-scope">
                            <a id="menu-2" class="sideinner ng-isolate-scope" onclick="menuExpand('menu-2');">
                                <img width="43" height="39" src="~/Content/ExistingFibre/img/menu_packages.gif">
                                <span class="ng-binding">@L_EXISTING_FIBRE_MENU_PACKAGE</span>
                            </a>
                            <ul class="menu-2 menu-toggle-animation ng-scope ng-animate active" style="display:none">
                                <li class="ng-scope">
                                    <a id="menu-3" class="subside ng-isolate-scope">
                                        <img src="~/Content/ExistingFibre/img/spacer.gif" width="48" height="39">
                                        <span class="ng-binding">@L_EXISTING_FIBRE_MENU_CHANGEMAIN_PACKAGE</span>
                                    </a>
                                </li>
                                <li class="ng-scope" id="topupplaybox">
                                    <a id="menu-4" class="subside ng-isolate-scope" href="#/packages/current" target="">
                                        <img src="~/Content/ExistingFibre/img/spacer.gif" width="48" height="39">
                                        <span class="ng-binding">@L_EXISTING_FIBRE_MENU_ONTOP_PACKAGE</span>
                                    </a>
                                </li>
                                <li class="ng-scope">
                                    <a id="menu-5" class="subside ng-isolate-scope" href="#/packages/current" target="">
                                        <img src="~/Content/ExistingFibre/img/spacer.gif" width="48" height="39">
                                        <span class="ng-binding">@L_EXISTING_FIBRE_MENU_NEWPLAYBOX_PACKAGE</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- end ngIf: menus.$resolved && menus.length > 0 --> <div style="height:6px; background-color:#b9c600"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#headmenu').on('click', function () {
                $('#menu_mobile').css('display', 'block');

            });
            $('#menuDisplay').on('click', function () {
                $('#menu_mobile').css('display', 'none');
            });

            $('#menu_package').on('click', function () {
                if ($('#sub_menu_package').css('display') == 'block') {
                    $('#sub_menu_package').css('display', 'none')
                } else {
                    $('#sub_menu_package').css('display', 'block')
                }

            });
            $('#menu_change_package').on('click', function () {

            });

            $('#menu_ontop').on('click', function () {

            });
            $('#menu_newtopup').on('click', function () {

            });
        });
    </script>
</body>
</html>