@using WBBEntity.PanelModels;
@model WBBEntity.PanelModels.LeaveMessageDataModel

@{   
    Layout = "~/Views/Fbbsaleportal/_Layout.cshtml";

    string H_SALE_PORTAL_MNG_1 = "";

    string H_CUST_INFO = "";
    string L_REF_NO = "";
    string L_SERVICE_SPEED = "";
    string L_CUST_NAME = "";
    string L_CUST_SURNAME = "";
    string L_CONTACT_MOBILE_NO = "";
    string L_IS_AIS_MOBILE = "";

    string L_INSTALLATION_ADDRESS = "";
    string L_CONTACT_EMAIL = "";
    string L_HOUSE_NO = "";
    string L_BUILDING_NAME = "";
    string L_VILLAGE_NAME = "";
    string L_SOI = "";
    string L_ROAD = "";
    string L_SUB_DISTRICT = "";
    string L_DISTRICT = "";
    string L_PROVINCE = "";
    string L_POSTAL_CODE = "";
    string L_CONTACT_TIME = "";

    string H_FOR_OFFICER = "";
    string L_RESULT_CONTACT = "";
    string L_CAN_CONTACT = "";
    string L_CANNOT_CONTACT = "";
    string L_RESULT_COVERAGE = "";
    string L_IN_COVERAGE = "";
    string L_OUT_COVERAGE = "";
    string L_RESULT_REGISTER = "";
    string L_REGISTER = "";
    string L_NOT_REGISTER = "";
    string L_CHOOSE_REASON = "";
    string L_COMPLEATED_FLAG = "";

    //17.3

    string L_LOCATION_CODE = "";
    string L_ASC_CODE = "";
    string L_CHANNEL = "";

    //17.7 Member get Member
    string L_MGM_LCCODE = "";
    string L_MGM_ASCCODE = "";
    string L_MGM_EMP_ID = "";
    string L_MGM_OUT_TYPE = "";
    string L_MGM_OUT_SUB_TYPE = "";

    string L_LINE_ID = "";
    string L_VOUCHER_DESC = "";

    string B_REGISTER = "";

    //17.10
    string L_STAFF_LOGIN = "";

    string L_LOCATION = "";

    string L_FULLADDRESS = "";
    //R20.12
    //string L_ADDRES_MC = "";
    string L_ORDER_MC = "";
    //R21.6
    string L_LATITUDE = "";
    string L_LONGITUDE = "";

    //UR_Partner
    string L_EMP_ID = "";
    string L_CAMPAIGN_PROJECT_NAME = "";

    if (ViewBag.configscreen != null)
    {
        var configscreen = (List<LovScreenValueModel>)ViewBag.configscreen;

        H_SALE_PORTAL_MNG_1 = configscreen.Any(f => f.Name == "H_SALE_PORTAL_MNG_1") ? configscreen.FirstOrDefault(f => f.Name == "H_SALE_PORTAL_MNG_1").DisplayValue : "";
        H_CUST_INFO = configscreen.Any(f => f.Name == "H_CUST_INFO") ? configscreen.FirstOrDefault(f => f.Name == "H_CUST_INFO").DisplayValue : "";
        L_REF_NO = configscreen.Any(f => f.Name == "L_REF_NO") ? configscreen.FirstOrDefault(f => f.Name == "L_REF_NO").DisplayValue : "";
        L_SERVICE_SPEED = configscreen.Any(f => f.Name == "L_SERVICE_SPEED") ? configscreen.FirstOrDefault(f => f.Name == "L_SERVICE_SPEED").DisplayValue : "";
        L_CUST_NAME = configscreen.Any(f => f.Name == "L_CUST_NAME") ? configscreen.FirstOrDefault(f => f.Name == "L_CUST_NAME").DisplayValue : "";
        L_CUST_SURNAME = configscreen.Any(f => f.Name == "L_CUST_SURNAME") ? configscreen.FirstOrDefault(f => f.Name == "L_CUST_SURNAME").DisplayValue : "";
        L_CONTACT_MOBILE_NO = configscreen.Any(f => f.Name == "L_CONTACT_MOBILE_NO") ? configscreen.FirstOrDefault(f => f.Name == "L_CONTACT_MOBILE_NO").DisplayValue : "";
        L_IS_AIS_MOBILE = configscreen.Any(f => f.Name == "L_IS_AIS_MOBILE") ? configscreen.FirstOrDefault(f => f.Name == "L_IS_AIS_MOBILE").DisplayValue : "";

        L_INSTALLATION_ADDRESS = configscreen.Any(f => f.Name == "L_INSTALLATION_ADDRESS") ? configscreen.FirstOrDefault(f => f.Name == "L_INSTALLATION_ADDRESS").DisplayValue : "";
        L_CONTACT_EMAIL = configscreen.Any(f => f.Name == "L_CONTACT_EMAIL") ? configscreen.FirstOrDefault(f => f.Name == "L_CONTACT_EMAIL").DisplayValue : "";
        L_HOUSE_NO = configscreen.Any(f => f.Name == "L_HOUSE_NO") ? configscreen.FirstOrDefault(f => f.Name == "L_HOUSE_NO").DisplayValue : "";
        L_BUILDING_NAME = configscreen.Any(f => f.Name == "L_BUILDING_NAME") ? configscreen.FirstOrDefault(f => f.Name == "L_BUILDING_NAME").DisplayValue : "";
        L_VILLAGE_NAME = configscreen.Any(f => f.Name == "L_VILLAGE_NAME") ? configscreen.FirstOrDefault(f => f.Name == "L_VILLAGE_NAME").DisplayValue : "";
        L_SOI = configscreen.Any(f => f.Name == "L_SOI") ? configscreen.FirstOrDefault(f => f.Name == "L_SOI").DisplayValue : "";
        L_ROAD = configscreen.Any(f => f.Name == "L_ROAD") ? configscreen.FirstOrDefault(f => f.Name == "L_ROAD").DisplayValue : "";
        L_SUB_DISTRICT = configscreen.Any(f => f.Name == "L_SUB_DISTRICT") ? configscreen.FirstOrDefault(f => f.Name == "L_SUB_DISTRICT").DisplayValue : "";
        L_DISTRICT = configscreen.Any(f => f.Name == "L_DISTRICT") ? configscreen.FirstOrDefault(f => f.Name == "L_DISTRICT").DisplayValue : "";
        L_PROVINCE = configscreen.Any(f => f.Name == "L_PROVINCE") ? configscreen.FirstOrDefault(f => f.Name == "L_PROVINCE").DisplayValue : "";
        L_POSTAL_CODE = configscreen.Any(f => f.Name == "L_POSTAL_CODE") ? configscreen.FirstOrDefault(f => f.Name == "L_POSTAL_CODE").DisplayValue : "";
        L_CONTACT_TIME = configscreen.Any(f => f.Name == "L_CONTACT_TIME") ? configscreen.FirstOrDefault(f => f.Name == "L_CONTACT_TIME").DisplayValue : "";

        H_FOR_OFFICER = configscreen.Any(f => f.Name == "H_FOR_OFFICER") ? configscreen.FirstOrDefault(f => f.Name == "H_FOR_OFFICER").DisplayValue : "";
        L_RESULT_CONTACT = configscreen.Any(f => f.Name == "L_RESULT_CONTACT") ? configscreen.FirstOrDefault(f => f.Name == "L_RESULT_CONTACT").DisplayValue : "";
        L_CAN_CONTACT = configscreen.Any(f => f.Name == "L_CAN_CONTACT") ? configscreen.FirstOrDefault(f => f.Name == "L_CAN_CONTACT").DisplayValue : "";
        L_CANNOT_CONTACT = configscreen.Any(f => f.Name == "L_CANNOT_CONTACT") ? configscreen.FirstOrDefault(f => f.Name == "L_CANNOT_CONTACT").DisplayValue : "";
        L_RESULT_COVERAGE = configscreen.Any(f => f.Name == "L_RESULT_COVERAGE") ? configscreen.FirstOrDefault(f => f.Name == "L_RESULT_COVERAGE").DisplayValue : "";
        L_IN_COVERAGE = configscreen.Any(f => f.Name == "L_IN_COVERAGE") ? configscreen.FirstOrDefault(f => f.Name == "L_IN_COVERAGE").DisplayValue : "";
        L_OUT_COVERAGE = configscreen.Any(f => f.Name == "L_OUT_COVERAGE") ? configscreen.FirstOrDefault(f => f.Name == "L_OUT_COVERAGE").DisplayValue : "";
        L_RESULT_REGISTER = configscreen.Any(f => f.Name == "L_RESULT_REGISTER") ? configscreen.FirstOrDefault(f => f.Name == "L_RESULT_REGISTER").DisplayValue : "";
        L_REGISTER = configscreen.Any(f => f.Name == "L_REGISTER") ? configscreen.FirstOrDefault(f => f.Name == "L_REGISTER").DisplayValue : "";
        L_NOT_REGISTER = configscreen.Any(f => f.Name == "L_NOT_REGISTER") ? configscreen.FirstOrDefault(f => f.Name == "L_NOT_REGISTER").DisplayValue : "";
        L_CHOOSE_REASON = configscreen.Any(f => f.Name == "L_CHOOSE_REASON") ? configscreen.FirstOrDefault(f => f.Name == "L_CHOOSE_REASON").DisplayValue : "";
        L_COMPLEATED_FLAG = configscreen.Any(f => f.Name == "L_COMPLEATED_FLAG") ? configscreen.FirstOrDefault(f => f.Name == "L_COMPLEATED_FLAG").DisplayValue : "";

        // 17.3

        L_LOCATION_CODE = configscreen.Any(f => f.Name == "L_LOCATION_CODE") ? configscreen.FirstOrDefault(f => f.Name == "L_LOCATION_CODE").DisplayValue : "";
        L_ASC_CODE = configscreen.Any(f => f.Name == "L_ASC_CODE") ? configscreen.FirstOrDefault(f => f.Name == "L_ASC_CODE").DisplayValue : "";
        L_CHANNEL = configscreen.Any(f => f.Name == "L_CHANNEL") ? configscreen.FirstOrDefault(f => f.Name == "L_CHANNEL").DisplayValue : "";

        //17.7
        L_MGM_LCCODE = configscreen.Any(f => f.Name == "MGM_LCCODE") ? configscreen.FirstOrDefault(f => f.Name == "MGM_LCCODE").DisplayValue : "";
        L_MGM_ASCCODE = configscreen.Any(f => f.Name == "MGM_ASCCODE") ? configscreen.FirstOrDefault(f => f.Name == "MGM_ASCCODE").DisplayValue : "";
        //L_MGM_EMP_ID = configscreen.Any(f => f.Name == "MGM_EMP_ID") ? configscreen.FirstOrDefault(f => f.Name == "MGM_EMP_ID").DisplayValue : "";
        L_MGM_OUT_TYPE = configscreen.Any(f => f.Name == "MGM_OUT_TYPE") ? configscreen.FirstOrDefault(f => f.Name == "MGM_OUT_TYPE").DisplayValue : "";
        L_MGM_OUT_SUB_TYPE = configscreen.Any(f => f.Name == "MGM_OUT_SUB_TYPE") ? configscreen.FirstOrDefault(f => f.Name == "MGM_OUT_SUB_TYPE").DisplayValue : "";

        L_LINE_ID = configscreen.Any(f => f.Name == "L_LINE_ID") ? configscreen.FirstOrDefault(f => f.Name == "L_LINE_ID").DisplayValue : "";
        L_VOUCHER_DESC = configscreen.Any(f => f.Name == "L_VOUCHER_DESC") ? configscreen.FirstOrDefault(f => f.Name == "L_VOUCHER_DESC").DisplayValue : "";

        L_LOCATION = configscreen.Any(f => f.Name == "L_LOCATION") ? configscreen.FirstOrDefault(f => f.Name == "L_LOCATION").DisplayValue : "";

        L_FULLADDRESS = configscreen.Any(f => f.Name == "C_FULL_ADDRESS") ? configscreen.FirstOrDefault(f => f.Name == "C_FULL_ADDRESS").DisplayValue : "";

        //R20.12
        //L_ADDRES_MC = configscreen.Any(f => f.Name == "L_ADDRES_MC") ? configscreen.FirstOrDefault(f => f.Name == "L_ADDRES_MC").DisplayValue : "";
        L_ORDER_MC = configscreen.Any(f => f.Name == "L_ORDER_MC") ? configscreen.FirstOrDefault(f => f.Name == "L_ORDER_MC").DisplayValue : "";

        //R21.6
        L_LATITUDE = configscreen.Any(f => f.Name == "L_LATITUDE") ? configscreen.FirstOrDefault(f => f.Name == "L_LATITUDE").DisplayValue : "";
        L_LONGITUDE = configscreen.Any(f => f.Name == "L_LONGITUDE") ? configscreen.FirstOrDefault(f => f.Name == "L_LONGITUDE").DisplayValue : "";

        //UR_Partners
        L_EMP_ID = configscreen.Any(f => f.Name == "L_EMP_ID") ? configscreen.FirstOrDefault(f => f.Name == "L_EMP_ID").DisplayValue : "";
        L_CAMPAIGN_PROJECT_NAME = configscreen.Any(f => f.Name == "L_CAMPAIGN_PROJECT_NAME") ? configscreen.FirstOrDefault(f => f.Name == "L_CAMPAIGN_PROJECT_NAME").DisplayValue : "";
    }

    if (!string.IsNullOrEmpty(ViewBag.bRegister))
    {
        B_REGISTER = ViewBag.bRegister;
    }

    if (!string.IsNullOrEmpty(ViewBag.StaffLogin))
    {
        L_STAFF_LOGIN = ViewBag.StaffLogin;
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="page-header i-header-fit">
        <div class="col-sm-12 col-md-12">
            <h3 style="margin-top: 0">@H_SALE_PORTAL_MNG_1</h3>
            <ol class="breadcrumb">
                <li style="cursor: pointer;"><a onclick="_backSearch()">Main Page</a></li>
                <li class="active">Detail</li>
            </ol>
        </div>
    </div>
    @using (Html.BeginForm("UpdatePreregister", "Fbbsaleportal", FormMethod.Post, new { id = "Preregister", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>@H_CUST_INFO</span>
                        <a data-toggle="collapse" class="pull-right" href="#CustomerInformationPanel" onclick="onPanelToggle(this);" id="CustomerInformationPanelHeader"><i class="fa fa-chevron-circle-down fa-lg" id="SearchPanelHeaderArrow"></i></a>
                    </h3>
                </div>
                <div id="CustomerInformationPanel" class="panel-collapse collapse in">
                    <div class="panel-body" style="min-height: 135px;">
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <label>@L_REF_NO</label>
                                @Html.TextBoxFor(p => p.REF_NO, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                @Html.HiddenFor(prop => prop.MODE)
                            </div>
                            <div class="col-xs-1 col-md-1">
                            </div>
                            <div class="col-xs-10 col-md-5">
                                <label>@L_SERVICE_SPEED</label>
                                @Html.TextBoxFor(p => p.SERVICE_SPEED, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*end row1*@
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <label>@L_CUST_NAME</label>
                                @Html.TextBoxFor(p => p.CUST_NAME, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-1 col-md-1">
                            </div>
                            <div class="col-xs-10 col-md-5">
                                <label>@L_CUST_SURNAME</label>
                                @Html.TextBoxFor(p => p.CUST_SURNAME, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*end row2*@
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <label>@L_CONTACT_MOBILE_NO</label>
                                @Html.TextBoxFor(p => p.CONTACT_MOBILE_NO, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <p class="clearfix"></p>
                                <p class="clearfix"></p>
                                @if (Model.IS_AIS_MOBILE == "Y")
                                {
                                    <img src="../../Images/is_ais.png" alt="" style="max-width: none !important; width: 30px; height: 30px; color: white;">
                                }
                            </div>
                            <div class="col-xs-10 col-md-5">
                                <label>@L_CONTACT_EMAIL</label>
                                @Html.TextBoxFor(p => p.CONTACT_EMAIL, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*end row3*@
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <label>@L_ORDER_MC</label>
                                @Html.TextBoxFor(p => p.ORDER_MC_NO, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-1 col-md-1">
                            </div>
                            <div class="col-xs-10 col-md-5">
                                <label>@L_CAMPAIGN_PROJECT_NAME</label>
                                @Html.TextBoxFor(p => p.CAMPAIGN_PROJECT_NAME, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*end row4*@

                        <p class="clearfix"></p>

                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <label>@L_INSTALLATION_ADDRESS</label>
                            </div>
                        </div>

                        <div class="panel panel-success panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("C_FULL_ADDRESS", L_FULLADDRESS)
                                    @*@Html.Label("FULL ADDRESS")*@
                                    @Html.TextAreaFor(p => p.FULL_ADDRESS, new { maxlength = 1000, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5" style="display:none;">
                                    @Html.TextBoxFor(p => p.ADDRESS_TYPE, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10  col-sm-5">
                                    @if (Model != null && (Model.ADDRESS_TYPE == "B"))
                                    {
                                        <div id="divCondo">
                                            @Html.Label("L_BUILDING_NAME", L_BUILDING_NAME)
                                            @Html.TextBoxFor(p => p.BUILDING_NAME, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="divMoban">
                                            @Html.Label("L_VILLAGE_NAME", L_VILLAGE_NAME)
                                            @Html.TextBoxFor(p => p.VILLAGE_NAME, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                        </div>
                                    }
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_LOCATION", L_LOCATION)
                                    @Html.TextBoxFor(p => p.LOCATION, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_PROVINCE", L_PROVINCE)
                                    @Html.TextBoxFor(p => p.PROVINCE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_DISTRICT", L_DISTRICT)
                                    @Html.TextBoxFor(p => p.DISTRICT, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_SUB_DISTRICT", L_SUB_DISTRICT)
                                    @Html.TextBoxFor(p => p.SUB_DISTRICT, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1">
                                </div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_POSTAL_CODE", L_POSTAL_CODE)
                                    @Html.TextBoxFor(p => p.POSTAL_CODE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_HOUSE_NO", L_HOUSE_NO)
                                    @Html.TextBoxFor(p => p.HOUSE_NO, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_SOI", L_SOI)
                                    @Html.TextBoxFor(p => p.SOI, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_ROAD", L_ROAD)
                                    @Html.TextBoxFor(p => p.ROAD, new { maxlength = 100, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_LOCATION_CODE", L_LOCATION_CODE)
                                    @Html.TextBoxFor(p => p.LOCATOIN_CODE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_ASC_CODE", L_ASC_CODE)
                                    @Html.TextBoxFor(p => p.ASC_CODE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_CHANNEL", L_CHANNEL)
                                    @Html.TextBoxFor(p => p.CHANNEL, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_LINE_ID", L_LINE_ID)
                                    @Html.TextBoxFor(p => p.LINE_ID, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_VOUCHER_DESC", L_VOUCHER_DESC)
                                    @Html.TextBoxFor(p => p.VOUCHER_DESC, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_LATITUDE", L_LATITUDE)
                                    @Html.TextBoxFor(p => p.LATITUDE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-1 col-sm-1"></div>
                                <div class="col-xs-10 col-sm-5">
                                    @Html.Label("L_LONGITUDE", L_LONGITUDE)
                                    @Html.TextBoxFor(p => p.LONGITUDE, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                            <div class="row">
                                <div class="col-xs-10  col-sm-5">
                                    @Html.Label("L_EMP_ID", L_EMP_ID)
                                    @Html.TextBoxFor(p => p.EMP_ID, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                                </div>
                                <p class="clearfix"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-10  col-sm-5">
                                @Html.Label("L_CONTACT_TIME", L_CONTACT_TIME)
                                @Html.TextBoxFor(p => p.CONTACT_TIME, new { maxlength = 50, @class = "dis k-textbox form-control", @readonly = "readonly" })
                            </div>
                            <p class="clearfix"></p>
                        </div>

                        

                    </div>
                    @*end CustomerInformationPanel*@
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>@H_FOR_OFFICER</span>
                        <a data-toggle="collapse" class="pull-right" href="#ForOfficerPanel" onclick="onPanelToggle(this);" id="ForOfficerPanelHeader"><i class="fa fa-chevron-circle-down fa-lg" id="SearchPanelHeaderArrow"></i></a>
                    </h3>
                </div>
                <div id="ForOfficerPanel" class="panel-collapse collapse in">
                    <div class="panel-body" style="min-height: 135px;">
                        <div class="row" style="display:none;">
                            <div class="col-xs-10 col-md-5">
                                <div class="col-sm-12 col-md-12">
                                    <label>@L_RESULT_COVERAGE</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.COVERAGE_RESULT, "Y", new { onchange = "onCoverageChange('Y');" })
                                    &nbsp&nbsp<label>@L_IN_COVERAGE</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.COVERAGE_RESULT, "N", new { onchange = "onCoverageChange('N');" })
                                    &nbsp;&nbsp;<label>@L_OUT_COVERAGE</label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                            @*<div class="col-xs-10 col-md-5">
                                    <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_COVERAGE" style="display:none; color:red;"> * </span></label>
                                    @(Html.Kendo().DropDownListFor(t => t.COVERAGE)
                                    .Name("COVERAGE")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCoverageFail", "Fbbsaleportal");
                                        });
                                    })
                                    )
                                </div>*@
                            <div class="col-xs-10 col-md-5" id="divDDLCoverageSuccess">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_COVERAGE_SUCCESS" style="display:none; color:red;"> * </span></label>
                                @(Html.Kendo().DropDownListFor(t => t.COVERAGE)
                                        .Name("COVERAGE_SUCCESS")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetCoverageSuccess", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                            <div class="col-xs-10 col-md-5" id="divDDLCoverageFail">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_COVERAGE_FAIL" style="display:none; color:red;"> * </span></label>
                                @(Html.Kendo().DropDownListFor(t => t.COVERAGE)
                                        .Name("COVERAGE_FAIL")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetCoverageFail", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <div class="row" style="display:none;">
                            <div class="col-xs-10 col-md-5">
                                <div class="col-sm-12 col-md-12">
                                    <label>@L_RESULT_CONTACT</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.CONTACT_RESULT, "Y", new { onchange = "onContactChange('Y');" })
                                    &nbsp;&nbsp;<label>@L_CAN_CONTACT</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.CONTACT_RESULT, "N", new { onchange = "onContactChange('N');" })
                                    &nbsp;&nbsp;<label>@L_CANNOT_CONTACT</label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                            @*<div class="col-xs-10 col-md-5">
                                    <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_CONTACT" style="display:none; color:red;"> * </span></label>
                                    @(Html.Kendo().DropDownListFor(t => t.CONTACT)
                                    .Name("CONTACT")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetContactFail", "Fbbsaleportal");
                                        });
                                    })
                                    )
                                </div>*@
                            <div class="col-xs-10 col-md-5" id="divDDLContactSuccess">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_CONTACT_SUCCESS" style="display:none; color:red;"> * </span></label>
                                @(Html.Kendo().DropDownListFor(t => t.CONTACT)
                                        .Name("CONTACT_SUCCESS")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetContactSuccess", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                            <div class="col-xs-10 col-md-5" id="divDDLContactFail">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_CONTACT_FAIL" style="display:none; color:red;"> * </span></label>
                                @(Html.Kendo().DropDownListFor(t => t.CONTACT)
                                        .Name("CONTACT_FAIL")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetContactFail", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <div class="col-sm-12 col-md-12">
                                    <label>@L_RESULT_REGISTER</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.REGISTER_RESULT, "Y", new { onchange = "onRegisterChange('Y');" })
                                    &nbsp;&nbsp;<label>@L_REGISTER</label>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    &nbsp;&nbsp;@Html.RadioButtonFor(p => p.REGISTER_RESULT, "N", new { onchange = "onRegisterChange('N');" })
                                    &nbsp;&nbsp;<label>@L_NOT_REGISTER</label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                            @*<div class="col-xs-10 col-md-5">
                                    <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_REGISTER" style="display:none; color:red;"> *</span></label>
                                    @(Html.Kendo().DropDownListFor(t => t.REGISTER)
                                    .Name("REGISTER")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetRegisterFail", "Fbbsaleportal");
                                        });
                                    })
                                    )
                                </div>*@
                            <div class="col-xs-10 col-md-5" id="divDDLRegisterSuccess">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_REGISTER_SUCCESS" style="display:none; color:red;"> *</span></label>
                                @(Html.Kendo().DropDownListFor(t => t.REGISTER)
                                        .Name("REGISTER_SUCCESS")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetRegisterSuccess", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                            <div class="col-xs-10 col-md-5" id="divDDLRegisterFail">
                                <label>@L_CHOOSE_REASON&nbsp;<span id="VALIDATE_REGISTER_FAIL" style="display:none; color:red;"> *</span></label>
                                @(Html.Kendo().DropDownListFor(t => t.REGISTER)
                                        .Name("REGISTER_FAIL")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Enable(true)
                                        .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetRegisterFail", "Fbbsaleportal");
                                            });
                                        })
                                )
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <p class="clearfix"></p>
                        <p class="clearfix"></p>
                        <div class="row">
                            <div class="col-xs-10 col-md-5">
                                <div class="col-sm-12 col-md-12">
                                    @Html.CheckBoxFor(t => t.COMPLEATED)
                                    &nbsp;&nbsp;
                                    <label>@L_COMPLEATED_FLAG</label>
                                </div>
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <div class="row i-gap-top-1">
                            <div class="col-sm-6 col-md-6">
                            </div>
                            <div class="col-sm-6 col-md-6 i-text-align-right">
                                @if (Model.MODE == "Edit" && B_REGISTER == "Y")
                                {
                                    <a class="btn btn-info" id="btnRegisterBypassOfficer">&nbsp;&nbsp;Register</a>
                                }
                                <a class="btn btn-default" onclick="_backSearch();"><i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;Cancel</a>
                                @if (Model.MODE == "Edit")
                                {
                                    <a onclick='Save();' id='btnSave' class='btn btn-default'><i class='fa fa-floppy-o fa-lg'></i>&nbsp;&nbsp;Save</a>
                                }
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    }

        <form id="frmByPassOfficer" method="post" action="/Process/ProcessLineOfficer" target="_blank">
            @Html.AntiForgeryToken()
            <input id="LcCode" name="LcCode" type="hidden" value="@L_MGM_LCCODE" />
            <input id="ASCCode" name="ASCCode" type="hidden" value="@L_MGM_ASCCODE" />
            <input id="EmployeeID" name="EmployeeID" type="hidden" />
            <input id="outType" name="outType" type="hidden" value="@L_MGM_OUT_TYPE" />
            <input id="outSubType" name="outSubType" type="hidden" value="@L_MGM_OUT_SUB_TYPE" />
            @Html.HiddenFor(item => item.REF_NO, new { @id = "REF_NO" })
            @Html.HiddenFor(item => item.CUST_NAME, new { @id = "CUST_NAME" })
            @Html.HiddenFor(item => item.CUST_SURNAME, new { @id = "CUST_SURNAME" })
            @Html.HiddenFor(item => item.CONTACT_MOBILE_NO, new { @id = "CONTACT_MOBILE_NO" })
            @Html.HiddenFor(item => item.CONTACT_EMAIL, new { @id = "CONTACT_EMAIL" })
            @Html.HiddenFor(item => item.HOUSE_NO, new { @id = "HOUSE_NO" })
            @Html.HiddenFor(item => item.BUILDING_NAME, new { @id = "BUILDING_NAME" })
            @Html.HiddenFor(item => item.VILLAGE_NAME, new { @id = "VILLAGE_NAME" })
            @Html.HiddenFor(item => item.SOI, new { @id = "SOI" })
            @Html.HiddenFor(item => item.ROAD, new { @id = "ROAD" })
            @Html.HiddenFor(item => item.SUB_DISTRICT, new { @id = "SUB_DISTRICT" })
            @Html.HiddenFor(item => item.DISTRICT, new { @id = "DISTRICT" })
            @Html.HiddenFor(item => item.PROVINCE, new { @id = "PROVINCE" })
            @Html.HiddenFor(item => item.POSTAL_CODE, new { @id = "POSTAL_CODE" })
            @Html.HiddenFor(item => item.PROVINCE, new { @id = "PROVINCE" })
            @Html.HiddenFor(item => item.LOCATOIN_CODE, new { @id = "LOCATOIN_CODE" })
            @Html.HiddenFor(item => item.ASC_CODE, new { @id = "ASC_CODE" })
            @Html.HiddenFor(item => item.CHANNEL, new { @id = "CHANNEL" })
            @Html.HiddenFor(item => item.LANGUAGE, new { @id = "LANGUAGE" })
            @Html.HiddenFor(item => item.LINE_ID, new { @id = "LINE_ID" })
            @Html.HiddenFor(item => item.VOUCHER_DESC, new { @id = "VOUCHER_DESC" })
            @Html.HiddenFor(item => item.CAMPAIGN_PROJECT_NAME, new { @id = "CAMPAIGN_PROJECT_NAME" })
            @Html.HiddenFor(item => item.RFF_INTERNET_NO, new { @id = "RFF_INTERNET_NO" })
            @Html.HiddenFor(item => item.LOCATION, new { @id = "LOCATION" })
            @Html.HiddenFor(item => item.ADDRESS_TYPE, new { @id = "ADDRESS_TYPE" })
            @Html.HiddenFor(item => item.FULL_ADDRESS, new { @id = "FULL_ADDRESS" })
            @Html.HiddenFor(item => item.RELATE_MOBILE_NO, new { @id = "RELATE_MOBILE_NO" })
            @Html.HiddenFor(item => item.FBB_PERCENT_DISCOUNT, new { @id = "FBB_PERCENT_DISCOUNT" })
            @Html.HiddenFor(item => item.SALES_REP, new { @id = "SALES_REP" })
            @Html.HiddenFor(item => item.EMP_ID, new { @id = "EMP_ID" })
            @*R20.12*@
            @*@Html.HiddenFor(item => item.ADDRESS_MC, new { @id = "ADDRESS_MC" })*@
            @Html.HiddenFor(item => item.ORDER_MC_NO, new { @id = "ORDER_MC_NO" })
            <input id="hndStaffLogin" name="hndStaffLogin" type="hidden" value="@L_STAFF_LOGIN" />
        </form>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal001_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=""><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="add-border-rounded-green">
                        <p class="clearfix"></p>
                        <h5 id="modal001txt" class="text-center">
                            <span id="LastPopupMessage"></span>
                        </h5>
                        <p class="clearfix"></p>
                        <div class="col-md-12 text-center">
                            <p class="clearfix"></p>
                            <button type="button" id="modal001btn" class="btn btn-default" data-dismiss="modal" onclick="">&nbsp; Close &nbsp; </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                </div>
            </div>
        </div>
    </div>
</body>
    
    <script>
        $(document).ready(function () {
            $("#FULL_ADDRESS").attr('style', 'min-width: 461.667px;max-width: 461.667px;min-height:100px;max-height:100px;')
            
            //$("#CONTACT").data("kendoDropDownList").enable(false);

            //// R18.9 PP Update dll COVERAGE by jirawadee.p
            //if ('@Model.COVERAGE_RESULT' == "Y")
            //    $("#COVERAGE").data("kendoDropDownList").enable(false);
            //else
            //    $("#COVERAGE").data("kendoDropDownList").enable(true);

            //$("#REGISTER").data("kendoDropDownList").enable(false);

            //$('#btnRegisterBypassOfficer').click(function () {
            //    $(this).hide();
            //});

            //if ('@Model.MODE' != "Edit") {
            //    $("input[name='CONTACT_RESULT']").each(function (i) {
            //        $(this).attr('disabled', 'disabled');
            //    });
            //    $("input[name='COVERAGE_RESULT']").each(function (i) {
            //        $(this).attr('disabled', 'disabled');
            //    });
            //    $("input[name='REGISTER_RESULT']").each(function (i) {
            //        $(this).attr('disabled', 'disabled');
            //    });
            //    $('#COMPLEATED').prop('disabled', true);

            //    // R18.9 PP Update dll COVERAGE by jirawadee.p
            //    $("#COVERAGE").data("kendoDropDownList").enable(false);
            //}
            //else
            //{
            //    //$('#COMPLEATED').prop('checked', true);
            //}

            //19.1
            if ('@Model.MODE' != "Edit") {
                $("input[name='CONTACT_RESULT']").each(function (i) {
                    $(this).attr('disabled', 'disabled');
                });
                $("input[name='COVERAGE_RESULT']").each(function (i) {
                    $(this).attr('disabled', 'disabled');
                });
                $("input[name='REGISTER_RESULT']").each(function (i) {
                    $(this).attr('disabled', 'disabled');
                });
                $('#COMPLEATED').prop('disabled', true);

                 // CONTACT
                $("#CONTACT_SUCCESS").data("kendoDropDownList").enable(false);
                $("#CONTACT_FAIL").data("kendoDropDownList").enable(false);
                if ('@Model.CONTACT_RESULT' == "Y") {
                    $("#divDDLContactSuccess").show();
                    $("#divDDLContactFail").hide();
                }
                else {
                    $("#divDDLContactSuccess").hide();
                    $("#divDDLContactFail").show();
                }

                // COVERAGE
                $("#COVERAGE_SUCCESS").data("kendoDropDownList").enable(false);
                $("#COVERAGE_FAIL").data("kendoDropDownList").enable(false);
                if ('@Model.COVERAGE_RESULT' == "Y") {
                    $("#divDDLCoverageSuccess").show();
                    $("#divDDLCoverageFail").hide();
                }
                else {
                    $("#divDDLCoverageSuccess").hide();
                    $("#divDDLCoverageFail").show();
                }

                // REGISTER
                $("#REGISTER_SUCCESS").data("kendoDropDownList").enable(false);
                $("#REGISTER_FAIL").data("kendoDropDownList").enable(false);
                if ('@Model.REGISTER_RESULT' == "Y") {
                    $("#divDDLRegisterSuccess").show();
                    $("#divDDLRegisterFail").hide();
                }
                else {
                    $("#divDDLRegisterSuccess").hide();
                    $("#divDDLRegisterFail").show();
                }
            }
            else {
                // CONTACT
                if ('@Model.CONTACT_RESULT' == "Y") {
                    $("#CONTACT_SUCCESS").data("kendoDropDownList").enable(true);
                    $("#CONTACT_FAIL").data("kendoDropDownList").enable(false);
                    $("#divDDLContactSuccess").show();
                    $("#divDDLContactFail").hide();
                }
                else {
                    $("#CONTACT_SUCCESS").data("kendoDropDownList").enable(false);
                    $("#CONTACT_FAIL").data("kendoDropDownList").enable(true);
                    $("#divDDLContactSuccess").hide();
                    $("#divDDLContactFail").show();
                }

                // COVERAGE
                if ('@Model.COVERAGE_RESULT' == "Y") {
                    $("#COVERAGE_SUCCESS").data("kendoDropDownList").enable(true);
                    $("#COVERAGE_FAIL").data("kendoDropDownList").enable(false);
                    $("#divDDLCoverageSuccess").show();
                    $("#divDDLCoverageFail").hide();
                }
                else {
                    $("#COVERAGE_SUCCESS").data("kendoDropDownList").enable(false);
                    $("#COVERAGE_FAIL").data("kendoDropDownList").enable(true);
                    $("#divDDLCoverageSuccess").hide();
                    $("#divDDLCoverageFail").show();
                }

                // REGISTER
                if ('@Model.REGISTER_RESULT' == "Y") {
                    $("#REGISTER_SUCCESS").data("kendoDropDownList").enable(true);
                    $("#REGISTER_FAIL").data("kendoDropDownList").enable(false);
                    $("#divDDLRegisterSuccess").show();
                    $("#divDDLRegisterFail").hide();
                }
                else {
                    $("#REGISTER_SUCCESS").data("kendoDropDownList").enable(false);
                    $("#REGISTER_FAIL").data("kendoDropDownList").enable(true);
                    $("#divDDLRegisterSuccess").hide();
                    $("#divDDLRegisterFail").show();
                }
            }

            //17.10
            if ($('#REF_NO').val() != '' && $('#hndStaffLogin').val() != '') {
                $.ajax({
                    url: '/Fbbsaleportal/GetStaffId',
                    data: { refNo: $.trim($("#REF_NO").val()), staffLogin: $('#hndStaffLogin').val() },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {
                        $('#EmployeeID').val(response);
                    }
                });
            }

        });

        function onContactChange(e)
        {
            //if (e == "Y") {
            //    var dropdownlist = $("#CONTACT").data("kendoDropDownList");
            //    dropdownlist.select(0);
            //    $("#VALIDATE_CONTACT").hide();
            //    $("#CONTACT").data("kendoDropDownList").enable(false);
            //}
            //else {
            //    $("#CONTACT").data("kendoDropDownList").enable(true);
            //}

            if (e == "Y") {
                $("#CONTACT_FAIL").data("kendoDropDownList").enable(false);
                $("#divDDLContactFail").hide();

                $("#divDDLContactSuccess").show();
                var dropdownlist = $("#CONTACT_SUCCESS").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_CONTACT_SUCCESS").hide();
                $("#CONTACT_SUCCESS").data("kendoDropDownList").enable(true);
            }
            else {
                $("#CONTACT_SUCCESS").data("kendoDropDownList").enable(false);
                $("#divDDLContactSuccess").hide();

                $("#divDDLContactFail").show();
                var dropdownlist = $("#CONTACT_FAIL").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_CONTACT_FAIL").hide();
                $("#CONTACT_FAIL").data("kendoDropDownList").enable(true);
            }
        }

        function onCoverageChange(e)
        {
            //if (e == "Y") {
            //    var dropdownlist = $("#COVERAGE").data("kendoDropDownList");
            //    dropdownlist.select(0);
            //    $("#VALIDATE_COVERAGE").hide();
            //    $("#COVERAGE").data("kendoDropDownList").enable(false);
            //}
            //else {
            //    $("#COVERAGE").data("kendoDropDownList").enable(true);
            //}

            if (e == "Y") {
                $("#COVERAGE_FAIL").data("kendoDropDownList").enable(false);
                $("#divDDLCoverageFail").hide();

                $("#divDDLCoverageSuccess").show();
                var dropdownlist = $("#COVERAGE_SUCCESS").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_COVERAGE_SUCCESS").hide();
                $("#COVERAGE_SUCCESS").data("kendoDropDownList").enable(true);
            }
            else {
                $("#COVERAGE_SUCCESS").data("kendoDropDownList").enable(false);
                $("#divDDLCoverageSuccess").hide();

                $("#divDDLCoverageFail").show();
                var dropdownlist = $("#COVERAGE_FAIL").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_COVERAGE_FAIL").hide();
                $("#COVERAGE_FAIL").data("kendoDropDownList").enable(true);
            }
        }

        function onRegisterChange(e)
        {
            //if (e == "Y") {
            //    var dropdownlist = $("#REGISTER").data("kendoDropDownList");
            //    dropdownlist.select(0);
            //    $("#VALIDATE_REGISTER").hide();
            //    $("#REGISTER").data("kendoDropDownList").enable(false);
            //}
            //else {
            //    $("#REGISTER").data("kendoDropDownList").enable(true);
            //}

            if (e == "Y") {
                $("#REGISTER_FAIL").data("kendoDropDownList").enable(false);
                $("#divDDLRegisterFail").hide();

                $("#divDDLRegisterSuccess").show();
                var dropdownlist = $("#REGISTER_SUCCESS").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_REGISTER_SUCCESS").hide();
                $("#REGISTER_SUCCESS").data("kendoDropDownList").enable(true);
            }
            else {
                $("#REGISTER_SUCCESS").data("kendoDropDownList").enable(false);
                $("#divDDLRegisterSuccess").hide();

                $("#divDDLRegisterFail").show();
                var dropdownlist = $("#REGISTER_FAIL").data("kendoDropDownList");
                dropdownlist.select(0);
                $("#VALIDATE_REGISTER_FAIL").hide();
                $("#REGISTER_FAIL").data("kendoDropDownList").enable(true);
            }
        }

        function _backSearch() {
            Loading();
            UpdateStatus();
            var url = '@Url.Action("LeaveMessageData", "Fbbsaleportal")';
            window.location.href = url;
        }

        $('#btnRegisterBypassOfficer').click(function (e) {
            if ($('#CHANNEL').val() == "SUPERCONVERGENCE") {
                if ($('#RELATE_MOBILE_NO').val() == "" || $('#FBB_PERCENT_DISCOUNT').val() == "") {
                    PopupMessage('@Html.Raw("กรณี Project Super Covergence ต้องมีค่า relate_mobile_no และ fbb_percent_discount")');
                    $('#myModal').modal('show');
                }
                else {
                    sessionStorage.removeItem('firstloadbuildingcount');
                    sessionStorage.removeItem('firstloadcount');
                    sessionStorage.removeItem('firstloadCheckcount');
                    $("#frmByPassOfficer").submit();
                }
            }
            else {
                sessionStorage.removeItem('firstloadbuildingcount');
                sessionStorage.removeItem('firstloadcount');
                sessionStorage.removeItem('firstloadCheckcount');
                $("#frmByPassOfficer").submit();
            }
        });

        //$('#btnRegisterBypassOfficer').click(function (e) {
        //    e.preventDefault();
        //    Loading();
        //    $("#frmBypassOfficer").submit();

        //    //$.ajax({
        //    //    url: '/Process/ProcessLineOfficer',
        //    //    type: 'post',
        //    //    dataType: 'json',
        //    //    data: $('#frmBypassOfficer').serialize(),
        //    //    success: function (res) {
        //    //        if (res.result == 'Redirect') {
        //    //            window.location = res.url;
        //    //        }
        //    //        else {
        //    //            alert('error');
        //    //        }
        //    //    }
        //    //});
        //});


        function UpdateStatus() {
            if ($("#MODE").val() == "Edit") {
                $.ajax({
                    url: '/Fbbsaleportal/UpdatePreregisterStatus',
                    data: { refNo: $.trim($("#REF_NO").val()), status: "Register" },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function (response) {

                    }
                });
            }
        }

        function Save() {

            var a = [];

            //19.6
            //Disable validate CONTACT_RESULT and COVERAGE_RESULT.
            //if ($("input[name='CONTACT_RESULT']:checked").val() == "N") {
            //    var b = [];
            //    //a.push({ id: "CONTACT" });
            //    a.push({ id: "CONTACT_FAIL" });
            //}
            //else {
            //    //$("#VALIDATE_CONTACT").hide();
            //    a.push({ id: "CONTACT_SUCCESS" });
            //}

            //if ($("input[name='COVERAGE_RESULT']:checked").val() == "N") {
            //    //a.push({ id: "COVERAGE" });
            //    a.push({ id: "COVERAGE_FAIL" });
            //}
            //else {
            //    //$("#VALIDATE_COVERAGE").hide();
            //    a.push({ id: "COVERAGE_SUCCESS" });
            //}

            if ($("input[name='REGISTER_RESULT']:checked").val() == "N") {
                //a.push({ id: "REGISTER" });
                a.push({ id: "REGISTER_FAIL" });
            }
            else {
                //$("#VALIDATE_REGISTER").hide();
                a.push({ id: "REGISTER_SUCCESS" });
            }

            //$("#VALIDATE_CONTACT").hide();
            //$("#VALIDATE_COVERAGE").hide();
            //$("#VALIDATE_REGISTER").hide();

            $("#VALIDATE_CONTACT_SUCCESS").hide();
            $("#VALIDATE_CONTACT_FAIL").hide();
            $("#VALIDATE_COVERAGE_SUCCESS").hide();
            $("#VALIDATE_COVERAGE_FAIL").hide();
            $("#VALIDATE_REGISTER_SUCCESS").hide();
            $("#VALIDATE_REGISTER_FAIL").hide();

            var chk = ValidationProcessing(a, "err001");

            if (chk) {
                $("#Preregister").submit();

                //var chkValidateHouseNo = ValidateHouseNo(); //R20.12
                //if (chkValidateHouseNo) {
                //    $("#Preregister").submit();
                //}
            }
        }

        function PopupMessage(msg) {
            $('#LastPopupMessage').append(msg);
        }

        function ValidateHouseNo() {
            //R20.12
            if ($("#ORDER_MC_NO").val() != "undefined" && $("#ORDER_MC_NO").val() != '') {
                if ($("#HOUSE_NO").val() == "undefined" || $("#HOUSE_NO").val() == '') {
                    $("#HOUSE_NO").addClass('errorinput');
                    temp = "กรุณาระบุข้อมูลให้ถูกต้องและครบถ้วน";
                    toastrErrorMessage(temp);
                    return false;
                }
                else {
                    $("#HOUSE_NO").removeClass('errorinput');
                    return true;
                }
            }
            else return true;
        }

    </script>


</html>