@model WBBEntity.PanelModels.FBBWebConfigModels.RegisterBulkCorpInstallModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels;
@using FBBConfig.Extensions
@{
    var Version = "";
    if (ViewBag.Version != null)
    {
        Version = Version + "-" + ViewBag.Version;
    }
    string B_LOGIN_CANCEL = "";
    string B_BACK = "";

    string E_MESSAGE_03 = "";
    
    string L_PACKAGE_SELECT = "";
    string L_PACKAGE_MAIN = "";
    string L_TERM_AND_CONDITION = "";
    string L_ACCEPT_CONDITION = "";

    string P_ALERT_DETAIL_01 = "";
    string P_ALERT_DETAIL_02 = "";
    string P_ALERT_HEAD = "";
    
    string TERM_AND_CONDITION_WIRE_1 = "";
    string TERM_AND_CONDITION_WIRE_2 = "";
    string TERM_AND_CONDITION_WIRE_3 = "";
    string TERM_AND_CONDITION_WIRE_4 = "";
    string TERM_AND_CONDITION_WIRE_5 = "";
    
    string REGISTE_SUMMARY_01="";
    string REGISTE_SUMMARY_02="";
    string REGISTE_SUMMARY_03="";
    string REGISTE_SUMMARY_04="";
    string REGISTE_SUMMARY_05="";
    string REGISTE_SUMMARY_06="";
    string REGISTE_SUMMARY_07="";
    string REGISTE_SUMMARY_08="";
    string REGISTE_SUMMARY_09="";
    string REGISTE_SUMMARY_10="";
    string REGISTE_SUMMARY_11="";
    string REGISTE_SUMMARY_12="";
    string REGISTE_SUMMARY_13="";
    string REGISTE_SUMMARY_14="";
    
    if (ViewBag.configscreen != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.configscreen;
        B_LOGIN_CANCEL = configscreen.Any(f => f.Name == "B_LOGIN_CANCEL") ? configscreen.FirstOrDefault(f => f.Name == "B_LOGIN_CANCEL").LovValue1 : "";
        B_BACK = configscreen.Any(f => f.Name == "EXISTING_BUTTON_BACK") ? configscreen.FirstOrDefault(f => f.Name == "EXISTING_BUTTON_BACK").LovValue1 : "";

        E_MESSAGE_03 = configscreen.Any(f => f.Name == "E_MESSAGE_03") ? configscreen.FirstOrDefault(f => f.Name == "E_MESSAGE_03").LovValue1 : "";
        
        L_PACKAGE_SELECT = configscreen.Any(f => f.Name == "L_PACKAGE_SELECT") ? configscreen.FirstOrDefault(f => f.Name == "L_PACKAGE_SELECT").LovValue1 : "";
        L_PACKAGE_MAIN = configscreen.Any(f => f.Name == "L_PACKAGE_MAIN") ? configscreen.FirstOrDefault(f => f.Name == "L_PACKAGE_MAIN").LovValue1 : "";
        L_TERM_AND_CONDITION = configscreen.Any(f => f.Name == "L_TERM_AND_CONDITION") ? configscreen.FirstOrDefault(f => f.Name == "L_TERM_AND_CONDITION").LovValue1 : "";
        L_ACCEPT_CONDITION = configscreen.Any(f => f.Name == "L_ACCEPT_CONDITION") ? configscreen.FirstOrDefault(f => f.Name == "L_ACCEPT_CONDITION").LovValue1 : "";

        P_ALERT_DETAIL_01 = configscreen.Any(f => f.Name == "P_ALERT_DETAIL_01") ? configscreen.FirstOrDefault(f => f.Name == "P_ALERT_DETAIL_01").LovValue1 : "";
        P_ALERT_DETAIL_02 = configscreen.Any(f => f.Name == "P_ALERT_DETAIL_02") ? configscreen.FirstOrDefault(f => f.Name == "P_ALERT_DETAIL_02").LovValue1 : "";
        P_ALERT_HEAD = configscreen.Any(f => f.Name == "P_ALERT_HEAD") ? configscreen.FirstOrDefault(f => f.Name == "P_ALERT_HEAD").LovValue1 : "";
        
        REGISTE_SUMMARY_01 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_01") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_01").LovValue1 : "";
        REGISTE_SUMMARY_02 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_02") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_02").LovValue1 : "";
        REGISTE_SUMMARY_03 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_03") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_03").LovValue1 : "";
        REGISTE_SUMMARY_04 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_04") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_04").LovValue1 : "";
        REGISTE_SUMMARY_05 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_05") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_05").LovValue1 : "";
        REGISTE_SUMMARY_06 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_06") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_06").LovValue1 : "";
        REGISTE_SUMMARY_07 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_07") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_07").LovValue1 : "";
        REGISTE_SUMMARY_08 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_08") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_08").LovValue1 : "";
        REGISTE_SUMMARY_09 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_09") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_09").LovValue1 : "";
        REGISTE_SUMMARY_10 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_10") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_10").LovValue1 : "";
        REGISTE_SUMMARY_11 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_11") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_11").LovValue1 : "";
        REGISTE_SUMMARY_12 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_12") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_12").LovValue1 : "";
        REGISTE_SUMMARY_13 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_13") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_13").LovValue1 : "";
        REGISTE_SUMMARY_14 = configscreen.Any(f => f.Name == "REGISTE_SUMMARY_14") ? configscreen.FirstOrDefault(f => f.Name == "REGISTE_SUMMARY_14").LovValue1 : "";

        TERM_AND_CONDITION_WIRE_1 = configscreen.Any(f => f.Name == "TERM_AND_CONDITION_WIRE_1") ? configscreen.FirstOrDefault(f => f.Name == "TERM_AND_CONDITION_WIRE_1").LovValue1 : "";
        TERM_AND_CONDITION_WIRE_2 = configscreen.Any(f => f.Name == "TERM_AND_CONDITION_WIRE_2") ? configscreen.FirstOrDefault(f => f.Name == "TERM_AND_CONDITION_WIRE_2").LovValue1 : "";
        TERM_AND_CONDITION_WIRE_3 = configscreen.Any(f => f.Name == "TERM_AND_CONDITION_WIRE_3") ? configscreen.FirstOrDefault(f => f.Name == "TERM_AND_CONDITION_WIRE_3").LovValue1 : "";
        TERM_AND_CONDITION_WIRE_4 = configscreen.Any(f => f.Name == "TERM_AND_CONDITION_WIRE_4") ? configscreen.FirstOrDefault(f => f.Name == "TERM_AND_CONDITION_WIRE_4").LovValue1 : "";
        TERM_AND_CONDITION_WIRE_5 = configscreen.Any(f => f.Name == "TERM_AND_CONDITION_WIRE_5") ? configscreen.FirstOrDefault(f => f.Name == "TERM_AND_CONDITION_WIRE_5").LovValue1 : "";
    }
}
<style>
    .tgreen {
                color: #8DC63F; /*before color #74A333*/
            }

    .rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;

    }

    .rightside {
        padding-left: 15em;
    }

    .divconfirm {
        font-family: db_helvethaicaais_x55_regular;
    }

/*
    #fontais {
        font-family: AisFont;
        src: url(db_helvethaica_x_li_v3.2-webfont.woff);
    }
    */

    .divfontais {
       font-family: AisFont;
    }

</style>

<div id="regisconfirm" style="display:none;">

    <div class="modal fade" id="Modal-Bulk-Success" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="basic-modal-content_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content add-border-rounded-green">
           <div class="modal-header" style="border-bottom-color:none;background-color:#8dc63f;color:white;">
                @P_ALERT_HEAD
            </div>
            <div class="modal-body">
                <div>
                    <p class="clearfix"></p>

                    <h5 class="text-center">
                        @Html.Raw(@P_ALERT_DETAIL_01) @(Html.Raw(" Bulk Number: "))
                        <span id="BulkNoSuccess"></span>
                    </h5>

                    <p class="clearfix"></p>
                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        
                        <button type="button" class="btn btn-default" onclick="_closePopupModal();">OK</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="Modal-Bulk-Error" tabindex="-1" role="dialog" aria-labelledby="basic-modal-content_label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content add-border-rounded-green">
                        <div class="modal-header" style="border-bottom-color:none;background-color:#8dc63f;color:white;">
                            @P_ALERT_HEAD
                        </div>
                        <div class="modal-body">
                            <div>
                                <p class="clearfix"></p>
                                <h4 class="text-center" style="font-weight: bold;">&nbsp;<span id="ErrortxtBulk"></span></h4>
                                

                                <p class="clearfix"></p>
                                <div class="col-md-12 text-center">
                                    <p class="clearfix"></p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="_closeModalError();">&nbsp; OK &nbsp; </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top: none;">
                        </div>
                    </div>
                </div>
            </div>

    <div class="container-fluid">
        <p class="clearfix"></p>  
        <div id="bulkcorp_ConfirmData">
            <div class="container-fluid i-gap i-header">
    <h3 class="page-header tgreen" style="color:green">@REGISTE_SUMMARY_01</h3>
    
    <div id="summarytab9">
        <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green rcorners">
            <h4 class="tgreen"><span class="hightlight divconfirm">@L_PACKAGE_SELECT</span></h4>

            <dl class="dl-horizontal">
                <dt>@REGISTE_SUMMARY_02 : </dt>
                <dd>
                    <span id="txtfor_L_MAIN_PACKAGE">-</span>
                    <p id="txtfor_L_REMARK_GREETING"></p>
                </dd>
            </dl>
           
            <br />
            <p class="clearfix page-header"></p>

            <div class="table-responsive">

            <table class="table-non-border">
                <tr>
                    <th>
                        <span id="lbfor_SUMM_DETAIL1">@REGISTE_SUMMARY_03</span>
                    </th>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL2">@REGISTE_SUMMARY_04</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL3">&nbsp;</span></td>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL4">&nbsp;</span></td>
                </tr>
                <tr>
                    <th>
                        <span id="lbfor_SUMM_DETAIL5">@REGISTE_SUMMARY_07</span>
                    </th>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL6">@REGISTE_SUMMARY_06</span></td>
                    <td class="text-right rightside"><span id="lbfor_SUMM_DETAIL7">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL8">@REGISTE_SUMMARY_13</span></td>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL9">@REGISTE_SUMMARY_07</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL10">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL11">@REGISTE_SUMMARY_13</span></td>
                </tr>
                
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL12">&nbsp;</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL13"></span>&nbsp;<span id="lbfor_SUMM_DETAIL14"></span></td>
                </tr>
                <tr>
                    <th><span id="lbfor_SUMM_DETAIL15">@REGISTE_SUMMARY_14</span></th>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL16">&nbsp;</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL17">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL18">@REGISTE_SUMMARY_13</span></td>
                </tr>

                
                <tr class="hidebundlingdc">
                    <td><span id="lbl_bundling_discount_detail1"></span></td>
                    <td class="text-right"><span id="lbl_bundling_discount_detail2"></span>&nbsp;<span id="lbl_bundling_discount_detail3"></span></td>
                </tr>
                <tr class="hidedc">
                    <td><span id="lbl_discount_detail1"></span></td>
                    <td class="text-right"><span id="lbl_discount_detail2"></span>&nbsp;<span id="lbl_discount_detail3"></span></td>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL19">@REGISTE_SUMMARY_08</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL20">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL21">@REGISTE_SUMMARY_13</span></td>
                </tr>
                <tr>
                    <th><span id="lbfor_SUMM_DETAIL23">@REGISTE_SUMMARY_09</span></th>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL24">@REGISTE_SUMMARY_10</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL25">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL26">@REGISTE_SUMMARY_13</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><span id="lbfor_SUMM_DETAIL27" style="font-weight: bold">@REGISTE_SUMMARY_11</span></td>
                    <td class="text-right"><span id="lbfor_SUMM_DETAIL28" style="font-weight: bold">-</span>&nbsp;<span id="lbfor_SUMM_DETAIL29" style="font-weight: bold">@REGISTE_SUMMARY_13</span></td>
                </tr>
                <tr>
                    <th><span id="lbfor_SUMM_DETAIL22" style="font-weight: bold"></span></th>
                </tr>
                <tr>
                    <th><span id="lbfor_SUMM_DETAIL30" style="font-weight: bold">@REGISTE_SUMMARY_12</span></th>
                </tr>
                
            </table>

            </div>

            <p class="clearfix"></p>  
        </div>
        <p class="clearfix"></p>  
        <p class="clearfix"></p>  
        </div>

         <div id="summarytab6">
        <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green rcorners">
            <h4 class="tgreen"><span class="hightlight">@L_TERM_AND_CONDITION</span></h4>
            <div class="table-responsive">
                <table class="table-non-border">
                    <tr>
                        <td><span id="TermCon"></span></td>
                    </tr>
                </table>
            </div>
        </div>

        <p class="clearfix"></p>  
        <p class="clearfix"></p>  
        <p class="clearfix"></p>  

    </div>
   
            <div id="previewfile" style="display:none;">
            <div class="col-xs-10 col-xs-offset-1 add-border-rounded-green rcorners">
                <h4 class="tgreen"><span class="hightlight">Preview File</span></h4>
                <p class="clearfix"></p>
                <p class="clearfix"></p>
                <div class="col-sm-12 col-xs-12">
                    <div id="atthF1" style="display: none;">
                        <img id="imgAtth1" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth1" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF2" style="display: none;">
                        <img id="imgAtth2" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth2" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF3" style="display: none;">
                        <img id="imgAtth3" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth3" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF4" style="display: none;">
                        <img id="imgAtth4" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth4" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF5" style="display: none;">
                        <img id="imgAtth5" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth5" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF6" style="display: none;">
                        <img id="imgAtth6" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth6" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF7" style="display: none;">
                        <img id="imgAtth7" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth7" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF8" style="display: none;">
                        <img id="imgAtth8" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth8" class="preview-pdf" style="display: none;"></canvas>
                    </div>
                    <div id="atthF9" style="display: none;">
                        <img id="imgAtth9" class="preview-img" src="#" style="display: none;" />
                        <canvas id="canvasAtth9" class="preview-pdf" style="display: none;"></canvas>
                    </div>

                        <br />
                    </div>
                <br />
                </div>
                <br />
            </div>

                <div class="col-md-12 text-center">
                    <br />
                    <div id="conditions2">
                        <div id="checkboxaccept" style="text-align:center; vertical-align:middle">
                            <label>
                                <input id="ChkCon" name="ChkCon" type="checkbox" value="" class="text-center"/>
                            </label>
                            <span>@L_ACCEPT_CONDITION</span>
                            <p class="clearfix"></p>    
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-default btn-for-xs" onclick="_BackToExcelPage();">&nbsp; @B_BACK &nbsp; </button>
                            <p class="clerfix visible-xs"></p>
                            <button id="btnConfirmSubmit" type="button" class="btn btn-success btn-for-xs" onclick="onSubmit();" disabled>
                                &nbsp; Submit &nbsp; <i class="fa fa-arrow-circle-o-right "></i>
                            </button>
                            <div class="i-fg-data-entry-validation">&nbsp; </div>
                        </div>
                        <br />
                
                    </div>
                    <div class="row i-gap-top-1">
                        </div>
                  </div>

                        <div id="ListImageName" style="display: none">
                            @*for generate return Image Filename*@
                        </div>
                        <div id="ListExcelName" style="display: none">
                            @*for generate return Excel Filename*@
                        </div>
            </div>
        </div>
    </div>
 </div>


<script type="text/javascript">

    function _closePopupModal() {
        var EventPage = $("#BulkEventPage").val();
        var bulk_no = "";
        if (EventPage == "NewCustomer") {
            bulk_no = $("#getBulkNumber").val();
        }
        else if (EventPage == "Existing") {
            bulk_no = $("#getBulkNumberExist").val();
        }

        $('#Modal-Bulk-Success').modal('hide');

        urllink = 'Index/?SaveStatus=Complete&BulkNoSuccess=' + bulk_no;
        window.location.href = urllink;
    }

    function _closeModalError() {
        var EventPage = $("#BulkEventPage").val();
        var bulk_no = "";
        if (EventPage == "NewCustomer") {
            bulk_no = $("#getBulkNumber").val();
        }
        else if (EventPage == "Existing") {
            bulk_no = $("#getBulkNumberExist").val();
        }

        $('#Modal-Bulk-Error').modal('hide');

        var urlret = 'Index/?SaveStatus=Failed';
        window.location.href = urlret;
    }


    $('#Modal-Bulk-Success').on('shown', function() {
        EventPage = $('#BulkEventPage').val();
        var bulk_no = "";
        if (EventPage == "NewCustomer") {
            bulk_no = $("#getBulkNumber").val();
        }
        else if (EventPage == "Existing") {
            bulk_no = $("#getBulkNumberExist").val();
        }
        $(".modal-body #BulkNoSuccess").val(bulk_no);
        $("#BulkNoSuccess").focus();

    });

    $('#Modal-Bulk-Error').on('shown', function () {
        
        $(".modal-body #ErrortxtBulk").val("Failed");
        $("#ErrortxtBulk").focus();

    });

    function _BackToExcelPage()
    {
        EventPage = $('#BulkEventPage').val();
        var bulk_no = "";
        if (EventPage == "NewCustomer") {
            bulk_no = $("#getBulkNumber").val();
        }
        else if (EventPage == "Existing") {
            bulk_no = $("#getBulkNumberExist").val();
        }
        
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $(".k-upload.k-header").addClass("k-upload-empty");
        $(".k-upload-button").removeClass("k-state-focused");

        $.ajax({
            url: '/RegisterBulkCorp/DeleteExcelRegis',
            data: { Bulk_No: bulk_no },
            dataType: "json",
            async: false,
            type: 'POST',
            success: function (datadel) {

                if ([] != datadel) {
                    EventPage = $("#BulkEventPage").val();

                    if (EventPage == "NewCustomer") {

                        $('#registersum').hide();
                        $('#registerinfo2').hide();
                        $('#registerpkg').show();

                        /*Set Tabstrip toggle activetab*/
                        tabStripn = $("#tabstripnew").data("kendoTabStrip");
                        var tabbn = tabStripn.select();
                        tabStripn.enable(tabbn, tabbn.hasClass("k-state-disabled"));

                        var tabToActivate = $("#tabnew2");
                        $("#tabstripnew").kendoTabStrip().data("kendoTabStrip").activateTab(tabToActivate);
                        $("#tabnew2").removeClass("k-state-disabled");
                        $("#tabnew3").removeClass("k-state-default");

                    }
                    else if (EventPage == "Existing") {

                        $('#searchbulkcorp').hide();
                        $('#registerpkg').show();

                        /*Set Tabstrip toggle activetab*/
                        tabStripEx = $("#tabstripexist").data("kendoTabStrip");
                        var tabbex = tabStripEx.select();
                        tabStripEx.enable(tabbex, tabbex.hasClass("k-state-disabled"));

                        var tabToActivate = $("#tabexist2");
                        $("#tabstripexist").kendoTabStrip().data("kendoTabStrip").activateTab(tabToActivate);
                        $("#tabexist2").removeClass("k-state-disabled");
                        $("#tabexist3").removeClass("k-state-default");

                    }
                }
                else
                {
                    $('#modaltxtError').modal();
                }

            },
            failure: function (msg) {
                $('#modaltxtError').modal();
            }
        });
    }

    $(function () {
        $("#ChkCon").change(function () {
            if ($("#ChkCon").prop('checked')) {
                $("#btnConfirmSubmit").show();
                $("#btnConfirmSubmit").removeAttr("disabled");
                $("#btnNoAccept").hide();
            }
            else {
                $("#btnConfirmSubmit").hide();
                $("#btnNoAccept").show();
            }
        });


    });

    $(document).ready(function () {

        var ses_LcCode = sessionStorage.getItem('login_LcCode');
        if (typeof ses_LcCode == "undefined" || null == ses_LcCode || "" == ses_LcCode)
            window.location.href = '@Url.Action("Login", "RegisterBulkCorp")';

        });

            //GetTermCon
            ProSubType = "";
            if ($('#HdFunctionSubProduct').val() == 'SWiFi') {
                ProSubType = "TERM_AND_CONDITION_WIRELESS";
            }
            else {
                ProSubType = "TERM_AND_CONDITION_WIRE";
            }
            removeTable('tbTermCon');
            $.ajax({
                type: "GET",
                url: "/MasterData/GetTermCon?LovType=" + ProSubType,
                dataType: "json",
                success: function (data) {

                    var strBuilder = '<table id="tbTermCon" class="tbl">';

                    var r = 1;
                    $.each(data, function (i, e) {
                        if ($("#LanguagePage").val() == "2") {
                            var str = e.LovValue2;
                        }
                        else {
                            var str = e.LovValue1;
                        }

                        if (!!e.Text)
                            var numb = e.Text
                        else
                            var numb = "";

                        strBuilder += '<tr>';
                        if (numb.toString().indexOf(".") > 0)
                            strBuilder += ' <td style="vertical-align:top; padding-left:1em;">';
                        else if (numb == "")
                            strBuilder += '<td style="vertical-align:top;" colspan = "2" >';
                        else
                            strBuilder += '<td style="vertical-align:top; padding-left:0em;" colspan = "2">';

                        if (numb == "")
                            strBuilder += str;
                        else if (numb.toString().indexOf(".") < 0) {
                            strBuilder += numb;
                            strBuilder += (" " + str);
                        }
                        else
                            strBuilder += numb;
                        strBuilder += ' </td>';

                        if (numb != "" && numb.toString().indexOf(".") > 0) {
                            strBuilder += '<td>';
                            strBuilder += str;
                            strBuilder += '</td>';
                        }
                        strBuilder += '</tr>';
                        r++;
                    });
                    strBuilder += '</table>';

                    $('#TermCon').append(strBuilder);
                }
            });

            var isUpload = [];
            var pic1dl, pic2dl, pic3dl, pic4dl, pic5dl, pic6dl, pic7dl, pic8dl, pic9dl;

        function CancelPage() {

             var confirmCancel = confirm("Cancel this Order?");
             if (confirmCancel) {
             window.location.href = '@Url.Action("Index", "RegisterBulkCorp")';
        }
    }

    function removeTable(id) {
        var tbl = document.getElementById(id);
        if (tbl) tbl.parentNode.removeChild(tbl);
    }

    function onSubmit() {

        var EventPage = $("#BulkEventPage").val();
        var bulk_no = "";
        if(EventPage == "NewCustomer")
        {
            bulk_no = $("#getBulkNumber").val();
        }
        else if(EventPage == "Existing")
        {
            bulk_no = $("#getBulkNumberExist").val();
        }
                Loading(0);
                Loading();

                $.ajax({
                    type: "POST",
                    url: '/RegisterBulkCorp/OnSubmitRegisterBulkCorp',
                    data:{ Bulk_No: bulk_no},
                    dataType: "json",
                    async: false,
                    success: function (databulk) {

                        if ("Success" == databulk.Result) {
                            Loading(0);
                            $('#BulkNoSuccess', $('#Modal-Bulk-Success')).html(bulk_no);
                            $('#Modal-Bulk-Success').modal();
                        }
                        else if (typeof databulk.Result != "undefined" || null != databulk.Result || "" != databulk.Result) {
                            Loading(0);
                            $('#ErrortxtBulk', $('#Modal-Bulk-Error')).html(databulk.Result + " Bulk No: " + bulk_no);
                            $('#Modal-Bulk-Error').modal();
                        }
                        else
                        {
                            Loading(0);
                            $('#ErrortxtBulk', $('#Modal-Bulk-Error')).html("Error! "+ bulk_no);
                            $('#Modal-Bulk-Error').modal();
                        }
                    }

                    
                });


            }

            function removeTable(id) {
                var tbl = document.getElementById(id);
                if (tbl) tbl.parentNode.removeChild(tbl);
            }

            function UploadImage() {
                if (true) {
  
                    //var chkPass = true;
                    
                    var formData = new FormData();

                    if ($("#textImageB1").val() != "") formData.append("fileB1", $("#fileB1")[0].files[0]);
                    if ($("#textImageB2").val() != "") formData.append("fileB2", $("#fileB2")[0].files[0]);
                    if ($("#textImageB3").val() != "") formData.append("fileB3", $("#fileB3")[0].files[0]);
                    if ($("#textImageB4").val() != "") formData.append("fileB4", $("#fileB4")[0].files[0]);

                    if ($("#textImageB4").val() == "") $("#atthF9").hide();

                    if ($("#textImageB1").val() == "") {
                        $("#atthF6").hide();
                    }
                    if ($("#textImageB2").val() == "") {
                        $("#atthF7").hide();
                    }
                    if ($("#textImageB3").val() == "") {
                        $("#atthF8").hide();
                    }
                    if ($("#textImageB4").val() == "") {
                        $("#atthF9").hide();
                    }
                    //New Customer Case Only
                    formData.append("cateType", $("#ddlinfoAccCat").val());
                    formData.append("cardNo", $("#txtinfoL_CARD_NOs").val());
                    formData.append("cardType", $("#ddlinfoIDtype").val());
                    formData.append("register_dv", $("#Register_device").val());
                    formData.append("MobileNumber", $("#txtinfoCAmmobile").val());
                    formData.append("Bulk_No", $("#getBulkNumber").val());

                    var htmlstr = "";
                    $("#ListImageName").empty();

                    Loading(0);

                    $.ajax({
                        type: "POST",
                        url: '/RegisterBulkCorp/UploadImageBulk',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        async: false,
                        success: function (response) {

                            if ($("#previewfile").find('img')) {
                                $("#previewfile").show();
                            } else {
                                $("#previewfile").hide();
                            }

                            $("#divUploadpicB1 :input").val("");
                            $("#divUploadpicB2 :input").val("");
                            $("#divUploadpicB3 :input").val("");
                            $("#divUploadpicB4 :input").val("");

                            $.each(response, function (i, e) {

                                htmlstr += "<input id='RegisterBulkCorpPanelModel_ListImageFileBulk_" + i + "_FileNameBulk' name='RegisterBulkCorpPanelModel.ListImageFileBulk[" + i + "].FileNameBulk' value='" + response[i].FileNameBulk + "'></input>";
                            })
                            $("#ListImageName").append(htmlstr);
                            Loading(0);
                        },
                        error: function (error) {
                            $("#previewfile").hide();
                            $("#divUploadpicB1 :input").val("");
                            $("#divUploadpicB2 :input").val("");
                            $("#divUploadpicB3 :input").val("");
                            $("#divUploadpicB4 :input").val("");
                            Loading(0);
                        }
                    });
                }
                else {
                    Loading(0);
                    console.log("not pass");
                    $("#previewfile").hide();
                    for (var i = 0; i < isUpload.length; i++) {
                        var temp = "#imgAtth" + isUpload[i];
                        $(temp).attr('src', "/Images/noimagefound2.jpg");
                    }

                    isUpload = [];

                    $("#divUploadpicB1 :input").val("");
                    $("#divUploadpicB2 :input").val("");
                    $("#divUploadpicB3 :input").val("");
                    $("#divUploadpicB4 :input").val("");

                }

            }

            $(function () {

            });

            $("#fileB1").change(function () {
                readURLPic(this, "#imgAtth6", "#canvasAtth6");
                $("#atthF6").show();
                $("#atthF6").css("display", "inline-flex");
                isUpload.push("6");
            });
            $("#fileB2").change(function () {
                readURLPic(this, "#imgAtth7", "#canvasAtth7");
                $("#atthF7").show();
                $("#atthF7").css("display", "inline-flex");
                isUpload.push("7");
            });
            $("#fileB3").change(function () {
                readURLPic(this, "#imgAtth8", "#canvasAtth8");
                $("#atthF8").show();
                $("#atthF8").css("display", "inline-flex");
                isUpload.push("8");
            });
            $("#fileB4").change(function () {
                readURLPic(this, "#imgAtth9", "#canvasAtth9");
                $("#atthF9").show();
                $("#atthF9").css("display", "inline-flex");
                isUpload.push("9");
            });
            $("#atthF2").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic2dl, '_blank');
            });
            $("#atthF3").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic3dl, '_blank');
            });
            $("#atthF4").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic4dl, '_blank');
            });
            $("#atthF5").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic5dl, '_blank');
            });
            $("#atthF6").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic6dl, '_blank');
            });
            $("#atthF7").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic7dl, '_blank');
            });
            $("#atthF8").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic8dl, '_blank');
            });
            $("#atthF9").click(function () {
                if (typeof aisNative == "undefined" || typeof aisNative == "" || typeof aisNative == null)
                    window.open(pic9dl, '_blank');
            });

        

</script>