@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels

@{
    string H_FBBTR002 = "";
    string L_INTERNET_WIRE = "";
    string L_INTERNET_WIRELESS = "";
    string L_HOME_PACKAGE = "";
    string L_PROFESSIONAL_PACKAGE = "";
    string L_SUMMARY = "";
    string L_TECHNOLOGY = "";
    string L_DOWNLOAD = "";
    string L_UPLOAD = "";
    string L_MONTHLY_FEE = "";
    string L_SUMM_DETAIL1 = "";
    string L_SUMM_DETAIL2 = "";
    string L_SUMM_DETAIL3 = "";
    string L_SUMM_DETAIL4 = "";
    string L_SUMM_DETAIL5 = "";
    string L_SUMM_DETAIL6 = "";
    string L_SUMM_DETAIL7 = "";
    string L_SUMM_DETAIL8 = "";
    string L_SUMM_DETAIL9 = "";
    string L_SUMM_DETAIL10 = "";
    string L_SUMM_DETAIL11 = "";
    string L_SUMM_DETAIL12 = "";
    string L_SUMM_DETAIL13 = "";
    string L_SUMM_DETAIL14 = "";
    string L_SUMM_DETAIL15 = "";
    string L_BAHT = "";
    string L_DISCOUNT = "";
    string L_DISC_DETAIL_FREE = "";
    string L_WIFI_ROUTER = "";
    string L_WIFI_DETAIL1 = "";
    string L_DISC_DETAIL_SOME = "";
    string L_ROUTER = "";
    string L_PRIVILAGE1 = "";
    string L_PRIVILAGE2 = "";
    string L_NOT_REQUIRE = "";
    string L_REQUEST = "";
    string L_MORE_DETAIL = "";
    string L_ROUTER_DETAIL = "";
    string L_ROUTER_DETAIL1 = "";
    string L_ROUTER_DETAIL2 = "";
    string L_ROUTER_DETAIL3 = "";
    string L_ROUTER_DETAIL4 = "";
    string L_ROUTER_DETAIL5 = "";
    string L_ROUTER_DETAIL6 = "";
    string L_HTTP_SERVICE = "";
    string L_PROMOTION = "";
    string L_PROMOTION1 = "";
    string L_PROMOTION2 = "";
    string B_NEXT = "";
    string B_BACK = "";
    string L_WIFI_DETAIL2 = "";
    string L_WIFI_ROUTER_ONU = "";
    string L_ROUTER_ONU = "";
    string L_SUMM_DETAIL_WireBB = "";
    string L_SUMM_DETAIL_FTTx = "";
    string L_SUMM_DETAIL_SWiFi = "";

    if (ViewBag.LabelFBBTR002 != null)
    {
        var labelFBBTR002 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR002;
        H_FBBTR002 = labelFBBTR002.Any(c => c.Name == "H_FBBOR002") ? labelFBBTR002.FirstOrDefault(c => c.Name == "H_FBBOR002").DisplayValue : "";
        L_INTERNET_WIRE = labelFBBTR002.Any(c => c.Name == "L_INTERNET_WIRE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_INTERNET_WIRE").DisplayValue : "";
        L_INTERNET_WIRELESS = labelFBBTR002.Any(c => c.Name == "L_INTERNET_WIRELESS") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_INTERNET_WIRELESS").DisplayValue : "";
        L_HOME_PACKAGE = labelFBBTR002.Any(c => c.Name == "L_HOME_PACKAGE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_HOME_PACKAGE").DisplayValue : "";
        L_PROFESSIONAL_PACKAGE = labelFBBTR002.Any(c => c.Name == "L_PROFESSIONAL_PACKAGE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PROFESSIONAL_PACKAGE").DisplayValue : "";
        L_SUMMARY = labelFBBTR002.Any(c => c.Name == "L_SUMMARY") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMMARY").DisplayValue : "";
        L_TECHNOLOGY = labelFBBTR002.Any(c => c.Name == "L_TECHNOLOGY") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_TECHNOLOGY").DisplayValue : "";
        L_DOWNLOAD = labelFBBTR002.Any(c => c.Name == "L_DOWNLOAD") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_DOWNLOAD").DisplayValue : "";
        L_UPLOAD = labelFBBTR002.Any(c => c.Name == "L_UPLOAD") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_UPLOAD").DisplayValue : "";
        L_MONTHLY_FEE = labelFBBTR002.Any(c => c.Name == "L_MONTHLY_FEE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_MONTHLY_FEE").DisplayValue : "";
        L_SUMM_DETAIL1 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL1").DisplayValue : "";
        L_SUMM_DETAIL2 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL2").DisplayValue : "";
        L_SUMM_DETAIL3 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL3") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL3").DisplayValue : "";
        L_SUMM_DETAIL4 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL4") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL4").DisplayValue : "";
        L_SUMM_DETAIL5 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL5") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL5").DisplayValue : "";
        L_SUMM_DETAIL6 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL6") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL6").DisplayValue : "";
        L_SUMM_DETAIL7 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL7") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL7").DisplayValue : "";
        L_SUMM_DETAIL8 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL8") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL8").DisplayValue : "";
        L_SUMM_DETAIL9 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL9") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL9").DisplayValue : "";
        L_SUMM_DETAIL10 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL10") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL10").DisplayValue : "";
        L_SUMM_DETAIL11 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL11") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL11").DisplayValue : "";
        L_SUMM_DETAIL12 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL12") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL12").DisplayValue : "";
        L_SUMM_DETAIL13 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL13") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL13").DisplayValue : "";
        L_SUMM_DETAIL14 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL14") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL14").DisplayValue : "";
        L_SUMM_DETAIL15 = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL15") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL15").DisplayValue : "";
        L_BAHT = labelFBBTR002.Any(c => c.Name == "L_BAHT") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_BAHT").DisplayValue : "";
        L_DISCOUNT = labelFBBTR002.Any(c => c.Name == "L_DISCOUNT") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_DISCOUNT").DisplayValue : "";
        L_DISC_DETAIL_FREE = labelFBBTR002.Any(c => c.Name == "L_DISC_DETAIL_FREE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_DISC_DETAIL_FREE").DisplayValue : "";
        L_WIFI_ROUTER = labelFBBTR002.Any(c => c.Name == "L_WIFI_ROUTER") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_WIFI_ROUTER").DisplayValue : "";
        L_WIFI_DETAIL1 = labelFBBTR002.Any(c => c.Name == "L_WIFI_DETAIL1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_WIFI_DETAIL1").DisplayValue : "";
        L_DISC_DETAIL_SOME = labelFBBTR002.Any(c => c.Name == "L_DISC_DETAIL_SOME") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_DISC_DETAIL_SOME").DisplayValue : "";
        L_ROUTER = labelFBBTR002.Any(c => c.Name == "L_ROUTER") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER").DisplayValue : "";
        L_PRIVILAGE1 = labelFBBTR002.Any(c => c.Name == "L_PRIVILAGE1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PRIVILAGE1").DisplayValue : "";
        L_PRIVILAGE2 = labelFBBTR002.Any(c => c.Name == "L_PRIVILAGE2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PRIVILAGE2").DisplayValue : "";
        L_NOT_REQUIRE = labelFBBTR002.Any(c => c.Name == "L_NOT_REQUIRE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_NOT_REQUIRE").DisplayValue : "";
        L_REQUEST = labelFBBTR002.Any(c => c.Name == "L_REQUEST") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_REQUEST").DisplayValue : "";
        L_MORE_DETAIL = labelFBBTR002.Any(c => c.Name == "L_MORE_DETAIL") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_MORE_DETAIL").DisplayValue : "";
        L_ROUTER_DETAIL = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL").DisplayValue : "";
        L_ROUTER_DETAIL1 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL1").DisplayValue : "";
        L_ROUTER_DETAIL2 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL2").DisplayValue : "";
        L_ROUTER_DETAIL3 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL3") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL3").DisplayValue : "";
        L_ROUTER_DETAIL4 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL4") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL4").DisplayValue : "";
        L_ROUTER_DETAIL5 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL5") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL5").DisplayValue : "";
        L_ROUTER_DETAIL6 = labelFBBTR002.Any(c => c.Name == "L_ROUTER_DETAIL6") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_DETAIL6").DisplayValue : "";
        L_HTTP_SERVICE = labelFBBTR002.Any(c => c.Name == "L_HTTP_SERVICE") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_HTTP_SERVICE").DisplayValue : "";
        L_PROMOTION = labelFBBTR002.Any(c => c.Name == "L_PROMOTION") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PROMOTION").DisplayValue : "";
        L_WIFI_DETAIL2 = labelFBBTR002.Any(c => c.Name == "L_WIFI_DETAIL2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_WIFI_DETAIL2").DisplayValue : "";
        L_PROMOTION1 = labelFBBTR002.Any(c => c.Name == "L_PROMOTION1") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PROMOTION1").DisplayValue : "";
        L_PROMOTION2 = labelFBBTR002.Any(c => c.Name == "L_PROMOTION2") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_PROMOTION2").DisplayValue : "";
        L_WIFI_ROUTER_ONU = labelFBBTR002.Any(c => c.Name == "L_WIFI_ROUTER_ONU") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_WIFI_ROUTER_ONU").DisplayValue : "";
        L_ROUTER_ONU = labelFBBTR002.Any(c => c.Name == "L_ROUTER_ONU") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_ROUTER_ONU").DisplayValue : "";
        L_SUMM_DETAIL_WireBB = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL_WireBB") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL_WireBB").DisplayValue : "";
        L_SUMM_DETAIL_FTTx = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL_FTTx") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL_FTTx").DisplayValue : "";
        L_SUMM_DETAIL_SWiFi = labelFBBTR002.Any(c => c.Name == "L_SUMM_DETAIL_SWiFi") ? labelFBBTR002.FirstOrDefault(c => c.Name == "L_SUMM_DETAIL_SWiFi").DisplayValue : "";        
        
        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_NEXT = labelFBBTR000.Any(c => c.Name == "B_NEXT") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_NEXT").DisplayValue : "";
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
    }    
}



<div id="page2" class="i-hidden">
    <div class="header">
        <div class="status">
            <img src="~/Content/src/status-2.png" class="display-th" />
            <img src="~/Content/src/status-2-eng.png" class="display-en i-hidden" />
        </div>
        <div class="img-logo">
            <img src="~/Content/src/img-logo.png" />
        </div>
    </div>

    <div class="title-form-summary2">@L_SUMMARY</div>

    <div class="form-summary">
        @*<div>
            <input type="text" class="textField" id="a01" placeholder="TextBox"/> <div class="styled"><select placeholder="Province" id="a02"><option value=""></option><option value="1">Bangkok</option></select></div>
            <input type="text" class="textFieldDatePicker" id="a03" placeholder="Birthday" />
        </div>*@
        <div class="title-form-summary">@H_FBBTR002</div>

        <p style="clear: both; line-height: 0px;"></p>

        <div>
            <ul id="err002" class="i-red"></ul>
        </div>

        <p>
            <img src="~/Content/src/bulletGreen.png" id="bullet002"/><label id="lb002-1"></label>
        </p>
        <label>
            <p style="margin-left: 40px; margin-top: 30px;">
                <label id="lb002-2"></label>
            </p>
        </label>

        <p style="clear: both; line-height: 0px;"></p>

        <div id="dynamicBody002"></div>
    </div>

    <p></p>

    <div class="form-summary2">
        <span style="color: #74a433;">
            <img src="~/Content/src/bulletGreen.png" /><label id="o1">@L_SUMM_DETAIL1</label></span><br />
        <table width="100%" border="0" class="promotionDetail-table-summary">
            <tr>
                <td colspan="4">
                    <label id="summDetail">
                        @*@L_SUMM_DETAIL_2 3 4*@
                    </label>
                </td>
            </tr>
        </table>

        <div class="divide"></div>

        <span style="color: #74a433;">
            <img src="~/Content/src/bulletGreen.png" /><label id="o2">@L_SUMM_DETAIL5</label></span><br />
        <table width="100%" border="0" class="promotionDetail-table-summary">
            <tr>
                <td width="69%">
                    <label id="summLb1"></label>
                    <label id="summLb1Router"></label>
                </td>
                <td width="21%" align="right">
                    <label id="summVal1"></label>
                </td>
                <td width="10%">
                    <label id="obaht">@L_BAHT</label></td>
            </tr>

            <tr>
                <td width="69%">
                    <label id="o3">@L_SUMM_DETAIL7</label></td>
                <td width="21%" align="right">
                    <label id="summVal2"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>

        <table width="100%" border="0" class="promotionDetail-table-summary-total">
            <tr>
                <td width="69%">
                    <label id="o4">@L_SUMM_DETAIL8</label></td>
                <td width="21%" align="right">
                    <label id="summTotal1"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>

        <div class="divide"></div>

        <span style="color: #74a433;">
            <img src="~/Content/src/bulletGreen.png" />
            <label id="oProrate">@L_SUMM_DETAIL9</label>
        </span>
        <br />
        <table width="100%" border="0" class="promotionDetail-table-summary">
            <tr>
                <td width="69%">
                    <label id="o6">@L_SUMM_DETAIL10</label>
                    <label id="summLb3"></label>
                </td>
                <td width="21%" align="right">
                    <label id="summVal3"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>
        <table width="100%" border="0" class="promotionDetail-table-summary-total">
            <tr>
                <td width="69%">
                    <label id="o7">@L_SUMM_DETAIL11</label></td>
                <td width="21%" align="right">
                    <label id="summTotal2"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>
        <div class="divide"></div>

        <span style="color: #74a433;">
            <img src="~/Content/src/bulletGreen.png" /><label id="o5">@L_SUMM_DETAIL13</label></span><br />

        <table width="100%" border="0" class="promotionDetail-table-summary">
            <tr>
                <td width="69%">
                    <label id="o62">@L_SUMM_DETAIL14</label>
                </td>
                <td width="21%" align="right">
                    <label id="sumProrate"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>

        <table width="100%" border="0" class="promotionDetail-table-summary-total" style="margin-top: 10px;">
            <tr>
                <td width="69%">
                    <label id="o42">@L_SUMM_DETAIL15</label></td>
                <td width="21%" align="right">
                    <label id="sumTotalProrate"></label>
                </td>
                <td width="10%">@L_BAHT</td>
            </tr>
        </table>

        <table width="100%" border="0" class="promotionDetail-table-summary-total">
            <tr>
                <td colspan="3">
                    <label id="vat">@L_SUMM_DETAIL12</label></td>
            </tr>
        </table>
        <div class="divide"></div>

        <div class="wrapButton-total">
            <a href="#" class="greyButton-short" onclick="backPage002()">@B_BACK</a>
            <a href="#" id="btn002" class="greenButton" onclick="nextPage002(this)">@B_NEXT</a>
        </div>

    </div>

</div>
<div id="divHiddenField" class="i-hidden">
    <input id="SelectPackageModel_" type="hidden" />
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_CODE)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_CODE_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_NAME)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_NAME_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_CLASS_MAIN)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_CLASS_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.PACKAGE_GROUP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.TECHNOLOGY)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.RECURRING_CHARGE)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.INITIATION_CHARGE)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.INITIATION_CHARGE_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.DISCOUNT_INITIATION_CHARGE)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.DISCOUNT_INITIATION_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SFF_PROMOTION_BILL_THA)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SFF_PROMOTION_BILL_ENG)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SFF_PROMOTION_BILL_THA_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.SFF_PROMOTION_BILL_ENG_ONTOP)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.DOWNLOAD_SPEED)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.UPLOAD_SPEED)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.OWNER_PRODUCT)
    @Html.HiddenFor(Model => Model.DisplayPackagePanelModel.WIFIAccessPoint)


    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.LABEL_SUMM_ROW1)
    @Html.HiddenFor(Model => Model.SummaryPanelModel.PackageModel.LABEL_PACKAGE_ONTOP)

    // prorate
    @Html.HiddenFor(Model => Model.DisplayPackagePanelModel.Prorate)
    @Html.HiddenFor(Model => Model.DisplayPackagePanelModel.TotalProrate)
</div>

@* Open for test 
<input type="hidden" id="HdFunctionSubProduct" name="HdFunctionSubProduct" value="" />
*@
<script>
    //var subProduct = "SWiFi";
    //var ttt = "WireBB";

    $(function () {
        //$("#HdFunctionSubProduct").val("SWiFi");
        //getPackage();
    });

    function onBinding(e) {
        var i = $("input[name=SelectPackage]:checked").val();

        //for mapp model
        $("#SummaryPanelModel_PackageModel_PACKAGE_CODE").val($("#PACKAGE_CODE" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_CODE_ONTOP").val($("#PACKAGE_CODE_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_NAME").val($("#PACKAGE_NAME" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_NAME_ONTOP").val($("#PACKAGE_NAME_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_CLASS_MAIN").val($("#PACKAGE_CLASS_MAIN" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_CLASS_ONTOP").val($("#PACKAGE_CLASS_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_PACKAGE_GROUP").val($("#PACKAGE_GROUP" + i).val());
        $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val($("#TECHNOLOGY" + i).val());
        $("#SummaryPanelModel_PackageModel_RECURRING_CHARGE").val($("#RECURRING_CHARGE" + i).val());
        $("#SummaryPanelModel_PackageModel_INITIATION_CHARGE").val($("#INITIATION_CHARGE" + i).val());
        $("#SummaryPanelModel_PackageModel_INITIATION_CHARGE_ONTOP").val($("#INITIATION_CHARGE_ONTOP" + i).val());

        $("#SummaryPanelModel_PackageModel_DISCOUNT_INITIATION_ONTOP").val($("#DISCOUNT_INITIATION_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_SFF_PROMOTION_BILL_THA").val($("#SFF_PROMOTION_BILL_THA" + i).val());
        $("#SummaryPanelModel_PackageModel_SFF_PROMOTION_BILL_ENG").val($("#SFF_PROMOTION_BILL_ENG" + i).val());
        $("#SummaryPanelModel_PackageModel_SFF_PROMOTION_BILL_THA_ONTOP").val($("#SFF_PROMOTION_BILL_THA_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_SFF_PROMOTION_BILL_ENG_ONTOP").val($("#SFF_PROMOTION_BILL_ENG_ONTOP" + i).val());
        $("#SummaryPanelModel_PackageModel_DOWNLOAD_SPEED").val($("#DOWNLOAD_SPEED" + i).val());
        $("#SummaryPanelModel_PackageModel_UPLOAD_SPEED").val($("#UPLOAD_SPEED" + i).val());
        $("#SummaryPanelModel_PackageModel_OWNER_PRODUCT").val($("#OWNER_PRODUCT" + i).val());

        //set product subtype
        var productSubType = $("#PRODUCT_SUBTYPE" + i).val();
        if (productSubType != undefined && productSubType != "undefined") {
            $("#HdFunctionSubProduct").val(productSubType);
            $('#CoveragePanelModel_PRODUCT_SUBTYPE').val(productSubType);
        }

        var owner = $("#OWNER_PRODUCT" + i).val();
        var productCode = $("#PACKAGE_CODE" + i).val();
        var technology = $("#TECHNOLOGY" + i).val();
        var iniVal = $("#INITIATION_CHARGE_ONTOP" + i).val();
        var iniDisVal = $("#DISCOUNT_INITIATION_ONTOP" + i).val();
        var diff = parseFloat(iniVal) - parseFloat(iniDisVal);

        var summVal1 = $("#INITIATION_CHARGE" + i).val();
        var summVal2 = parseFloat($("#DISCOUNT_INITIATION_CHARGE" + i).val());
        var summTotal1 = parseFloat(summVal1) - parseFloat(summVal2);

        var summLb3 = $("#PACKAGE_NAME" + i).val();
        var summVal3 = $("#RECURRING_CHARGE" + i).val();
        //var summTotal2 = parseFloat(summTotal1) + parseFloat(summVal3);
        var summTotal2 = parseFloat(summVal3);

        //new label condition
        var cdt = "";
        if ($("#HdFunctionSubProduct").val() == "WireBB") {
            cdt = "@L_SUMM_DETAIL_WireBB";
        }
        else if ($("#HdFunctionSubProduct").val() == "SWiFi") {
            cdt = "@L_SUMM_DETAIL_SWiFi";
        }
        else if ($("#HdFunctionSubProduct").val() == "FTTx") {
            cdt = "@L_SUMM_DETAIL_FTTx";
        }

    $("#summDetail").text(cdt);

    if (summTotal1 == 0) { //default == 0
        var a = "@L_DISC_DETAIL_FREE";
            a = a.replace("{%1}", toNumber(summVal1));
            a = a.replace("{%2}", toNumber(summVal2));
            $("#disCondition1").text(a);
        }
        else {
            var a = "@L_DISC_DETAIL_SOME";
            a = a.replace("{%1}", toNumber(summTotal1));
            a = a.replace("{%2}", toNumber(summVal1));
            a = a.replace("{%3}", toNumber(summVal2));
            a = a.replace("{%4}", toNumber(summVal2));
            $("#disCondition1").html(a + "<br>" + cdt);
        }

        //$("#disConditionPmt").html();        
        var pmt = "@L_PROMOTION1".split(',');
        var cc = false;

        $.each(pmt, function (i, e) {
            if ((parseFloat(e) == parseFloat(productCode)) && !cc) {
                $("#disConditionPmt").html("<br>@Html.Raw(L_PROMOTION)");
                cc = true;

            }
            else
                $("#disConditionPmt").html("");
        });

        // begin prorate calculting.        
        var sumProrate = 0;
        var sumTotalProrate = 0;
        var thisDate = new Date();
        var thisYear = thisDate.getFullYear();
        var thisMonth = thisDate.getMonth();
        //var daysInMonth = getDaysInMonth(thisMonth, thisYear);
        var daysInMonth = thisDate.getDaysInMonth();
        sumProrate = (summTotal2 / daysInMonth) * 4;
        sumTotalProrate = summTotal2 + sumProrate;
        var selectedTechnology = $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val();
        if ($("#HdFunctionSubProduct").val() == "WireBB") {
            @*if (subProduct == "FTTx") {
                $("#disCondition21").html("<br>@L_WIFI_ROUTER_ONU");
                $("#summLb1").text("@L_SUMM_DETAIL6 " + $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val() + " @L_ROUTER_ONU");
            }
            else {
                $("#disCondition21").html("<br>" + selectedTechnology + "@L_WIFI_ROUTER");
                $("#summLb1").text("@L_SUMM_DETAIL6 " + $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val() + " @L_ROUTER");
            }*@
            $("#disCondition21").html("<br>" + selectedTechnology + "@L_WIFI_ROUTER");
            $("#summLb1").text("@L_SUMM_DETAIL6 " + $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val() + " @L_ROUTER");

            $("#disCondition22").html("@L_WIFI_DETAIL1");
        }
        else if ($("#HdFunctionSubProduct").val() == "SWiFi" || $("#HdFunctionSubProduct").val() == "FTTx") {

            if ($("#HdFunctionSubProduct").val() == "FTTx") {
                $(".conditionCheck").hide();
                $("#summLb1").text("@L_SUMM_DETAIL6 " + $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val() + " @L_ROUTER_ONU");

                $("#disCondition21").html("<br>@L_WIFI_ROUTER_ONU");
                $("#disCondition22").html("@L_WIFI_DETAIL1");

                $("input[name=WiFiCondition]").prop("checked", false);
            }
            else {
                $(".conditionCheck").show();
                $("#summLb1").text("@L_SUMM_DETAIL6 " + $("#SummaryPanelModel_PackageModel_TECHNOLOGY").val());

                if ($("input[name=WiFiCondition]:checked").val() == undefined || $("input[name=WiFiCondition]:checked").val() == "N") {
                    $("#disCondition21").html("");
                    $("#disCondition22").html("");
                } else {
                    $("#disCondition21").html("<br>@L_WIFI_ROUTER");
                    $("#disCondition22").html("@L_WIFI_DETAIL2<br><br>");
                    $("#summLb1Router").html("@L_ROUTER");
                }

                var pri1 = "@Html.Raw(L_PRIVILAGE1)".replace("{%1}", toNumber(diff));
                pri1 = pri1.replace("{%2}", toNumber(iniVal));

                var pri2 = "@Html.Raw(L_PRIVILAGE2)".replace("{%1}", toNumber(diff));
                pri2 = pri2.replace("{%2}", toNumber(iniVal));

                var pri3 = "@Html.Raw(L_ROUTER_DETAIL2)".replace("{%1}", toNumber(diff));
                pri3 = pri3.replace("{%2}", toNumber(iniVal));

                $("#pri1").html(pri1);
                $("#pri2").html(pri2 + " <a href='#' class='basic' onclick='openMoreDetail()'>@L_MORE_DETAIL</a>");
                $("#popDetail").html(pri3);
            }


        }


    if ($("input[name=WiFiCondition]:checked").val() == "Y") {
        summVal1 = parseFloat(summVal1) + parseFloat(diff);
        summTotal1 += parseFloat(diff);
    }


    if (cc) {
        summTotal1 -= parseFloat(@L_PROMOTION2);
        summVal2 += parseFloat(@L_PROMOTION2);
    }

    sumTotalProrate += summTotal1; //Add by Yeen 21/4/2014

    $("#summVal1").text(toNumber(summVal1));
    $("#summVal2").text(toNumber(summVal2));
    $("#summTotal1").text(toNumber(summTotal1));

    $("#summLb3").text(summLb3);
    $("#summVal3").text(toNumber(summVal3));
    $("#summTotal2").text(toNumber(summTotal2));

        // prorate
    $("#sumProrate").text(accounting.formatNumber(sumProrate, 2));
    $("#sumTotalProrate").text(accounting.formatNumber(sumTotalProrate, 2));

    $("#DisplayPackagePanelModel_Prorate").val($("#sumProrate").text());
    $("#DisplayPackagePanelModel_TotalProrate").val($("#sumTotalProrate").text());

    $("#SummaryPanelModel_PackageModel_LABEL_SUMM_ROW1").val($("#summLb1").text() + $("#summLb1Router").text());

    $("#SummaryPanelModel_PackageModel_DISCOUNT_INITIATION_CHARGE").val(summVal2);
}

function onCondition() {
    if ($("input[name=WiFiCondition]:checked").val() == "Y") {
        $("#disCondition21").html("<br>@L_WIFI_ROUTER");
        $("#disCondition22").html("@L_WIFI_DETAIL2<br><br>");
        $("#summLb1Router").html("@L_ROUTER");
    }
    else {
        $("#disCondition21").html("");
        $("#disCondition22").html("");
        $("#summLb1Router").html("");
    }
   onBinding();
}

function getPackage() {

    $.ajax({
        type: "GET",
        url: "/SelectPackage/GetListPackageService",
        data: { 'PRODUCT_SUBTYPE': $('#HdFunctionOwner').val() },
        //data: { 'PRODUCT_SUBTYPE': "null" },
        dataType: "json",
        async: false,
        success: function (data) {
            var temp = "";
            var group = "";
            var sl = "";
            //debugger
            if (data.length == 0) { // case ws or package error
                $("#btn002").hide();
                $("#bullet002").hide();

            }
            else {
                $("#btn002").show();
                $("#bullet002").show();

                if ($("#HdFunctionSubProduct").val() != "SWiFi" && $("#HdFunctionSubProduct").val() != "FTTx") { //case WireBB only
                    $("#lb002-1").text("@L_INTERNET_WIRE");
                        $("#lb002-2").text("Package");
                        $("#dynamicBody002").html("<div class='promotionTitle'>" +
                            "<table width='450' height='36' border='0'><tr>" +
                            "<td width='20'></td>" +
                            "<td width='150' align='center'>@L_TECHNOLOGY</td>" +
                                "<td width='110' align='center'>@L_DOWNLOAD</td>" +
                                "<td width='90' align='center'>@L_UPLOAD</td>" +
                                "<td width='90' align='center'>@L_MONTHLY_FEE</td>" +
                                "</tr></table>" +
                                "</div>" +
                                "<div class='promotionDetail' style='margin-bottom: 50px;'>" +
                                "<table width='440' height='23' border='0' style='float: left;' id='dynamicRow002'>" +
                                "</table>" +
                                "</div>" +

                                "<div class='discountDetail'>" + getDisDetail() + "</div>" +

                                "");

                        $.each(data, function (i, e) {
                            if (i == 0) sl = "checked";
                            else sl = "";
                            temp += "<tr class='promotionDetail-table'>" +
                            "<td width='20' align='center' valign='top'>" +
                            "<input type='radio' name='SelectPackage' id='SelectPackage" + i + "' " + sl + " onclick='onBinding(this)' value='" + i + "'>" +
                            "<input type='hidden' id='TECHNOLOGY" + i + "' value='" + e.TECHNOLOGY + "'>" +
                            "<input type='hidden' id='DOWNLOAD_SPEED" + i + "' value='" + e.DOWNLOAD_SPEED + "'>" +
                            "<input type='hidden' id='UPLOAD_SPEED" + i + "' value='" + e.UPLOAD_SPEED + "'>" +
                            "<input type='hidden' id='RECURRING_CHARGE" + i + "' value='" + e.RECURRING_CHARGE + "'>" +
                            "<input type='hidden' id='INITIATION_CHARGE" + i + "' value='" + e.INITIATION_CHARGE + "'>" +
                            "<input type='hidden' id='INITIATION_CHARGE_ONTOP" + i + "' value='" + e.INITIATION_CHARGE_ONTOP + "'>" +
                            "<input type='hidden' id='DISCOUNT_INITIATION_CHARGE" + i + "' value='" + e.DISCOUNT_INITIATION_CHARGE + "'>" +
                            "<input type='hidden' id='DISCOUNT_INITIATION_ONTOP" + i + "' value='" + e.DISCOUNT_INITIATION_ONTOP + "'>" +
                            "<input type='hidden' id='PACKAGE_NAME" + i + "' value='" + e.PACKAGE_NAME + "'>" +
                            "<input type='hidden' id='PACKAGE_CODE" + i + "' value='" + e.PACKAGE_CODE + "'>" +
                            "<input type='hidden' id='PACKAGE_GROUP" + i + "' value='" + e.PACKAGE_GROUP + "'>" +
                            "<input type='hidden' id='PACKAGE_CODE_ONTOP" + i + "' value='" + e.PACKAGE_CODE_ONTOP + "'>" +
                            "<input type='hidden' id='PACKAGE_NAME_ONTOP" + i + "' value='" + e.PACKAGE_NAME_ONTOP + "'>" +
                            "<input type='hidden' id='SFF_PROMOTION_BILL_THA" + i + "' value='" + e.SFF_PROMOTION_BILL_THA + "'>" +
                            "<input type='hidden' id='SFF_PROMOTION_BILL_ENG" + i + "' value='" + e.SFF_PROMOTION_BILL_ENG + "'>" +
                            "<input type='hidden' id='SFF_PROMOTION_BILL_THA_ONTOP" + i + "' value='" + e.SFF_PROMOTION_BILL_THA_ONTOP + "'>" +
                            "<input type='hidden' id='SFF_PROMOTION_BILL_ENG_ONTOP" + i + "' value='" + e.SFF_PROMOTION_BILL_ENG_ONTOP + "'>" +
                            "<input type='hidden' id='PACKAGE_CLASS_ONTOP" + i + "' value='" + e.PACKAGE_CLASS_ONTOP + "'>" +
                            "<input type='hidden' id='PACKAGE_CLASS_MAIN" + i + "' value='" + e.PACKAGE_CLASS_MAIN + "'>" +
                            "<input type='hidden' id='PRODUCT_SUBTYPE" + i + "' value='" + e.PRODUCT_SUBTYPE + "'>" +
                            "<input type='hidden' id='OWNER_PRODUCT" + i + "' value='" + e.OWNER_PRODUCT + "'>" +
                            "</td>" +
                            "<td width='150' valign='top'>" + e.TECHNOLOGY + "</td>" +
                            "<td width='110' align='center' valign='top'>" + e.DOWNLOAD_SPEED + "</td>" +
                            "<td width='90' align='center' valign='top'>" + e.UPLOAD_SPEED + "</td>" +
                            "<td width='90' align='right' valign='top'>" + toNumber(e.RECURRING_CHARGE) + "</td>" +
                            "</tr>";
                        });

                        $("#dynamicRow002").append(temp);
                        $("#SelectPackage0").click();
                    }
                    else { //SWiFi or FTTx
                        $("#lb002-2").text("");

                        var g = data[0].S_GROUP;
                        if (g != undefined) {
                            var css = "";
                            var arr = new Array();
                            $.each(g, function (i, e) {
                                arr.push({ index: i, group: e });
                                if (i > 0) css = "line-height:12px;";
                                group +=
                                "<p style='margin-left: 40px;" + css + "'>" + e + "</p>" +
                                "<div class='promotionTitle'>" +
                                "<table width='450' height='36' border='0'><tr>" +
                                "<td width='20'></td>" +
                                "<td width='150' align='center'>@L_TECHNOLOGY</td>" +
                                    "<td width='110' align='center'>@L_DOWNLOAD</td>" +
                                    "<td width='90' align='center'>@L_UPLOAD</td>" +
                                    "<td width='90' align='center'>@L_MONTHLY_FEE</td>" +
                                    "</tr></table>" +
                                    "</div>" +
                                    "<div class='promotionDetail2' style='margin-bottom: 50px;'>" +
                                    "<table width='440' height='23' border='0' style='float: left;' id='dynamicRow" + i + "'>" +
                                    "</table>" +
                                    "</div>";
                            });

                            $("#lb002-1").text("@L_INTERNET_WIRELESS");

                            $("#dynamicBody002").html(group +
                                "<div class='conditionCheck' id='conditionCheck'>" +
                                "<label id='pri1'></label>" +
                                "<p style='margin-bottom:25px;' id='pRequest'>@L_REQUEST</p>" +
                                    "" +
                                    "<br><input type='radio' name='WiFiCondition' value='Y' style='margin-left:20px;' onclick='onCondition()'> <label id='pri2'></label>" +
                                    "<br><input type='radio' name='WiFiCondition' value='N' style='margin-left:20px;' onclick='onCondition()'> @L_NOT_REQUIRE" +
                                    "</div>" +
                                    "<div class='discountDetail'>" + getDisDetail() + "</div>" +
                                    "");

                            $.each(arr, function (j, k) {
                                if (j == 0) sl = "checked";
                                temp = "";

                                var n = 1;
                                var txtTemp = "";
                                var txtTech = "";
                                $.each(data, function (i, e) {

                                    if (e.PACKAGE_GROUP == k.group) {
                                        txtTech = e.TECHNOLOGY;
                                        //if (txtTemp == e.TECHNOLOGY && n > 1) {
                                        //    txtTech = "";
                                        //    n++;
                                        //}
                                        //else {
                                        //    txtTemp = e.TECHNOLOGY;
                                        //    txtTech = e.TECHNOLOGY;
                                        //    n = 1;
                                        //}

                                        //if (n == 1) {
                                        //    txtTemp = e.TECHNOLOGY;
                                        //    txtTech = e.TECHNOLOGY;
                                        //    n++;
                                        //}

                                        temp += "<tr class='promotionDetail-table'>" +
                                        "<td width='20' align='center' valign='top'>" +
                                        "<input type='radio' name='SelectPackage' id='SelectPackage" + i + "' " + sl + " onclick='onBinding(this)' value='" + i + "'>" +
                                        "<input type='hidden' id='TECHNOLOGY" + i + "' value='" + e.TECHNOLOGY + "'>" +
                                        "<input type='hidden' id='DOWNLOAD_SPEED" + i + "' value='" + e.DOWNLOAD_SPEED + "'>" +
                                        "<input type='hidden' id='UPLOAD_SPEED" + i + "' value='" + e.UPLOAD_SPEED + "'>" +
                                        "<input type='hidden' id='RECURRING_CHARGE" + i + "' value='" + e.RECURRING_CHARGE + "'>" +
                                        "<input type='hidden' id='INITIATION_CHARGE" + i + "' value='" + e.INITIATION_CHARGE + "'>" +
                                        "<input type='hidden' id='INITIATION_CHARGE_ONTOP" + i + "' value='" + e.INITIATION_CHARGE_ONTOP + "'>" +
                                        "<input type='hidden' id='DISCOUNT_INITIATION_CHARGE" + i + "' value='" + e.DISCOUNT_INITIATION_CHARGE + "'>" +
                                        "<input type='hidden' id='DISCOUNT_INITIATION_ONTOP" + i + "' value='" + e.DISCOUNT_INITIATION_ONTOP + "'>" +
                                        "<input type='hidden' id='PACKAGE_NAME" + i + "' value='" + e.PACKAGE_NAME + "'>" +
                                        "<input type='hidden' id='PACKAGE_CODE" + i + "' value='" + e.PACKAGE_CODE + "'>" +
                                        "<input type='hidden' id='PACKAGE_GROUP" + i + "' value='" + e.PACKAGE_GROUP + "'>" +
                                        "<input type='hidden' id='PACKAGE_CODE_ONTOP" + i + "' value='" + e.PACKAGE_CODE_ONTOP + "'>" +
                                        "<input type='hidden' id='PACKAGE_NAME_ONTOP" + i + "' value='" + e.PACKAGE_NAME_ONTOP + "'>" +
                                        "<input type='hidden' id='SFF_PROMOTION_BILL_THA" + i + "' value='" + e.SFF_PROMOTION_BILL_THA + "'>" +
                                        "<input type='hidden' id='SFF_PROMOTION_BILL_ENG" + i + "' value='" + e.SFF_PROMOTION_BILL_ENG + "'>" +
                                        "<input type='hidden' id='SFF_PROMOTION_BILL_THA_ONTOP" + i + "' value='" + e.SFF_PROMOTION_BILL_THA_ONTOP + "'>" +
                                        "<input type='hidden' id='SFF_PROMOTION_BILL_ENG_ONTOP" + i + "' value='" + e.SFF_PROMOTION_BILL_ENG_ONTOP + "'>" +
                                        "<input type='hidden' id='PACKAGE_CLASS_ONTOP" + i + "' value='" + e.PACKAGE_CLASS_ONTOP + "'>" +
                                        "<input type='hidden' id='PACKAGE_CLASS_MAIN" + i + "' value='" + e.PACKAGE_CLASS_MAIN + "'>" +
                                        "<input type='hidden' id='PRODUCT_SUBTYPE" + i + "' value='" + e.PRODUCT_SUBTYPE + "'>" +
                                        "<input type='hidden' id='OWNER_PRODUCT" + i + "' value='" + e.OWNER_PRODUCT + "'>" +
                                        "</td>" +
                                        "<td width='150' valign='top'>" + txtTech + "</td>" +
                                        "<td width='110' align='center' valign='top'>" + e.DOWNLOAD_SPEED + "</td>" +
                                        "<td width='90' align='center' valign='top'>" + e.UPLOAD_SPEED + "</td>" +
                                        "<td width='90' align='right' valign='top'>" + toNumber(e.RECURRING_CHARGE) + "</td>" +
                                        "</tr>";
                                    }
                                    sl = "";
                                });
                                $("#dynamicRow" + j).append(temp);

                            });

                            $("#SelectPackage0").click();

                        } // if != undefine


                    } // SWiFi
                } // data.length

            }

        });

        onBinding();

    }

    function getDisDetail() {
        return "<table class='getDisDetail'>" +
               "<tr>" +
               "<td><strong>@L_DISCOUNT</strong><br><label id='disCondition1'></label><label id='disConditionPmt'></label></td>" +
               "</tr>" +
               "<tr>" +
               "<td><strong><label id='disCondition21'></label></strong><br><label id='disCondition22'></label></td>" +
               "</tr>" +
               "</table>";
    }

    function openMoreDetail() {
        clearPageScrollUp(".conditionCheck");
        $('#modal002').modal();
        $("#detail002").show();
    }

    function nextPage002() {
        if ($("input[name=WiFiCondition]:checked").val() == undefined && $("#HdFunctionSubProduct").val() == "SWiFi") {
            clearPageScrollUp(".conditionCheck");
            $("#pRequest").addClass("i-red");
            $("#btn002").attr("href", "#conditionCheck");
        }
        else {
            if ($("input[name=WiFiCondition]:checked").val() == undefined) //WireBB or FTTx
                $("#DisplayPackagePanelModel_WIFIAccessPoint").val("Y");
            else
                $("#DisplayPackagePanelModel_WIFIAccessPoint").val($("input[name=WiFiCondition]:checked").val());

            if ($("input[name=WiFiCondition]:checked").val() == "N") {
                //mapp ontop = 0
                $("#SummaryPanelModel_PackageModel_INITIATION_CHARGE_ONTOP").val("0");
                $("#SummaryPanelModel_PackageModel_DISCOUNT_INITIATION_ONTOP").val("0");
                $("#SummaryPanelModel_PackageModel_PACKAGE_CLASS_ONTOP").val("");
            }

            $("#pRequest").removeClass("i-red");
            $("#page2").hide();
            onLoad003();
            $("#page3").show();
            setPackage();
        }
    }

    function backPage002() {
        $("#page2").hide();
        $("#page1").show();
        $(".wrapSwitchLanguage").show();
    }

    // etc function

    // get total number of days in month.
    // month is 1 based.
    function getDaysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }
</script>


<div id="modal002">
    <div id="detail002" class="modalStyle i-hidden">
        <table width="98%">
            <tr>
                <td align="center">
                    <img src='~/Content/images/Router.jpg' height="174" width="140" />
                </td>
            </tr>
            <tr>
                <td>
                    @L_ROUTER_DETAIL
                    <ul>
                        <li>
                            <label id="popDetail"></label>
                        </li>
                        <li>@L_ROUTER_DETAIL3</li>
                        <li>@L_ROUTER_DETAIL4</li>
                        <li>@L_ROUTER_DETAIL5</li>
                        <li>@L_ROUTER_DETAIL6 <a href="@L_HTTP_SERVICE" target="_blank">@L_HTTP_SERVICE</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
