@using WBBWeb.Extension
@using WBBEntity.PanelModels;
@model WBBWeb.Models.WelcomeAisModel
@{

    string W_PACKAGE_1 = "";
    string W_PACKAGE_2 = "";
    string W_PACKAGE_3 = "";
    string W_PACKAGE_4 = "";
    string W_PACKAGE_5 = "";
    string W_PACKAGE_6 = "";
    string W_PACKAGE_7 = "";
    string W_PACKAGE_8 = "";
    string W_PACKAGE_9 = "";
    string W_PACKAGE_10 = "";


    if (ViewBag.LabelFBBOR051 != null)
    {
        var LabelFBBOR051 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR051;
        W_PACKAGE_1 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_1") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_1").DisplayValue : "";
        W_PACKAGE_2 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_2") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_2").DisplayValue : "";
        W_PACKAGE_3 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_3") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_3").DisplayValue : "";
        W_PACKAGE_4 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_4") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_4").DisplayValue : "";
        W_PACKAGE_5 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_5") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_5").DisplayValue : "";
        W_PACKAGE_6 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_6") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_6").DisplayValue : "";
        W_PACKAGE_7 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_7") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_7").DisplayValue : "";
        W_PACKAGE_8 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_8") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_8").DisplayValue : "";
        W_PACKAGE_9 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_9") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_9").DisplayValue : "";
        W_PACKAGE_10 = LabelFBBOR051.Any(c => c.Name == "W_PACKAGE_10") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PACKAGE_10").DisplayValue : "";
    }

    string URL_DIRECT_CHANGE_SPEED = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;

        URL_DIRECT_CHANGE_SPEED = FbbConstant.Any(f => f.Field == "URL_DIRECT_CHANGE_SPEED") ? FbbConstant.First(f => f.Field == "URL_DIRECT_CHANGE_SPEED").Validation : "";

    }
}

<div id="divPackage" class="fbwe_p5_wrap" style="display:none;">
    <div class="fbwe_p5_cont">
        <div>
            <picture>
                <source media=" (min-width: 920px)" srcset="~/Content/ContentWelcome/images/package/banner_960.png" />
                <img src="~/Content/ContentWelcome/images/package/banner.png" alt="welcometoaisfibre">
            </picture>
        </div>
        <div class="fbwe_p5_box">
            <div class="fbwe_p5_tag">@Html.Raw(W_PACKAGE_7)</div>
            @*<div class="fbwe_p5_crumb_wrap">
                <a href="@Html.Raw(URL_DIRECT_CHANGE_SPEED)" target="_blank">
                    <div class="row">
                        <div class="fbwe_p5_crumb">@Html.Raw(W_PACKAGE_8)</div>
                    </div>
                </a>
            </div>*@

            <div class="row">
                <div class="col-xs-12 col-profile">
                    <div id="divPackYou" class="panel_profile">
                        <div class="packyou">
                            <div class="pos packyou_txt1">@Html.Raw(W_PACKAGE_7)</div>
                            <div class="pos packyou_txt2"><label id="PROMOTION_DISPLAY"></label></div>
                            <img src="~/Content/ContentWelcome/images/package/banner2.png" width="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div id="divPackYou2" class="fbwe_p5_pos1">
                            <div class="fbwe_edit_tab">
                                <label id="PROMOTION_NAME"></label>
                            </div>
                            <div class="fbwe_edit_tab">@Html.Raw(W_PACKAGE_10) <b><label id="PROMOTION_EXPIRE"></label></b></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divPackyouSpeed" class="fbwe_p5_speed">
                <div class="pos fbwe_p5_speed_txt1">Download</div>
                <div class="pos fbwe_p5_speed_txt2"><label id="lblDownloadValue"></label></div>
                <div class="pos fbwe_p5_speed_txt3">Mbps</div>
                <div class="pos fbwe_p5_speed_txt4">Upload</div>
                <div class="pos fbwe_p5_speed_txt5"><label id="lblUploadValue"></label></div>
                <div class="pos fbwe_p5_speed_txt6">Mbps</div>
                <img src="~/Content/ContentWelcome/images/package/speed-dl.png" width="" alt="" />
            </div>
        </div>
        <div id="divMobileNoYou" class="fbwe_p5_bg1">
            @Html.Raw(W_PACKAGE_1) <br>
            <span class="fbwe_p5_bg1-note">@Html.Raw(W_PACKAGE_9)</span>
        </div>
        <div class="fbwe_p5_box2">
            <div class="row">
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="fbwe_p5_box-in">
                            <div class="tag_title-in packagebox1">@Html.Raw(W_PACKAGE_2)</div>
                            <div id="divDiscountYou" class="fbwe_p5_box-in-wrap2">
                                <div class="row">
                                    <div class="col-xs-12 col-pack-l">
                                        <div class="panel_package1">
                                            <img src="~/Content/ContentWelcome/images/package/ais_fibre.png" width="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-pack-r">
                                        <div class="panel_package2">
                                            <div class="fbwe_p5_box-title">

                                            </div>
                                            <div class="fbwe_p5_box-desc">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="fbwe_p5_box-in packagebox2">
                            <div class="tag_title-in">@Html.Raw(W_PACKAGE_3)</div>
                            <div id="divContentYou" class="fbwe_p5_box-in-wrap2">
                                <div class="row">
                                    <div class="col-xs-12 col-pack-l">
                                        <div class="panel_package1">
                                            <img src="~/Content/ContentWelcome/images/package/play_family.png" width="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-pack-r">
                                        <div class="panel_package2">
                                            <div class="fbwe_p5_box-title">

                                            </div>
                                            <div class="fbwe_p5_box-desc">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-pack-l">
                                        <div class="panel_package1">
                                            <img src="~/Content/ContentWelcome/images/package/viu.png" width="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-pack-r">
                                        <div class="panel_package2">
                                            <div class="fbwe_p5_box-title">

                                            </div>
                                            <div class="fbwe_p5_box-desc">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="fbwe_p5_box-in packagebox3">
                            <div class="tag_title-in">@Html.Raw(W_PACKAGE_4)</div>
                            <div id="divVasYou" class="fbwe_p5_box-in-wrap2">
                                <div class="row">
                                    <div class="col-xs-12 col-pack-l">
                                        <div class="panel_package1">
                                            <img src="~/Content/ContentWelcome/images/package/ais_playbox.png" width="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-pack-r">
                                        <div class="panel_package2">
                                            <div class="fbwe_p5_box-title">

                                            </div>
                                            <div class="fbwe_p5_box-desc">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-pack-l">
                                        <div class="panel_package1">
                                            <img src="~/Content/ContentWelcome/images/package/ais_fibre.png" width="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-pack-r">
                                        <div class="panel_package2">
                                            <div class="fbwe_p5_box-title">

                                            </div>
                                            <div class="fbwe_p5_box-desc">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="fbwe_p5_box-in packagebox4">
                            <div class="tag_title-in">@Html.Raw(W_PACKAGE_5)</div>
                            <div id="divInstallYou" class="fbwe_p5_box-in-wrap2">
                                <div class="fbwe_p5_box-title">

                                    <span class="inline"></span>
                                </div>
                                <div class="fbwe_p5_box-desc"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fbwe_p5_btn_wrap">
                <a onclick="backPage()" class="fbwe_btn_edit"><img src="~/Content/ContentWelcome/images/package/arr.png" width="" alt=""> @Html.Raw(W_PACKAGE_6)</a>
            </div>
        </div>
        <div class="fbwe_p5_box3">

        </div>

    </div>
</div>

<script type="text/javascript">

    function startPagePackage() {
        //older version
        //GetPackageDetailByNonMobile();
        // new version
        $("#divMobileNoYou").html("");
        $("#divDiscountYou").html("");
        $("#divContentYou").html("");
        $("#divVasYou").html("");
        $("#divInstallYou").html("");
        GetPackageDetailByNonMobileNewVersion();
    }

    function GetPackageDetailByNonMobile() {
        $.ajax({
            url: '/WelcomeToAisFibre/GetPackageDetailByNonMobile',
            data: {
                mobileNo: $("#AisAirNumber").val(),
                option: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                if (response != "ERROR") {
                    SetPackageYou(response);
                }
            },
            error: function (err) {
                console.log('Error in Operation')
            }
        });
    }

    function GetPackageDetailByNonMobileNewVersion() {
        $.ajax({
            url: '/WelcomeToAisFibre/GetPackageDetailByNonMobileNewVersion',
            data: {
                mobileNo: $("#AisAirNumber").val(),
                option: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                //console.log(response);
                //if (!response.includes("ERROR")) {

                    let PACKAGE_MAIN = [];
                    let PACKAGE_DISCOUNT = [];
                    let PACKAGE_CONTENT = [];
                    let PACKAGE_INSTALL = [];
                    let PACKAGE_VAS = [];
                    if(response.PackageYouData.RETURN_CODE == "0")
                    {
                        response.PackageYouData.PACKAGE_DISCOUNT = [];
                        response.PackageYouData.PACKAGE_CONTENT = [];
                        response.PackageYouData.PACKAGE_INSTALL = [];
                        response.PackageYouData.PACKAGE_VAS = [];
                        const packageOption2 = response.PackageYouData.PACKAGE_ALL_OPTION2;

                         //----------------กล่อง ส่วนลด-------------------
                        // let discount = ["FBB_PAY_ADVANCE", "FBB_DEVICE_DISCOUNT", 
                        // "FBB_DEVICE_DISCOUNT_BAHT", "FBB_DISCOUNT", "FBB_DISCOUNT_BAHT", 
                        // "FBB_DISCOUNT_SAVE_CHURN", "FBB_DISCOUNT_SAVE_CHURN_BAHT", 
                        // "FBB_DISCOUNT_SAVE_CHURN_PERCENT", "FMB_DISCOUNT", 
                        // "FMB_SERENADE", "FBB_DISCOUNT_ENTRYFEE"];

                        let prodcless = [ "On-Top", "On-Top Extra"];
                        let start = new Date;
                        let current = new Date;
                        let end = new Date;
                       
                     $.each(packageOption2, function (i, p) {
                        if(p.startDt != null )
                        {
                                let startDatePackage = p.startDt.split(" ")[0].split('/');
                                start =  new Date(startDatePackage[2], startDatePackage[1] - 1, startDatePackage[0]);
                        }
                        if(p.endDt != null)
                        {
                                let endDatePackage = p.endDt.split(" ")[0].split('/');
                                end = new Date(endDatePackage[2], endDatePackage[1] - 1, endDatePackage[0]) ;
                        }                           

                        if (p.productPkg == null)
                        {
                            p.productPkg = "";
                         }
                         if (p.productClass == null) {
                             p.productClass = "";
                         }

                        // กล่อง ส่วนลด
                        if((p.productPkg.includes("FBB_PAY_ADVANCE") || 
                        p.productPkg.includes("FBB_DEVICE_DISCOUNT") ||
                        p.productPkg.includes("FBB_DEVICE_DISCOUNT_BAHT") ||
                        p.productPkg.includes("FBB_DISCOUNT") ||
                        p.productPkg.includes("FBB_DISCOUNT_BAHT") ||
                        p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN") ||
                        p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN_BAHT") ||
                        p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN_PERCENT") ||
                        p.productPkg.includes("FMB_DISCOUNT") ||
                        p.productPkg.includes("FMB_SERENADE") ||
                        p.productPkg.includes("FBB_DISCOUNT_ENTRYFEE")) &&
                        (
                            p.productClass.includes("On-Top") || p.productClass.includes("On-Top Extra")
                        ) &&
                        p.shortNameThai != null &&
                        p.inStatementThai != null &&
                        start <= current && current<= end
                        )
                        {
                            let data = {
                                "FIBRENET_ID" : $("#AisAirNumber").val(),
                                "PROMOTION_PIC" : response.PackageYouData.discountblob,
                                "PROMOTION_DISPLAY" : p.shortNameThai,
                                "PROMOTION_DETALIL" : p.inStatementThai
                            };
                            PACKAGE_DISCOUNT.push(data);
                            response.PackageYouData.PACKAGE_DISCOUNT.push(data);
                        }
                        
                        // กล่องแพ็คเกจเสริม
                    
                        if((!p.productPkg.includes("FBB_PAY_ADVANCE") &&
                        !p.productPkg.includes("FBB_DEVICE_DISCOUNT") &&
                        !p.productPkg.includes("FBB_DEVICE_DISCOUNT_BAHT") &&
                        !p.productPkg.includes("FBB_DISCOUNT") &&
                        !p.productPkg.includes("FBB_DISCOUNT_BAHT") &&
                        !p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN") &&
                        !p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN_BAHT") &&
                        !p.productPkg.includes("FBB_DISCOUNT_SAVE_CHURN_PERCENT") &&
                        !p.productPkg.includes("FMB_DISCOUNT") &&
                        !p.productPkg.includes("FMB_SERENADE") &&
                        !p.productPkg.includes("FBB_DISCOUNT_ENTRYFEE") &&
                        !p.productPkg.includes("Penalty Package") &&
                        !p.productPkg.includes("FBB Penalty Charge")) &&
                        (
                            p.productClass.includes("On-Top") || p.productClass.includes("On-Top Extra")
                        ) &&
                        p.shortNameThai != null &&
                        p.inStatementThai != null &&
                        start <= current && current<= end
                        )
                        {
                            let data = {
                                "FIBRENET_ID" : $("#AisAirNumber").val(),
                                "PROMOTION_PIC" : response.PackageYouData.contentpiblob,
                                "PROMOTION_DISPLAY" : p.shortNameThai,
                                "PROMOTION_DETALIL" : p.inStatementThai
                            };
                            PACKAGE_CONTENT.push(data);
                            response.PackageYouData.PACKAGE_CONTENT.push(data);
                        }

                        // กล่องเงื่อนไข
                        if((
                        p.productPkg.includes("Penalty Package") ||
                        p.productPkg.includes("FBB Penalty Charge")) &&
                        p.productClass == "On-Top Extra" &&
                        p.shortNameThai != null &&
                        p.inStatementThai != null &&
                        start <= current && current<= end
                        )
                        {
                            let data = {
                                "FIBRENET_ID" : $("#AisAirNumber").val(),
                                "PROMOTION_DISPLAY" : p.shortNameThai,
                                "PROMOTION_DETALIL" : p.inStatementThai
                            };
                            PACKAGE_INSTALL.push(data);
                            response.PackageYouData.PACKAGE_INSTALL.push(data);
                        }
                        if(packageOption2.length == i+1)
                        {
                            SetPackageYouNewVersion(response.PackageYouData.PACKAGE_MAIN, PACKAGE_DISCOUNT, PACKAGE_CONTENT, PACKAGE_VAS, PACKAGE_INSTALL);
                        }
                        
                    });


                    const packageOption3 = response.PackageYouData.PACKAGE_ALL_OPTION3;

                    $.each(packageOption3, function (i, p) {
                        if(p.startDt != null )
                        {
                                let startDatePackage = p.startDt.split(" ")[0].split('/');
                                start =  new Date(startDatePackage[2], startDatePackage[1] - 1, startDatePackage[0]);
                        }
                        if(p.endDt != null)
                        {
                                let endDatePackage = p.endDt.split(" ")[0].split('/');
                                end = new Date(endDatePackage[2], endDatePackage[1] - 1, endDatePackage[0]) ;
                        }
                                           

                        if (p.productPkg == null)
                        {
                            p.productPkg = "";
                        }

                        // กล่องบริการเสริม
                        if(          
                            p.shortNameThai != null &&
                            p.inStatementThai != null &&
                            start <= current && current<= end
                        )
                        {
                            let data = {
                                "FIBRENET_ID" : $("#AisAirNumber").val(),
                                "PROMOTION_PIC" :p.productCd == "00006" ? response.PackageYouData.blobmeshpic : response.PackageYouData.blobplaybox,
                                "PROMOTION_DISPLAY" : p.shortNameThai,
                                "PROMOTION_DETALIL" : p.inStatementThai
                            };
                            PACKAGE_VAS.push(data);
                            response.PackageYouData.PACKAGE_VAS.push(data);
                        }
                        
                       
                        if(packageOption3.length == i+1)
                        {
                            SetPackageVasYouNewVersion(response.PackageYouData.PACKAGE_MAIN, PACKAGE_VAS);
                        }
                        
                    });
                   
                   }
                    else{
                        console.log("Error: ", response.PackageYouData.RETURN_CODE);
                    }

                //}
            },
            error: function (err) {
                console.log('Error in Operation')
            }
        });

        //setHeightBackground();
    }

   function CheckPackageDetailByNonMobile2() {
        $.ajax({
            url: '/WelcomeToAisFibre/CheckPackageDetailByNonMobile',
            data: {
                mobileNo: $("#AisAirNumber").val(),
                option: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
             
                    console.log(response);
                
            },
            error: function (err) {
                console.log('Error in Operation')
            }
        });
    }

    function CheckPackageDetailByNonMobile3() {
        $.ajax({
            url: '/WelcomeToAisFibre/CheckPackageDetailByNonMobile',
            data: {
                mobileNo: $("#AisAirNumber").val(),
                option: "3"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
             
                    console.log(response);
                
            },
            error: function (err) {
                console.log('Error in Operation')
            }
        });
    }

    function SetPackageYou(data) {
        $("#divMobileNoYou").html("");
        $("#divDiscountYou").html("");
        $("#divContentYou").html("");
        $("#divVasYou").html("");
        $("#divInstallYou").html("");

        if (data.PackageYouData.RETURN_CODE == "0") {
            if (data.PackageYouData.PACKAGE_MAIN.length > 0) {
                var tmpHtmlRaw1 = "";
                var tmpHtmlRaw2 = "";
                var tmpHtmlRaw3 = "";
                var tmpHtmlRaw4 = "";
                $.each(data.PackageYouData.PACKAGE_MAIN, function (i, e) {
                    tmpHtmlRaw1 += "<div class='packyou'><div class='pos packyou_txt1'>@Html.Raw(W_PACKAGE_7)</div>";
                    tmpHtmlRaw1 += "<div class='pos packyou_txt2'>" + e.PROMOTION_DISPLAY + "</div>";
                    tmpHtmlRaw1 += "<img src='~/Content/ContentWelcome/images/package/banner2.png' width='' alt=''></div>";

                    $("#PROMOTION_DISPLAY").text(e.PROMOTION_DISPLAY);


                    tmpHtmlRaw2 = "<div class='fbwe_edit_tab'>" + e.PROMOTION_NAME + "</div>";
                    tmpHtmlRaw2 += "<div class='fbwe_edit_tab'>@Html.Raw(W_PACKAGE_10) <b>" + e.PROMOTION_EXPIRE + "</b></div>";

                    $("#PROMOTION_NAME").html(e.PROMOTION_NAME);
                    $("#PROMOTION_EXPIRE").text(e.PROMOTION_EXPIRE);

                    tmpHtmlRaw3 = "<img src='~/Content/ContentWelcome/images/package/speed.png' width='' alt=''>";

                    $("#lblDownloadValue").text(e.DOWNLOAD_SPEED.toUpperCase().replace("MBPS",""));
                    $("#lblUploadValue").text(e.UPLOAD_SPEED.toUpperCase().replace("MBPS",""));

                    tmpHtmlRaw4 = "@Html.Raw(W_PACKAGE_1) " + $("#hdShowMobileNumber").val() + " <br><span class='fbwe_p5_bg1-note'>@Html.Raw(W_PACKAGE_9)</span>";
                });
                
                $("#divMobileNoYou").html(tmpHtmlRaw4);
            }

            // if (data.PackageYouData.PACKAGE_DISCOUNT != null) {
                if (data.PackageYouData.PACKAGE_DISCOUNT.length > 0) {
                    var tmpHtmlRaw = "";
                    $.each(data.PackageYouData.PACKAGE_DISCOUNT, function (i, e) {
                        tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                        tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                        tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                        tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'>" + e.PROMOTION_DETALIL + "</div></div></div></div>";
                    });
                    $("#divDiscountYou").html(tmpHtmlRaw);
                }
            // }

            // if (data.PackageYouData.PACKAGE_CONTENT != null) {
                if (data.PackageYouData.PACKAGE_CONTENT.length > 0) {
                    var tmpHtmlRaw = "";
                    $.each(data.PackageYouData.PACKAGE_CONTENT, function (i, e) {
                        tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                        tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                        tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                        tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'> ";
                        tmpHtmlRaw += e.PROMOTION_DETALIL + "</div></div></div></div>";
                    });
                    $("#divContentYou").html(tmpHtmlRaw);
                }
            // }
            //  if (data.PackageYouData.PACKAGE_VAS != null) {
                if (data.PackageYouData.PACKAGE_VAS.length > 0) {
                    var tmpHtmlRaw = "";
                    $.each(data.PackageYouData.PACKAGE_VAS, function (i, e) {
                        tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                        tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                        tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                        tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'>";
                        tmpHtmlRaw += e.PROMOTION_DETALIL + "</div></div></div></div>";
                    });
                    $("#divVasYou").html(tmpHtmlRaw);
                }
            //  }
        //    if (data.PackageYouData.PACKAGE_INSTALL != null) {
                if (data.PackageYouData.PACKAGE_INSTALL.length > 0) {
                    var tmpHtmlRaw = "";
                    $.each(data.PackageYouData.PACKAGE_INSTALL, function (i, e) {
                        tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'>";
                        tmpHtmlRaw += "<div class='fbwe_p5_box-title'>" + e.PROMOTION_DISPLAY + "</div>";
                        tmpHtmlRaw += "<div class='fbwe_p5_box-desc'>" + e.PROMOTION_DETALIL + "</div></div></div>";
                    });
                    $("#divInstallYou").html(tmpHtmlRaw);
                }
        //    }
        }
    }

    function SetPackageYouNewVersion(PACKAGE_MAIN, PACKAGE_DISCOUNT, PACKAGE_CONTENT, PACKAGE_VAS, PACKAGE_INSTALL) {
        $("#divMobileNoYou").html("");
        $("#divDiscountYou").html("");
        $("#divContentYou").html("");    
        $("#divInstallYou").html("");
      
        if (PACKAGE_MAIN.length > 0) {
            var tmpHtmlRaw1 = "";
            var tmpHtmlRaw2 = "";
            var tmpHtmlRaw3 = "";
            var tmpHtmlRaw4 = "";
            $.each(PACKAGE_MAIN, function (i, e) {
                tmpHtmlRaw1 += "<div class='packyou'><div class='pos packyou_txt1'>@Html.Raw(W_PACKAGE_7)</div>";
                tmpHtmlRaw1 += "<div class='pos packyou_txt2'>" + e.PROMOTION_DISPLAY + "</div>";
                tmpHtmlRaw1 += "<img src='~/Content/ContentWelcome/images/package/banner2.png' width='' alt=''></div>";

                $("#PROMOTION_DISPLAY").text(e.PROMOTION_DISPLAY);


                tmpHtmlRaw2 = "<div class='fbwe_edit_tab'>" + e.PROMOTION_NAME + "</div>";
                tmpHtmlRaw2 += "<div class='fbwe_edit_tab'>@Html.Raw(W_PACKAGE_10) <b>" + e.PROMOTION_EXPIRE + "</b></div>";

                $("#PROMOTION_NAME").html(e.PROMOTION_NAME);
                $("#PROMOTION_EXPIRE").text(e.PROMOTION_EXPIRE);

                tmpHtmlRaw3 = "<img src='~/Content/ContentWelcome/images/package/speed.png' width='' alt=''>";

                $("#lblDownloadValue").text(e.DOWNLOAD_SPEED.toUpperCase().replace("MBPS",""));
                $("#lblUploadValue").text(e.UPLOAD_SPEED.toUpperCase().replace("MBPS",""));

                tmpHtmlRaw4 = "@Html.Raw(W_PACKAGE_1) " + $("#hdShowMobileNumber").val() + " <br><span class='fbwe_p5_bg1-note'>@Html.Raw(W_PACKAGE_9)</span>";
            });
            
            $("#divMobileNoYou").html(tmpHtmlRaw4);
        }

      // if (data.PackageYouData.PACKAGE_DISCOUNT != null) {
        if (PACKAGE_DISCOUNT.length > 0) {
            var tmpHtmlRaw = "";
            $.each(PACKAGE_DISCOUNT, function (i, e) {
                tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'>" + e.PROMOTION_DETALIL + "</div></div></div></div>";
            });
            $("#divDiscountYou").html(tmpHtmlRaw);
        }
     // }

     // if (data.PackageYouData.PACKAGE_CONTENT != null) {
        if (PACKAGE_CONTENT.length > 0) {
            var tmpHtmlRaw = "";
            $.each(PACKAGE_CONTENT, function (i, e) {
                tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'> ";
                tmpHtmlRaw += e.PROMOTION_DETALIL + "</div></div></div></div>";
            });
            $("#divContentYou").html(tmpHtmlRaw);
        }
    // }
   //   if (data.PackageYouData.PACKAGE_INSTALL != null) {
        if (PACKAGE_INSTALL.length > 0) {
            var tmpHtmlRaw = "";
            $.each(PACKAGE_INSTALL, function (i, e) {
                tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'>";
                tmpHtmlRaw += "<div class='fbwe_p5_box-title'>" + e.PROMOTION_DISPLAY + "</div>";
                tmpHtmlRaw += "<div class='fbwe_p5_box-desc'>" + e.PROMOTION_DETALIL + "</div></div></div>";
            });
            $("#divInstallYou").html(tmpHtmlRaw);
        }
//    }
        
    }

    function SetPackageVasYouNewVersion(PACKAGE_MAIN, PACKAGE_VAS) {
        $("#divVasYou").html("");     

        if (PACKAGE_VAS.length > 0) {
            var tmpHtmlRaw = "";
            $.each(PACKAGE_VAS, function (i, e) {
                tmpHtmlRaw += "<div class='row'><div class='col-xs-12 col-pack-l'><div class='panel_package1'>";
                tmpHtmlRaw += "<img src='data:image/png;base64," + e.PROMOTION_PIC + "' width='' alt=''></div></div>";
                tmpHtmlRaw += "<div class='col-xs-12 col-pack-r'><div class='panel_package2'><div class='fbwe_p5_box-title'>";
                tmpHtmlRaw += e.PROMOTION_DISPLAY + "</div><div class='fbwe_p5_box-desc'>";
                tmpHtmlRaw += e.PROMOTION_DETALIL + "</div></div></div></div>";
            });
            $("#divVasYou").html(tmpHtmlRaw);
        }
    }

    function setHeightBackground() {

        let divElement = [];
        let divElement1 = document.querySelector(".packagebox1").offsetHeight;
        divElement.push(divElement1);
        let divElement2 = document.querySelector(".packagebox2").offsetHeight;
        divElement.push(divElement2);
        let divElement3 = document.querySelector(".packagebox3").offsetHeight;
        divElement.push(divElement3);
        let divElement4 = document.querySelector(".packagebox4").offsetHeight;
        divElement.push(divElement4);

        let maxHeight = Math.max.apply(Math, divElement);
       

        if (document.querySelector(".panel_package2") != null) {
            let panel_package2_hight = document.querySelector(".panel_package2").offsetHeight;
            if (maxHeight > panel_package2_hight) {
                $('.fbwe_p5_box-in').attr('style', 'height:' + maxHeight + 'px;');
            }
            else if (maxHeight < panel_package2_hight) {
                let panel_hight = document.querySelector(".panel_package2").offsetHeight + maxHeight;
                $('.fbwe_p5_box-in').attr('style', 'height:' + panel_hight + 'px;');
            }
        }
        else {
            $('.fbwe_p5_box-in').attr('style', 'height:' + maxHeight + 'px;');
        }
       
      
    }

    function removeHeightBackground() {
        $('.fbwe_p5_box-in').removeAttr('style');
    }

</script>

<style type="text/css">
    @@media screen and (max-width: 600px) {
        .fbwe_p5_speed_txt1, .fbwe_p5_speed_txt2, .fbwe_p5_speed_txt3 {
            width: 55%;
        }

        .fbwe_p5_speed_txt4, .fbwe_p5_speed_txt5, .fbwe_p5_speed_txt6 {
            width: 45%;
        }

        .fbwe_p5_speed_txt4, .fbwe_p5_speed_txt5, .fbwe_p5_speed_txt6 {
            margin-left: 10px;
        }

        .packyou_txt2 {
            font-size: 3.8vw;
            width: 70%;
        }
    }

    @@media (min-width: 920px) {
        .packyou_txt2 {
            font-size: 20px;
        }
    }
</style>