@using WBBWeb.Extension
@using WBBEntity.PanelModels;
@model WBBWeb.Models.WelcomeAisModel
@{

    string W_DATA_PRIVACY_1 = "";
    string W_DATA_PRIVACY_2 = "";
    string W_DATA_PRIVACY_3 = "";
    string W_DATA_PRIVACY_4 = "";
    string W_DATA_PRIVACY_5 = "";
    string W_DATA_PRIVACY_6 = "";
    string W_DATA_PRIVACY_7 = "";
    string W_DATA_PRIVACY_8 = "";
    string W_DATA_PRIVACY_9 = "";
    string W_DATA_PRIVACY_10 = "";
    string W_DATA_PRIVACY_11 = "";
    string W_DATA_PRIVACY_12 = "";
    string W_DATA_PRIVACY_13 = "";
    string W_DATA_PRIVACY_14 = "";
    string W_DATA_PRIVACY_15 = "";
    string W_DATA_PRIVACY_16 = "";
    string W_DATA_PRIVACY_17 = "";
    string W_MAIN_2 = "";

    if (ViewBag.LabelFBBOR051 != null)
    {
        var LabelFBBOR051 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR051;
        W_DATA_PRIVACY_1 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_1") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_1").DisplayValue : "";
        W_DATA_PRIVACY_2 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_2") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_2").DisplayValue : "";
        W_DATA_PRIVACY_3 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_3") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_3").DisplayValue : "";
        W_DATA_PRIVACY_4 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_4") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_4").DisplayValue : "";
        W_DATA_PRIVACY_5 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_5") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_5").DisplayValue : "";
        W_DATA_PRIVACY_6 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_6") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_6").DisplayValue : "";
        W_DATA_PRIVACY_7 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_7") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_7").DisplayValue : "";
        W_DATA_PRIVACY_8 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_8") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_8").DisplayValue : "";
        W_DATA_PRIVACY_9 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_9") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_9").DisplayValue : "";
        W_DATA_PRIVACY_10 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_10") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_10").DisplayValue : "";
        W_DATA_PRIVACY_11 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_11") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_11").DisplayValue : "";
        W_DATA_PRIVACY_12 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_12") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_12").DisplayValue : "";
        W_DATA_PRIVACY_13 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_13") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_13").DisplayValue : "";
        W_DATA_PRIVACY_14 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_14") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_14").DisplayValue : "";
        W_DATA_PRIVACY_15 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_15") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_15").DisplayValue : "";
        W_DATA_PRIVACY_16 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_16") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_16").DisplayValue : "";
        W_DATA_PRIVACY_17 = LabelFBBOR051.Any(c => c.Name == "W_DATA_PRIVACY_17") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_DATA_PRIVACY_17").DisplayValue : "";
        W_MAIN_2 = LabelFBBOR051.Any(c => c.Name == "W_MAIN_2") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_MAIN_2").DisplayValue : "";

    }

    string URL_DIRECT_DATA_PRIVACY = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        URL_DIRECT_DATA_PRIVACY = FbbConstant.Any(f => f.Field == "URL_DIRECT_DATA_PRIVACY") ? FbbConstant.First(f => f.Field == "URL_DIRECT_DATA_PRIVACY").Validation : "";

    }
}

<style type="text/css">

</style>

<div id="divPdpaConfirm" class="fbwe_p2_wrap" style="display:none;">
    <div class="fbwe_p2_cont">
        <div class="fbwe_p2_logo">
            <img src="~/Content/ContentWelcome/images/welcome/logo_fibre.png" width="" alt="">
        </div>
        <h1>@W_DATA_PRIVACY_1</h1>

        <h3>@W_DATA_PRIVACY_2</h3>

        <h2>@W_DATA_PRIVACY_3</h2>
        <p>@W_DATA_PRIVACY_4</p>

        <h2>@W_DATA_PRIVACY_5</h2>
        <p>@W_DATA_PRIVACY_6</p>
        <p>
            @W_DATA_PRIVACY_7 <a href="@URL_DIRECT_DATA_PRIVACY" target="_blank">@W_DATA_PRIVACY_8</a>
            @W_DATA_PRIVACY_9
            <a href="@URL_DIRECT_DATA_PRIVACY" target="_blank">@W_DATA_PRIVACY_10</a>
        </p>
        <p>
            @W_DATA_PRIVACY_11
            <a href="@URL_DIRECT_DATA_PRIVACY" target="_blank">@W_DATA_PRIVACY_12</a>
        </p>

        <div class="fbwe_p2_btn_wrap">
            <h3>@W_DATA_PRIVACY_13</h3>
            <div class="fbwe_p2_box chkbox_privilege">
                <label class="checkbox">
                <input class="checkbox_inside" type="radio" id="yes_privilege" name="privilege" value="Y">
                <span></span>&nbsp;@W_DATA_PRIVACY_15</label>
            </div>
            <div class="fbwe_p2_box chkbox_privilege">
                <label class="checkbox">
                <input class="checkbox_inside" type="radio" id="no_privilege" name="privilege" value="N">
                <span></span>&nbsp;@W_DATA_PRIVACY_16</label>
            </div>
            <h3>@W_DATA_PRIVACY_14</h3>
            <div class="fbwe_p2_box chkbox_service">
                <label class="checkbox">
                <input class="checkbox_inside" type="radio" id="yes_service" name="service" value="Y">
                <span></span>&nbsp;@W_DATA_PRIVACY_15</label>
            </div>
            <div class="fbwe_p2_box chkbox_service">
                <label class="checkbox">
                <input class="checkbox_inside" type="radio" id="no_service" name="service" value="N">
                <span></span>&nbsp;@W_DATA_PRIVACY_16</label>
            </div>
        </div>
        <div class="fbwe_p2_btn_pos">
            <a onclick="checkRadio()" class="fbwe_button_submit">@W_DATA_PRIVACY_17</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    function checkRadio() {
        var valPrivilege = validateRadio("privilege");
        var valService = validateRadio("service");
        if (valPrivilege && valService) {
            $('.chkbox_privilege').removeClass(' errorinput');
            $('.chkbox_service').removeClass(' errorinput');

            LockScreen(true);
            insertLogDataPrivacy();
            getProfile();
        }
        else {
            return;
        }
    }

    function validateRadio(id) {
        var val = $('input[name="' + id + '"]:checked').val();
        if (val == undefined) {
            $('.chkbox_' + id).removeClass('chkbox_' + id).addClass('chkbox_' + id + ' errorinput');
            return false;
        }
        else {
            $('.chkbox_' + id).removeClass(' errorinput');
            return true;
        }
    }

    function insertLogDataPrivacy() {
        var valPrivilege = $('input[name="privilege"]:checked').val();
        var valService = $('input[name="service"]:checked').val();

        $.ajax({
            url: '/WelcomeToAisFibre/insertLogDataPrivacy',
            data: {
                channel: "FBB",
                fibrenetId: $("#AisAirNumber").val(),
                mobileNo: $("#MobileNo").val(),
                confirmMkt: valPrivilege,
                confirmPrivilege: valService
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                var saveSuccess = response;
            }
        });
    }

    function getProfile() {
        $.ajax({
            url: '/WelcomeToAisFibre/evESeServiceQueryMassCommonAccountInfoforWelcome',
            data: {
                mobileNo: $("#AisAirNumber").val(),
                option: "2"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                var data = response.data;
            
                if (data.errorMessage == "") {

                    $("#outPrimaryContactFirstName").val(data.outPrimaryContactFirstName);
                    $("#outContactLastName").val(data.outContactLastName);
                    $("#outAmphur").val(data.outAmphur);
                    $("#outBuildingName").val(data.outBuildingName);
                    $("#outFloor").val(data.outFloor);
                    $("#outHouseNumber").val(data.outHouseNumber);
                    $("#outMoo").val(data.outMoo);
                    $("#outMooban").val(data.outMooban);
                    $("#outProvince").val(data.outProvince);
                    $("#outRoom").val(data.outRoom);
                    $("#outSoi").val(data.outSoi);
                    $("#outStreetName").val(data.outStreetName);
                    $("#outBillLanguage").val(data.outBillLanguage);
                    $("#outTumbol").val(data.outTumbol);
                    $("#outBirthDate").val(data.outBirthDate);
                    $("#outEmail").val(data.outEmail);
                    $("#outAccountName").val(data.outAccountName);
                    $("#outAccountNumber").val(data.outAccountNumber);
                    $("#outServiceAccountNumber").val(data.outServiceAccountNumber);
                    $("#outBillingAccountNumber").val(data.outBillingAccountNumber);
                    $("#outProductName").val(data.outProductName);
                    $("#outDayOfServiceYear").val(data.outDayOfServiceYear);
                    $("#cardType").val(data.cardType);
                    $("#outAccountSubCategory").val(data.outAccountSubCategory);
                    $("#outPostalCode").val(data.outPostalCode);
                    $("#outTitle").val(data.outTitle);
                    $("#OwnerProduct").val(data.OwnerProduct);
                    $("#PackageCode").val(data.PackageCode);
                    $("#outFullAddress").val(data.outFullAddress);
                    $("#outAccountCategory").val(data.outAccountCategory);
                    $("#outparameter1").val(data.outparameter1);
                    $("#outparameter2").val(data.outparameter2);
                    $("#vatAddress1").val(data.vatAddress1);
                    $("#vatAddress2").val(data.vatAddress2);
                    $("#vatAddress3").val(data.vatAddress3);
                    $("#vatAddress4").val(data.vatAddress4);
                    $("#vatAddress5").val(data.vatAddress5);
                    $("#vatPostalCd").val(data.vatPostalCd);
                    $("#vatAddressFull").val(data.vatAddressFull);

                    startPageProfile();
                    startPagePackage();
                    startPageServices();

                    LockScreen(false);
                    nextPageMain();
                }
                else {
                    LockScreen(false);
                    logOut();
                }
            },
            error: function (x) {
                LockScreen(false);
            }
        });
    }

    function nextPageMain() {
        
        //ขอต้อนรับ คุณ {Y}
        var strW_MAIN_2 = "@W_MAIN_2";
        var strFirstName = $("#outPrimaryContactFirstName").val();
        var strLastName = $("#outContactLastName").val();
        var strName = "<font color='#a3c418'>" + strFirstName + " " + strLastName + "</font>";
        strName = strW_MAIN_2.replace("{Y}", strName);
        
        $("#lblWelcomeName").html(strName);
        
        $("#divInputAisAirNumber").hide();
        $("#divPdpaConfirm").hide();
        $("#divMian").show();

        window.scrollTo(0, 0);

    }
</script>