@using WBBWeb.Extension
@using WBBEntity.PanelModels;
@model WBBWeb.Models.WelcomeAisModel
@{
    string W_PRIVILEGE_1 = "";
    string W_PRIVILEGE_2 = "";
    string W_PRIVILEGE_3 = "";
    string W_PRIVILEGE_4 = "";
    string W_PRIVILEGE_5 = "";
    string W_PRIVILEGE_6 = "";
    string URL_DIRECT_POINT_REGISTER = "";
    string URL_DIRECT_POINT_DETAIL = "";

    if (ViewBag.LabelFBBOR051 != null)
    {
        var LabelFBBOR051 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR051;
        
        W_PRIVILEGE_1 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_1") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_1").DisplayValue : "";
        W_PRIVILEGE_2 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_2") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_2").DisplayValue : "";
        W_PRIVILEGE_3 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_3") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_3").DisplayValue : "";
        W_PRIVILEGE_4 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_4") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_4").DisplayValue : "";
        W_PRIVILEGE_5 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_5") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_5").DisplayValue : "";
        W_PRIVILEGE_6 = LabelFBBOR051.Any(c => c.Name == "W_PRIVILEGE_6") ? LabelFBBOR051.FirstOrDefault(c => c.Name == "W_PRIVILEGE_6").DisplayValue : "";

    }
    
    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        
        URL_DIRECT_POINT_REGISTER = FbbConstant.Any(f => f.Field == "URL_DIRECT_POINT_REGISTER") ? FbbConstant.First(f => f.Field == "URL_DIRECT_POINT_REGISTER").Validation : "";
        URL_DIRECT_POINT_DETAIL = FbbConstant.Any(f => f.Field == "URL_DIRECT_POINT_DETAIL") ? FbbConstant.First(f => f.Field == "URL_DIRECT_POINT_DETAIL").Validation : "";

    }
}

<div id="divPrivileges" class="fbwe_p7_wrap" style="display:none;">
    <div class="fbwe_p7_cont">
        <div>
            <picture>
                <source media=" (min-width: 920px)" srcset="~/Content/ContentWelcome/images/privilege/banner_960.png" />
                <img src="~/Content/ContentWelcome/images/privilege/banner.png" alt="welcometoaisfibre">
            </picture>
        </div>
        <div class="fbwe_p7_area_sp1">
            <div class="fbwe_p7_area_sp1_img1 pos"><img src="~/Content/ContentWelcome/images/privilege/img1.png" width="" alt=""></div>
            <div class="fbwe_p7_area_sp1_txt1 pos">@W_PRIVILEGE_1</div>
            <div class="fbwe_p7_area_sp1_txt2 pos">@W_PRIVILEGE_2</div>
            <div class="fbwe_p7_area_sp1_txt3 pos">@W_PRIVILEGE_3</div>
            <img src="~/Content/ContentWelcome/images/privilege/area_sp1.png" width="" alt="">
        </div>
        <div class="fbwe_pri_wrap">
            <div class="row">
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="pri_ais_point">
                            <a href="@URL_DIRECT_POINT_REGISTER" target="_blank" class="pri_ais_point_btn pos">@W_PRIVILEGE_4</a>
                            <img src="~/Content/ContentWelcome/images/privilege/pri_ais_point.png" width="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-profile">
                    <div class="panel_profile">
                        <div class="pri_ais_privilege">
                            <a href="@URL_DIRECT_POINT_DETAIL" target="_blank" class="pri_ais_privilege_btn pos">@W_PRIVILEGE_5</a>
                            <img src="~/Content/ContentWelcome/images/privilege/pri_ais_privilege.png" width="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fbwe_p6_btn_wrap">
            <a onclick="backPage()" class="fbwe_btn_edit"><img src="~/Content/ContentWelcome/images/package/arr.png" width="" alt=""> @W_PRIVILEGE_6</a>
        </div>

    </div>
    <div class="fbwe_p6_bt_top">

    </div>
</div>