@using WBBEntity.PanelModels;
@model WBBWeb.Models.WelcomeAisModel

@{
    string W_SERVICE_1 = string.Empty;
    string W_SERVICE_2 = string.Empty;
    string W_SERVICE_3 = string.Empty;
    string W_SERVICE_4 = string.Empty;
    string W_SERVICE_5 = string.Empty;
    string W_SERVICE_6 = string.Empty;

    string W_SERVICE_EBILL_1 = string.Empty;
    string W_SERVICE_EBILL_2 = string.Empty;
    string W_SERVICE_EBILL_3 = string.Empty;
    string W_SERVICE_EBILL_4 = string.Empty;
    string W_SERVICE_EBILL_5 = string.Empty;

    string W_SERVICE_PAY_1 = string.Empty;
    string W_SERVICE_PAY_2 = string.Empty;
    string W_SERVICE_PAY_3 = string.Empty;
    string W_SERVICE_PAY_4 = string.Empty;
    string W_SERVICE_PAY_5 = string.Empty;

    string W_SERVICE_ERECEIPT_1 = string.Empty;
    string W_SERVICE_ERECEIPT_2 = string.Empty;
    string W_SERVICE_ERECEIPT_3 = string.Empty;

    string W_SERVICE_STORE_1 = string.Empty;
    string W_SERVICE_STORE_2 = string.Empty;
    string W_SERVICE_STORE_3 = string.Empty;

    string W_SERVICE_7 = string.Empty;

    if (ViewBag.LabelFBBOR051 != null)
    {
        var LabelFBBOR051 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR051;
        
        W_SERVICE_1 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_1").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_2 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_2").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_3 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_3").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_4 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_4").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_5 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_5").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_6 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_6").Select(d => d.DisplayValue).FirstOrDefault();

        W_SERVICE_EBILL_1 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_EBILL_1").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_EBILL_2 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_EBILL_2").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_EBILL_3 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_EBILL_3").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_EBILL_4 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_EBILL_4").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_EBILL_5 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_EBILL_5").Select(d => d.DisplayValue).FirstOrDefault();

        W_SERVICE_PAY_1 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_PAY_1").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_PAY_2 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_PAY_2").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_PAY_3 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_PAY_3").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_PAY_4 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_PAY_4").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_PAY_5 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_PAY_5").Select(d => d.DisplayValue).FirstOrDefault();

        W_SERVICE_ERECEIPT_1 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_ERECEIPT_1").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_ERECEIPT_2 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_ERECEIPT_2").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_ERECEIPT_3 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_ERECEIPT_3").Select(d => d.DisplayValue).FirstOrDefault();

        W_SERVICE_STORE_1 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_STORE_1").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_STORE_2 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_STORE_2").Select(d => d.DisplayValue).FirstOrDefault();
        W_SERVICE_STORE_3 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_STORE_3").Select(d => d.DisplayValue).FirstOrDefault();

        W_SERVICE_7 = LabelFBBOR051.Where(d => d.Name == "W_SERVICE_7").Select(d => d.DisplayValue).FirstOrDefault();
    }
    
    string URL_DIRECT_EBILL_APP = string.Empty;
    string URL_DIRECT_PAY_APP = string.Empty;
    string URL_DIRECT_ERECEIPT_APP = string.Empty;
    string URL_DIRECT_EBILL_BROWSER = string.Empty;
    string URL_DIRECT_PAY_BROWSER = string.Empty;
    string URL_DIRECT_ERECEIPT_BROWSER = string.Empty;
    string URL_DIRECT_STORE = string.Empty;

    string URL_DIRECT_EBILL = string.Empty;
    string URL_DIRECT_PAY = string.Empty;
    string URL_DIRECT_ERECEIPT = string.Empty;

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        
        URL_DIRECT_EBILL_APP = FbbConstant.Where(d => d.Field == "URL_DIRECT_EBILL_APP").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_PAY_APP = FbbConstant.Where(d => d.Field == "URL_DIRECT_PAY_APP").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_ERECEIPT_APP = FbbConstant.Where(d => d.Field == "URL_DIRECT_ERECEIPT_APP").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_EBILL_BROWSER = FbbConstant.Where(d => d.Field == "URL_DIRECT_EBILL_BROWSER").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_PAY_BROWSER = FbbConstant.Where(d => d.Field == "URL_DIRECT_PAY_BROWSER").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_ERECEIPT_BROWSER = FbbConstant.Where(d => d.Field == "URL_DIRECT_ERECEIPT_BROWSER").Select(d => d.Validation).FirstOrDefault();
        URL_DIRECT_STORE = FbbConstant.Where(d => d.Field == "URL_DIRECT_STORE").Select(d => d.Validation).FirstOrDefault();

        if (!Request.Browser.IsMobileDevice)
        {
            URL_DIRECT_EBILL = URL_DIRECT_EBILL_BROWSER;
            URL_DIRECT_PAY = URL_DIRECT_PAY_BROWSER;
            URL_DIRECT_ERECEIPT = URL_DIRECT_ERECEIPT_BROWSER;
        }
        else
        {
            URL_DIRECT_EBILL = URL_DIRECT_EBILL_APP;
            URL_DIRECT_PAY = URL_DIRECT_PAY_APP;
            URL_DIRECT_ERECEIPT = URL_DIRECT_ERECEIPT_APP;
        }
    }
}

<div id="divServices" class="fbwe_p6_wrap" style="display:none;">
    <div class="fbwe_p6_cont">
        <div>
            <picture>
                <source media=" (min-width: 920px)" srcset="~/Content/ContentWelcome/images/service/banner_960.png" />
                <img src="~/Content/ContentWelcome/images/service/banner.png" alt="welcometoaisfibre">
            </picture>
        </div>

        <div class="fbwe_p6_area_sp1">
            <div class="fbwe_p6_area_sp1_img1 pos"><img src="~/Content/ContentWelcome/images/service/service_img1.png" width="" alt=""></div>
            <div class="fbwe_p6_area_sp1_txt1 pos">@W_SERVICE_1</div>
            <div class="fbwe_p6_area_sp1_txt2 pos">@W_SERVICE_2</div>
            <div class="fbwe_p6_area_sp1_txt3 pos">@W_SERVICE_3</div>
            <img src="~/Content/ContentWelcome/images/service/area_sp1.png" width="" alt="">
        </div>
        <div class="row">
            <div class="col-xs-12 col-service-1">
                <div class="panel_service">
                    <div class="fbwe_p6_detail_img">
                        <img src="~/Content/ContentWelcome/images/service/service_ic1.png" width="" alt="">
                    </div>
                    <div class="fbwe_p6_detail_txt">@W_SERVICE_4</div>
                </div>
            </div>
            <div class="col-xs-12 col-service-1">
                <div class="panel_service">
                    <div class="fbwe_p6_detail_img">
                        <img src="~/Content/ContentWelcome/images/service/service_ic2.png" width="" alt="">
                    </div>
                    <div class="fbwe_p6_detail_txt">
                       @W_SERVICE_5
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-service-1">
                <div class="panel_service">
                    <div class="fbwe_p6_detail_img">
                        <img src="~/Content/ContentWelcome/images/service/service_ic3.png" width="" alt="">
                    </div>
                    <div class="fbwe_p6_detail_txt">
                        @W_SERVICE_6
                    </div>
                </div>
            </div>
        </div>
        <div class="fbwe_p6_card_wrap">
            <div class="swiper-thumb swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="fbwe_p6_card">
                            <div class="fbwe_p6_card_top">
                                <img src="~/Content/ContentWelcome/images/service/service_slide_img1.png" width="" alt="">
                            </div>
                            <div class="fbwe_p6_card_detail">
                                <h6>@W_SERVICE_EBILL_1</h6>
                                <p>
                                    @W_SERVICE_EBILL_2 <br>
                                    <ul>
                                        <li>@W_SERVICE_EBILL_3</li>
                                        <li>@W_SERVICE_EBILL_4</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="fbwe_p4_btn_wrap2">                              
                                <a  onclick="checkDeviceIsMobile('@URL_DIRECT_EBILL_BROWSER', '@URL_DIRECT_EBILL_APP')" class="fbwe_btn_edit">@W_SERVICE_EBILL_5</a>         
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="fbwe_p6_card">
                            <div class="fbwe_p6_card_top">
                                <img src="~/Content/ContentWelcome/images/service/service_slide_img2.png" width="" alt="">
                            </div>
                            <div class="fbwe_p6_card_detail">
                                <h6>@W_SERVICE_PAY_1</h6>
                                <p>
                                    @W_SERVICE_PAY_2  <br>
                                    <ol>
                                        <li>@W_SERVICE_PAY_3</li>
                                        <li>@W_SERVICE_PAY_4</li>
                                    </ol>
                                </p>
                            </div>
                            <div class="fbwe_p4_btn_wrap2">
                                <a onclick="checkDeviceIsMobile('@URL_DIRECT_PAY_BROWSER', '@URL_DIRECT_PAY_APP')" class="fbwe_btn_edit">@W_SERVICE_PAY_5</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="fbwe_p6_card">
                            <div class="fbwe_p6_card_top">
                                <img src="~/Content/ContentWelcome/images/service/service_slide_img3.png" width="" alt="">
                            </div>
                            <div class="fbwe_p6_card_detail">
                                <h6>@W_SERVICE_ERECEIPT_1</h6>
                                <p>
                                   @W_SERVICE_ERECEIPT_2
                                </p>
                            </div>
                            <div class="fbwe_p4_btn_wrap2">
                                <a onclick="checkDeviceIsMobile('@URL_DIRECT_ERECEIPT_BROWSER', '@URL_DIRECT_ERECEIPT_APP')" class="fbwe_btn_edit">@W_SERVICE_ERECEIPT_3</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="fbwe_p6_card">
                            <div class="fbwe_p6_card_top">
                                <img src="~/Content/ContentWelcome/images/service/service_slide_img4.png" width="" alt="">
                            </div>
                            <div class="fbwe_p6_card_detail">
                                <h6>@W_SERVICE_STORE_1</h6>
                                <p>
                                    @W_SERVICE_STORE_2
                                </p>
                            </div>
                            <div class="fbwe_p4_btn_wrap2">
                                <a href="@URL_DIRECT_STORE" target="_blank" class="fbwe_btn_edit">@W_SERVICE_STORE_3</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="show_pc"><div class="swiper-button-next"></div><div class="swiper-button-prev"></div></div>
            </div>
        </div>


        <div class="fbwe_p6_btn_wrap">
            <a onclick="backPage()" class="fbwe_btn_edit"><img src="~/Content/ContentWelcome/images/package/arr.png" width="" alt=""> @W_SERVICE_7</a>
        </div>

    </div>
    <div class="fbwe_p6_bt_top">

    </div>
</div>

<script type="text/javascript">
    
    function initScriptService() {
        var swiper_thum;
        swiper_thumb = new Swiper('.swiper-thumb', {
            slidesPerView: 1.15, spaceBetween: 15, slidesPerGroup: 1, centeredSlides: false, init: true,
            pagination: { el: '.swiper-thumb .swiper-pagination', clickable: true },
            navigation: { nextEl: '.swiper-thumb .swiper-button-next', prevEl: '.swiper-thumb .swiper-button-prev' },
            breakpoints: {
                480: { slidesPerView: 1.2, centeredSlides: false },
                641: { slidesPerView: 1.2, centeredSlides: false },
                920: { slidesPerView: 2.2, centeredSlides: false },
                1200: { slidesPerView: 2.2, centeredSlides: false }
            }
        });
    }

    function startPageServices() {
        initScriptService();
    }

    function checkDeviceIsMobile(urlBrowser, urlApp) {

        if(
            navigator.userAgent.match(/Android/i) ||
            navigator.userAgent.match(/iPhone/i)
        )
        {
            window.open(`${urlApp}`, '_blank');
        }
        else
        {
            window.open(`${urlBrowser}`, '_blank');
        }
    }

</script>
<style>
    a{
        cursor:pointer !important;
    }
</style>