@using WBBEntity.PanelModels;
@{
    Layout = null;

    ////

    string L_DISCOUNT_ACCOUNT = "";
    string L_DISCOUNT_MY_ACCOUNT = "";
    string L_DISCOUNT_NON_MOBILE = "";
    string L_DISCOUNT_MOBILE = "";

    string L_DISCOUNT_ERRFIRSTPAGE_1 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_2 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_3 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_4 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_5 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_6 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_9 = "";
    string L_DISCOUNT_WELCOME = "";
    string L_DISCOUNT_WELCOME_DESC = "";
    string L_DISCOUNT_ENTER_OTP_1 = "";
    string L_DISCOUNT_ENTER_OTP_2 = "";
    string L_DISCOUNT_ENTER_OTP_3 = "";
    string L_DISCOUNT_ENTER_OTP_4 = "";
    string L_DISCOUNT_ENTER_OTP_5 = "";
    string L_DISCOUNT_PW = "";
    string L_DISCOUNT_ERROTP_1 = "";
    string L_DISCOUNT_ERROTP_2 = "";
    string L_DISCOUNT_ERROTP_3 = "";
    string L_DISCOUNT_ERROTP_4 = "";

    string L_DISCOUNT_SELECT = "";
    string L_DISCOUNT_SUCCESS = "";

    string B_DISCOUNT_NEXT = "";

    string B_DISCOUNT_CONFIRM = "";
    string B_DISCOUNT_CANCEL = "";

    string L_SERENADE_NO_PROMOTION = "";


    if (ViewBag.LabelFBBOR018 != null)
    {
        var labelFBBOR018 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR018;
        L_DISCOUNT_ACCOUNT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ACCOUNT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ACCOUNT").DisplayValue : "";
        L_DISCOUNT_MY_ACCOUNT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_MY_ACCOUNT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_MY_ACCOUNT").DisplayValue : "";
        L_DISCOUNT_NON_MOBILE = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_NON_MOBILE") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_NON_MOBILE").DisplayValue : "";
        L_DISCOUNT_MOBILE = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_MOBILE") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_MOBILE").DisplayValue : "";

        L_DISCOUNT_ERRFIRSTPAGE_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_1").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_2").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_3").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_4 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_4") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_4").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_5 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_5") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_5").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_6 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_6") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_6").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_9 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_9") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_9").DisplayValue : "";
        L_DISCOUNT_WELCOME = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_WELCOME") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_WELCOME").DisplayValue : "";
        L_DISCOUNT_WELCOME_DESC = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_WELCOME_DESC") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_WELCOME_DESC").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_1").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_2").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_3").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_4 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_4") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_4").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_5 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_5") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_5").DisplayValue : "";
        L_DISCOUNT_PW = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_PASSWORD") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_PASSWORD").DisplayValue : "";
        L_DISCOUNT_ERROTP_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_1").DisplayValue : "";
        L_DISCOUNT_ERROTP_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_2").DisplayValue : "";
        L_DISCOUNT_ERROTP_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_3").DisplayValue : "";
        L_DISCOUNT_ERROTP_4 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_4") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_4").DisplayValue : "";

        L_DISCOUNT_SELECT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_SELECT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_SELECT").DisplayValue : "";
        L_DISCOUNT_SUCCESS = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_SUCCESS") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_SUCCESS").DisplayValue : "";

        B_DISCOUNT_NEXT = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_NEXT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_NEXT").DisplayValue : "";

        B_DISCOUNT_CONFIRM = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_CONFIRM") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_CONFIRM").DisplayValue : "";
        B_DISCOUNT_CANCEL = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_CANCEL") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_CANCEL").DisplayValue : "";

        L_SERENADE_NO_PROMOTION = labelFBBOR018.Any(c => c.Name == "L_SERENADE_NO_PROMOTION") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_SERENADE_NO_PROMOTION").DisplayValue : "";

    }

    string L_AIS_FIBRE_NO = "";
    string L_CHOOSE_CARD_TYPE = "";
    string L_CARD_NUMBER = "";

    string L_FILL_OUT = "";
    string L_SELECT_ITEM = "";
    string L_AIS_FIBRE_NO_EX = "";

    string lCARD_TYPE = "";
    string B_BACK = "";

    string L_NEW_CUST_NOT_FOUND = "";
    string L_NEW_CUST_NOT_FOUND2 = "";
    string L_NEW_CUST_NOT_FOUND3 = "";
    string L_NEW_CUST_NOT_FOUND4 = "";
    string L_NEW_CUST_NOT_FOUND6 = "";
    string L_NEW_CUST_NOT_FOUND10 = "";
    string L_NEW_CUST_NOT_FOUND11 = "";

    string L_INPUT_OTP_1 = "";
    string L_INPUT_OTP_2 = "";
    string L_INPUT_OTP_3 = "";
    string L_INPUT_OTP_4 = "";
    string L_INPUT_OTP_5 = "";
    string L_PW = "";

    string L_WELCOME_1 = "";
    string L_WELCOME_2 = "";
    string L_WELCOME_3 = "";
    string L_WELCOME_4 = "";
    string L_WELCOME_5 = "";
    string L_BUNDLING_CONDITION = "";
    string L_ADDBUNDLING_CONDITION_DETAIL = "";
    string L_LOGIN_FAILED = "";

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_AIS_FIBRE_NO = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";
        L_CHOOSE_CARD_TYPE = LabelFBBTR001.Any(c => c.Name == "L_CHOOSE_CARD_TYPE") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CHOOSE_CARD_TYPE").DisplayValue : "";
        L_CARD_NUMBER = LabelFBBTR001.Any(c => c.Name == "L_CARD_NUMBER") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_CARD_NUMBER").DisplayValue : "";

        L_FILL_OUT = LabelFBBTR001.Any(c => c.Name == "L_FILL_OUT") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_FILL_OUT").DisplayValue : "";
        L_SELECT_ITEM = LabelFBBTR001.Any(c => c.Name == "L_SELECT_ITEM") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_SELECT_ITEM").DisplayValue : "";
        L_AIS_FIBRE_NO_EX = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO_EX") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO_EX").DisplayValue : "";

        L_NEW_CUST_NOT_FOUND = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND2 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND2") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND2").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND3 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND3") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND3").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND4 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND4") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND4").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND6 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND6") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND6").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND10 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND10") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND10").DisplayValue : "";
        L_NEW_CUST_NOT_FOUND11 = LabelFBBTR001.Any(c => c.Name == "L_NEW_CUST_NOT_FOUND11") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_NEW_CUST_NOT_FOUND11").DisplayValue : "";
        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";

    }

    if (ViewBag.LabelFBBTR000 != null)
    {
        var labelFBBTR000 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR000;
        B_BACK = labelFBBTR000.Any(c => c.Name == "B_BACK") ? labelFBBTR000.FirstOrDefault(c => c.Name == "B_BACK").DisplayValue : "";
    }

    if (ViewBag.LabelFBBTR003 != null)
    {
        var labelFBBTR003 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR003;
        lCARD_TYPE = labelFBBTR003.Any(c => c.Name == "L_CARD_TYPE") ? labelFBBTR003.FirstOrDefault(c => c.Name == "L_CARD_TYPE").DisplayValue : "";
    }

    var Length_PW = "";
    var Input_PW = "";
    var L_WATCHLIST_TEXT = "";
    var L_SHOW_PW = "";
    var L_REQUEST_PW = "";
    var L_ERR_NOT_FOUND = "";
    var B_OK = "";
    var L_CLOSE_PW = "";

    string FBB_Con_Length_Mobile_No = "";
    string FBB_Con_Input_Moblie_No = "";
    string PREPAID_USAGE = "";

    string L_DISCOUNT_OTP_DEFAULT = "";
    string[] CheckSerenadeArray = null;

    string FBB_Con_Length_ID_Card_Number_STA_LET = "";
    string FBB_Con_Length_ID_Card_Number_ROY_LET = "";
    string FBB_Con_Length_ID_Card_Number_EMB_LET = "";
    string FBB_Con_Length_ID_Card_Number_CERT_FOUND = "";
    string FBB_Con_Length_ID_Card_Number_TAX_ID = "";
    string FBB_Con_Length_ID_Card_Number_PASSPORT = "";
    string FBB_Con_Length_ID_Card_Number_GOV_LET = "";
    string FBB_Con_LengthIDCardNumberHILL_CARD = "";
    string FBB_Con_LengthIDCardNumberID_CARD = "";
    string FBB_Con_LengthIDCardNumberIMM_CARD = "";
    string FBB_Con_LengthIDCardNumberMONK_CERT = "";
    string FBB_Con_Input_CERT_FOUND = "";
    string FBB_Con_Input_EMB_LET = "";
    string FBB_Con_Input_HILL_CARD = "";
    string FBB_Con_Input_ID_CARD = "";
    string FBB_Con_Input_IMM_CARD = "";
    string FBB_Con_Input_MONK_CERT = "";
    string FBB_Con_Input_PASSPORT = "";
    string FBB_Con_Input_ROY_LET = "";
    string FBB_Con_Input_STA_LET = "";
    string FBB_Con_Input_TAX_ID = "";
    string FBB_Con_Input_GOV_LET = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;

        Length_PW = FbbConstant.Any(f => f.Field == "Length_Password") ? FbbConstant.First(f => f.Field == "Length_Password").Validation : "";
        Input_PW = FbbConstant.Any(f => f.Field == "Input_Password") ? FbbConstant.First(f => f.Field == "Input_Password").Validation : "";

        FBB_Con_Length_Mobile_No = FbbConstant.Any(f => f.Field == "Mobile Length") ? FbbConstant.First(f => f.Field == "Mobile Length").Validation : "";
        FBB_Con_Input_Moblie_No = FbbConstant.Any(f => f.Field == "Input_MobileNo") ? FbbConstant.First(f => f.Field == "Input_MobileNo").Validation : "";
        PREPAID_USAGE = FbbConstant.Any(f => f.Field == "PREPAID_USAGE") ? FbbConstant.First(f => f.Field == "PREPAID_USAGE").Validation : "";

        L_DISCOUNT_OTP_DEFAULT = FbbConstant.Any(f => f.Field == "L_DISCOUNT_OTP_DEFAULT") ? FbbConstant.First(f => f.Field == "L_DISCOUNT_OTP_DEFAULT").Validation : "Y";

        CheckSerenadeArray = FbbConstant.Where(p => p.Field == "SERENADE_MOBILE_SEGMENT").Select(p => p.Validation).ToArray();

        FBB_Con_LengthIDCardNumberHILL_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number HILL_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number HILL_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberID_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number ID_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number ID_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberIMM_CARD = FbbConstant.Any(f => f.Field == "Length ID Card Number IMM_CARD") ? FbbConstant.First(f => f.Field == "Length ID Card Number IMM_CARD").Validation : "";
        FBB_Con_LengthIDCardNumberMONK_CERT = FbbConstant.Any(f => f.Field == "Length ID Card Number MONK_CERT") ? FbbConstant.First(f => f.Field == "Length ID Card Number MONK_CERT").Validation : "";
        FBB_Con_Length_ID_Card_Number_STA_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number STA_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number STA_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_ROY_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number ROY_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number ROY_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_EMB_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number EMB_LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number EMB_LET").Validation : "";
        FBB_Con_Length_ID_Card_Number_CERT_FOUND = FbbConstant.Any(f => f.Field == "Length ID Card Number CERT_FOUND") ? FbbConstant.First(f => f.Field == "Length ID Card Number CERT_FOUND").Validation : "";
        FBB_Con_Length_ID_Card_Number_TAX_ID = FbbConstant.Any(f => f.Field == "Length ID Card Number TAX_ID") ? FbbConstant.First(f => f.Field == "Length ID Card Number TAX_ID").Validation : "";
        FBB_Con_Length_ID_Card_Number_PASSPORT = FbbConstant.Any(f => f.Field == "Length ID Card Number PASSPORT") ? FbbConstant.First(f => f.Field == "Length ID Card Number PASSPORT").Validation : "";
        FBB_Con_Length_ID_Card_Number_GOV_LET = FbbConstant.Any(f => f.Field == "Length ID Card Number GOV LET") ? FbbConstant.First(f => f.Field == "Length ID Card Number GOV LET").Validation : "";
        FBB_Con_Input_CERT_FOUND = FbbConstant.Any(f => f.Field == "Input CERT_FOUND") ? FbbConstant.First(f => f.Field == "Input CERT_FOUND").Validation : "";
        FBB_Con_Input_EMB_LET = FbbConstant.Any(f => f.Field == "Input EMB_LET") ? FbbConstant.First(f => f.Field == "Input EMB_LET").Validation : "";
        FBB_Con_Input_HILL_CARD = FbbConstant.Any(f => f.Field == "Input HILL_CARD") ? FbbConstant.First(f => f.Field == "Input HILL_CARD").Validation : "";
        FBB_Con_Input_ID_CARD = FbbConstant.Any(f => f.Field == "Input ID_CARD") ? FbbConstant.First(f => f.Field == "Input ID_CARD").Validation : "";
        FBB_Con_Input_IMM_CARD = FbbConstant.Any(f => f.Field == "Input IMM_CARD") ? FbbConstant.First(f => f.Field == "Input IMM_CARD").Validation : "";
        FBB_Con_Input_MONK_CERT = FbbConstant.Any(f => f.Field == "Input MONK_CERT") ? FbbConstant.First(f => f.Field == "Input MONK_CERT").Validation : "";
        FBB_Con_Input_PASSPORT = FbbConstant.Any(f => f.Field == "Input PASSPORT") ? FbbConstant.First(f => f.Field == "Input PASSPORT").Validation : "";
        FBB_Con_Input_ROY_LET = FbbConstant.Any(f => f.Field == "Input ROY_LET") ? FbbConstant.First(f => f.Field == "Input ROY_LET").Validation : "";
        FBB_Con_Input_STA_LET = FbbConstant.Any(f => f.Field == "Input STA_LET") ? FbbConstant.First(f => f.Field == "Input STA_LET").Validation : "";
        FBB_Con_Input_TAX_ID = FbbConstant.Any(f => f.Field == "Input TAX_ID") ? FbbConstant.First(f => f.Field == "Input TAX_ID").Validation : "";
        FBB_Con_Input_GOV_LET = FbbConstant.Any(f => f.Field == "Input GOV_LET") ? FbbConstant.First(f => f.Field == "Input GOV_LET").Validation : "";
    }

    if (ViewBag.LabelFBBOR015 != null)
    {
        var LabelFBBOR015 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR015;
        L_WELCOME_1 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_1") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_1").DisplayValue : "";
        L_WELCOME_2 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_2") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_2").DisplayValue : "";
        L_WELCOME_3 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_3") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_3").DisplayValue : "";
        L_WELCOME_4 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_4") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_4").DisplayValue : "";
        L_WELCOME_5 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_5") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_5").DisplayValue : "";
        L_BUNDLING_CONDITION = LabelFBBOR015.Any(c => c.Name == "L_BUNDLING_CONDITION") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_BUNDLING_CONDITION").DisplayValue : "";
        L_ADDBUNDLING_CONDITION_DETAIL = LabelFBBOR015.Any(c => c.Name == "L_ADDBUNDLING_CONDITION_DETAIL") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_ADDBUNDLING_CONDITION_DETAIL").DisplayValue : "";

        L_INPUT_OTP_1 = LabelFBBOR015.Any(c => c.Name == "L_INPUT_OTP_1") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_INPUT_OTP_1").DisplayValue : "";
        L_INPUT_OTP_2 = LabelFBBOR015.Any(c => c.Name == "L_INPUT_OTP_2") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_INPUT_OTP_2").DisplayValue : "";
        L_INPUT_OTP_3 = LabelFBBOR015.Any(c => c.Name == "L_INPUT_OTP_3") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_INPUT_OTP_3").DisplayValue : "";
        L_INPUT_OTP_4 = LabelFBBOR015.Any(c => c.Name == "L_INPUT_OTP_4") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_INPUT_OTP_4").DisplayValue : "";
        L_INPUT_OTP_5 = LabelFBBOR015.Any(c => c.Name == "L_INPUT_OTP_5") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_INPUT_OTP_5").DisplayValue : "";
        L_PW = LabelFBBOR015.Any(c => c.Name == "L_PASSWORD") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_PASSWORD").DisplayValue : "";

        L_CLOSE_PW = LabelFBBOR015.Any(c => c.Name == "L_CLOSE_PASSWORD") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_CLOSE_PASSWORD").DisplayValue : "";
        L_SHOW_PW = LabelFBBOR015.Any(c => c.Name == "L_SHOW_PASSWORD") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_SHOW_PASSWORD").DisplayValue : "";
        L_REQUEST_PW = LabelFBBOR015.Any(c => c.Name == "L_REQUEST_PASSWORD") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_REQUEST_PASSWORD").DisplayValue : "";
        L_ERR_NOT_FOUND = LabelFBBOR015.Any(c => c.Name == "L_ERR_NOT_FOUND") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_ERR_NOT_FOUND").DisplayValue : "";
        B_OK = LabelFBBOR015.Any(c => c.Name == "B_OK") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";
        L_WATCHLIST_TEXT = LabelFBBOR015.Any(c => c.Name == "L_WATCH_LIST") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WATCH_LIST").DisplayValue : "";
    }

    string L_MOBILE_NO = "";
    string L_ERRCAMOBILE = "";

    if (ViewBag.LabelFBBTR016 != null)
    {
        var labelFBBTR016 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR016;
        L_MOBILE_NO = labelFBBTR016.Any(c => c.Name == "L_MOBILE_NO") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_MOBILE_NO").DisplayValue : "";
        L_ERRCAMOBILE = labelFBBTR016.Any(c => c.Name == "L_ERRCAMOBILE") ? labelFBBTR016.FirstOrDefault(c => c.Name == "L_ERRCAMOBILE").DisplayValue : "";

    }
}


<div id="col-form">
    <div id="container">
        <!--  Put Content Here เริ่มต้นเนื้อหา  -->

        <div id="box1_holder">
            <div class="panel_ais paddingmedium">
                <div class="row_ais">
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <div class="col-xs-12 col-sm-12 col-md-12" style="max-width: 1500px; padding-left: 0 !important; padding-right: 0 !important">
                        <div class="col-xs-12" style="text-align: right; padding-left: 0 !important; padding-right: 0 !important">
                            <a id="btnTh" href="~/WBB/ChangeCurrentCulture?culture=2" onclick="sessionStorage.setItem('detectedIE', '');">
                                <img src="~/Content/Content2016/images/lang_th.png" alt="" border="0" /></a>
                            <a id="btnEn" href="~/WBB/ChangeCurrentCulture?culture=1" class="i-hidden" onclick="sessionStorage.setItem('detectedIE', '');">
                                <img src="~/Content/Content2016/images/lang_en.png" alt="" border="0" /></a>
                        </div>
                    </div>
                </div>
                <div class="row_ais">
                    <div class="column large-12">
                        <div class="fibrelogo">
                            <img src="~/Content/images/postpaid/fibre_logo.png" alt="" />
                        </div>
                        <div class="welcometext">@L_DISCOUNT_MY_ACCOUNT</div>
                    </div>
                </div>
                <div class="row_ais">
                    <div class="column large-4">
                        <div class="subheader">@L_WELCOME_1 <span>@L_WELCOME_2</span></div>
                        <div class="detailtext">
                            @L_WELCOME_3<br>
                            @L_WELCOME_4<br>
                            @L_WELCOME_5
                        </div>
                    </div>
                </div>

                <div class="boxform pay-topspace">
                    <div class="row_ais" id="ais-air-form">
                        <div class="column large-5 medium-6 small-12">
                            <div class="labeltext">@L_DISCOUNT_ACCOUNT</div>
                            <div id="divFibreNumber"  class="fibre-number">
                                <input type="text" class="inputform" id="AisAirNumber" maxlength="10" placeholder="@L_DISCOUNT_NON_MOBILE" autocomplete="off" />
                            </div>
                            <div id="divCardtype"  class="cardtype">
                                <select id="ID_CARD_NAMEs" onchange="onChangeID_CARD_NAMEs(this);" data-placeholder-option="true"
                                        class="basic" title="@L_SELECT_ITEM"></select>
                            </div>
                            <div id="divCardNumber"  class="card-number">
                                <input type="text" class="inputform" id="L_CARD_NOs" maxlength="30" placeholder="@L_CARD_NUMBER" autocomplete="off" />
                            </div>
                            <div id="divMobileNumber" class="mobile-number" style="display: none;">
                                <input type="text" class="inputform" id="MobileNumber" maxlength="@FBB_Con_Length_Mobile_No" placeholder="@L_DISCOUNT_MOBILE" autocomplete="off" />
                            </div>

                        </div>
                    </div>
                    <div id="col-ais-err" style="display: none;">
                        <div class="row_ais">
                            <div class="column large-5 medium-6 small-12">
                                <h1 style="color: #91908e">@L_LOGIN_FAILED</h1>
                                <h3 id="lb-ais-failed"></h3>
                            </div>
                        </div>
                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <input id="btOK" class="btnP2 btn btn-for-xs" type="button" style="font-size:20px;" onclick="backError()" value="@B_OK" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ais-air-btn" class="row_ais">
                        <div class="column large-5">
                            <div class="submit-manual" id="div_btn_submit">
                                <a href="/ProcessSelect/" class="btn3" id="btnBack">@B_BACK</a>

                                <input id="btnNextToInputMobile1" class="btn1 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " value="@B_DISCOUNT_NEXT" />
                                <input id="btnNextToInputMobile2" class="btn2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; display: none;" value="@B_DISCOUNT_NEXT" onclick="checkProfile()" />
                                <input id="btnNextToInputMobile3" class="btn2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; display: none;" value="@B_DISCOUNT_NEXT" onclick="checkProcess()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxfootshader">
                <div class="panel_ais">
                    <div class="row_ais">
                        <div class="column large-8">
                            <div class="foottext">
                                <div class="condition-head">@L_BUNDLING_CONDITION</div>
                                <ol>
                                    <p class="t_inline">@(Html.Raw(L_ADDBUNDLING_CONDITION_DETAIL))</p>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="box2_holder">
        </div>
        <div id="box3_holder">
        </div>



        <!--  Put Content Here จบเนื้อหา  -->

        <div style="clear: both;"></div>
        <div id="aisfooter">
            @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
            {
                @Html.Partial("_FooterTH")
            }
            else
            {
                @Html.Partial("_FooterEN")
            }

        </div>
        <div class="truehits-bg">&nbsp;</div>

    </div>
    <div class="truehits-bg">&nbsp;</div>

</div>
<div>
<input type="hidden" id="GSSO_transactionID" />
    <input type='hidden' name='chkSubNetworkType' id='chkSubNetworkType' />
    <input type='hidden' name='HdchkSerenade_Flag' id='HdchkSerenade_Flag' />
</div>

<script type="text/javascript">

    $(function () {

        getCustomerCardTypes();
        setCardMaxlength();

        $("#AisAirNumber").keyup(function () {
            CheckKeyUps("AisAirNumber", "[0-9]");
            CheckKeyUps88("AisAirNumber");
            checkBeforeInputMobileNumber();
        });

        $("#L_CARD_NOs").keyup(function () {
                if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_TAX_ID");
                else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_MONK_CERT");
                else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_GOV_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_PASSPORT");
                else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_EMB_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_IMM_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_STA_LET");
                else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_HILL_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_CERT_FOUND");
                else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ID_CARD");
                else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                    CheckKeyUps("L_CARD_NOs", "@FBB_Con_Input_ROY_LET");

                checkBeforeProcess();
            });

        $("#MobileNumber").keyup(function () {
            CheckKeyUps("MobileNumber", "[0-9]");
            CheckKeyUpsNot88("MobileNumber");
            checkBeforeInputMobileNumber();
        });

    });

    function setCardMaxlength() {
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_TAX_ID");
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberMONK_CERT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_GOV_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_PASSPORT");
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_EMB_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberIMM_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_STA_LET");
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberHILL_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_CERT_FOUND");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_LengthIDCardNumberID_CARD");
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                $("#L_CARD_NOs").attr("maxlength", "@FBB_Con_Length_ID_Card_Number_ROY_LET");
    }

    function checkBeforeProcess() {

        var ml = "";
        if ($("#ID_CARD_NAMEs :selected").val() == "TAX_ID")
            ml = "@FBB_Con_Length_ID_Card_Number_TAX_ID";
            else if ($("#ID_CARD_NAMEs :selected").val() == "MONK_CERT")
                ml = "@FBB_Con_LengthIDCardNumberMONK_CERT";
            else if ($("#ID_CARD_NAMEs :selected").val() == "GOV_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_GOV_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "PASSPORT")
                ml = "@FBB_Con_Length_ID_Card_Number_PASSPORT";
            else if ($("#ID_CARD_NAMEs :selected").val() == "EMB_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_EMB_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "IMM_CARD")
                ml = "@FBB_Con_LengthIDCardNumberIMM_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "STA_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_STA_LET";
            else if ($("#ID_CARD_NAMEs :selected").val() == "HILL_CARD")
                ml = "@FBB_Con_LengthIDCardNumberHILL_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "CERT_FOUND")
                ml = "@FBB_Con_Length_ID_Card_Number_CERT_FOUND";
            else if ($("#ID_CARD_NAMEs :selected").val() == "ID_CARD")
                ml = "@FBB_Con_LengthIDCardNumberID_CARD";
            else if ($("#ID_CARD_NAMEs :selected").val() == "ROY_LET")
                ml = "@FBB_Con_Length_ID_Card_Number_ROY_LET";

        if ((($("#L_CARD_NOs").val() != "" && $("#ID_CARD_NAMEs :selected").val() != "ID_CARD")
            || ($("#L_CARD_NOs").val().length == ml && $("#ID_CARD_NAMEs :selected").val() == "ID_CARD"))
            && $("#AisAirNumber").val().length == 10) {
            $("#btnNextToInputMobile1").hide();
            $("#btnNextToInputMobile2").show();
            $("#btnNextToInputMobile3").hide();           
        }
        else {
            $("#btnNextToInputMobile1").show();
            $("#btnNextToInputMobile2").hide();
            $("#btnNextToInputMobile3").hide();
        }
    }

    function checkBeforeInputMobileNumber() {
        var mobileLength = "@FBB_Con_Length_Mobile_No";

        if ($("#AisAirNumber").val().length == 10 && $("#MobileNumber").val().length == mobileLength) {
            $("#btnNextToInputMobile1").hide();
            $("#btnNextToInputMobile2").hide();
            $("#btnNextToInputMobile3").show();
        }
        else {
            $("#btnNextToInputMobile1").show();
            $("#btnNextToInputMobile2").hide();
            $("#btnNextToInputMobile3").hide();
        }
    }

    function onChangeID_CARD_NAMEs(idCardName) {
        $("#L_CARD_NOs").val("");
        $(".btn2").hide();
        $(".btn1").show();
        $.ajax({
            type: "GET",
            url: "/CustomerRegister/GetCustomerSubCat",
            data: { 'idCardName': idCardName.value },
            dataType: "json",
            async: false,
            success: function (data) {
            },
        });

        setCardMaxlength();
    }

    function CheckKeyUps(id, RexStr) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        var filter = new RegExp(RexStr);
        for (var i = 0; i < strKey.length; i++) {
            if (filter.test(strKey.substr(i, 1))) {
                strBuilder += strKey.substr(i, 1);
            }
        }
        $("#" + id).val(strBuilder);
    }

    function getCustomerCardTypes() {
        $('#ID_CARD_NAMEs').empty();

        //GetCustomerCardType
        $.ajax({
            type: "GET",
            url: "/MasterData/GetCustomerCardType",
            data: { 'customerType': "All" },
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = "";
                var flagSelect = false;
                var firstStr = "<option value='' disabled>" + "@lCARD_TYPE" + "</option>";
                    $.each(data, function (i, e) {
                        if (e.DefaultValue != undefined)
                            strBuilder += '<option value="' + e.Value + '" selected>' + e.Text + '</option>';
                        else
                            strBuilder += '<option value="' + e.Value + '">' + e.Text + '</option>';
                    });
                    strBuilder = firstStr + strBuilder;

                    $('#ID_CARD_NAMEs').append(strBuilder);
                    $("#ID_CARD_NAMEs").selectOrDie();

            }
        });
    }

    function backError() {
        $('#ais-air-form').show();
        $("#ais-air-btn").show();
        $('#col-ais-err').hide();        
    }

    function checkProcess() {
        LockScreen(true, "");
        var twoMobileNo = $("#AisAirNumber").val().substr(0, 2);
        var threeMobileNo = $("#AisAirNumber").val().substr(0, 3);
        $("#NonMobileNo").val($.trim($("#AisAirNumber").val()));
        $("#MobileNo").val($.trim($("#MobileNumber").val()));

        if (twoMobileNo == "88") {
            checkProcessHandler();
        }
        else if (threeMobileNo == "007") {
            $('#btnNextToInputMobile2').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").hide();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND11");
            LockScreen(false);
        }
        else {
            $('#btnNextToInputMobile2').hide();
            $('#btnNextToInputMobile1').hide();
            $("#ais-air-form").hide();
            $("#col-ais-err").show();

            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_NEW_CUST_NOT_FOUND2");
        LockScreen(false);
    }
}


    function checkProfile() {
        LockScreen(true, "");
        $.ajax({
            url: '/ProcessAddBundling/CheckProfile',
            data: {
                internetNo: $("#AisAirNumber").val(),
                idCardNo: $.trim($("#L_CARD_NOs").val()),
                idCardType: $("#ID_CARD_NAMEs").val()
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                if (response.status == "Y") {
                    $("#col-ais-err").hide();
                    $("#lb-ais-failed").html("");
                    $("#btnNextToInputMobile1").show();
                    $("#btnNextToInputMobile2").hide();
                    $("#btnNextToInputMobile3").hide();
                    $("#divFibreNumber").hide();
                    $("#divCardtype").hide();
                    $("#divCardNumber").hide();
                    $("#divMobileNumber").show();
                }
                else {
                    $("#ais-air-form").hide();
                    $("#ais-air-btn").hide();
                    $("#col-ais-err").show();
                    $("#lb-ais-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1.");
                }
                LockScreen(false);
            },
            error: function (err) {
                $("#ais-air-form").hide();
                $("#ais-air-btn").hide();
                $("#col-ais-err").show();
                $("#lb-ais-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1.");
                LockScreen(false);
            }
        });
    }

function checkProcessHandler() {
    $.ajax({
        url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
        data: {
            mobileNo: codefbb.fbbMessage($("#AisAirNumber").val()),
            line: "2",
            cardNo: $.trim($("#L_CARD_NOs").val()),
            cardType: $("#ID_CARD_NAMEs").val()
        },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (response) {
            var data = response.data;
            CheckChanvePackageProcess(data);
        },
        error: function (err) {
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1.");
            LockScreen(false);
        }
    });
}

function CheckChanvePackageProcess(data) {
    $.ajax({
        url: '/CheckCoverage/GetCheckChanvePackageProcess',
        data: { key: data.GUIDKEY, },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (response) {
            var data = response.data;
            SetDataToForm(data);
        },
        error: function (err) {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1");
                $("#FromPage").val("col-form");
                LockScreen(false);
            }
        });
    }

    function SetDataToForm(data) {

        if ($.trim(data.errorMessage) == "EB0001" || $.trim(data.errorMessage) == "EB0574") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1");
            $("#FromPage").val("col-form");
            LockScreen(false);
        } else if (data.errorMessage == "") {
            var v_icon_pb = "";
            var v_icon_fl = "";
            var v_add_playbox = data.checkPlayBox;

            $("#OwnerProduct").val(data.OwnerProduct);
            $("#AccountNumber").val(data.outAccountNumber);
            $("#AddressId").val(data.outAddressId);


            /// Call Webservice : Masscommon ด้วย Option 4 (SFF) เพื่อหา Relate  ของ 88xx

            var checkRelateFibre = CheckRelate($.trim($("#AisAirNumber").val()));


            console.log("checkRelateFibre :", checkRelateFibre)
            ///  END
            if (checkRelateFibre == "NoRelate") {
                /// Call Webservice : A_GetCCCustInfo เพื่อหา Profile 08

                //var check = GetCCCustInfo();
                var check = GetCheckMobileOnlineQuery();//R22.07 Issue Check Mobile OnlineQuery
                ///  END

                if (check == "Pre-paid-Y") {
                    if ('@L_DISCOUNT_OTP_DEFAULT' == "Y") {
                        if (RequestOTPFunc()) {
                            $("#col-form").hide();
                            $("#col-formInputMobileNo").show();
                            $("#col-formInputOTP").show();
                            LockScreen(false);
                        }
                        else {
                            $("#col-form").hide();
                            $("#col-err").show();
                            $("#lb-failed").html("@L_DISCOUNT_ERROTP_4");
                            $("#FromPage").val("col-form");
                            LockScreen(false);
                        }
                    }
                    else {
                        $("#col-form").hide();
                        $("#col-formInputMobileNo").show();
                        $("#col-formInputOTP").show();
                        LockScreen(false);
                    }
                }
                else if (check == "Pre-paid-N") {
                    $("#col-form").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_9");
                    $("#FromPage").val("col-form");
                    LockScreen(false);
                } else if (check == "Post-paid-Y") {

                    //TODO: Validate Promotion Serenade
                    var statusPromotion = false;
                    $.ajax({
                        url: '/Process/CheckMobileNumberSerenade',
                        data: { msisdn: $.trim($("#MobileNumber").val()) },
                        dataType: "json",
                        type: 'POST',
                        async: false,
                        success: function (result) {
                            if (result != null && result.ResultFlag == 'Y') {
                                statusPromotion = result.IsStatus;
                            }
                        }
                    });
                    if (statusPromotion) {
                        //เป็นserenade ไม่ได้รับสิทธิพิเศษ
                        $("#col-form").hide();
                        $("#col-err").show();
                        $("#lb-failed").html("@L_SERENADE_NO_PROMOTION");
                        $("#FromPage").val("col-form");
                        LockScreen(false);

                        return;
                    }

                    //Call Webservice : Masscommon ด้วย Option 2 (SFF) เพื่อหา CA-NO ของ 0xxx

                    SetMobileInfo($.trim($("#MobileNumber").val()));

                    //End
                    //Call Webservice : Masscommon Option 4 เพื่อหา Relate Mobile 0xx
                    var twoMobileNo = $("#MobileNumber").val().substr(0, 2);
                    var checkRelateMobile = "";
                    if (twoMobileNo == "88") {
                        checkRelateMobile = "NotMobileNumber";
                    }
                    else {
                        checkRelateMobile = CheckRelate($.trim($("#MobileNumber").val()));
                    }

                    //End
                    if (checkRelateMobile == "NoRelate") {
                        if (CompareCA()) {
                            // Call Webservice : evESQueryPersonalInformation option 2 เพื่อหา Promotion main และ Ontop 88xx

                            var CheckPromo = QueryPersonalInformation($("#AisAirNumber").val());

                            // End

                            $("#HaveOnTopExtra").val("");

                            if (CheckPromo == "") {
                                LockScreen(false);
                                $("#HaveOnTopExtra").val("N");
                                $("#SearchProfilefrm").submit();
                            }
                            else if (CheckPromo == "HaveOnTopExtra") {
                                LockScreen(false);
                                $("#HaveOnTopExtra").val("Y");
                                $("#SearchProfilefrm").submit();
                            }
                            else if (CheckPromo == "NoProMain") {
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                                $("#FromPage").val("col-form");
                                LockScreen(false);
                            }
                            else if (CheckPromo == "HaveOnTop") {
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_5");
                                $("#FromPage").val("col-form");
                                LockScreen(false);
                            }
                            else {
                                $("#col-form").hide();
                                $("#col-err").show();
                                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                                $("#FromPage").val("col-form");
                                LockScreen(false);
                            }

            }
            else {
                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_3");
                $("#FromPage").val("col-form");
                LockScreen(false);
            }
        }
        else if (checkRelateMobile == "NoData") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_2");
            $("#FromPage").val("col-form");
            LockScreen(false);
        }
        else {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_6");
            $("#FromPage").val("col-form");
            LockScreen(false);
        }
        }
        else if (check == "Post-paid-N") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_9");
            $("#FromPage").val("col-form");
            LockScreen(false);
        }
        else {
                $("#col-form").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_2");
                $("#FromPage").val("col-form");
                LockScreen(false);
            }
            }
        else if (checkRelateFibre == "HaveRelate") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_6");
            $("#FromPage").val("col-form");
            LockScreen(false);
            }
        else if (checkRelateFibre == "NoData") {
            $("#col-form").hide();
            $("#col-err").show();
            $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1");
            $("#FromPage").val("col-form");
            LockScreen(false);
         }
else { //error service
    $("#col-form").hide();
    $("#col-err").show();
    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1");
    $("#FromPage").val("col-form");
    LockScreen(false);
}
}
else {
    $("#col-form").hide();
    $("#col-err").show();
    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_1");
            $("#FromPage").val("col-form");
            LockScreen(false);
        }
    }

    function CheckRelate(ChechNumber) {
        var resource = "";
        $.ajax({
            url: '/ProcessAddBundling/ServiceQueryMassCommonAccountInfo',
            data: {
                mobileNo: codefbb.fbbMessage(ChechNumber),
                cardNo: $.trim($("#L_CARD_NOs").val()),
                cardType: $("#ID_CARD_NAMEs").val(),
                line: "4"
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function(response) {
                var data = response.data;
                $.ajax({
                    url: '/ProcessAddBundling/GetCheckRelate',
                    data: { key: data.GUIDKEY, },
                    dataType: "json",
                    type: 'POST',
                    async: false,
                    success: function(response) {
                        var data = response.data;
                        resource = data.status;
                    },
                    error: function(err) {
                        resource = "error";
                    }
                });
            },
            error: function(err) {
                resource = "error";
            }
        });
        return resource;
    }

    function GetCCCustInfo() {
        var resource = "";
        $.ajax({
            url: '/CheckCoverage/GetCCCustInfoQuery',
            data: { mobileNo: $.trim($("#MobileNumber").val()) },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function(response) {
                var data = response.data;
                if (data) {
                    $.ajax({
                        url: '/CheckCoverage/GetCCCustInfo',
                        data: { key: data.GUIDKEY, },
                        dataType: "json",
                        type: 'POST',
                        async: false,
                        success: function(response) {

                            var data = response.data;

                            var mobseg = base64_decode(data.V1);
                            var nettype = base64_decode(data.V2);

                            $('#MobileSegment').val(mobseg);

                            var chkMobileStatus = data.STATE.toUpperCase();

                            var chkNetworkType = nettype;

                            var chkSubNetworkType = data.TYPE;

                            if (chkSubNetworkType == "Pre-paid") {
                                $('#ChargeType').val("PREPAID");
                            } else if (chkSubNetworkType == "Post-paid") {
                                $('#ChargeType').val("POSTPAID");
                            }

                            
                        if (chkNetworkType == "03" &&
                            (chkMobileStatus == "ACTIVE" || chkMobileStatus == "SA" || chkMobileStatus == "SS" || chkMobileStatus.indexOf("SUSPEND") > -1)) {
                            //เป็นหมายเลขAIS
                            resource = chkSubNetworkType + "-Y";
                        }
                        else if (chkSubNetworkType == "") {
                            resource = "NoData";
                        }
                        else {
                            resource = chkSubNetworkType + "-N";
                        }

                    }
                });
            }
            else {
                resource = "NoData";
            }
        },
        error: function (err) {
            resource = "Error";
        }
    });
    return resource;
}

    //R22.07 Issue Check Mobile OnlineQuery
    function GetCheckMobileOnlineQuery() {
        var resource = "";
        $.ajax({
            url: '/CheckCoverage/GetCheckMobileOnlineQuery',
            data: {
                mobileNo: $.trim($("#MobileNumber").val()),
                fibreID: '',
                locationCode: ''
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {

                var data = response.PersonalInfo;

                var mobseg = data.MOBILE_SEGMENT.toUpperCase();
                var nettype = data.NETWORK_TYPE;

                $('#MobileSegment').val(mobseg);

                var chkMobileStatus = data.MOBILE_NO_STATUS.toUpperCase();

                var chkNetworkType = nettype;

                var chkSubNetworkType = data.SUB_NETWORK_TYPE;

                if (chkSubNetworkType == "Pre-paid") {
                    $('#ChargeType').val("PREPAID");
                } else if (chkSubNetworkType == "Post-paid") {
                    $('#ChargeType').val("POSTPAID");
                }


                if (chkNetworkType == "03" &&
                    (chkMobileStatus == "ACTIVE" || chkMobileStatus == "SA" || chkMobileStatus == "SS" || chkMobileStatus.indexOf("SUSPEND") > -1)) {
                    //เป็นหมายเลขAIS
                    resource = chkSubNetworkType + "-Y";
                }
                else if (chkSubNetworkType == "") {
                    resource = "NoData";
                }
                else {
                    resource = chkSubNetworkType + "-N";
                }

            },
            error: function (err) {
                resource = "Error";
            }
        });
        return resource;
    }

function SetMobileInfo(Number) {
    $.ajax({
        url: '/CheckCoverage/evESeServiceQueryMassCommonAccountInfo',
        data: {
            mobileNo: codefbb.fbbMessage(Number),
            line: "2",
            cardNo: $.trim($("#L_CARD_NOs").val()),
            cardType: $("#ID_CARD_NAMEs").val(),
        },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (response) {
            var data = response.data;
            $.ajax({
                url: '/CheckCoverage/GetCheckChanvePackageProcess',
                data: { key: data.GUIDKEY, },
                dataType: "json",
                type: 'POST',
                async: false,
                success: function (response) {
                    var data = response.data;
                    $("#AccountNumberMobile").val(data.outAccountNumber);
                }
            });
        }
    });
}

function CompareCA() {
    if ($("#AccountNumberMobile").val() == $("#AccountNumber").val()) {
        return true;
    }
    else {
        return false;
    }
}

function QueryPersonalInformation(NonMobile) {
    var resource = "";
    $.ajax({
        url: '/ProcessAddBundling/evESQueryPersonalInformation',
        data: { mobileNo: NonMobile, option: "2" },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (response) {
            $("#ProductCD").val("");
            var data = response.data;
            if (data.status == "") {
                var MainProductCd = data.MainProductCd;
                $("#ProductCD").val(MainProductCd);
                resource = "";
            }
            else if (data.status == "HaveOnTopExtra") {
                var MainProductCd = data.MainProductCd;
                $("#ProductCD").val(MainProductCd);
                resource = data.status;
            }
            else {
                resource = data.status;
            }
        },
        error: function (err) {
            resource = "Error";
        }
    });

    return resource;
}

function RequestOTPFunc() {
    var resource = false;
    $.ajax({
        url: '/Process/SendOneTimePW',
        data: { msisdn: $.trim($("#MobileNo").val()), accountType: $("#ChargeType").val() },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (data3) {
            if (data3.code == "000") {
                $('#TransactionID').val(data3.transactionID);
                resource = true;
            }
        }
    });
    return resource;
}

function base64_decode(str) {
    if (window.atob) // Internet Explorer 10 and above
        return decodeURIComponent(escape(window.atob(str)));
    else {
        // Cross-Browser Method (compressed)

        // Create Base64 Object
        var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9\+\/\=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
        // Encode the String
        return decodeURIComponent(escape(Base64.decode(str)));
    }
}

</script>
