@using WBBEntity.PanelModels;
@{
    Layout = null;

    string L_DISCOUNT_ACCOUNT = "";
    string L_DISCOUNT_MY_ACCOUNT = "";
    string L_DISCOUNT_NON_MOBILE = "";
    string L_DISCOUNT_MOBILE = "";

    string L_DISCOUNT_ERRFIRSTPAGE_1 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_2 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_3 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_4 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_5 = "";
    string L_DISCOUNT_ERRFIRSTPAGE_6 = "";

    string L_DISCOUNT_ENTER_OTP_1 = "";
    string L_DISCOUNT_ENTER_OTP_2 = "";
    string L_DISCOUNT_ENTER_OTP_3 = "";
    string L_DISCOUNT_ENTER_OTP_4 = "";
    string L_DISCOUNT_ENTER_OTP_5 = "";
    //string L_DISCOUNT_PASSWORD = "";
    string L_DISCOUNT_PW = "";
    string L_DISCOUNT_ERROTP_1 = "";
    string L_DISCOUNT_ERROTP_2 = "";
    string L_DISCOUNT_ERROTP_3 = "";

    string L_DISCOUNT_SELECT = "";
    string L_DISCOUNT_SUCCESS = "";

    string B_DISCOUNT_NEXT = "";

    string B_DISCOUNT_CONFIRM = "";
    string B_DISCOUNT_CANCEL = "";
    string B_DISCOUNT_BACK = "";

    if (ViewBag.LabelFBBOR018 != null)
    {
        var labelFBBOR018 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR018;
        L_DISCOUNT_ACCOUNT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ACCOUNT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ACCOUNT").DisplayValue : "";
        L_DISCOUNT_MY_ACCOUNT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_MY_ACCOUNT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_MY_ACCOUNT").DisplayValue : "";
        L_DISCOUNT_NON_MOBILE = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_NON_MOBILE") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_NON_MOBILE").DisplayValue : "";
        L_DISCOUNT_MOBILE = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_MOBILE") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_MOBILE").DisplayValue : "";

        L_DISCOUNT_ERRFIRSTPAGE_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_1").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_2").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_3").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_4 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_4") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_4").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_5 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_5") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_5").DisplayValue : "";
        L_DISCOUNT_ERRFIRSTPAGE_6 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_6") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERRFIRSTPAGE_6").DisplayValue : "";

        L_DISCOUNT_ENTER_OTP_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_1").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_2").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_3").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_4 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_4") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_4").DisplayValue : "";
        L_DISCOUNT_ENTER_OTP_5 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ENTER_OTP_5") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ENTER_OTP_5").DisplayValue : "";
        L_DISCOUNT_PW = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_PASSWORD") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_PASSWORD").DisplayValue : "";
        L_DISCOUNT_ERROTP_1 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_1") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_1").DisplayValue : "";
        L_DISCOUNT_ERROTP_2 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_2") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_2").DisplayValue : "";
        L_DISCOUNT_ERROTP_3 = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_ERROTP_3") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_ERROTP_3").DisplayValue : "";

        L_DISCOUNT_SELECT = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_SELECT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_SELECT").DisplayValue : "";
        L_DISCOUNT_SUCCESS = labelFBBOR018.Any(c => c.Name == "L_DISCOUNT_SUCCESS") ? labelFBBOR018.FirstOrDefault(c => c.Name == "L_DISCOUNT_SUCCESS").DisplayValue : "";

        B_DISCOUNT_NEXT = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_NEXT") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_NEXT").DisplayValue : "";

        B_DISCOUNT_CONFIRM = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_CONFIRM") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_CONFIRM").DisplayValue : "";
        B_DISCOUNT_CANCEL = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_CANCEL") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_CANCEL").DisplayValue : "";
        B_DISCOUNT_BACK = labelFBBOR018.Any(c => c.Name == "B_DISCOUNT_BACK") ? labelFBBOR018.FirstOrDefault(c => c.Name == "B_DISCOUNT_BACK").DisplayValue : "";

    }

    string PREPAID_USAGE = "";
    string L_BUNDLING_CONDITION = "";
    string L_ADDBUNDLING_CONDITION_DETAIL = "";


    string B_OK = "";
    string B_CANCEL = "";

    string FBB_Con_Length_OTP = "4";
    string FBB_Con_Input_OTP = "";
    string L_WELCOME_1 = "";
    string L_WELCOME_2 = "";
    string L_WELCOME_3 = "";
    string L_WELCOME_4 = "";
    string L_WELCOME_5 = "";
    string L_LOGIN_FAILED = "";
    string L_AIS_FIBRE_NO = "";

    string L_DISCOUNT_OTP_DEFAULT = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
        PREPAID_USAGE = FbbConstant.Any(f => f.Field == "PREPAID_USAGE") ? FbbConstant.First(f => f.Field == "PREPAID_USAGE").Validation : "";
        FBB_Con_Input_OTP = FbbConstant.Any(f => f.Field == "Input_OTPPass") ? FbbConstant.First(f => f.Field == "Input_OTPPass").Validation : "";

        L_DISCOUNT_OTP_DEFAULT = FbbConstant.Any(f => f.Field == "L_DISCOUNT_OTP_DEFAULT") ? FbbConstant.First(f => f.Field == "L_DISCOUNT_OTP_DEFAULT").Validation : "Y";
    }

    if (ViewBag.LabelFBBTR001 != null)
    {
        var LabelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_AIS_FIBRE_NO = LabelFBBTR001.Any(c => c.Name == "L_AIS_FIBRE_NO") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_AIS_FIBRE_NO").DisplayValue : "";

        L_LOGIN_FAILED = LabelFBBTR001.Any(c => c.Name == "L_LOGIN_FAILED") ? LabelFBBTR001.FirstOrDefault(c => c.Name == "L_LOGIN_FAILED").DisplayValue : "";

    }

    if (ViewBag.LabelFBBOR015 != null)
    {
        var LabelFBBOR015 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR015;

        L_BUNDLING_CONDITION = LabelFBBOR015.Any(c => c.Name == "L_BUNDLING_CONDITION") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_BUNDLING_CONDITION").DisplayValue : "";
        L_ADDBUNDLING_CONDITION_DETAIL = LabelFBBOR015.Any(c => c.Name == "L_ADDBUNDLING_CONDITION_DETAIL") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_ADDBUNDLING_CONDITION_DETAIL").DisplayValue : "";
        L_WELCOME_1 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_1") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_1").DisplayValue : "";
        L_WELCOME_2 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_2") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_2").DisplayValue : "";
        L_WELCOME_3 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_3") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_3").DisplayValue : "";
        L_WELCOME_4 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_4") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_4").DisplayValue : "";
        L_WELCOME_5 = LabelFBBOR015.Any(c => c.Name == "L_WELCOME_5") ? LabelFBBOR015.FirstOrDefault(c => c.Name == "L_WELCOME_5").DisplayValue : "";

    }


    if (ViewBag.LabelLovScreen != null)
    {
        var labelLovScreen = (List<LovScreenValueModel>)ViewBag.labelLovScreen;

        B_CANCEL = labelLovScreen.Any(c => c.Name == "B_CANCEL") ? labelLovScreen.First(c => c.Name == "B_CANCEL").DisplayValue : "";
    }
}



<div id="col-formInputMobileNo">
    <div id="container">
        <!--  Put Content Here เริ่มต้นเนื้อหา  -->

        <div id="box1_holder">
            <div class="panel_ais paddingmedium">
                <div class="row_ais">
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <div class="col-xs-12 col-sm-12 col-md-12" style="max-width: 1500px; padding-left: 0 !important; padding-right: 0 !important">
                        <div class="col-xs-12" style="text-align: right; padding-left: 0 !important; padding-right: 0 !important">
                            @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
                            {
                                <a id="btnTh" href="~/WBB/ChangeCurrentCulture?culture=2" onclick="sessionStorage.setItem('detectedIE', '');">
                                    <img src="~/Content/Content2016/images/lang_th.png" alt="" border="0" /></a>
                            }
                            else
                            {
                                <a id="btnEn" href="~/WBB/ChangeCurrentCulture?culture=1" class="i-hidden" onclick="sessionStorage.setItem('detectedIE', '');">
                                    <img src="~/Content/Content2016/images/lang_en.png" alt="" border="0" /></a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row_ais">
                    <div class="column large-12">
                        <div class="fibrelogo">
                            <img src="~/Content/images/postpaid/fibre_logo.png" alt="" /></div>
                        <div class="welcometext">@L_DISCOUNT_MY_ACCOUNT</div>
                    </div>
                </div>
                <div class="row_ais">
                    <div class="column large-4">
                        <div class="subheader">@L_WELCOME_1 <span>@L_WELCOME_2</span></div>
                        <div class="detailtext">
                            @L_WELCOME_3<br>
                            @L_WELCOME_4<br>
                            @L_WELCOME_5
                        </div>
                    </div>
                </div>
                <div class="boxform pay-topspace">

                    <!--  show password otp  -->
                    <div id="col-formInputOTP">
                        <div class="row_ais">
                            <div class="column large-5 medium-6 small-12">
                                <div class="labeltext">@(Html.Raw(L_DISCOUNT_ENTER_OTP_1)) @(Html.Raw(L_DISCOUNT_ENTER_OTP_2)) @(Html.Raw(L_DISCOUNT_ENTER_OTP_3)) @(Html.Raw(L_DISCOUNT_ENTER_OTP_4)) @(Html.Raw(L_DISCOUNT_ENTER_OTP_5))</div>
                                <div class="mobile-number">
                                    <input id="L_OTP_Pass" class="inputform" type="password" autocomplete="off" maxlength="@FBB_Con_Length_OTP" placeholder="@L_DISCOUNT_PW">
                                </div>
                            </div>
                        </div>

                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <input type="checkbox" id="chkShowPass">
                                    Show Password
                                </div>
                            </div>
                        </div>

                        <div class="row_ais">
                            <div class="column large-5">
                                <div class="submit-manual">
                                    <input id="btnConfirmOTP1" class="btn1 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " value="@B_DISCOUNT_CONFIRM" />

                                    <input id="btnConfirmOTP2" class="btn2 btn btn-for-xs i-hidden" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; display: none;" value="@B_DISCOUNT_CONFIRM" onclick="ConfirmOneTimePW()" />
                                    &nbsp;
                                    <input id="btnCancel" class="btn2 btn btn-for-xs" type="button" style="font-size: 20px; border: 0 !important; border-radius: 0 !important; " value="@B_DISCOUNT_BACK"  onclick="backToInputMobile()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxfootshader">
                <div class="panel_ais">
                    <div class="row_ais">
                        <div class="column large-8">
                            <div class="foottext">
                                <div class="condition-head">@L_BUNDLING_CONDITION</div>
                                <ol>
                                    <div class="t_inline">@(Html.Raw(L_ADDBUNDLING_CONDITION_DETAIL))</div>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="box2_holder">
        </div>
        <div id="box3_holder">
        </div>

        <!--  Put Content Here จบเนื้อหา  -->

        <div style="clear: both;"></div>
        <div id="aisfooter">
            @if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
        {
                @Html.Partial("_FooterTH")
        }
        else
        {
                @Html.Partial("_FooterEN")
        }

        </div>
        <div class="truehits-bg">&nbsp;</div>

    </div>

    <div class="truehits-bg">&nbsp;</div>

</div>






<script type="text/javascript">

    function base64_decode(str) {
        if (window.atob) // Internet Explorer 10 and above  
            return decodeURIComponent(escape(window.atob(str)));
        else {
            // Cross-Browser Method (compressed)  

            // Create Base64 Object  
            var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9\+\/\=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
            // Encode the String  
            return decodeURIComponent(escape(Base64.decode(str)));
        }
    }

    /*** script OTP ***/
    $(function () {

        $("#L_OTP_Pass").keyup(function () {
            checkBeforeConfirmOneTimePW();
        });

        $("#chkShowPass").change(function () {
            if (this.checked) {
                $("#L_OTP_Pass").attr('type', 'text');
            }
            else {
                $("#L_OTP_Pass").attr('type', 'password');
            }
        });
    });

    function checkBeforeConfirmOneTimePW() {

        if ($("#L_OTP_Pass").val().length == "@FBB_Con_Length_OTP") {
        $("#btnConfirmOTP1").hide();
        $("#btnConfirmOTP2").show();
    }
    else {
        $("#btnConfirmOTP1").show();
        $("#btnConfirmOTP2").hide();
    }
}

    function ConfirmOneTimePW() {
        LockScreen(true, "");
        if ('@L_DISCOUNT_OTP_DEFAULT' == "Y") {
            $.ajax({
                url: '/Process/ConfirmOneTimePW',
                data: { msisdn: $.trim($("#MobileNo").val()), pwd: $('#L_OTP_Pass').val(), transactionID: $('#TransactionID').val() },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    LockScreen(false);
                    if (data != null) {
                        if (data.code == "000" && data.transactionID == $('#TransactionID').val()) {
                            nextToSelectBundling();
                        }
                        else {
                            //OTP is not Correct
                            $('#col-form').hide();
                            $('#col-formInputOTP').hide();
                            $('#lb-failed').html('@L_DISCOUNT_ERROTP_1');
                            $('#col-err').show();
                            $('#FromPage').val('col-formInputOTP');
                        }
                    }
                    else {
                        //OTP is not Correct
                        $('#col-form').hide();
                        $('#col-formInputOTP').hide();
                        $('#lb-failed').html('@L_DISCOUNT_ERROTP_1');
                        $('#col-err').show();
                        $('#FromPage').val('col-formInputOTP');
                    }
                }
            });
        }
        else {
            nextToSelectBundling();
        }
    }

    function backToInputMobile() {
        var url = '@Url.Action("Index", "ProcessAddBundling")';
        window.location.href = url;
    }

    function nextToSelectBundling() {

        if (CheckSerenade()) {
            var checkRelateMobile = CheckRelate($.trim($("#MobileNo").val()));

            if (checkRelateMobile == "NoRelate") {
                // Call Webservice : evESQueryPersonalInformation option 2 เพื่อหา Promotion main และ Ontop 88xx

                var CheckPromo = QueryPersonalInformation($("#AisAirNumber").val());

                // End

                $("#HaveOnTopExtra").val("");

                if (CheckPromo == "") {
                    $("#HaveOnTopExtra").val("N");
                    $("#SearchProfilefrm").submit();
                    LockScreen(false);
                }
                else if (CheckPromo == "HaveOnTopExtra") {
                    $("#HaveOnTopExtra").val("Y");
                    $("#SearchProfilefrm").submit();
                    LockScreen(false);
                }
                else if (CheckPromo == "NoProMain") {
                    $('#col-formInputOTP').hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                    $("#FromPage").val("col-form");
                    LockScreen(false);
                }
                else if (CheckPromo == "HaveOnTop") {
                    $("#col-formInputOTP").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_5");
                    $("#FromPage").val("col-form");
                    LockScreen(false);
                }
                else {
                    $("#col-formInputOTP").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                    $("#FromPage").val("col-form");
                    LockScreen(false);
                }
            }
            else {
                $("#col-formInputOTP").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_6");
                $("#FromPage").val("col-form");
                LockScreen(false);
            }
        }
        else {
            if (CheckARPU($.trim($("#MobileNo").val()))) {
                var checkRelateMobile = CheckRelate($.trim($("#MobileNo").val()));

                if (checkRelateMobile == "NoRelate") {
                    // Call Webservice : evESQueryPersonalInformation option 2 เพื่อหา Promotion main และ Ontop 88xx
                    var CheckPromo = QueryPersonalInformation($("#AisAirNumber").val());

                    // End

                    $("#HaveOnTopExtra").val("");

                    if (CheckPromo == "") {
                        $("#HaveOnTopExtra").val("N");
                        $("#SearchProfilefrm").submit();
                    }
                    else if (CheckPromo == "HaveOnTopExtra") {
                        $("#HaveOnTopExtra").val("Y");
                        $("#SearchProfilefrm").submit();
                    }
                    else if (CheckPromo == "NoProMain") {
                        $("#col-formInputOTP").hide();
                        $("#col-formInputMobileNo").hide();
                        $("#col-err").show();
                        $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                        $("#FromPage").val("col-form");
                        LockScreen(false);
                    }
                    else if (CheckPromo == "HaveOnTop") {
                        $("#col-formInputOTP").hide();
                        $("#col-formInputMobileNo").hide();
                        $("#col-err").show();
                        $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_5");
                        $("#FromPage").val("col-form");
                        LockScreen(false);
                    }
                    else {
                        $("#col-formInputOTP").hide();
                        $("#col-formInputMobileNo").hide();
                        $("#col-err").show();
                        $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_4");
                        $("#FromPage").val("col-form");
                        LockScreen(false);
                    }
                }
                else {
                    $("#col-formInputOTP").hide();
                    $("#col-formInputMobileNo").hide();
                    $("#col-err").show();
                    $("#lb-failed").html("@L_DISCOUNT_ERRFIRSTPAGE_6");
                    $("#FromPage").val("col-form");
                    LockScreen(false);
                }
            }
            else {
                $("#col-formInputOTP").hide();
                $("#col-formInputMobileNo").hide();
                $("#col-err").show();
                $("#lb-failed").html("@L_DISCOUNT_ERROTP_2");
                $("#FromPage").val("col-form");
                LockScreen(false);
            }
        }
    }

function CheckSerenade() {
    var outMobileSegment = $('#MobileSegment').val();
    outMobileSegment = outMobileSegment.toUpperCase();
    if (outMobileSegment == "EMERALD" || outMobileSegment == "GOLD" || outMobileSegment == "PLATINUM" || outMobileSegment == "SERENADE" ||
                            outMobileSegment == "PLATINUM PLUS" || outMobileSegment == "SERANADE CEO" || outMobileSegment == "SERENADE PRESTIGE") {
        return true;
    }
    else if (outMobileSegment == "CLASSIC" && $('#ChargeType').val() == "POSTPAID") {
        return false;
    }
    else {
        return false;
    }
}

function CheckARPU(mobileNo) {
    var ARPU = 0;
    $.ajax({
        url: '/CheckCoverage/GetMobileDataUsage',
        data: { mobileNo: mobileNo, networkType: $('#ChargeType').val() },
        dataType: "json",
        type: 'POST',
        async: false,
        success: function (data3) {
            if (data3 != null) {
                if (data3.ARPU != undefined) {
                    ARPU = data3.ARPU;
                }
            }
        }
    });
    if (parseFloat(ARPU) >= parseFloat('@PREPAID_USAGE')) {
        return true;
    }
    else {
        return false;
    }
}
</script>
