@using WBBEntity.PanelModels;

@{
    string L_RABBIT_RAMARK = "";
    string L_RABBIT_RAMARK_ITEM1 = "";
    string L_RABBIT_RAMARK_ITEM2 = "";
    string L_RABBIT_RAMARK_ITEM3 = "";
    string L_RABBIT_RAMARK_ITEM4 = "";
    string L_RABBIT_FOOTER_ITEM1 = "";
    string L_RABBIT_FOOTER_ITEM2 = "";
    string L_RABBIT_FOOTER_ITEM3 = "";
    string L_RABBIT_FOOTER_ITEM4 = "";
    string L_RABBIT_FOOTER_ITEM5 = "";
    string L_RABBIT_FOOTER_ITEM6 = "";
    
    if (ViewBag.Lov != null)
    {
        var lov = (List<LovValueModel>)ViewBag.Lov;        
        L_RABBIT_RAMARK = lov.Any(c => c.Name == "L_RABBIT_RAMARK") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_RAMARK").Text : "";
        L_RABBIT_RAMARK_ITEM1 = lov.Any(c => c.Name == "L_RABBIT_RAMARK_ITEM1") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_RAMARK_ITEM1").Text : "";
        L_RABBIT_RAMARK_ITEM2 = lov.Any(c => c.Name == "L_RABBIT_RAMARK_ITEM2") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_RAMARK_ITEM2").Text : "";
        L_RABBIT_RAMARK_ITEM3 = lov.Any(c => c.Name == "L_RABBIT_RAMARK_ITEM3") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_RAMARK_ITEM3").Text : "";
        L_RABBIT_RAMARK_ITEM4 = lov.Any(c => c.Name == "L_RABBIT_RAMARK_ITEM4") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_RAMARK_ITEM4").Text : "";
        L_RABBIT_FOOTER_ITEM1 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM1") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM1").Text : "";
        L_RABBIT_FOOTER_ITEM2 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM2") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM2").Text : "";
        L_RABBIT_FOOTER_ITEM3 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM3") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM3").Text : "";
        L_RABBIT_FOOTER_ITEM4 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM4") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM4").Text : "";
        L_RABBIT_FOOTER_ITEM5 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM5") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM5").Text : "";
        L_RABBIT_FOOTER_ITEM6 = lov.Any(c => c.Name == "L_RABBIT_FOOTER_ITEM6") ? lov.FirstOrDefault(c => c.Name == "L_RABBIT_FOOTER_ITEM6").Text : "";
        
    }
}

<div class="i-left-pane">
    <div>
        <img src="~/Content/images/rabbit/1-1_11.jpg" />
    </div>
    <div style="float: right; margin-right: 33px;">
        <img src="~/Content/images/rabbit/1-1_15.jpg" />
    </div>
    <div class="i-clear"></div>
    <div style="margin-top: -35px;">
        <h3>@L_RABBIT_RAMARK</h3>
        <ul class="i-list">
            <li><span>@L_RABBIT_RAMARK_ITEM1</span></li>
            <li><span>@L_RABBIT_RAMARK_ITEM2</span></li>
            <li><span>@L_RABBIT_RAMARK_ITEM3</span></li>
            <li><span>@L_RABBIT_RAMARK_ITEM4</span></li>
        </ul>

        <div class="i-clear" style="margin-bottom: 10px;">
            <img src="~/Content/images/rabbit/1-1_31.jpg" />
        </div>

        <h4>@L_RABBIT_FOOTER_ITEM1</h4>
        <span class="i-green i-size-nm"><a href="@L_RABBIT_FOOTER_ITEM2" target="_blank">@L_RABBIT_FOOTER_ITEM2</a></span>

        <h4>@L_RABBIT_FOOTER_ITEM3</h4>
        <span class="i-green i-size-nm"><a href="@L_RABBIT_FOOTER_ITEM4" target="_blank">@L_RABBIT_FOOTER_ITEM4</a></span>

        <h4>@L_RABBIT_FOOTER_ITEM5</h4>
        <span class="i-green i-size-nm"><a href="@L_RABBIT_FOOTER_ITEM6" target="_blank">@L_RABBIT_FOOTER_ITEM6</a></span>
    </div>
</div>
