@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Connect FBB Portal</h2>
<form accept-charset="UTF-8" action="https://staging-fbbportal.ais.co.th/Account/LogOnBySSO" id="SubContact" method="post" target="_self">
   @Html.AntiForgeryToken()
        
    <input type="text" id="txtUsername" placeholder="Username" />

    @Html.Hidden("token", "1234567889,kingkanm, 1591,9999999,10.23.23.34")
    @Html.Hidden("rid", "111")
    @Html.Hidden("sid", "222")
    @Html.Hidden("rn", "AIS SCM")
    @Html.Hidden("sn", "SM002")
    @Html.Hidden("fn", "KINGKAN")
    @Html.Hidden("ln", "METANAWIN")
    @Html.Hidden("theme", "777")
    @Html.Hidden("template", "888")
    @Html.Hidden("host", "999")
    @Html.Hidden("lc", "1010")
    @Html.Hidden("gl", "2020")
    @Html.Hidden("dc", "3030")
    @Html.Hidden("sc", "4040")
    @Html.Hidden("pt", "5050")

    <input type="submit" name="SaveButton" value="GO !!!" />

</form>
