@model WBBContract.Minions.MinionProcInstallSplitterCommand

@using (Html.BeginForm("InstallSplitter", "Minion", FormMethod.Post, new { @id = "frmInstallProfileProcInsSplitter" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CUST_NON_MOBILE</div>
                    @Html.TextBoxFor(model => model.Cust_Non_Mobile, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SPLITTER_SEQ</div>
                    @Html.TextBoxFor(model => model.Splitter_Seq, new { @type = "number", @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SPLITTER_NAME</div>
                    @Html.TextBoxFor(model => model.Splitter_Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_DISTANCE</div>
                    @Html.TextBoxFor(model => model.Distance, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_DISTANCE_TYPE</div>
                    @Html.TextBoxFor(model => model.Distance_Type, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendInstallProfileProcMain" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
