@model WBBContract.Minions.MinionProcInstallPackageCommand

@using (Html.BeginForm("InstallPackage", "Minion", FormMethod.Post, new { @id = "frmInstallProfileProcInsPackage" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CUST_NON_MOBILE</div>
                    @Html.TextBoxFor(model => model.Cust_Non_Mobile, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_CODE</div>
                    @Html.TextBoxFor(model => model.Package_Code, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_CLASS</div>
                    @Html.TextBoxFor(model => model.Package_Class, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_TYPE</div>
                    @Html.TextBoxFor(model => model.Package_Type, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_GROUP</div>
                    @Html.TextBoxFor(model => model.Package_Group, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_SUBTYPE</div>
                    @Html.TextBoxFor(model => model.Package_Subtype, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_OWNER</div>
                    @Html.TextBoxFor(model => model.Package_Owner, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_TECHNOLOGY</div>
                    @Html.TextBoxFor(model => model.Technology, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_STATUS</div>
                    @Html.TextBoxFor(model => model.package_Status, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_NAME</div>
                    @Html.TextBoxFor(model => model.package_Name, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RECURRING_CHARGE</div>
                    @Html.TextBoxFor(model => model.Recurring_Charge, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 245px; text-align: left;">P_PRE_RECURRING_CHARGE</div>
                    @Html.TextBoxFor(model => model.Pre_Recurring_Charge, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 245px; text-align: left;">P_RECURRING_DISCOUNT_EXP</div>
                    @Html.TextBoxFor(model => model.Recurring_Discount_Exp, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RECURRING_START_DT</div>
                    @Html.TextBoxFor(model => model.Recurring_Start_Dt, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RECURRING_END_DT</div>
                    @Html.TextBoxFor(model => model.Recurring_End_Dt, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_INITIATION_CHARGE</div>
                    @Html.TextBoxFor(model => model.Initiation_Charge, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PRE_INITIATION_CHARGE</div>
                    @Html.TextBoxFor(model => model.Pre_Initiation_Charge, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_BILL_THA</div>
                    @Html.TextBoxFor(model => model.Package_Bill_Tha, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_DOWNLOAD_SPEED</div>
                    @Html.TextBoxFor(model => model.Download_Speed, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_UPLOAD_SPEED</div>
                    @Html.TextBoxFor(model => model.Upload_Speed, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_HOME_IP</div>
                    @Html.TextBoxFor(model => model.Home_Ip, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_HOME_PORT</div>
                    @Html.TextBoxFor(model => model.Home_Port, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_IDD_FLAG</div>
                    @Html.TextBoxFor(model => model.Idd_Flag, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_FAX_FLAG</div>
                    @Html.TextBoxFor(model => model.Fax_Flag, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_MOBILE_FORWARD</div>
                    @Html.TextBoxFor(model => model.Mobile_Forward, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendInstallProfileProcInsPackage" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
