@model WBBContract.Minions.MinionProcInstallAddressCommand

@using (Html.BeginForm("InstallAddress", "Minion", FormMethod.Post, new { @id = "frmInstallProfileProcInsAddr" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_HOUSE_NO</div>
                    @Html.TextBoxFor(model => model.House_No, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SOI</div>
                    @Html.TextBoxFor(model => model.Soi, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_MOO</div>
                    @Html.TextBoxFor(model => model.Moo, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_MOOBAN</div>
                    @Html.TextBoxFor(model => model.Mooban, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_BUILDING_NAME</div>
                    @Html.TextBoxFor(model => model.Building_Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_FLOOR</div>
                    @Html.TextBoxFor(model => model.Floor, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ROOM</div>
                    @Html.TextBoxFor(model => model.Room, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_STREET_NAME</div>
                    @Html.TextBoxFor(model => model.Street_Name, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ZIPCODE_ID</div>
                    @Html.TextBoxFor(model => model.Zipcode_Id, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ADDRESS_VAT</div>
                    @Html.TextBoxFor(model => model.Address_Vat, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendInstallProfileProcMain" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
