@model WBBContract.Minions.MinionProcMessageLogCommand

@using (Html.BeginForm("MessageLog", "Minion", FormMethod.Post, new { @id = "frmInstallProfileProcMessageLog" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CUST_NON_MOBILE</div>
                    @Html.TextBoxFor(model => model.Cust_Non_Mobile, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PROCESS_NAME</div>
                    @Html.TextBoxFor(model => model.Process_Name, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CREATE_USER</div>
                    @Html.TextBoxFor(model => model.Create_User, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CREATE_DATE</div>
                    @Html.TextBoxFor(model => model.Create_Date, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RETURN_CODE</div>
                    @Html.TextBoxFor(model => model.Return_Code, new {@type = "number",  @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RETURN_DESC</div>
                    @Html.TextBoxFor(model => model.Return_Desc, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_REMARK</div>
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendMessageLog" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
