@model WBBContract.Minions.MinionGetListPackageByServiceQuery

@using (Html.BeginForm("GetListPackageByService", "Minion", FormMethod.Post, new { @id = "frmListPackageService" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_OWNER_PRODUCT</div>
                    @Html.TextBoxFor(model => model.P_OWNER_PRODUCT, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PRODUCT_SUBTYPE</div>
                    @Html.TextBoxFor(model => model.P_PRODUCT_SUBTYPE, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_NETWORK_TYPE</div>
                    @Html.TextBoxFor(model => model.P_NETWORK_TYPE, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SERVICE_DAY</div>
                    @Html.TextBoxFor(model => model.P_SERVICE_DAY, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_FOR</div>
                    @Html.TextBoxFor(model => model.P_PACKAGE_FOR, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PACKAGE_CODE</div>
                    @Html.TextBoxFor(model => model.P_PACKAGE_CODE, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_LOCATION_CODE</div>
                    @Html.TextBoxFor(model => model.P_Location_Code, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ASC_CODE</div>
                    @Html.TextBoxFor(model => model.P_Asc_Code, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PARTNER_TYPE</div>
                    @Html.TextBoxFor(model => model.P_Partner_Type, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PARTNER_SUBTYPE</div>
                    @Html.TextBoxFor(model => model.P_Partner_SubType, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_REGION</div>
                    @Html.TextBoxFor(model => model.P_Region, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PROVINCE</div>
                    @Html.TextBoxFor(model => model.P_Province, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_DISTRICT</div>
                    @Html.TextBoxFor(model => model.P_District, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SUB_DISTRICT</div>
                    @Html.TextBoxFor(model => model.P_Sub_District, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ADDRESS_TYPE</div>
                    @Html.TextBoxFor(model => model.P_Address_Type, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_BUILDING_NAME</div>
                    @Html.TextBoxFor(model => model.P_Building_Name, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_BUILDING_NO</div>
                    @Html.TextBoxFor(model => model.P_Building_No, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_SERENADE_FLAG</div>
                    @Html.TextBoxFor(model => model.P_Serenade_Flag, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CUSTOMER_TYPE</div>
                    @Html.TextBoxFor(model => model.P_Customer_Type, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ADDRESS_ID</div>
                    @Html.TextBoxFor(model => model.P_Address_Id, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_PLUG_AND_PLAY_FLAG</div>
                    @Html.TextBoxFor(model => model.P_Plug_And_Play_Flag, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_RENTAL_FLAG</div>
                    @Html.TextBoxFor(model => model.P_rental_flag, new { @class = "form-control" })
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_CUSTOMER_SUBTYPE</div>
                    @Html.TextBoxFor(model => model.P_customer_subtype, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendGetListPackageService" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" id="btnReset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
