@using WBBEntity.PanelModels;
@{
    //Tab Order
    string T_Search_Order = "";
    string H_Search_Order = "";
    string L_Search_Panel = "";
    string L_Search_SN = "";
    string L_Search_EXP = "";
    string B_Clear = "";
    string B_Search = "";
    string B_Searchbyfile = "";
    string B_Export_Template = "";
    string B_Export_Excel = "";
    string C_No = "";
    string C_SN = "";
    string C_INTERNET_NO = "";
    string C_ORDER_NO = "";
    string C_TECHNOLOGY = "";
    string C_ORDER_TYPE = "";
    string C_SYMPTOM_GROUP = "";
    string C_ORDER_DATE = "";
    string C_SN_STATUS = "";
    string C_FILE_NAME = "";
    string L_DATA_NOT_FOUND = "";
    string POPUP_L_Import_File = "";
    string POPUP_B_Select_File = "";
    string POPUP_L_Attach_File = "";
    string POPUP_B_Close = "";
    string POPUP_B_Upload = "";
    string POPUP_L_Validate = "";

    //Tab Patch
    string T_Patch_SN = "";
    string H_Patch_SN = "";
    string L_Search_Panel_Patch = "";
    string L_INTERNET_NO = "";
    string L_STATUS = "";
    string L_SERIAL_NUMBER = "";
    string L_FILE_NAME = "";
    string L_CREATEDATE_START = "";
    string L_CREATEDATE_TO = "";
    string B_Clear_Patch = "";
    string B_Search_Patch = "";
    string B_Export_Template_Patch = "";
    string B_Patch = "";
    string B_PatchByFile = "";
    string C_No_Patch = "";
    string C_SERIAL_NUMBER_Patch = "";
    string C_INTERNET_NO_Patch = "";
    string C_FOACODE = "";
    string C_MOVEMENT_TYPE = "";
    string C_POSTING_DATE = "";
    string C_STATUS = "";
    string C_REMARK = "";
    string C_CREATED_DATE = "";
    string C_LAST_UPDATE = "";
    string C_ACTION = "";
    string L_DATA_NOT_FOUND_Patch = "";

    string POPUP_L_Import_File_Patch = "";
    string POPUP_B_Select_File_Patch = "";
    string POPUP_L_Attach_File_Patch = "";
    string POPUP_B_Close_Patch = "";
    string POPUP_B_Upload_Patch = "";
    string POPUP_L_Validate_Patch = "";
    string POPUP_Patch_L_Confirm = "";
    string POPUP_Patch_B_Cancel = "";
    string POPUP_Patch_B_Confirm = "";
    string POPUP_Complete_B_Cancel = "";
    string POPUP_Complete_B_Confirm = "";
    string B_Import_Export = "";
    string B_Import_Cancel = "";
    string B_Import_Confirm = "";
    string L_Import_File = "";
    string L_Serial_Status = "";
    string C_Import_No = "";
    string C_Import_INTERNET_NO = "";
    string C_Import_SN = "";
    string C_Import_SN_STATUS = "";
    string C_Import_FOACODE = "";
    string C_Import_CREATEDATE = "";
    string C_Import_MOVEMENT_TYPE = "";
    string C_Import_POSTINGDATE = "";
    string C_Import_REMARK = "";
    string C_SUBMIT_DATE = "";

    if (ViewBag.Page_Search_Order != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.Page_Search_Order;
        T_Search_Order = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "T_Search_Order").LovValue1 : "";
        H_Search_Order = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "H_Search_Order").LovValue1 : "";
        L_Search_Panel = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "L_Search_Panel").LovValue1 : "";
        L_Search_SN = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "L_Search_SN").LovValue1 : "";
        L_Search_EXP = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "L_Search_EXP").LovValue1 : "";
        B_Clear = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "B_Clear").LovValue1 : "";
        B_Search = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "B_Search").LovValue1 : "";
        B_Searchbyfile = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "B_Searchbyfile").LovValue1 : "";
        B_Export_Template = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "B_Export_Template").LovValue1 : "";
        B_Export_Excel = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "B_Export_Excel").LovValue1 : "";
        C_No = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_No").LovValue1 : "";
        C_SN = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_SN").LovValue1 : "";
        C_INTERNET_NO = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_INTERNET_NO").LovValue1 : "";
        C_ORDER_NO = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_ORDER_NO").LovValue1 : "";
        C_TECHNOLOGY = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_TECHNOLOGY").LovValue1 : "";
        C_ORDER_TYPE = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_ORDER_TYPE").LovValue1 : "";
        C_SYMPTOM_GROUP = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_SYMPTOM_GROUP").LovValue1 : "";
        C_ORDER_DATE = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_ORDER_DATE").LovValue1 : "";
        C_SN_STATUS = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_SN_STATUS").LovValue1 : "";
        C_LAST_UPDATE = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "C_LAST_UPDATE").LovValue1 : "";
        L_DATA_NOT_FOUND = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "L_DATA_NOT_FOUND").LovValue1 : "";

        POPUP_L_Import_File = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Import_File").LovValue1 : "";
        POPUP_B_Select_File = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Select_File").LovValue1 : "";
        POPUP_L_Attach_File = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Attach_File").LovValue1 : "";
        POPUP_B_Close = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Close").LovValue1 : "";
        POPUP_B_Upload = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Upload").LovValue1 : "";
        POPUP_L_Validate = configscreen.Any(f => f.LovValue5 == "Page_Search_Order") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Validate").LovValue1 : "";
    }

    if (ViewBag.Page_Patch_SN != null)
    {
        var configscreen = (List<LovValueModel>)ViewBag.Page_Patch_SN;
        T_Patch_SN = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "T_Patch_SN").LovValue1 : "";
        H_Patch_SN = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "H_Patch_SN").LovValue1 : "";
        L_Search_Panel_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_Search_Panel").LovValue1 : "";
        L_INTERNET_NO = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_INTERNET_NO").LovValue1 : "";
        L_STATUS = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_STATUS").LovValue1 : "";
        L_SERIAL_NUMBER = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_SERIAL_NUMBER").LovValue1 : "";
        L_FILE_NAME = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_FILE_NAME").LovValue1 : "";
        L_CREATEDATE_START = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_CREATEDATE_START").LovValue1 : "";
        L_CREATEDATE_TO = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_CREATEDATE_TO").LovValue1 : "";
        B_Clear_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Clear").LovValue1 : "";
        B_Search_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_CREATEDATE_TO").LovValue1 : "";
        B_Export_Template_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Export_Template").LovValue1 : "";
        B_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Patch").LovValue1 : "";
        B_PatchByFile = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_PatchByFile").LovValue1 : "";
        C_No_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_No").LovValue1 : "";
        C_SERIAL_NUMBER_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_SERIAL_NUMBER").LovValue1 : "";
        C_INTERNET_NO_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_INTERNET_NO").LovValue1 : "";
        C_FOACODE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_FOACODE").LovValue1 : "";
        C_MOVEMENT_TYPE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_MOVEMENT_TYPE").LovValue1 : "";
        C_POSTING_DATE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_POSTING_DATE").LovValue1 : "";
        C_STATUS = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_STATUS").LovValue1 : "";
        C_REMARK = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_REMARK").LovValue1 : "";
        C_FILE_NAME = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_FILE_NAME").LovValue1 : "";
        C_CREATED_DATE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_CREATED_DATE").LovValue1 : "";
        C_SUBMIT_DATE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_SUBMIT_DATE").LovValue1 : "";
        C_ACTION = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_ACTION").LovValue1 : "";
        L_DATA_NOT_FOUND_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_DATA_NOT_FOUND").LovValue1 : "";

        POPUP_L_Import_File_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Import_File").LovValue1 : "";
        POPUP_B_Select_File_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Select_File").LovValue1 : "";
        POPUP_L_Attach_File_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Attach_File").LovValue1 : "";
        POPUP_B_Close_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Close").LovValue1 : "";
        POPUP_B_Upload_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_B_Upload").LovValue1 : "";
        POPUP_L_Validate_Patch = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_L_Validate").LovValue1 : "";
        POPUP_Patch_L_Confirm = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_Patch_L_Confirm").LovValue1 : "";
        POPUP_Patch_B_Cancel = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_Patch_B_Cancel").LovValue1 : "";
        POPUP_Patch_B_Confirm = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_Patch_B_Confirm").LovValue1 : "";
        POPUP_Complete_B_Cancel = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_Complete_B_Cancel").LovValue1 : "";
        POPUP_Complete_B_Confirm = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "POPUP_Complete_B_Confirm").LovValue1 : "";

        //import File
        B_Import_Export = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Import_Export").LovValue1 : "";
        B_Import_Cancel = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Import_Cancel").LovValue1 : "";
        B_Import_Confirm = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "B_Import_Confirm").LovValue1 : "";
        L_Import_File = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_Import_File").LovValue1 : "";
        L_Serial_Status = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "L_Serial_Status").LovValue1 : "";
        C_Import_No = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_No").LovValue1 : "";
        C_Import_INTERNET_NO = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_INTERNET_NO").LovValue1 : "";
        C_Import_SN = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_SN").LovValue1 : "";
        C_Import_SN_STATUS = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_SN_STATUS").LovValue1 : "";
        C_Import_FOACODE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_FOACODE").LovValue1 : "";
        C_Import_CREATEDATE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_CREATEDATE").LovValue1 : "";
        C_Import_MOVEMENT_TYPE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_MOVEMENT_TYPE").LovValue1 : "";
        C_Import_POSTINGDATE = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_POSTINGDATE").LovValue1 : "";
        C_Import_REMARK = configscreen.Any(f => f.LovValue5 == "Page_Patch_SN") ? configscreen.FirstOrDefault(f => f.Name == "C_Import_REMARK").LovValue1 : "";
    }
}

<style>
    #gridSearchPatch .k-grid-content {
        max-height: 350px;
    }
    #gridSearchOrder .k-grid-content {
        max-height: 350px;
    }
    input[readonly] {
        cursor: pointer !important;
    }

    .loader {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-40%, -50%);
        animation: effect 1s linear infinite;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-top-color: #fff;
    }

    @@keyframes effect {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


    /* position to center */

    .loader {
        position: absolute;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
    }


    /**
        * disable background
        */

    .loader-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
</style>

<body>

    <div id="example">
        <div class="demo-section k-content">
            <div id="tabstrip">
                <ul>
                    <li>
                        @T_Search_Order
                    </li>
                    <li class="k-state-active">
                        @T_Patch_SN
                    </li>
                </ul>
                <div>
                    <br />
                    <div class="page-header i-header-fit">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 style="margin-top: 0"><b>@H_Search_Order</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="k-group">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span>@L_Search_Panel</span>
                                    <a data-toggle="collapse" class="pull-right" href="#SearchOrderPanel" onclick="onPanelToggle(this);" id="SearchPanelHeader1"><i class="fa fa-chevron-circle-down fa-md" id="SearchPanelHeaderArrow1"></i></a>
                                </h3>
                            </div>
                            <div id="SearchOrderPanel" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row" style="text-align:center;">
                                        <div class="col-sm-12 col-md-2">
                                            <label>@L_Search_SN</label>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <textarea class="form-control" rows="5" wrap="soft" style="resize: none;" id="data"></textarea>
                                        </div>
                                        <p style="color:red;font:bold">
                                            Example.
                                        </p>
                                        <p style="color:red;font-size:12px">XXXXXX</p>
                                        <p style="color: red; font-size: 12px">YYYYYY</p>
                                        <p style="color: red; font-size: 12px">ZZZZZZ</p>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12 col-md-2">
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <a class="btn btn-default" onclick="ClearSearchOrder()"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@B_Clear</a>
                                            <a class="btn btn-success" onclick="Search()"><i class="fa fa-search fa-md"></i>&nbsp;&nbsp;@B_Search</a>
                                            <a class="btn btn-info" onclick="SearchByFile()"><i class="fa fa-edit fa-md"></i>&nbsp;&nbsp;@B_Searchbyfile</a>
                                            <a class="btn btn-default" onclick="Export_Template_SearchOrder()"><i class="fa fa-file-excel-o fa-md"></i>&nbsp;&nbsp;@B_Export_Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-success">
                        <div id="SearchOrderPanel" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div style="text-align:right">
                                    <a class="btn btn-primary right" id="btn_ExportSN" onclick="ExportSNTableToExcel()"><i class="fa fa-file-excel-o fa-md"></i>&nbsp;&nbsp;@B_Export_Excel</a>
                                </div>
                                <br />
                                <div id="gridSearchOrder"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <br />
                    <div class="page-header i-header-fit">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 style="margin-top: 0"><b>@H_Patch_SN</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span>@L_Search_Panel_Patch</span>
                                <a data-toggle="collapse" class="pull-right" href="#PatchDataPanel" onclick="onPanelToggle(this);" id="SearchPanelHeader2"><i class="fa fa-chevron-circle-down fa-md" id="SearchPanelHeaderArrow2"></i></a>
                            </h3>
                        </div>
                        <div id="PatchDataPanel" class="panel-collapse collapse in">
                            <div class="panel-body col-md-offset-2">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-inline">
                                            <label>@L_INTERNET_NO</label>
                                            <div class="i-fg-data-entry">
                                                @(Html.TextBox("txtInternetNo", null, new { @class = "k-textbox", maxlength = "50", autocomplete = "off", style = "width: 100%;" }))
                                            </div>
                                        </div>
                                        <div class="i-fg-data-entry-validation" id="validatefor-RVACCESSNO"></div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label>@L_STATUS</label>
                                        <div class="i-fg-data-entry">
                                            @(Html.Kendo().DropDownList()
                                                  .Name("txtStatus")
                                                  .HtmlAttributes(new { style = "width:100%" })
                                                  .DataTextField("LOV_NAME")
                                                  .DataValueField("LOV_VAL1")
                                                  .DataSource(source => {
                                                       source.Read(read => {
                                                           read.Action("SetDDLStatus", "PatchCPE");
                                                       });
                                                  })
                                            )
                                            @*@(Html.TextBox("txtStatus", null, new { @class = "k-textbox", maxlength = "50", autocomplete = "off", style = "width: 100%;" }))*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <label>@L_SERIAL_NUMBER</label>
                                        <div class="i-fg-data-entry">
                                            @(Html.TextBox("txtSN", null, new { @class = "k-textbox", maxlength = "50", autocomplete = "off", style = "width: 100%;" }))
                                        </div>
                                        <div class="i-fg-data-entry-validation" id="validatefor-RVACCESSNO"></div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label>@L_FILE_NAME</label>
                                        <div class="i-fg-data-entry">
                                            @(Html.TextBox("txtFileName", null, new { @class = "k-textbox", maxlength = "50", autocomplete = "off", style = "width: 100%;" }))
                                        </div>
                                        <div class="i-fg-data-entry-validation" id="validatefor-RVACCESSNO"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <label>@L_CREATEDATE_START <span style="color:red;font-size:12px;">*</span></label>
                                        <div class="i-fg-data-entry">
                                            @(Html.Kendo().DatePicker().Name("dtpRVDateFrom").HtmlAttributes(new { @class = "form-control i-form-control-extend" }).ParseFormats(new List<string> { "dd/MM/yyyy" }).Format("dd/MM/yyyy").Min(new DateTime(1900, 1, 1)).Max(new DateTime(2099, 12, 31)).Events(e => e.Change("ChangdtpRVDateFrom")))
                                        </div>
                                        <div class="i-fg-data-entry-validation" id="validatefor-RVACCESSNO"></div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <label>@L_CREATEDATE_TO <span style="color:red;font-size:12px;">*</span></label>
                                        <div class="i-fg-data-entry">
                                            @(Html.Kendo().DatePicker().Name("dtpRVDateTo").HtmlAttributes(new { @class = "form-control i-form-control-extend" }).Format("dd/MM/yyyy").Min(new DateTime(1900, 1, 1)).Max(new DateTime(2099, 12, 31)).ParseFormats(new List<string> { "dd/MM/yyyy" }).Events(e => e.Change("ChangdtpRVDateTo")))
                                        </div>
                                        <div class="i-fg-data-entry-validation" id="validatefor-RVACCESSNO"></div>
                                    </div>

                                </div>
                                <br />
                                <div class="pull-right">
                                    <a class="btn btn-default" onclick="ClearPatchData()"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@B_Clear</a>
                                    <a class="btn btn-success" onclick="SearchPatchData()"><i class="fa fa-search fa-md"></i>&nbsp;&nbsp;@B_Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:right">
                        <a class="btn btn-default" id="Export_Template_PatchData" onclick="Export_Template_PatchData()"><i class="fa fa-file-excel-o fa-md"></i>&nbsp;&nbsp;@B_Export_Template_Patch</a>
                        <a class="btn btn-warning" id="PatchByFile" onclick="PatchByFile()"><i class="fa fa-edit fa-md"></i>&nbsp;&nbsp;@B_PatchByFile</a>
                        <a class="btn btn-primary" id="Patch" onclick="Patch()" disabled><i class="fa fa-repeat fa-md"></i>&nbsp;&nbsp;@B_Patch</a>
                    </div>
                    <br />
                    <div class="panel panel-success">
                        <div id="SearchPatchPanel" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p id="filename" style="font-size:16px;display:none;"><b id="txtfilename"></b></p>
                                <p id="result_sn_status" style="font-size:16px;color:red;display:none;"><b id="txtresult_sn_status"></b></p>
                                <div id="gridSearchPatch"></div>

                                <br />
                                <div style="text-align:right">
                                    <a class="btn btn-default" id="btnExportTable" style="display:none;" onclick="ExportPatchTableToExcel()"><i class="fa fa-file-excel-o fa-md"></i>&nbsp;&nbsp;@B_Import_Export</a>
                                    <a class="btn btn-danger" id="btnCancelTable" style="display:none;" onclick="ClearPatchData()"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@B_Import_Cancel</a>
                                    <a class="btn btn-success" id="btnConfirmTable" style="display:none;" onclick="InsertDataFromExcel()"><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@B_Import_Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="grid"></div>
</body>

@(Html.Kendo().Window()
    .Name("importfile")
    .HtmlAttributes(new { @class = "i-gap-popup" })
    .Title(false)
    .Width(520)
.Draggable()
.Visible(false)
.Modal(true)
.Content(@<text>

    <div style="padding: 15px;">
        <div class="form-group">
            <div class="row">
                <label>@POPUP_L_Import_File</label>
                @(Html.Kendo().Upload()
                    .Name("Searchbyfile")
                    .HtmlAttributes(new { accept = ".xlsx,.xls, text/csv,text/xls,text/xlsx,application/xls,application/xlsx"})
                .Async(a => a
                .Save("SearchByFile_Save", "PatchCPE")
                .Remove("SearchByFile_Remove", "PatchCPE")
                .AutoUpload(true))
                .Multiple(false)
                .Events(e => e.Success("onSubmitFileSuccess"))
                .Events(e => e.Error("onSubmitFileError"))
                )
                <div class="i-fg-data-entry-validation" id="validatefor-Searchbyfile"></div>
            </div>
        </div>
        <div class="row i-gap-top-1">
            <div class="i-text-align-center">
                <a id="btnresendclose" onclick="resetResendUpload();" class="btn btn-danger"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@POPUP_B_Close</a>

                <a id="btnconfirmSN" onclick="SubmitUpload();" class="btn btn-success"><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@POPUP_B_Upload</a>

            </div>
        </div>
    </div>
</text>))
@(Html.Kendo().Window()
    .Name("importPatchfile")
    .HtmlAttributes(new { @class = "i-gap-popup" })
    .Title(false)
    .Width(520)
.Draggable()
.Visible(false)
.Modal(true)
.Content(@<text>

    <div style="padding: 15px;">
        <div class="form-group">
            <div class="row">
                <label>@POPUP_L_Import_File_Patch</label>
                @(Html.Kendo().Upload()
                    .Name("Patchbyfile")
                    .HtmlAttributes(new { accept = ".xlsx,.xls, text/csv,text/xls,text/xlsx,application/xls,application/xlsx"})
                .Async(a => a
                .Save("PatchByFile_Save", "PatchCPE")
                .Remove("PatchByFile_Remove", "PatchCPE")
                .AutoUpload(true))
                .Multiple(false)
                .Events(e => e.Success("onSubmitPatchFileSuccess"))
                .Events(e => e.Error("onSubmitPatchFileError"))
                )
                <div class="i-fg-data-entry-validation" id="validatefor-Patchbyfile"></div>
            </div>
        </div>
        <div class="row i-gap-top-1">
            <div class="i-text-align-center">
                <a id="btnresendclose" onclick="resetPatchUpload();" class="btn btn-danger"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@POPUP_B_Close_Patch</a>

                <a id="btnconfirmpatchfile" onclick="SubmitPatchUpload();" class="btn btn-success" disabled><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@POPUP_B_Upload_Patch</a>

            </div>
        </div>
    </div>
</text>))
@(Html.Kendo().Window()
    .Name("PatchData")
    .HtmlAttributes(new { @class = "i-gap-popup" })
    .Title(false)
    .Width(520)
.Draggable()
.Visible(false)
.Modal(true)
.Content(@<text>
    <div style="padding: 15px;">
        <div class="form-group">
            <div class="text-center">
                <label style="font-size:20px;">@POPUP_Patch_L_Confirm</label>
            </div>

            <div class="i-fg-data-entry">
                @(Html.Kendo().DropDownList()
                        .Name("DDLEmail")
                        .HtmlAttributes(new { style = "width:100%" })
                        .DataTextField("text")
                        .DataValueField("value")
                        .Events(e => e.Change("NeedSendMail"))
                )
                @*@(Html.TextBox("txtStatus", null, new { @class = "k-textbox", maxlength = "50", autocomplete = "off", style = "width: 100%;" }))*@
            </div>
            <div class="i-fg-data-entry" id="div_TxtEmail" style="display: none;">
                <br />
                @(Html.TextArea("TxtEmail", null, new { @class = "k-textbox", maxlength = "500", autocomplete = "off", style = "width: 100%;height:150px;", placeholder= "example@ais.co.th;example@xxx.postbox.in.th" }))
                <span style="color: red; display: none;" id="valid_txtEmail">กรณีมีอีเมล์มากกว่า 1 อีเมล์ให้ใช้ “;” คั่น</span>
                <br />
                <span style="color: red; display: none;" id="valid_inputtxtEmail">กรอกอีเมล์</span>
            </div>
        </div>
        <div class="row i-gap-top-1">
            <div class="i-text-align-center">
                <a id="btnresendclose" onclick="resetPatch();" class="btn btn-danger"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@POPUP_Patch_B_Cancel</a>

                <a id="btnconfirmresend" onclick="SubmitPatch();" class="btn btn-success"><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@POPUP_Patch_L_Confirm</a>

            </div>
        </div>
    </div>
</text>))
@(Html.Kendo().Window()
    .Name("EditSNError")
    .HtmlAttributes(new { @class = "i-gap-popup" })
    .Title(false)
    .Width(520)
.Draggable()
.Visible(false)
.Modal(true)
.Content(@<text>
    <div style="padding: 15px;">
        <div class="form-group">
            <div class="text-center">
                <label style="font-size:20px;">@POPUP_Patch_L_Confirm</label>
            </div>
        </div>
        <div class="row i-gap-top-1">
            <div class="i-text-align-center">
                <a id="btnresendclose" onclick="resetPatch();" class="btn btn-danger"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@POPUP_Complete_B_Cancel</a>

                <a id="btnconfirmresend" onclick="SubmitForceUpdate();" class="btn btn-success"><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@POPUP_Complete_B_Confirm</a>

            </div>
        </div>
    </div>
</text>))
@(Html.Kendo().Window()
    .Name("EditSNErrorList")
    .HtmlAttributes(new { @class = "i-gap-popup" })
    .Title(false)
    .Width(520)
.Draggable()
.Visible(false)
.Modal(true)
.Content(@<text>
    <div style="padding: 15px;">
        <div class="form-group">
            <div class="text-center">
                <label style="font-size:20px;">@POPUP_Patch_L_Confirm</label>
            </div>
        </div>
        <div class="row i-gap-top-1">
            <div class="i-text-align-center">
                <a id="btnresendclose" onclick="resetPatch();" class="btn btn-danger"><i class="fa fa-ban fa-md"></i>&nbsp;&nbsp;@POPUP_Complete_B_Cancel</a>

                <a id="btnconfirmresend" onclick="SubmitForceUpdate('list');" class="btn btn-success"><i class="fa fa-check-square-o fa-md"></i>&nbsp;&nbsp;@POPUP_Complete_B_Confirm</a>

            </div>
        </div>
    </div>
</text>))

<script>
    var Search_Data;
    var Size_Data;
    var ObjData;
    var TempFilename = "";
    var DataModel = function () {
        FileName: "";
        InternetNo: "";
        SerialNo: "";
        SerialStatus: "";
        PatchStatus: "";
        CreateDateTo: "";
        CreateDateFrom: "";
        Flag: "";
    }
    if (window.performance) {
        screenLoader_Global();
        console.info("window.performance work's fine on this browser");
    }

    window.addEventListener('load', function () {
        remove_screenLoader_Global();
    })

    $(document).ready(function () {

        // Checkbox
        $('#selectall').prop('checked', false);
        //$('#selectall').attr("disabled", "disabled");

        $("#div_TxtEmail").hide();
        $("#valid_txtEmail").hide();
        $("#valid_inputtxtEmail").hide();

        $("#dtpRVDateFrom").data("kendoDatePicker").max(new Date(2099, 11, 31, 0, 0, 0, 0));
        $("#dtpRVDateTo").data("kendoDatePicker").min(new Date(1900, 0, 1, 0, 0, 0, 0));
        $("#dtpRVDateFrom").data("kendoDatePicker").value(new Date());
        $("#dtpRVDateTo").data("kendoDatePicker").value(new Date());

        $("#validatefor-dtpRVDateFrom").html("");
        $("#validatefor-dtpRVDateTo").html("");

        var dtpRVDateFrom = $("#dtpRVDateFrom").data("kendoDatePicker");
        dtpRVDateFrom.readonly(true);
        var dtpRVDateTo = $("#dtpRVDateTo").data("kendoDatePicker");
        dtpRVDateTo.readonly(true);

        $("#dtpRVDateFrom").click(function () {
            var datepicker = $("#dtpRVDateFrom").data("kendoDatePicker");
            datepicker.readonly(false);
            $("#PatchDataPanel > div > div:nth-child(3) > div:nth-child(1) > div.i-fg-data-entry > span > span > span > span").trigger("click");
            datepicker.readonly(true);
        });

        $("#dtpRVDateTo").click(function () {
            var datepicker = $("#dtpRVDateTo").data("kendoDatePicker");
            datepicker.readonly(false);
            $("#PatchDataPanel > div > div:nth-child(3) > div:nth-child(2) > div.i-fg-data-entry > span > span > span").trigger("click");
            datepicker.readonly(true);
        });


        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        BindingGridSearch();

        BindingGridPatch();

      
    });

    function BindingGridPatch() {
        $("#gridSearchPatch").empty();
        $("#gridSearchPatch").kendoGrid({
            //height: 400,
            groupable: false,
            sortable: true,
            pageable: {
                refresh: false,
                pageSizes: [20, 50, 100],
                buttonCount: 5,
                numeric: true
            },
            resizable: {
                columns: true
            },
            columns:  [
                    {
                        field: "NO",
                        title: "@C_No",
                        width: 50,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "INTERNET_NO",
                        title: "@C_INTERNET_NO",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "SERIAL_NO",
                        title: "@C_SN",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "SERIAL_STATUS",
                        title: "@C_SN_STATUS",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "FOA_CODE",
                        title: "@C_FOACODE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                    field: "SUBMIT_DATE",
                        title: "@C_SUBMIT_DATE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "POSTING_DATE",
                        //template: '#= kendo.toString(kendo.parseDate(POST_DATE), "dd/MM/yyyy") #',
                        title: "@C_Import_POSTINGDATE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "MOVEMENT_TYPE",
                        title: "@C_MOVEMENT_TYPE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "PATCH_STATUS",
                        title: "@C_STATUS",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "REMARK",
                        title: "@C_REMARK",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-left" },
                    }, {
                        field: "FILE_NAME",
                        title: "@C_FILE_NAME",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }, {
                        field: "CREATED_DATE",
                        //template: '#= kendo.toString(kendo.parseDate(CREATE_DATE), "dd/MM/yyyy") #',
                        title: "@C_CREATED_DATE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                }, {
                    field: "ACTION",
                        title: "@C_ACTION",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                    }]
        });
    }


    function BindingGridSearch() {
        $("#gridSearchOrder").kendoGrid({
            dataSource: {
                //type: "odata",
                //transport: {
                //    read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                //},
                pageSize: 20
            },
            //height: 400,
            groupable: false,
            sortable: true,
            pageable: {
                refresh: false,
                pageSizes: [20, 50, 100],
                buttonCount: 5,
                numeric: true
            },
            resizable: {
                columns: true
            },
            columns: [{
                field: "NO",
                title: "@C_No",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "SN",
                title: "@C_SN",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "INTERNET_NO",
                title: "@C_INTERNET_NO",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "ORDER_NO",
                title: "@C_ORDER_NO",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "TECHNOLOGY",
                title: "@C_TECHNOLOGY",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "ORDER_TYPE",
                title: "@C_ORDER_TYPE",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "SYMPTOM_GROUP",
                width: 150,
                title: "@C_SYMPTOM_GROUP",
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "ORDER_DATE",
                title: "@C_ORDER_DATE",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "STATUS",
                title: "@C_SN_STATUS",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }, {
                field: "LAST_UPDATE_DATE",
                title: "@C_LAST_UPDATE",
                width: 150,
                headerAttributes: { style: "text-align:center" },
                attributes: { class: "text-center" },
            }]
        });
    }
    function SearchByFile() {
        resetResendUpload();
        $("#importfile > div > div.form-group > div > div.k-widget.k-upload.k-header.k-upload-empty > div > div > span").text("@POPUP_B_Select_File");
        $("#importfile").data("kendoWindow").open();
        $("#importfile").data("kendoWindow").center();
    }

    function resetResendUpload() {
        $('#data').val("");
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $("#validatefor-Searchbyfile").html("");

        $("#importfile").data("kendoWindow").close();
        $("#EditSNErrorList").data("kendoWindow").close();
    }

    function onSubmitFileSuccess(e) {
        $(".k-filename").text(e.response.fileName);
        $("#importfile > div > div.form-group > div > div.k-widget.k-upload.k-header > ul > li > span.k-progress").css("background-color", "");
        if (!e.response.status) {
            //console.log(e.response.status);
            if (e.response.message != "") {
                $("#validatefor-Searchbyfile").html(ValidationIcon() + e.response.message);
            } else {
                $("#validatefor-Searchbyfile").html(ValidationIcon() + "@POPUP_L_Attach_File");
            }
            $("#importfile > div > div.form-group > div > div.k-widget.k-upload.k-header > ul > li > span.k-progress").css("background-color", "#F9DFDC");
            $("#btnconfirmSN").attr("disabled", "disabled");
        } else {
            $("#validatefor-Searchbyfile").html("");
            $("#btnconfirmSN").removeAttr("disabled");
        }
    };

    function onSubmitFileError(e) {
        if (!e.response.status) {
            $("#validatefor-Searchbyfile").html(ValidationIcon() + "@POPUP_L_Attach_File");
            $("#btnconfirmSN").attr("disabled");
        }
    };

    function ClearSearchOrder() {
        $('#data').val("");
       // document.getElementById("btn_ExportSN").setAttribute("disabled", "disabled");
        $("#gridSearchOrder").empty();
        BindingGridSearch();
        $("#gridSearchOrder").data("kendoGrid").dataSource.data([]);

    }

    function screenLoader_Global() {
        $('<div class="loader-mask"><div class="loader"></div></div>').appendTo('body');
    }

    function remove_screenLoader_Global() {
        $('.loader-mask').remove();
    }

    function Search() {
        Loading();
       // $("#btn_ExportSN").removeAttr("disabled");
        var obj = new Array()
        var lines = $('#data').val().split(/\n/);
        for (var i = 0; i < lines.length; i++) {
            if (lines[i].trim() != "") {
                var PatchDataModel = new DataModel();
                PatchDataModel.SerialNo = lines[i].trim();
                obj.push(PatchDataModel);
            }
        };
        if (obj.length != 0) {
            $.ajax({
                type: "POST",
                data: JSON.stringify(obj),
                url: "/PatchCPE/SeachOrderBySN",
                contentType: "application/json",
                async: true,
                success: function (response) {
                    console.log(response)
                    //$("#btn_ExportSN").removeAttr("disabled");
                    $("#gridSearchOrder").data("kendoGrid").dataSource.data(response);
                    if (response.length == 0) {
                        //insert empty row

                        var colspan = grid.thead.find("th").length;
                        var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
                        grid.tbody.html(emptyRow);

                        //workarounds for IE lt 9
                        //this.table.width(800);
                        //$(".k-grid-content").width(2 * kendo.support.scrollbar());
                        //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

                        //workarounds for IE lt 9
                        grid.table.width(800);
                        $("#gridSearchOrder div.k-grid-content").height(3 * kendo.support.scrollbar());
                    }
                    else {
                        // $("#gridOverviewStatus div.k-grid-content").height("auto");
                        $('#gridSearchOrder div.k-grid-content').height("auto");
                        $('#gridSearchOrder div.k-grid-content').css("max-height", "350px");
                        $('#gridSearchOrder div.k-grid-content-locked').height("auto");
                        $('#gridSearchOrder div.k-grid-content-locked').css("max-height", "350px");
                    }
                    Loading(0);
                }
            });
        } else {
            $("#gridSearchOrder").data("kendoGrid").dataSource.data([]);
        Loading(0);
        }

    }

    function SubmitUpload() {
        $("#importfile").data("kendoWindow").close();

        if (!ValidationUpdateScmStatusbyFileValue()) { return; }

        Loading();
        $.ajax({
            type: "POST",
            url: "/PatchCPE/Binding_SN_From_Excel",
            contentType: "application/json",
            async: true,
            success: function (response) {
                //$("#btn_ExportSN").removeAttr("disabled");
                //console.log(response)
                //$("#gridSearchOrder").empty();
                $("#gridSearchOrder").data("kendoGrid").dataSource.data(response);
                if (response.length == 0) {
                    //insert empty row

                    var colspan = grid.thead.find("th").length;
                    var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
                    grid.tbody.html(emptyRow);

                    //workarounds for IE lt 9
                    //this.table.width(800);
                    //$(".k-grid-content").width(2 * kendo.support.scrollbar());
                    //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

                    //workarounds for IE lt 9
                    grid.table.width(800);
                    $("#gridSearchOrder div.k-grid-content").height(3 * kendo.support.scrollbar());
                }
                else {
                    // $("#gridOverviewStatus div.k-grid-content").height("auto");
                    $('#gridSearchOrder div.k-grid-content').height("auto");
                    $('#gridSearchOrder div.k-grid-content').css("max-height", "350px");
                    $('#gridSearchOrder div.k-grid-content-locked').height("auto");
                    $('#gridSearchOrder div.k-grid-content-locked').css("max-height", "350px");
                }
                Loading(0);
            }
        });
    }
</script>

@*Scripts For Search Order*@
<script>

    function Export_Template_SearchOrder() {
        window.open("/PatchCPE/Export_Template?type=searchorder");
    }
</script>
@*Scripts For Patch Data*@
<script>
    function ClearPatchData() {
        $('#txtInternetNo').val("");
        $("#txtStatus").data("kendoDropDownList").select(0);
        $("#gridSearchPatch").empty();
        BindingGridPatch();
        //$("#gridSearchPatch").data("kendoGrid").dataSource.data([]);
        //$('#gridSearchPatch').data('kendoGrid').dataSource.read();
        //$('#gridSearchPatch').data('kendoGrid').refresh();
        $('#txtSN').val("");
        $('#txtFileName').val("");

        $("#dtpRVDateFrom").data("kendoDatePicker").max(new Date(2099, 11, 31, 0, 0, 0, 0));
        $("#dtpRVDateTo").data("kendoDatePicker").min(new Date(1900, 0, 1, 0, 0, 0, 0));
        $("#dtpRVDateFrom").data("kendoDatePicker").value(new Date());
        $("#dtpRVDateTo").data("kendoDatePicker").value(new Date());
        $("#validatefor-dtpRVDateTo").html("");
        $("#validatefor-dtpRVDateFrom").html("");

        $("#Export_Template_PatchData").removeAttr("disabled");
        $("#PatchByFile").removeAttr("disabled");
        $("#Patch").removeAttr("disabled");

        $("#filename").attr("style", "font-size:16px;display:none");
        $("#result_sn_status").attr("style", "font-size:16px;color:red;display:none");
        $("#btnExportTable").attr("style", "display:none");
        $("#btnCancelTable").attr("style", "display:none");
        $("#btnConfirmTable").attr("style", "display:none");
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function PatchByFile() {
        resetPatchUpload();
        $("#validatefor-Patchbyfile").html("");
        $("#btnconfirmpatchfile").attr("disabled", "disabled");
        $("#importPatchfile > div > div.form-group > div > div.k-widget.k-upload.k-header.k-upload-empty > div > div > span").text("@POPUP_B_Select_File_Patch");
        $("#importPatchfile").data("kendoWindow").open();
        $("#importPatchfile").data("kendoWindow").center();
    }

    function resetPatchUpload() {
        $('#TxtEmail').val("");
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $("#validatefor-Searchbyfile").html("");

        $("#importPatchfile").data("kendoWindow").close();
    }
    function Patch() {
        resetPatch();
        if (ObjData != null) {
            $("#EditSNErrorList").data("kendoWindow").open();
            $("#EditSNErrorList").data("kendoWindow").center();
        }
    }

    function resetPatch() {
        $('#DDLEmail').val("N");
        $('#TxtEmail').val("");
        $("#div_TxtEmail").hide();
        $("#valid_txtEmail").hide();
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $("#validatefor-Patchbyfile").html("");

        $("#PatchData").data("kendoWindow").close();

        $("#EditSNError").data("kendoWindow").close();
        $("#EditSNErrorList").data("kendoWindow").close();
    }

    function Export_Template_PatchData() {
        window.open("/PatchCPE/Export_Template?type=patchdata");
    }

    function ChangdtpRVDateFrom() {
        var endPicker = $("#dtpRVDateTo").data("kendoDatePicker"),
            startDate = this.value();

        var startPicker = $("#dtpRVDateFrom").data("kendoDatePicker");
        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);

            var dateFrom = new Date(startPicker.value());
            var dateTo = new Date(endPicker.value());
            if (dateTo < dateFrom) {
                startDate.setDate(startDate.getDate());
                endPicker.value(startDate);
                endPicker.trigger("change");
            }
        }
    }

    function ExportPatchTableToExcel() {
        window.open("/PatchCPE/Export_Patch_Report");
    }

    function ExportSNTableToExcel() {
        window.open("/PatchCPE/Export_SN_Report");
    }

    function ChangdtpRVDateTo() {
        var startPicker = $("#dtpRVDateFrom").data("kendoDatePicker"),
            endDate = this.value();
        var endPicker = $("#dtpRVDateTo").data("kendoDatePicker");
        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            startPicker.max(endDate);

            var dateFrom = new Date(startPicker.value());
            var dateTo = new Date(endPicker.value());
            if (dateTo < dateFrom) {
                endDate.setDate(endDate.getDate());
                startPicker.value(endDate);
                startPicker.trigger("change");
            }
        }
    }

    function onSubmitPatchFileSuccess(e) {
        $(".k-filename").text(e.response.fileName);
        $("#importPatchfile > div > div.form-group > div > div.k-widget.k-upload.k-header > ul > li > span.k-progress").css("background-color", "");
        if (!e.response.status) {
            if (e.response.message != "") {
                $("#validatefor-Patchbyfile").html(ValidationIcon() + e.response.message);
            } else {
                $("#validatefor-Patchbyfile").html(ValidationIcon() + "@POPUP_L_Attach_File_Patch");
            }
            $("#importPatchfile > div > div.form-group > div > div.k-widget.k-upload.k-header > ul > li > span.k-progress").css("background-color", "#F9DFDC");
            $("#btnconfirmpatchfile").attr("disabled", "disabled");
        } else {
            $("#validatefor-Patchbyfile").html("");
            $("#btnconfirmpatchfile").removeAttr("disabled");
        }
    };

    function onSubmitPatchFileError(e) {
        if (!e.response.status) {
            $("#validatefor-Patchbyfile").html(ValidationIcon() + "@POPUP_L_Attach_File_Patch");
            $("#btnconfirmpatchfile").attr("disabled");
        }
    }

    function SubmitPatchUpload() {
        $("#importPatchfile").data("kendoWindow").close();

        if (!ValidationUpdateScmStatusbyFileValue()) { return; }

        Loading();

        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/PatchCPE/Binding_Data_From_Excel",
            dataType: "json",
            async: false,
            success: function (response) {
                $("#gridSearchPatch").empty();
                $("#gridSearchPatch").kendoGrid({
                    dataSource: {
                        pageSize: 20
                    },
                    //height: 400,
                    scrollable: true,
                    groupable: false,
                    sortable: true,
                    pageable: {
                        refresh: false,
                        pageSizes: [20, 50, 100],
                        buttonCount: 5,
                        numeric: true
                    },
                    resizable: {
                        columns: true
                    },
                    columns: [
                        {
                            field: "NO",
                        title: "@C_Import_No",
                            width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                        field: "INTERNET_NO",
                        title: "@C_Import_INTERNET_NO",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                        field: "SERIAL_NUMBER",
                        title: "@C_Import_SN",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                            field: "SERIAL_STATUS",
                        title: "@C_Import_SN_STATUS",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                        field: "FOA_CODE",
                        title: "@C_Import_FOACODE",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                            field: "CREATE_DATE",
                        title: "@C_Import_CREATEDATE",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                        field: "POST_DATE",
                        title: "@C_Import_POSTINGDATE",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                        field: "MOVEMENT_TYPE",
                        title: "@C_Import_MOVEMENT_TYPE",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                    }, {
                            field: "REMARK",
                        title: "@C_Import_REMARK",
                            width: 250,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-left" },
                        }
                        @*, {
                            field: "CREATED_DATE",
                        title: "@C_CREATED_DATE",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { class: "text-center" },
                        }*@
                    ]
                });
                $("#gridSearchPatch").data("kendoGrid").dataSource.data(response.data);
                Search_Data = null;
                ObjData = null;
                obj = [];
                if (response.data.length == 0) {
                    //insert empty row

                    var colspan = grid.thead.find("th").length;
                    var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
                    grid.tbody.html(emptyRow);

                    //workarounds for IE lt 9
                    //this.table.width(800);
                    //$(".k-grid-content").width(2 * kendo.support.scrollbar());
                    //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

                    //workarounds for IE lt 9
                    grid.table.width(800);
                    $("#gridSearchPatch div.k-grid-content").height(3 * kendo.support.scrollbar());
                }
                else {
                    // $("#gridOverviewStatus div.k-grid-content").height("auto");
                    $('#gridSearchPatch div.k-grid-content').height("auto");
                    $('#gridSearchPatch div.k-grid-content').css("max-height", "350px");
                    $('#gridSearchPatch div.k-grid-content-locked').height("auto");
                    $('#gridSearchPatch div.k-grid-content-locked').css("max-height", "350px");
                }
                TempFilename = response.Filename;
                $("#txtfilename").text("@L_Import_File : " + response.Filename);
                $("#filename").attr("style", "font-size:16px;");
                $("#txtresult_sn_status").text("@L_Serial_Status " + (response.SN_Status === "undefined" ? "0" : response.SN_Status) + " รายการ");
                $("#result_sn_status").attr("style", "font-size:16px;color:red;");

                $("#Export_Template_PatchData").attr("disabled", "disabled");
                $("#PatchByFile").attr("disabled", "disabled");
                $("#Patch").attr("disabled", "disabled");
                $("#btnExportTable").attr("style", "");
                $("#btnCancelTable").attr("style", "");
                $("#btnConfirmTable").attr("style", "");
                Loading(0);
            }
        });
    }

    function ValidationUpdateScmStatusbyFileValue() {
        var error = true;


        if ($("#validatefor-Patchbyfile").html()) {
            error = false;
        }

        if (!$(".k-filename").text()) {
            $("#validatefor-Patchbyfile").html(ValidationIcon() + "Please upload file.");
            error = false;
        }

        return error;
    }

    function formatDate(OrderDate) {
        if (OrderDate != null) {
            var d = new Date(OrderDate);
            //d.setUTCHours(17);
            //var b = new Date(OrderDate + '+07:00');
            var formatedOrderDate = kendo.format("{0:dd/MM/yyyy}", d);
            //return String.format("{0}{1}{2}", d.getDay(), d.getMonth(), d.getYear());
            return formatedOrderDate;
        } else return "";

    }

    // defaultData Serach PatchData
    function defaultData() {
        var PatchDataModel = new DataModel();
        PatchDataModel.InternetNo = $("#txtInternetNo").val() == '' ? 'ALL' : $("#txtInternetNo").val();
        PatchDataModel.PatchStatus = $("#txtStatus").val();
        PatchDataModel.SerialNo = $("#txtSN").val() == '' ? 'ALL' : $("#txtSN").val();
        PatchDataModel.FileName = $("#txtFileName").val() == '' ? 'ALL' : $("#txtFileName").val();
        PatchDataModel.CreateDateFrom = formatDate(kendo.parseDate($("#dtpRVDateFrom").val(), "dd/MM/yyyy"));
        PatchDataModel.CreateDateTo = formatDate(kendo.parseDate($("#dtpRVDateTo").val(), "dd/MM/yyyy"));
        PatchDataModel.Flag = "SEARCH";
        return PatchDataModel;
    }

    var state = false;
    function SearchPatchData() {
        state = false;
        const DataCriteria = defaultData();
        console.log(DataCriteria);
        Loading();

        ObjData = null;
        $.ajax({
                type: "POST",
            data: DataCriteria,
            url: "/PatchCPE/Binding_Data_Search",
                async: true,
                success: function (response) {
                    //console.log(response);

                    //Search Data and Binding After insert by excel

                    $("#gridSearchPatch").empty();
                    $("#gridSearchPatch").kendoGrid({
                        dataSource: {
                            pageSize: 20
                        },
                        //height: 400,
                        scrollable: true,
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: [20, 50, 100],
                            buttonCount: 5,
                            numeric: true
                        },
                        resizable: {
                            columns: true
                        },
                        columns: [
                            {
                                field: '<input type="checkbox" onclick="ToggleChkBox(this.checked)" id="selectall" >',
                                template: '#if(PATCH_STATUS == "CANCEL")  {# <input type="checkbox" onclick="grdChkBoxClick(this)" value="#=SERIAL_NO#|#=FILE_NAME#" /> # }#',
                                width: 50,
                                sortable: false,
                                //locked: true,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "NO",
                                title: "@C_No",
                                width: 50,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "INTERNET_NO",
                                title: "@C_INTERNET_NO",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "SERIAL_NO",
                                title: "@C_SN",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "SERIAL_STATUS",
                                title: "@C_SN_STATUS",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "FOA_CODE",
                                title: "@C_FOACODE",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "SUBMIT_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(SUBMIT_DATE), "dd/MM/yyyy") #',
                                title: "@C_SUBMIT_DATE",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "POST_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(POST_DATE), "dd/MM/yyyy") #',
                                title: "@C_Import_POSTINGDATE",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "MOVEMENT_TYPE",
                                title: "@C_MOVEMENT_TYPE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }
                            , {
                                field: "PATCH_STATUS",
                                title: "@C_STATUS",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            },
                            {
                                field: "PATCH_STATUS_DESC",
                                title: "@C_REMARK",
                                width: 250,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-left" },
                            }, {
                                field: "FILE_NAME",
                                title: "@C_FILE_NAME",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "CREATE_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(CREATE_DATE), "dd/MM/yyyy") #',
                                title: "@C_CREATED_DATE",
                                width: 125,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                            field: "ACTION",
                            template: '# if(PATCH_STATUS == "CANCEL" || PATCH_STATUS == "PENDING" || PATCH_STATUS == "PENDING_NEWREGIST") {#<a class="k-button k-button-icontext k-grid-Edit" onclick="EditSNError(this);"><i class="fa fa-pencil-square-o fa-lg"></i></a>#}#',
                            title: "@C_ACTION",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                        }
                        ]
                    });

                    $("#gridSearchPatch").data("kendoGrid").dataSource.data(response);
                    var grid = $("#gridSearchPatch").data("kendoGrid");
                    //grid_dataBound(response)
                    var pager = grid.pager;
                    pager.bind('change', pagechange);
                    grid.one("dataBound", function (e) {
                        var grid = e.sender;
                        var pageSizesDdl = $(grid.pager.element).find("[data-role='dropdownlist']").data("kendoDropDownList");
                        pageSizesDdl.bind("change", function (ev) {
                            pagechange();
                        });
                    });

                    //console.log(response);
                    if (typeof response === 'undefined') {

                        showFeedback("error", "Error, Please contact System Admin", "System Information");
                    } else {
                        if (response.length == 0) {
                            //insert empty row

                            var colspan = grid.thead.find("th").length;
                            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
                            grid.tbody.html(emptyRow);

                            //workarounds for IE lt 9
                            //this.table.width(800);
                            //$(".k-grid-content").width(2 * kendo.support.scrollbar());
                            //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

                            //workarounds for IE lt 9
                            grid.table.width(800);
                            $("#gridSearchPatch div.k-grid-content").height(3 * kendo.support.scrollbar());
                        }
                        else {
                            // $("#gridOverviewStatus div.k-grid-content").height("auto");
                            $('#gridSearchPatch div.k-grid-content').height("auto");
                            $('#gridSearchPatch div.k-grid-content').css("max-height", "350px");
                            $('#gridSearchPatch div.k-grid-content-locked').height("auto");
                            $('#gridSearchPatch div.k-grid-content-locked').css("max-height", "350px");
                        }
                    }


                    $("#Export_Template_PatchData").removeAttr("disabled");
                    $("#PatchByFile").removeAttr("disabled");

                    $("#filename").attr("style", "font-size:16px;display:none");
                    $("#result_sn_status").attr("style", "font-size:16px;color:red;display:none");
                    $("#btnExportTable").attr("style", "display:none");
                    $("#btnCancelTable").attr("style", "display:none");
                    $("#btnConfirmTable").attr("style", "display:none");
                    document.getElementById("Patch").disabled = true;
                    $("#Patch").attr("disabled", "disabled");
                    Loading(0);
                }
        });

    }

    function pagechange() {
        /* The result can be observed in the DevTools(F12) console of the browser. */
        grid_dataBound(ObjData);
    }

    function grid_dataBound(e) {
        var temp = new Array();
        //checkbox
        //console.log(ObjData)
        if (ObjData === null || ObjData === 'undefined') {
        } else {
            if (ObjData.length != 0) {
                var inputs = document.getElementsByTagName("input");
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].id == "selectall") {
                        inputs[i].checked = ObjData.isFull;
                    }
                    if (inputs[i].type === "checkbox" && inputs[i].id != "selectall") {
                        for (var j = 0; j < ObjData.Data.length; j++) {
                            if (inputs[i].value === ObjData.Data[j].SERIAL_NO + "|" + ObjData.Data[j].FILE_NAME) {
                                inputs[i].checked = true;
                            } 
                        }
                    }
                }
            }
        }
    }

    function grdChkBoxClick(flag) {
        var inputs = document.getElementsByTagName("input");
        var checkAll_was_check;
        for (var i = 0; i < inputs.length; i++) {

            if (inputs[i].id == "selectall") {
                checkAll_was_check = inputs[i].checked;
                break;
            }
        }

        const DataCriteria = defaultData();
        $.ajax({
                type: "POST",
            data: DataCriteria,
            url: "/PatchCPE/Bind_Data_Session",
                async: false,
                success: function (response) {
                }
        });

        $.ajax({
            type: "POST",
            data: { check: flag.checked, SN: flag.value, checkAll_was_check: checkAll_was_check},
            url: "/PatchCPE/Get_Data_SNList",
            async: true,
            success: function (response) {
                //console.log(response);
                Loading(0);
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].id == "selectall") {
                        inputs[i].checked = response.isFull;
                        break;
                    }
                }
                ObjData = response;
                if (ObjData.Data.length != 0) {
                    document.getElementById("Patch").disabled = false;
                    $("#Patch").removeAttr("disabled");
                } else {
                    document.getElementById("Patch").disabled = true;
                    $("#Patch").attr("disabled", "disabled");
                }
            }
        });
    }

    //event button check all
    function ToggleChkBox(flag) {
        $.ajax({
            type: "POST",
            data: { check: flag, SN: "ALL"},
            url: "/PatchCPE/Get_Data_SNList",
            async: false,
            success: function (response) {
                Loading(0);
                var inputs = document.getElementsByTagName("input");
                state = flag;
                if (state == true) {
                    //check all = true
                    ObjData = response;

                    $('.chkbxq').prop('checked', true);
                    for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].type == "checkbox") {
                            inputs[i].checked = state;
                            // This way it won't flip flop them and will set them all to the same value which is passed into the function
                        }
                    }
                }
                else {
                    //check all = false
                    ObjData = null;
                    $('.chkbxq').prop('checked', false);
                    for (var i = 0; i < inputs.length; i++) {
                        if (inputs[i].type == "checkbox") {
                            inputs[i].checked = state;
                            // This way it won't flip flop them and will set them all to the same value which is passed into the function
                        }
                    }
                }

                //check disabled button patch
                //console.log(ObjData)
                var checkbtn = false;
                if (ObjData != null) {
                    checkbtn = true;
                }

                if (checkbtn) {
                    document.getElementById("Patch").disabled = false;
                    $("#Patch").removeAttr("disabled");
                } else {
                    document.getElementById("Patch").disabled = true;
                    $("#Patch").attr("disabled", "disabled");
                }
            }
        });
    }

    function NeedSendMail() {
        if ($("#DDLEmail").val() == "Y") {
            $("#div_TxtEmail").show();
            $("#valid_txtEmail").show();
        } else {
            $("#div_TxtEmail").hide();
            $("#valid_txtEmail").hide();
        }
    }

    function InsertDataFromExcel() {
        resetPatch();
        $("#PatchData > div > div.form-group > div > div.k-widget.k-upload.k-header.k-upload-empty > div > div > span").text("@POPUP_B_Select_File_Patch");
        $("#DDLEmail").kendoDropDownList({
            change: NeedSendMail,
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "ไม่ประสงค์แจ้งเตือนอีเมล์", value: "N" },
                { text: "ประสงค์แจ้งเตือนอีเมล์", value: "Y" }
            ]
        });
        $("#PatchData").data("kendoWindow").open();
        $("#PatchData").data("kendoWindow").center();
    }

    function SubmitPatch() {
        var _email = "";
        var can_submit = false;
        if ($("#DDLEmail").val() == "Y" && $("#TxtEmail").val() != "") {
            _email = $("#TxtEmail").val();
            can_submit = true;
        } else if ($("#DDLEmail").val() == "N") {
            _email = "";
            can_submit = true;
        }
        if (can_submit) {
            Loading();
            document.getElementById("TxtEmail").style.border = "solid 1px #bababa";
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({ "_email": _email }),
                url: "/PatchCPE/InsertDataByFile",
                //dataType: "json",
                async: true,
                success: function (response) {
                    //Search Data and Binding After insert by excel
                    $("#gridSearchPatch").empty();
                    $("#gridSearchPatch").kendoGrid({
                        dataSource: {
                            pageSize: 20
                        },
                        //height: 400,
                        scrollable: true,
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: [20, 50, 100],
                            buttonCount: 5,
                            numeric: true
                        },
                        resizable: {
                            columns: true
                        },
                       columns: [
                            {
                               field: '<input type="checkbox" onclick="ToggleChkBox(this.checked)" id="selectall" >',
                               template: '#if(PATCH_STATUS == "CANCEL")  {# <input type="checkbox" onclick="grdChkBoxClick(this)" value="#=SERIAL_NO#|#=FILE_NAME#" /> # }#',
                                width: 50,
                                sortable: false,
                                //locked: true,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "NO",
                                title: "@C_No",
                                width: 50,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "INTERNET_NO",
                                title: "@C_INTERNET_NO",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "SERIAL_NO",
                                title: "@C_SN",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "SERIAL_STATUS",
                                title: "@C_SN_STATUS",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "FOA_CODE",
                                title: "@C_FOACODE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                               field: "SUBMIT_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(SUBMIT_DATE), "dd/MM/yyyy") #',
                                title: "@C_SUBMIT_DATE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                               field: "POST_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(POST_DATE), "dd/MM/yyyy") #',
                                title: "@C_Import_POSTINGDATE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "MOVEMENT_TYPE",
                                title: "@C_MOVEMENT_TYPE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }
                            , {
                                field: "PATCH_STATUS",
                                title: "@C_STATUS",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            },
                            {
                                field: "PATCH_STATUS_DESC",
                                title: "@C_REMARK",
                                width: 250,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-left" },
                            }, {
                                field: "FILE_NAME",
                                title: "@C_FILE_NAME",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                                field: "CREATE_DATE",
                                //template: '#= kendo.toString(kendo.parseDate(CREATE_DATE), "dd/MM/yyyy") #',
                                title: "@C_CREATED_DATE",
                                width: 150,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { class: "text-center" },
                            }, {
                            field: "ACTION",
                            template: '# if(PATCH_STATUS == "CANCEL" || PATCH_STATUS == "PENDING" || PATCH_STATUS == "PENDING_NEWREGIST") {#<a class="k-button k-button-icontext k-grid-Edit" onclick="EditSNError(this);"><i class="fa fa-pencil-square-o fa-lg"></i></a>#}#',
                            title: "@C_ACTION",
                            width: 150,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { class: "text-center" },
                        }
                        ]
                    });

                    //ObjData = response;
                    $("#gridSearchPatch").data("kendoGrid").dataSource.data(response.Data);

                    var grid = $("#gridSearchPatch").data("kendoGrid");

                    //grid_dataBound(response)
                    var pager = grid.pager;
                    pager.bind('change', pagechange);

                    grid.one("dataBound", function (e) {
                        var grid = e.sender;
                        var pageSizesDdl = $(grid.pager.element).find("[data-role='dropdownlist']").data("kendoDropDownList");
                        pageSizesDdl.bind("change", function (ev) {
                            pagechange();
                        });
                    });

                    $('#selectall').prop('checked', false);
                    Loading(0);
                    if (response.ret_code === 0 || response.ret_code === "0") {
                        //resetPatchUpload();
                        resetPatch();
                        showFeedback("success", response.ret_msg === "" ? "Success" : response.ret_msg, "System Information");
                        if (response.Data.length == 0) {
                            //insert empty row

                            var colspan = grid.thead.find("th").length;
                            var emptyRow = "<tr><td colspan='" + colspan + "'>&nbsp;&nbsp;&nbsp;&nbsp;ไม่พบข้อมูล</td></tr>";
                            grid.tbody.html(emptyRow);

                            //workarounds for IE lt 9
                            //this.table.width(800);
                            //$(".k-grid-content").width(2 * kendo.support.scrollbar());
                            //$("#gridOverviewStatus div.k-grid-content").height(3 * kendo.support.scrollbar());

                            //workarounds for IE lt 9
                            grid.table.width(800);
                            $("#gridSearchPatch div.k-grid-content").height(3 * kendo.support.scrollbar());
                        }
                        else {
                            // $("#gridOverviewStatus div.k-grid-content").height("auto");
                            $('#gridSearchPatch div.k-grid-content').height("auto");
                            $('#gridSearchPatch div.k-grid-content').css("max-height", "350px");
                            $('#gridSearchPatch div.k-grid-content-locked').height("auto");
                            $('#gridSearchPatch div.k-grid-content-locked').css("max-height", "350px");
                        }
                    } else {
                        resetPatch();
                        showFeedback("error", response.ret_msg === "" ? "Error. Please contact System Admin" : response.ret_msg, "System Information");
                    }
                }
            });




            $("#Export_Template_PatchData").removeAttr("disabled");
            $("#PatchByFile").removeAttr("disabled");
            $("#Patch").removeAttr("disabled");

            $("#filename").attr("style", "font-size:16px;display:none");
            $("#result_sn_status").attr("style", "font-size:16px;color:red;display:none");
            $("#btnExportTable").attr("style", "display:none");
            $("#btnCancelTable").attr("style", "display:none");
            $("#btnConfirmTable").attr("style", "display:none");
        } else {
            document.getElementById("TxtEmail").style.border = "solid 1px #e07070";
            $("#valid_inputtxtEmail").show();
        }
    }

    //Update Force Complete
    var PatchSNDataModel = new DataModel();
    function EditSNError() {
        var grid = $('#gridSearchPatch').data("kendoGrid");
        $(grid.tbody).on("click", "td", function (e) {
            var row = $(this).closest("tr");
            var curRowIdx = $("tr", grid.tbody).index(row);
            var colIdx = $("td", row).index(this);
            var item = grid.dataItem(row);
            console.log(item)
            PatchSNDataModel.PatchStatus = "COMPLETE";
            PatchSNDataModel.SerialNo = item.SERIAL_NO;
            PatchSNDataModel.SerialStatus = item.SERIAL_STATUS;
            PatchSNDataModel.FileName = item.FILE_NAME;
        });
        $("#EditSNError").data("kendoWindow").center().open();
    }

    function SubmitForceUpdate(mode) {

        if (mode == "list") {
            var DataModel = function () {
                FILE_NAME: "";
                SERIAL_NO: "";
                PATCH_STATUS: "";
            }

            console.log(ObjData)

            var obj = new Array();
            if (ObjData !== null || ObjData !== 'undefined') {
                for (var i = 0; i < ObjData.Data.length; i++) {
                    var DataModel = function () {
                        FILE_NAME: "";
                        SERIAL_NO: "";
                        PATCH_STATUS: "";
                    }
                    var Model = new DataModel();
                    Model.FILE_NAME = ObjData.Data[i].FILE_NAME;
                    Model.SERIAL_NO = ObjData.Data[i].SERIAL_NO;
                    Model.PATCH_STATUS = "PENDING";
                    obj.push(Model);
                }
            }

            //console.log(obj);
            if (obj.length != 0) {
                Loading();
                $.ajax({
                    type: "POST",
                    url: "/PatchCPE/UpdateSNErrorList",
                    data: { DataModel: JSON.stringify(obj) },
                    dataType: 'json',
                    async: true,
                    success: function (response) {
                        SearchPatchData();
                        Loading(0);
                        if (response.ret_code === 0 || response.ret_code === "0") {
                            resetPatch();
                            showFeedback("success", response.ret_msg === "" ? "Success" : response.ret_msg, "System Information");
                        } else {
                            resetPatch();
                            showFeedback("error", response.ret_msg, "System Information");
                        }
                        Search_Data = null;
                        ObjData = null;
                        obj = [];
                        //SearchPatchData();
                        document.getElementById("Patch").disabled = true;
                        $("#Patch").attr("disabled", "disabled");
                    }
                });
            }
        } else {
            $.ajax({
                type: "POST",
                data: PatchSNDataModel,
                url: "/PatchCPE/UpdateSNError",
                async: true,
                success: function (response) {
                    SearchPatchData();
                    Loading(0);
                    if (response.ret_code === 0 || response.ret_code === "0") {
                        resetPatch();
                        showFeedback("success", response.ret_msg === "" ? "Success" : response.ret_msg, "System Information");
                    } else {
                        resetPatch();
                        showFeedback("error", response.ret_msg, "System Information");
                    }
                    Search_Data = null;
                    ObjData = null;
                    obj = [];
                }
            });
        }

        $('#selectall').prop('checked', false);
            $("#Export_Template_PatchData").removeAttr("disabled");
            $("#PatchByFile").removeAttr("disabled");
            $("#Patch").removeAttr("disabled");

            $("#filename").attr("style", "font-size:16px;display:none");
            $("#result_sn_status").attr("style", "font-size:16px;color:red;display:none");
            $("#btnExportTable").attr("style", "display:none");
            $("#btnCancelTable").attr("style", "display:none");
            $("#btnConfirmTable").attr("style", "display:none");
    }

</script>