@model WBBEntity.PanelModels.LeavemessageIPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels
@{
    Layout = "~/Views/Shared/_NewLayoutReferencesLeaveMessageI.cshtml";

    string FullUrl = "";
    string UrlRef = "";
    string SaveStatus = "";
    string RefNo = "";
    string LeaveMessagePic = "";

    if (ViewBag.FullUrl != null)
    {
        FullUrl = ViewBag.FullUrl;
    }

    if (ViewBag.UrlRef != null)
    {
        UrlRef = ViewBag.UrlRef;
    }

    if (null != ViewBag.SaveStatus)
    {
        SaveStatus = ViewBag.SaveStatus;
        ViewBag.SaveStatus = null;
    }
    else
    {
        SaveStatus = "";
    }

    if (null != ViewBag.RefNo)
    {
        RefNo = ViewBag.RefNo;
        ViewBag.RefNo = null;
    }
    else
    {
        RefNo = "";
    }

    if (ViewBag.LeaveMessagePic != null)
    {
        LeaveMessagePic = "data:image/png;base64," + ViewBag.LeaveMessagePic;
    }

    string L_LEAVE_MESSAGE_I = "";
    string L_SELECT_SERVICE_I = "";
    string L_NAME_I = "";
    string L_SURNAME_I = "";
    string L_CONTACT_MOBILE_I = "";
    string L_EMAIL_I = "";
    string L_INSTALL_ADDRESS_I = "";
    string L_PROVINCE_I = "";
    string L_DISTRICT_I = "";
    string L_SUB_DISTRICT_I = "";
    string L_POSTAL_CODE_I = "";
    string L_SELECT_ADDRESS_TYPE_I = "";
    string L_BUILDING_I = "";
    string L_VILLAGE_I = "";
    string L_BUILDING_NAME_I = "";
    string L_VILLAGE_NAME_I = "";
    string L_HOUSE_NO_I = "";
    string L_SOI_I = "";
    string L_ROAD_I = "";
    string L_CONTACT_TIME_I = "";
    string L_ENTER_WORD_I = "";
    string B_CLEAR_I = "";
    string B_REGISTER_I = "";
    string L_PLEASE_SELECT_I = "";
    string L_POPUP_SUCCESS_I = "";
    string L_POPUP_ERROR_I = "";
    string B_CLOSE_I = "";
    string H_TYPE_BUILDING_I = "";
    string L_TYPE_MY_HOME_I = "";
    string L_TYPE_RENTAL_I = "";
    string L_MESSAGE_ERROR_RENTAL_I = "";
    string L_SERVICE_LEAVEMESSAGE_I = "";
    string L_MESSAGE_ERROR_EMAIL_I = "";

    if (ViewBag.LabelFBBOR026 != null)
    {
        var labelFbbor026 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR026;

        L_LEAVE_MESSAGE_I = labelFbbor026.Any(c => c.Name == "L_LEAVE_MESSAGE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_LEAVE_MESSAGE_I").DisplayValue : "";
        L_SELECT_SERVICE_I = labelFbbor026.Any(c => c.Name == "L_SELECT_SERVICE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SELECT_SERVICE_I").DisplayValue : "";
        L_NAME_I = labelFbbor026.Any(c => c.Name == "L_NAME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_NAME_I").DisplayValue : "";
        L_SURNAME_I = labelFbbor026.Any(c => c.Name == "L_SURNAME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SURNAME_I").DisplayValue : "";
        L_CONTACT_MOBILE_I = labelFbbor026.Any(c => c.Name == "L_CONTACT_MOBILE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_CONTACT_MOBILE_I").DisplayValue : "";
        L_EMAIL_I = labelFbbor026.Any(c => c.Name == "L_EMAIL_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_EMAIL_I").DisplayValue : "";

        L_INSTALL_ADDRESS_I = labelFbbor026.Any(c => c.Name == "L_INSTALL_ADDRESS_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_INSTALL_ADDRESS_I").DisplayValue : "";

        L_PROVINCE_I = labelFbbor026.Any(c => c.Name == "L_PROVINCE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_PROVINCE_I").DisplayValue : "";
        L_DISTRICT_I = labelFbbor026.Any(c => c.Name == "L_DISTRICT_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_DISTRICT_I").DisplayValue : "";
        L_SUB_DISTRICT_I = labelFbbor026.Any(c => c.Name == "L_SUB_DISTRICT_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SUB_DISTRICT_I").DisplayValue : "";
        L_POSTAL_CODE_I = labelFbbor026.Any(c => c.Name == "L_POSTAL_CODE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_POSTAL_CODE_I").DisplayValue : "";
        L_SELECT_ADDRESS_TYPE_I = labelFbbor026.Any(c => c.Name == "L_SELECT_ADDRESS_TYPE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SELECT_ADDRESS_TYPE_I").DisplayValue : "";
        L_BUILDING_I = labelFbbor026.Any(c => c.Name == "L_BUILDING_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_BUILDING_I").DisplayValue : "";
        L_VILLAGE_I = labelFbbor026.Any(c => c.Name == "L_VILLAGE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_VILLAGE_I").DisplayValue : "";
        L_BUILDING_NAME_I = labelFbbor026.Any(c => c.Name == "L_BUILDING_NAME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_BUILDING_NAME_I").DisplayValue : "";
        L_VILLAGE_NAME_I = labelFbbor026.Any(c => c.Name == "L_VILLAGE_NAME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_VILLAGE_NAME_I").DisplayValue : "";
        L_HOUSE_NO_I = labelFbbor026.Any(c => c.Name == "L_HOUSE_NO_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_HOUSE_NO_I").DisplayValue : "";
        L_SOI_I = labelFbbor026.Any(c => c.Name == "L_SOI_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SOI_I").DisplayValue : "";
        L_ROAD_I = labelFbbor026.Any(c => c.Name == "L_ROAD_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_ROAD_I").DisplayValue : "";
        L_CONTACT_TIME_I = labelFbbor026.Any(c => c.Name == "L_CONTACT_TIME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_CONTACT_TIME_I").DisplayValue : "";
        L_ENTER_WORD_I = labelFbbor026.Any(c => c.Name == "L_ENTER_WORD_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_ENTER_WORD_I").DisplayValue : "";
        B_CLEAR_I = labelFbbor026.Any(c => c.Name == "B_CLEAR_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "B_CLEAR_I").DisplayValue : "";
        B_REGISTER_I = labelFbbor026.Any(c => c.Name == "B_REGISTER_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "B_REGISTER_I").DisplayValue : "";
        L_PLEASE_SELECT_I = labelFbbor026.Any(c => c.Name == "L_PLEASE_SELECT_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_PLEASE_SELECT_I").DisplayValue : "";
        L_POPUP_SUCCESS_I = labelFbbor026.Any(c => c.Name == "L_POPUP_SUCCESS_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_POPUP_SUCCESS_I").DisplayValue : "";
        L_POPUP_ERROR_I = labelFbbor026.Any(c => c.Name == "L_POPUP_ERROR_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_POPUP_ERROR_I").DisplayValue : "";
        B_CLOSE_I = labelFbbor026.Any(c => c.Name == "B_CLOSE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "B_CLOSE_I").DisplayValue : "";

        H_TYPE_BUILDING_I = labelFbbor026.Any(c => c.Name == "H_TYPE_BUILDING_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "H_TYPE_BUILDING_I").DisplayValue : "";
        L_TYPE_MY_HOME_I = labelFbbor026.Any(c => c.Name == "L_TYPE_MY_HOME_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_TYPE_MY_HOME_I").DisplayValue : "";
        L_TYPE_RENTAL_I = labelFbbor026.Any(c => c.Name == "L_TYPE_RENTAL_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_TYPE_RENTAL_I").DisplayValue : "";
        L_MESSAGE_ERROR_RENTAL_I = labelFbbor026.Any(c => c.Name == "L_MESSAGE_ERROR_RENTAL_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_MESSAGE_ERROR_RENTAL_I").DisplayValue : "";
        L_SERVICE_LEAVEMESSAGE_I = labelFbbor026.Any(c => c.Name == "L_SERVICE_LEAVEMESSAGE_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_SERVICE_LEAVEMESSAGE_I").DisplayValue : "";
        L_MESSAGE_ERROR_EMAIL_I = labelFbbor026.Any(c => c.Name == "L_MESSAGE_ERROR_EMAIL_I") ? labelFbbor026.FirstOrDefault(c => c.Name == "L_MESSAGE_ERROR_EMAIL_I").DisplayValue : "";
    }

    string FBB_Con_CharNotonName = "";
    string FBB_Input_MobileNo = "";
    string FBB_Con_Input_Mooban = "";
    string FBB_Con_Input_Building = "";
    string FBB_Con_Input_Home_Number = "";
    string FBB_Con_Input_Soi = "";
    string FBB_Con_Input_Road = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;

        FBB_Con_CharNotonName = FbbConstant.Any(f => f.Field == "Char Not on Name") ? FbbConstant.First(f => f.Field == "Char Not on Name").Validation : "";
        FBB_Input_MobileNo = FbbConstant.Any(f => f.Field == "Input_MobileNo") ? FbbConstant.First(f => f.Field == "Input_MobileNo").Validation : "";
        FBB_Con_Input_Mooban = FbbConstant.Any(f => f.Field == "Input_Mooban") ? FbbConstant.First(f => f.Field == "Input_Mooban").Validation : "";
        FBB_Con_Input_Building = FbbConstant.Any(f => f.Field == "Input_Building") ? FbbConstant.First(f => f.Field == "Input_Building").Validation : "";
        FBB_Con_Input_Home_Number = FbbConstant.Any(f => f.Field == "Input_Home_Number") ? FbbConstant.First(f => f.Field == "Input_Home_Number").Validation : "";
        FBB_Con_Input_Soi = FbbConstant.Any(f => f.Field == "Input_Soi") ? FbbConstant.First(f => f.Field == "Input_Soi").Validation : "";
        FBB_Con_Input_Road = FbbConstant.Any(f => f.Field == "Input_Road") ? FbbConstant.First(f => f.Field == "Input_Road").Validation : "";
    }

    string language = "";

    if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
    {
        language = "th";
    }
    else
    {
        language = "en";
    }
}

@using (Html.BeginForm("SaveRegisterII", "Leavemessage", FormMethod.Post, new { id = "RegisterForm", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <h4 class="page-header tgreen">@L_LEAVE_MESSAGE_I</h4>
    <div>
        <div class=" col-xs-12 col-sm-12">
            @Html.Label("L_SELECT_SERVICE", L_SELECT_SERVICE_I)
            <div class="clear-fix"></div>
            <h4 class="page-header tgreen"><b>@L_SERVICE_LEAVEMESSAGE_I</b></h4>
            @Html.Hidden("SELECT_SERVICE", L_SERVICE_LEAVEMESSAGE_I)
            @Html.Hidden("FULL_URL", @FullUrl)
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_NAME", L_NAME_I)
            @Html.TextBoxFor(m => m.NAME, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_NAME_I,
                            @maxlength = 50
                        })
        </div>
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_SURNAME", L_SURNAME_I)
            @Html.TextBoxFor(m => m.SURNAME, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_SURNAME_I,
                            @maxlength = 50
                        })
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_CONTACT_MOBILE", L_CONTACT_MOBILE_I)
            @Html.TextBoxFor(m => m.CONTACT_MOBILE, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_CONTACT_MOBILE_I,
                            @maxlength = 10
                        })
            @Html.HiddenFor(m => m.MOBILE_IS_AIS)
        </div>
        <div class="col-xs-2 col-sm-2">
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <div id="IsAIS" style="display: none;">
                <img src="~/Images/is_ais.png" alt="" style="max-width: none !important; width: 30px; height: 30px; color: white;">
            </div>
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_EMAIL", L_EMAIL_I)
            @Html.TextBoxFor(m => m.EMAIL, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_EMAIL_I,
                            @maxlength = 50
                        })
        </div>
        <p class="clearfix"></p>

        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            <div class="short-div">@Html.Label("L_INSTALL_ADDRESS", L_INSTALL_ADDRESS_I)</div>
            <p class="clearfix"></p>
            <div class="short-div">@Html.Label("L_SELECT_ADDRESS_TYPE", L_SELECT_ADDRESS_TYPE_I)</div>
            <div class="short-div">
                <label for="R_BUILD">
                    @L_BUILDING_I
                    <input type="radio" name="R_BUILD" id="R_BUILD" value="B" onclick="onBuildChange()">
                </label>
                &nbsp;&nbsp;
                    <label for="R_MOOBAN">
                        @L_VILLAGE_I
                        <input type="radio" name="R_BUILD" id="R_MOOBAN" value="V" onclick="onBuildChange()">
                    </label>
                @Html.HiddenFor(m => m.SELECT_ADDRESS_TYPE)
            </div>
            <p class="clearfix"></p>
            <div class="short-div">@Html.Label("H_TYPE_BUILDING", H_TYPE_BUILDING_I)</div>
            <div class="short-div">
                <label for="R_TYPE_MY_HOME">
                    @L_TYPE_MY_HOME_I
                    <input type="radio" name="R_TYPE_BUILD" id="R_TYPE_MY_HOME" value="N" onclick="onTypeBuildChange()">
                </label>
                &nbsp;&nbsp;
                <label for="R_TYPE_RENTAL">
                    @L_TYPE_RENTAL_I
                    <input type="radio" name="R_TYPE_BUILD" id="R_TYPE_RENTAL" value="Y" onclick="onTypeBuildChange()">
                </label>
                @Html.HiddenFor(m => m.SELECT_TYPE_BUILD)
            </div>
            <p class="clearfix"></p>
            <div class="short-div">
                <div id="divCondo">
                    @Html.Label("L_BUILDING_NAME", L_BUILDING_NAME_I)
                </div>
                <div id="divMoban" style="display: none;">
                    @Html.Label("L_VILLAGE_NAME", L_VILLAGE_NAME_I)
                </div>
                @Html.TextBoxFor(m => m.BUILDING, "",
                        new
                        {
                            @class = "form-control",
                            @maxlength = 50
                        })
            </div>
        </div>

        <div class="col-xs-10 col-sm-7">
        </div>

        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_PROVINCE", L_PROVINCE_I)
            <select class="select" style="width: 100%" id="PROVINCE" name="PROVINCE" onchange="onProvinceChange()">
                <option disabled selected value="">@L_PROVINCE_I</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_DISTRICT", L_DISTRICT_I)
            <select class="select" style="width: 100%" id="DISTRICT" name="DISTRICT" onchange="onAmphurChange()">
                <option disabled selected value="">@L_DISTRICT_I</option>
            </select>
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_SUB_DISTRICT", L_SUB_DISTRICT_I)
            <select class="select" style="width: 100%" id="SUB_DISTRICT" name="SUB_DISTRICT" onchange="onTumbolChange()">
                <option disabled selected value="">@L_SUB_DISTRICT_I</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_POSTAL_CODE", L_POSTAL_CODE_I)
            <select class="select" style="width: 100%" id="POSTAL_CODE" name="POSTAL_CODE" onchange="onZipCodeChange()">
                <option disabled selected value="">@L_POSTAL_CODE_I</option>
            </select>
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_HOUSE_NO", L_HOUSE_NO_I)
            @Html.TextBoxFor(m => m.HOUSE_NO, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_HOUSE_NO_I,
                            @maxlength = 50
                        })
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_SOI", L_SOI_I)
            @Html.TextBoxFor(m => m.SOI, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_SOI_I,
                            @maxlength = 50
                        })
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10  col-sm-5">
            @Html.Label("L_ROAD", L_ROAD_I)
            @Html.TextBoxFor(m => m.ROAD, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_ROAD_I,
                            @maxlength = 50
                        })

            <p class="clearfix"></p>

            @Html.Label("L_CONTACT_TIME", L_CONTACT_TIME_I)
            <select class="select" style="width: 100%" id="CONTACT_TIME" name="CONTACT_TIME">
            </select>

            <p class="clearfix"></p>
            @Html.Label("L_ENTER_WORD", L_ENTER_WORD_I)
            <input type="text" id="defaultReal" name="defaultReal" class="form-control">
        </div>
        <div class="col-xs-10 col-sm-7">
            <img src='@LeaveMessagePic' class="pull-right img-responsive" style="padding-top: 25px;" />
            @*@if (language == "th")
            {
                <img src="../../Images/AISFIBRE_600_I_TH.jpg" class="pull-right img-responsive" style="padding-top: 25px;" />
            }
            else
            {
                <img src="../../Images/AISFIBRE_600_I_EN.jpg" class="pull-right img-responsive" style="padding-top: 25px;" />
            }*@
        </div>
        <p class="clearfix"></p>
    </div>
    <p class="clearfix"></p>
    
    <p class="clearfix"></p>
    <p class="clearfix page-header"></p>

    <div class="col-md-12 text-center">
        <a class="btn btn-default btn-for-xs" role="button" style="color: #8DC63F;" onclick="Clear()">@B_CLEAR_I</a>
        <a class="btn btn-success rippler rippler-default btn-for-xs" role="button" onclick="Register();">@B_REGISTER_I</a>
    </div>
    <p class="clearfix"></p>
    <p class="clearfix"></p>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal001_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Clear()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="add-border-rounded-green">
                        <p class="clearfix"></p>
                        <h5 id="modal001txt" class="text-center">
                            <span id="LastPopupMessage"></span>
                        </h5>
                        <p class="clearfix"></p>
                        <div class="col-md-12 text-center">
                            <p class="clearfix"></p>
                            <button type="button" id="modal001btn" class="btn btn-default" data-dismiss="modal" onclick="Clear()">&nbsp; @B_CLOSE_I &nbsp; </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var language = "";
    language = "@language";

    var digitalData = {};
    digitalData.page = {};
    digitalData.page.pageInfo = {};

    var validateModel = new Array();

    $(document).ready(function () {

        var saveStatus = '@SaveStatus';

        if (saveStatus != '') {

            digitalData.page = {
                pageInfo: {
                    pageName: "Leavemessage:" + language + ":LeavemessageSave",
                    site: "newfibre",
                    language: language
                },
                category: {
                    pageType: "content page",
                    primaryCategory: "newfibre:" + language + ":LeavemessageSave",
                    subCategory1: "",
                    subCategory2: ""
                }
            }

            if (saveStatus == "Y") {
                PopupMessage('@Html.Raw(L_POPUP_SUCCESS_I.Replace("{0}", RefNo))');
            }
            else {
                PopupMessage('@Html.Raw(L_POPUP_ERROR_I)');
            }
            $('#myModal').modal('show');
        }
        else {
            digitalData.page = {
                pageInfo: {
                    pageName: "Leavemessage:" + language + ":Leavemessage",
                    site: "newfibre",
                    language: language
                },
                category: {
                    pageType: "content page",
                    primaryCategory: "newfibre:" + language + ":leavemessage",
                    subCategory1: "",
                    subCategory2: ""
                }
            }
        }

        

        $("#R_BUILD").prop("checked", true);
        $("#SELECT_ADDRESS_TYPE").val("B");
        getProvince();
        getContactTime();

        $('#NAME').keyup(function () {
            CheckKeyUps("NAME", "@FBB_Con_CharNotonName");
        });
        $('#SURNAME').keyup(function () {
            CheckKeyUps("SURNAME", "@FBB_Con_CharNotonName");
        });
        $("#CONTACT_MOBILE").keyup(function () {
            CheckKeyUps("CONTACT_MOBILE", '@FBB_Input_MobileNo','M');
        });
        $('#BUILDING').keyup(function () {
            CheckKeyUps("BUILDING", "@FBB_Con_Input_Building");
        });
        $('#HOUSE_NO').keyup(function () {
            CheckKeyUps("HOUSE_NO", "@FBB_Con_Input_Home_Number");
        });
        $('#SOI').keyup(function () {
            CheckKeyUps("SOI", "@FBB_Con_Input_Soi");
        });
        $('#ROAD').keyup(function () {
            CheckKeyUps("ROAD", "@FBB_Con_Input_Road");
        });

        $('#defaultReal').realperson({
            length: 5,
            regenerate: 'Change',
            dot: '*',
            dots: $.realperson.defaultDots,
            chars: $.realperson.alphanumeric
        });

        $("#CONTACT_MOBILE").focusout(function () {
            var a = [];

            $("#IsAIS").hide();
            $("#MOBILE_IS_AIS").val("N");

            a.pop({ id: "CONTACT_MOBILE" });
            a.push({ id: "CONTACT_MOBILE" });

            var chk = ValidationProcessing(a, "err001");
            if (chk) {
                if ($("#CONTACT_MOBILE").val().length == 10) {
                    if (GetCheckMobileOnlineQuery()) {
                        $("#IsAIS").show();
                        $("#MOBILE_IS_AIS").val("Y");
                    }
                    $("#CONTACT_MOBILE")[0].className = "form-control";
                }
                else {
                    $("#CONTACT_MOBILE")[0].className = "form-control errorinput";
                }
            }

        });
    });

    function ValidateCaptcha() {
        var cap = false;
        $.ajax({
            url: '/Process/ValidateCaptcha',
            data: { inputUser: $('#defaultReal').val(), inputHash: $('#defaultReal').realperson('getHash') },
            dataType: "json",
            async: false,
            type: 'POST',
            success: function (response) {
                if (!response) {
                    $("#defaultReal")[0].className = "form-control errorinput";
                    $('#defaultReal').realperson({
                        length: 5,
                        regenerate: 'Change',
                        dot: '*',
                        dots: $.realperson.defaultDots,
                        chars: $.realperson.alphanumeric
                    });
                }
                else {
                    cap = true;
                }
            }
        });
        return cap;
    }

    function Register() {

        // Update 17.4 Script Adobe Analytic
        digitalData.customLinkName = "Leavemessage:save-button";

        // Update 17.11 Script
        fbq('track', 'Click_Submit_Fibre_Leavemessage');

        var a = [];

        a.pop({ id: "NAME" });
        a.pop({ id: "SURNAME" });
        a.pop({ id: "CONTACT_MOBILE" });
        a.pop({ id: "PROVINCE" });
        a.pop({ id: "DISTRICT" });
        a.pop({ id: "SUB_DISTRICT" });
        a.pop({ id: "POSTAL_CODE" });
        a.pop({ id: "BUILDING" });
        a.pop({ id: "HOUSE_NO" });
        a.pop({ id: "CONTACT_TIME" });

        a.push({ id: "NAME" });
        a.push({ id: "SURNAME" });
        a.push({ id: "CONTACT_MOBILE", condition: "MobileNumber" });
        a.push({ id: "PROVINCE" });
        a.push({ id: "DISTRICT" });
        a.push({ id: "SUB_DISTRICT" });
        a.push({ id: "POSTAL_CODE" });
        a.push({ id: "BUILDING" });
        a.push({ id: "HOUSE_NO" });
        a.push({ id: "CONTACT_TIME" });

        var chkEmail = true;
        if ($("#EMAIL").val() != "") {
            // a.push({ id: "EMAIL", condition: "Email" });
            chkEmail = validateEmailleavemessageI($("#EMAIL").val());

            if (chkEmail) {
                $("#EMAIL").removeClass("textFieldFalse").removeClass("form-control errorinput ").addClass("form-control");
            } else {
                $("#EMAIL").addClass("form-control errorinput textFieldFalse");
            }
        }
        else {
            $("#EMAIL").removeClass("form-control errorinput ").addClass("form-control");
        }

        var chk = ValidationProcessing(a, "err001");

        if (chk && chkEmail && ValidateCaptcha()) {
            // Validate Check RadioButton Type Build ( true = pop up alert validate , false = click submit )
            if ($("input[name=R_TYPE_BUILD]:checked").val() == undefined) {
                toastrErrorMessage("@L_MESSAGE_ERROR_RENTAL_I");
            }
            else {
                $("#RegisterForm").submit();
            }
        }
        else if (chk && !chkEmail && ValidateCaptcha()) {
            toastrErrorMessage("@L_MESSAGE_ERROR_EMAIL_I");
       }
}

function validateEmailleavemessageI(email) {
    debugger;
    var filter = /^(((([a-zA-Z0-9\_\-]{1,50})+(([\.]{1,50}[a-zA-Z0-9\_\-]{1,50}){0,50})){1,95})+@@([\w-]+\.)+[\w-]{2,4})?$/;
    if (email.substr(0, 2) == "-@@" || email.substr(0, 2) == "_@@") {
        return false;
    }
    if (!(email.indexOf('@@') > -1)) {
        return false;
    }
    if (filter.test(email)) {
        return true;
    }
    else {
        return false;
    }
}

function Clear() {
    // Update 17.4 Script Adobe Analytic
    digitalData.customLinkName = "Leavemessage:cancel-button";

    // Clear RadioButton Type Build
    $("#R_TYPE_MY_HOME").prop("checked", false);
    $("#R_TYPE_RENTAL").prop("checked", false);
    $("#SELECT_TYPE_BUILD").val("");

    window.location.href = '@UrlRef';
    }

    function onBuildChange() {

        if ($("#R_BUILD").is(":checked")) {
            $("#SELECT_ADDRESS_TYPE").val("B");
            $("#divCondo").show();
            $("#divMoban").hide();
        }
        else if ($("#R_MOOBAN").is(":checked")) {
            $("#SELECT_ADDRESS_TYPE").val("V");
            $("#divCondo").hide();
            $("#divMoban").show();
        }
    }

    function onTypeBuildChange() {
        if ($("#R_TYPE_MY_HOME").is(":checked")) {
            $("#SELECT_TYPE_BUILD").val("N");
        }
        else if ($("#R_TYPE_RENTAL").is(":checked")) {
            $("#SELECT_TYPE_BUILD").val("Y");
        }
    }

    function getContactTime() {
        $('#CONTACT_TIME').empty();
        var str = '<option disabled selected value="">' + "@L_PLEASE_SELECT_I" + '</option>';

        var pageCode = "FBBOR026";
        var name = "L_CONTACT_TIME_I";

        $('#CONTACT_TIME').append(str);
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetContactTime",
            dataType: "json",
            data: {
                'pageCode': pageCode,
                'name': name
            },
            async: false,
            success: function (data) {
                var strBuilder = '';
                $.each(data, function (i, e) {
                    var s = "";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#CONTACT_TIME').append(strBuilder);
                $('#CONTACT_TIME').select2();
            }
        });
    }

    function getProvince(province) {
        $('#PROVINCE').empty();
        var str = '<option disabled selected value="">' + "@L_PLEASE_SELECT_I" + '</option>';

        $('#PROVINCE').append(str);
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetProvince",
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = '';
                $.each(data, function (i, e) {
                    var s = "";

                    if (province == e.Text) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#PROVINCE').append(strBuilder);
                $('#PROVINCE').select2();
            }
        });
    }

    function onProvinceChange(amphur, province) {

        var pv = $('#PROVINCE').val();

        if (province != undefined) {
            pv = province;
        }

        $('#DISTRICT').empty();
        $('#SUB_DISTRICT').empty();
        $('#POSTAL_CODE').empty();
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetAmphur",
            dataType: "json",
            data: { 'provinceFilter': pv },
            async: false,
            success: function (data) {

                var strBuilder = "<option value='' disabled selected >" + "@L_PLEASE_SELECT_I" + "</option>";
                $.each(data, function (i, e) {
                    var s = "";
                    if (amphur == e.Value) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });
                $('#DISTRICT').append(strBuilder);
            }
        });
            $('#DISTRICT').select2();
            $('#SUB_DISTRICT').append("<option value='' disabled selected >" + "@L_SUB_DISTRICT_I" + "</option>");
        $('#SUB_DISTRICT').select2();
        $('#POSTAL_CODE').append("<option value='' disabled selected >" + "@L_POSTAL_CODE_I" + "</option>");
        $('#POSTAL_CODE').select2();
    }

    function onAmphurChange(tumbol, amphur, province) {

        $('#SUB_DISTRICT').empty();
        $('#POSTAL_CODE').empty();

        var pv = $('#PROVINCE').val();

        if (province != undefined) {
            pv = province;
        }

        var aphur = ""
        if ($('#DISTRICT').val() != "" && $('#DISTRICT').val() != null) {
            aphur = $('#DISTRICT').val();
        }
        else {
            aphur = amphur;
        }

        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetTumbon",
            async: false,
            data: { 'provinceFilter': pv, 'amphurFilter': aphur },
            dataType: "json",
            success: function (data) {

                var strBuilder = "<option value='' disabled selected >" + "@L_PLEASE_SELECT_I" + "</option>";
                $.each(data, function (i, e) {

                    var s = "";
                    if (tumbol == e.Value) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#SUB_DISTRICT').append(strBuilder);
            },
            error: function (data) {
                var dd = data.error;

            }
        });

            $('#SUB_DISTRICT').select2();
            $('#POSTAL_CODE').append("<option value='' disabled selected >" + "@L_POSTAL_CODE_I" + "</option>");
        $('#POSTAL_CODE').select2();

    }

    function onTumbolChange() {
        $('#POSTAL_CODE').empty();

        var pro = $("#PROVINCE").val();
        var amp = $("#DISTRICT").val();
        var tum = $("#SUB_DISTRICT").val();

        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetCoverageZipCode",
            dataType: "json",
            data: {
                'provinceFilter': pro,
                'amphurFilter': amp,
                'tumbonFilter': tum,
                "sso": ""
            },
            async: false,
            success: function (data) {
                var tempZipCode = "";
                if (data.zipCodeList.length == 1)
                    $("#POSTAL_CODE option[value='']").remove();

                $.each(data.zipCodeList, function (i, e) {
                    var str = '<option value="' + e.Text + '">' + e.Text + '</option>';
                    tempZipCode += str;
                });
                $('#POSTAL_CODE').append(tempZipCode);
                onZipCodeChange();

            }
        });
        $('#POSTAL_CODE').select2();

    }

    function onZipCodeChange() {
        $("#POSTAL_CODE").val($('#POSTAL_CODE').val());
    }
    
    //R22.07 Issue Check Mobile OnlineQuery
    function GetCheckMobileOnlineQuery() {
        var IsAIS = false;
        $.ajax({
            url: '/CheckCoverage/GetCheckMobileOnlineQuery',
            data: {
                mobileNo: $.trim($("#CONTACT_MOBILE").val()),
                fibreID: '',
                locationCode: ''
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                if (response.SubNetworkType == "Pre-paid" || response.SubNetworkType == "Post-paid") {
                    // IsAIS // Pre-paid // Post-paid
                    IsAIS = true;
                }
            }
        });
        return IsAIS;
    }

    function base64_decode(str) {
        if (window.atob) // Internet Explorer 10 and above  
            return decodeURIComponent(escape(window.atob(str)));
        else {
            // Cross-Browser Method (compressed)  

            // Create Base64 Object  
            var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9\+\/\=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
            // Encode the String  
            return decodeURIComponent(escape(Base64.decode(str)));
        }
    }

    function CheckKeyUps(id, RexStr, checkMobile) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        if (checkMobile == undefined || checkMobile != "M") {
            var filter = new RegExp(RexStr);
            for (var i = 0; i < strKey.length; i++) {
                if (filter.test(strKey.substr(i, 1))) {
                    strBuilder += strKey.substr(i, 1);
                }
            }
        }
        else {
            var filterM = new RegExp(RexStr, "g");
            strBuilder = strKey.match(filterM);
        }
        $("#" + id).val(strBuilder);
    }

    function PopupMessage(msg) {
        $('#LastPopupMessage').append(msg);
    }

</script>
