@model WBBEntity.PanelModels.LeavemessageIMPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels
@{
    Layout = "~/Views/Shared/_NewLayoutReferences.cshtml";

    string FullUrl = "";
    string UrlRef = "";
    string LocationData = "";
    string SaveStatus = "";
    string RefNo = "";
    string SentIMStatusCode = "";
    string AssetNumber = Request["assetnumber"];
    string ServiceCaseId = Request["servicecaseid"];
    string LeaveMessagePic = "";

    if (ViewBag.FullUrl != null)
    {
        FullUrl = ViewBag.FullUrl;
    }

    if (ViewBag.UrlRef != null)
    {
        UrlRef = ViewBag.UrlRef;
    }

    if (ViewBag.LocationData != null)
    {
        LocationData = ViewBag.LocationData;
    }

    if (null != ViewBag.SaveStatus)
    {
        SaveStatus = ViewBag.SaveStatus;
        ViewBag.SaveStatus = null;
    }
    else
    {
        SaveStatus = "";
    }

    if (null != ViewBag.SentIMStatusCode)
    {
        SentIMStatusCode = ViewBag.SentIMStatusCode;
        ViewBag.SentIMStatusCode = null;
    }
    else
    {
        SentIMStatusCode = "";
    }

    if (null != ViewBag.RefNo)
    {
        RefNo = ViewBag.RefNo;
        ViewBag.RefNo = null;
    }
    else
    {
        RefNo = "";
    }

    if (ViewBag.LeaveMessagePic != null)
    {
        LeaveMessagePic = "data:image/png;base64," + ViewBag.LeaveMessagePic;
    }

    string L_LEAVE_MESSAGE = "";
    string L_NAME = "";
    string L_SURNAME = "";
    string L_CONTACT_MOBILE = "";
    string L_EMAIL = "";
    string L_INSTALL_ADDRESS = "";
    string L_PROVINCE = "";
    string L_DISTRICT = "";
    string L_SUB_DISTRICT = "";
    string L_POSTAL_CODE = "";
    string L_SELECT_ADDRESS_TYPE = "";
    string L_BUILDING = "";
    string L_VILLAGE = "";
    string L_BUILDING_NAME = "";
    string L_VILLAGE_NAME = "";
    string L_HOUSE_NO = "";
    string L_SOI = "";
    string L_ROAD = "";
    string L_CONTACT_TIME = "";
    string L_ENTER_WORD = "";
    string B_CLEAR = "";
    string B_REGISTER = "";
    string L_PLEASE_SELECT = "";
    string L_POPUP_SUCCESS = "";
    string L_POPUP_ERROR = "";
    string L_POPUP_INVALID_IM = "";
    string L_POPUP_NOTSAVE_IM = "";
    string B_CLOSE = "";
    string H_TYPE_BUILDING = "";
    string L_TYPE_MY_HOME = "";
    string L_TYPE_RENTAL = "";
    string L_MESSAGE_ERROR_RENTAL = "";
    string L_CURRENT_LOCATION = "";
    string H_STATUS_IM_UPDATE = "";
    string H_PRODUCT_TYPE_BUILDING = "";
    string H_PRODUCT_TYPE_HOME = "";
    string L_HEADER_BUILDING = "";
    string L_HEADER_FLOOR = "";
    string L_HEADER_MOO = "";
    if (ViewBag.LabelFBBOR039 != null)
    {
        var LabelFBBOR039 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR039;

        L_LEAVE_MESSAGE = LabelFBBOR039.Any(c => c.Name == "L_LEAVE_MESSAGE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_LEAVE_MESSAGE").DisplayValue : "";
        L_NAME = LabelFBBOR039.Any(c => c.Name == "L_NAME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_NAME").DisplayValue : "";
        L_SURNAME = LabelFBBOR039.Any(c => c.Name == "L_SURNAME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_SURNAME").DisplayValue : "";
        L_CONTACT_MOBILE = LabelFBBOR039.Any(c => c.Name == "L_CONTACT_MOBILE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_CONTACT_MOBILE").DisplayValue : "";
        L_EMAIL = LabelFBBOR039.Any(c => c.Name == "L_EMAIL") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_EMAIL").DisplayValue : "";

        L_INSTALL_ADDRESS = LabelFBBOR039.Any(c => c.Name == "L_INSTALL_ADDRESS") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_INSTALL_ADDRESS").DisplayValue : "";

        L_PROVINCE = LabelFBBOR039.Any(c => c.Name == "L_PROVINCE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_PROVINCE").DisplayValue : "";
        L_DISTRICT = LabelFBBOR039.Any(c => c.Name == "L_DISTRICT") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_DISTRICT").DisplayValue : "";
        L_SUB_DISTRICT = LabelFBBOR039.Any(c => c.Name == "L_SUB_DISTRICT") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_SUB_DISTRICT").DisplayValue : "";
        L_POSTAL_CODE = LabelFBBOR039.Any(c => c.Name == "L_POSTAL_CODE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_POSTAL_CODE").DisplayValue : "";
        L_SELECT_ADDRESS_TYPE = LabelFBBOR039.Any(c => c.Name == "L_SELECT_ADDRESS_TYPE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_SELECT_ADDRESS_TYPE").DisplayValue : "";
        L_BUILDING = LabelFBBOR039.Any(c => c.Name == "L_BUILDING") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_BUILDING").DisplayValue : "";
        L_VILLAGE = LabelFBBOR039.Any(c => c.Name == "L_VILLAGE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_VILLAGE").DisplayValue : "";
        L_BUILDING_NAME = LabelFBBOR039.Any(c => c.Name == "L_BUILDING_NAME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_BUILDING_NAME").DisplayValue : "";
        L_VILLAGE_NAME = LabelFBBOR039.Any(c => c.Name == "L_VILLAGE_NAME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_VILLAGE_NAME").DisplayValue : "";
        L_HOUSE_NO = LabelFBBOR039.Any(c => c.Name == "L_HOUSE_NO") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_HOUSE_NO").DisplayValue : "";
        L_SOI = LabelFBBOR039.Any(c => c.Name == "L_SOI") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_SOI").DisplayValue : "";
        L_ROAD = LabelFBBOR039.Any(c => c.Name == "L_ROAD") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_ROAD").DisplayValue : "";
        L_CONTACT_TIME = LabelFBBOR039.Any(c => c.Name == "L_CONTACT_TIME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_CONTACT_TIME").DisplayValue : "";
        L_ENTER_WORD = LabelFBBOR039.Any(c => c.Name == "L_ENTER_WORD") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_ENTER_WORD").DisplayValue : "";
        B_CLEAR = LabelFBBOR039.Any(c => c.Name == "B_CLEAR") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "B_CLEAR").DisplayValue : "";
        B_REGISTER = LabelFBBOR039.Any(c => c.Name == "B_REGISTER") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "B_REGISTER").DisplayValue : "";
        L_PLEASE_SELECT = LabelFBBOR039.Any(c => c.Name == "L_PLEASE_SELECT") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_PLEASE_SELECT").DisplayValue : "";
        L_POPUP_SUCCESS = LabelFBBOR039.Any(c => c.Name == "L_POPUP_SUCCESS") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_POPUP_SUCCESS").DisplayValue : "";
        L_POPUP_ERROR = LabelFBBOR039.Any(c => c.Name == "L_POPUP_ERROR") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_POPUP_ERROR").DisplayValue : "";
        L_POPUP_INVALID_IM = LabelFBBOR039.Any(c => c.Name == "L_POPUP_INVALID_IM") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_POPUP_INVALID_IM").DisplayValue : "";
        L_POPUP_NOTSAVE_IM = LabelFBBOR039.Any(c => c.Name == "L_POPUP_NOTSAVE_IM") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_POPUP_NOTSAVE_IM").DisplayValue : "";
        B_CLOSE = LabelFBBOR039.Any(c => c.Name == "B_CLOSE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "B_CLOSE").DisplayValue : "";

        H_TYPE_BUILDING = LabelFBBOR039.Any(c => c.Name == "H_TYPE_BUILDING") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "H_TYPE_BUILDING").DisplayValue : "";
        L_TYPE_MY_HOME = LabelFBBOR039.Any(c => c.Name == "L_TYPE_MY_HOME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_TYPE_MY_HOME").DisplayValue : "";
        L_TYPE_RENTAL = LabelFBBOR039.Any(c => c.Name == "L_TYPE_RENTAL") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_TYPE_RENTAL").DisplayValue : "";
        L_MESSAGE_ERROR_RENTAL = LabelFBBOR039.Any(c => c.Name == "L_MESSAGE_ERROR_RENTAL") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_MESSAGE_ERROR_RENTAL").DisplayValue : "";

        L_CURRENT_LOCATION = LabelFBBOR039.Any(c => c.Name == "L_CURRENT_LOCATION") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_CURRENT_LOCATION").DisplayValue : "";
        H_STATUS_IM_UPDATE = LabelFBBOR039.Any(c => c.Name == "STATUS_IM_UPDATE") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "STATUS_IM_UPDATE").DisplayValue : "";
        H_PRODUCT_TYPE_BUILDING = LabelFBBOR039.Any(c => c.Name == "PRODUCT_TYPE_BUILDING") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "PRODUCT_TYPE_BUILDING").DisplayValue : "";
        H_PRODUCT_TYPE_HOME = LabelFBBOR039.Any(c => c.Name == "PRODUCT_TYPE_HOME") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "PRODUCT_TYPE_HOME").DisplayValue : "";
        L_HEADER_BUILDING = LabelFBBOR039.Any(c => c.Name == "L_HEADER_BUILDING") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_HEADER_BUILDING").DisplayValue : "";
        L_HEADER_FLOOR = LabelFBBOR039.Any(c => c.Name == "L_HEADER_FLOOR") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_HEADER_FLOOR").DisplayValue : "";
        L_HEADER_MOO = LabelFBBOR039.Any(c => c.Name == "L_HEADER_MOO") ? LabelFBBOR039.FirstOrDefault(c => c.Name == "L_HEADER_MOO").DisplayValue : "";

    }

    string FBB_Con_CharNotonName = "";
    string FBB_Input_MobileNo = "";
    string FBB_Con_Input_Mooban = "";
    string FBB_Con_Input_Building = "";
    string FBB_Con_Input_Home_Number = "";
    string FBB_Con_Input_Soi = "";
    string FBB_Con_Input_Road = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;

        FBB_Con_CharNotonName = FbbConstant.Any(f => f.Field == "Char Not on Name") ? FbbConstant.First(f => f.Field == "Char Not on Name").Validation : "";
        FBB_Input_MobileNo = FbbConstant.Any(f => f.Field == "Input_MobileNo") ? FbbConstant.First(f => f.Field == "Input_MobileNo").Validation : "";
        FBB_Con_Input_Mooban = FbbConstant.Any(f => f.Field == "Input_Mooban") ? FbbConstant.First(f => f.Field == "Input_Mooban").Validation : "";
        FBB_Con_Input_Building = FbbConstant.Any(f => f.Field == "Input_Building") ? FbbConstant.First(f => f.Field == "Input_Building").Validation : "";
        FBB_Con_Input_Home_Number = FbbConstant.Any(f => f.Field == "Input_Home_Number") ? FbbConstant.First(f => f.Field == "Input_Home_Number").Validation : "";
        FBB_Con_Input_Soi = FbbConstant.Any(f => f.Field == "Input_Soi") ? FbbConstant.First(f => f.Field == "Input_Soi").Validation : "";
        FBB_Con_Input_Road = FbbConstant.Any(f => f.Field == "Input_Road") ? FbbConstant.First(f => f.Field == "Input_Road").Validation : "";

    }

    string language = "";

    if (Session[WBBWeb.Extension.WebConstants.SessionKeys.CurrentUICulture].ToString() == "1")
    {
        language = "th";
    }
    else
    {
        language = "en";
    }
}

@using (Html.BeginForm("SaveRegisterIM", "LeaveMessage", FormMethod.Post, new { id = "RegisterForm", enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.Hidden("FULL_URL", @FullUrl)
    @Html.Hidden("ASSET_NUMBER", @AssetNumber)
    @Html.Hidden("SERVICE_CASE_ID", @ServiceCaseId)
    @Html.Hidden("STATUS_IM_UPDATE", @H_STATUS_IM_UPDATE)
    @Html.Hidden("PRODUCT_TYPE_BUILDING", @H_PRODUCT_TYPE_BUILDING)
    @Html.Hidden("PRODUCT_TYPE_HOME", @H_PRODUCT_TYPE_HOME)
    <h4 class="page-header tgreen">@L_LEAVE_MESSAGE</h4>
    <div>
        <p class="clearfix"></p>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_NAME", L_NAME)
            @Html.TextBoxFor(m => m.NAME, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_NAME,
                            @maxlength = 50
                        })
        </div>
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_SURNAME", L_SURNAME)
            @Html.TextBoxFor(m => m.SURNAME, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_SURNAME,
                            @maxlength = 50
                            
                        })
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_CONTACT_MOBILE", L_CONTACT_MOBILE)
            @Html.TextBoxFor(m => m.CONTACT_MOBILE, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_CONTACT_MOBILE,
                            @maxlength = 10
                        })
            @Html.HiddenFor(m => m.MOBILE_IS_AIS)
        </div>
        <div class="col-xs-2 col-sm-2">
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <div id="IsAIS" style="display: none;">
                <img src="~/Images/is_ais.png" alt="" style="max-width: none !important; width: 30px; height: 30px; color: white;">
            </div>
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_EMAIL", L_EMAIL)
            @Html.TextBoxFor(m => m.EMAIL, "",
                        new
                        {
                            @class = "form-control",
                            @title = L_EMAIL,
                            @maxlength = 50
                        })
        </div>
        <p class="clearfix"></p>

        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            <div class="short-div">@Html.Label("L_INSTALL_ADDRESS", L_INSTALL_ADDRESS)</div>
            <p class="clearfix"></p>
            <div class="short-div">@Html.Label("L_SELECT_ADDRESS_TYPE", L_SELECT_ADDRESS_TYPE)</div>
            <div class="short-div">
                <label for="R_BUILD">
                    <input type="radio" name="R_BUILD" id="R_BUILD" value="B" onclick="onBuildChange()">
                    @L_BUILDING
                </label>
                &nbsp;&nbsp;
                <label for="R_MOOBAN">
                    <input type="radio" name="R_BUILD" id="R_MOOBAN" value="V" onclick="onBuildChange()">
                    @L_VILLAGE
                </label>
                @Html.HiddenFor(m => m.SELECT_ADDRESS_TYPE)
            </div>
            <p class="clearfix"></p>
            <div class="short-div">@Html.Label("H_TYPE_BUILDING", H_TYPE_BUILDING)</div>
            <div class="short-div">
                <label for="R_TYPE_MY_HOME">
                    <input type="radio" name="R_TYPE_BUILD" id="R_TYPE_MY_HOME" value="N" onclick="onTypeBuildChange()">
                    @L_TYPE_MY_HOME
                </label>
                &nbsp;&nbsp;
                <label for="R_TYPE_RENTAL">
                    <input type="radio" name="R_TYPE_BUILD" id="R_TYPE_RENTAL" value="Y" onclick="onTypeBuildChange()">
                    @L_TYPE_RENTAL
                </label>
                @Html.HiddenFor(m => m.SELECT_TYPE_BUILD)
            </div>
            <p class="clearfix"></p>
            <div class="short-div">
            </div>
        </div>
        <div class="col-xs-10 col-sm-7"></div>
        <p class="clearfix"></p>
        <div class="col-xs-10 col-sm-5">
            <div id="divCondo">
                @Html.Label("L_BUILDING_NAME", L_BUILDING_NAME)
            </div>
            <div id="divMoban" style="display: none;">
                @Html.Label("L_VILLAGE_NAME", L_VILLAGE_NAME)
            </div>
            @Html.TextBoxFor(m => m.BUILDING,
                        new
                        {
                            @class = "form-control",
                            @maxlength = 50,
                            Value = ViewBag.buildingName
                        })
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10 col-sm-5">
            @if (LocationData != "")
            {
                @Html.Label("L_CURRENT_LOCATION", L_CURRENT_LOCATION)
                @Html.TextBox("LOCATION", LocationData,
                        new
                        {
                            @class = "form-control",
                            @readonly = "readonly",
                            @title = L_CURRENT_LOCATION
                        })
            }
        </div>
            <p class="clearfix"></p>
            <div class="col-xs-10 col-sm-5">
                <div id="divBuildNo">
                    @Html.Label("L_HEADER_BUILDING  ", L_HEADER_BUILDING)
                </div>
          
                @Html.TextBoxFor(m => m.BUILDING_NO,
                            new
                            {
                                @class = "form-control",
                                @maxlength = 50,
                                Value = ViewBag.buildNo
                            })
            </div>
            <div class="col-xs-2 col-sm-2"></div>
            <div class="col-xs-10 col-sm-5">
                <div id="divFloor">
                    @Html.Label("L_HEADER_FLOOR ", L_HEADER_FLOOR)
                </div>
                    @Html.TextBoxFor(m => m.FLOOR,
                    new
                    {
                        @class = "form-control",
                        @maxlength = 50,
                        Value = ViewBag.floor
                    })
           
            </div>
        <p class="clearfix"></p>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_PROVINCE", L_PROVINCE)
            <select class="select" style="width: 100%" id="PROVINCE" name="PROVINCE" onchange="onProvinceChange()">
                <option disabled selected value="">@L_PROVINCE</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_DISTRICT", L_DISTRICT)
            <select class="select" style="width: 100%" id="DISTRICT" name="DISTRICT" onchange="onAmphurChange()">
                <option disabled selected value="">@L_DISTRICT</option>
            </select>
        </div>
        <p class="clearfix"></p>

        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_SUB_DISTRICT", L_SUB_DISTRICT)
            <select class="select" style="width: 100%" id="SUB_DISTRICT" name="SUB_DISTRICT" onchange="onTumbolChange()">
                <option disabled selected value="">@L_SUB_DISTRICT</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_POSTAL_CODE", L_POSTAL_CODE)
            <select class="select" style="width: 100%" id="POSTAL_CODE" name="POSTAL_CODE" onchange="onZipCodeChange()">
                <option disabled selected value="">@L_POSTAL_CODE</option>
            </select>
        </div>
        <p class="clearfix"></p>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_HOUSE_NO", L_HOUSE_NO)
            @Html.TextBoxFor(m => m.HOUSE_NO,
                        new
                        {
                            @class = "form-control",
                            @title = L_HOUSE_NO,
                            @maxlength = 50,
                            Value = ViewBag.houseNo
                        })
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10 col-sm-5">
            @Html.Label("L_HEADER_MOO", L_HEADER_MOO)
            @Html.TextBoxFor(m => m.MOO,
                        new
                        {
                            @class = "form-control",
                            @title = L_HEADER_MOO,
                            @maxlength = 50,
                            Value = ViewBag.moo
                        })
        </div>
        <p class="clearfix"></p>
        <div class="col-xs-10  col-sm-5">
            @Html.Label("L_SOI", L_SOI)
            @Html.TextBoxFor(m => m.SOI,
                        new
                        {
                            @class = "form-control",
                            @title = L_SOI,
                            @maxlength = 50,
                            Value = ViewBag.soi
                        })
            
        </div>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-10  col-sm-5">
            @Html.Label("L_ROAD", L_ROAD)
            @Html.TextBoxFor(m => m.ROAD,
                        new
                        {
                            @class = "form-control",
                            @title = L_ROAD,
                            @maxlength = 50,
                            Value = ViewBag.road
                        })
        </div>
        <p class="clearfix"></p>
        <div class="col-xs-10  col-sm-5">
          
        </div>
        <div class="col-xs-10 col-sm-7">
            <img src='@LeaveMessagePic' class="pull-right img-responsive" style="padding-top: 25px;" />
            @*@if (language == "th")
            {
                <img src="../../Images/AISFIBRE_600_TH.jpg" class="pull-right img-responsive" style="padding-top: 25px;" />
            }
            else
            {
                <img src="../../Images/AISFIBRE_600_EN.jpg" class="pull-right img-responsive" style="padding-top: 25px;" />
            }*@
        </div>
        <p class="clearfix"></p>
    </div>
    <p class="clearfix"></p>

    <p class="clearfix"></p>
    <p class="clearfix page-header"></p>

    <div class="col-md-12 text-center">
        <a class="btn btn-default btn-for-xs" role="button" style="color: #8DC63F;" onclick="Clear()">@B_CLEAR</a>
        <a class="btn btn-success rippler rippler-default btn-for-xs" role="button" onclick="Register();">@B_REGISTER</a>
    </div>
    <p class="clearfix"></p>
    <p class="clearfix"></p>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal001_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Close()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="add-border-rounded-green">
                        <p class="clearfix"></p>
                        <h5 id="modal001txt" class="text-center">
                            <span id="LastPopupMessage"></span>
                        </h5>
                        <p class="clearfix"></p>
                        <div class="col-md-12 text-center">
                            <p class="clearfix"></p>
                            <button type="button" id="modal001btn" class="btn btn-default" data-dismiss="modal" onclick="Close()">&nbsp; @B_CLOSE &nbsp; </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalResultIM" tabindex="-1" role="dialog" aria-labelledby="modal002_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Close()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="add-border-rounded-green">
                        <p class="clearfix"></p>
                        <h5 id="modal002txt" class="text-center">
                            <span id="LastPopupMessageIM"></span>
                        </h5>
                        <p class="clearfix"></p>
                        <div class="col-md-12 text-center">
                            <p class="clearfix"></p>
                            <button type="button" id="modal002btn" class="btn btn-default" data-dismiss="modal" onclick="Close()">&nbsp; @B_CLOSE &nbsp; </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var language = "";
    language = "@language";

    var digitalData = {};
    digitalData.page = {};
    digitalData.page.pageInfo = {};

    var validateModel = new Array();

    $(document).ready(function () {

        var saveStatus = '@SaveStatus';
        var sentIMStatusCode = '@SentIMStatusCode';
        if (saveStatus != '') {

            digitalData.page = {
                pageInfo: {
                    pageName: "Leavemessage:" + language + ":LeavemessageSave",
                    site: "newfibre",
                    language: language
                },
                category: {
                    pageType: "content page",
                    primaryCategory: "newfibre:" + language + ":LeavemessageSave",
                    subCategory1: "",
                    subCategory2: ""
                }
            }

            if (saveStatus == "Y") {
                PopupMessage('@Html.Raw(L_POPUP_SUCCESS.Replace("{0}", RefNo))');
                if (sentIMStatusCode != '001') {
                    if(sentIMStatusCode == '002'){
                        PopupMessageIM('@Html.Raw(L_POPUP_INVALID_IM)');
                    }
                    else if (sentIMStatusCode == '003') {
                        PopupMessageIM('@Html.Raw(L_POPUP_NOTSAVE_IM)');
                    }
                    $('#myModal').on('hidden.bs.modal', function () {
                        $('#modalResultIM').modal('show');
                    })
                }
            }
            else {
                PopupMessage('@Html.Raw(L_POPUP_ERROR)');
            }
            $('#myModal').modal('show');
        }
        else {
            digitalData.page = {
                pageInfo: {
                    pageName: "Leavemessage:" + language + ":Leavemessage",
                    site: "newfibre",
                    language: language
                },
                category: {
                    pageType: "content page",
                    primaryCategory: "newfibre:" + language + ":leavemessage",
                    subCategory1: "",
                    subCategory2: ""
                }
            }
        }

        

        if ("@LocationData" != "") {
            $("#R_MOOBAN").prop("checked", true);
            $("#SELECT_ADDRESS_TYPE").val("V");
            $("#divCondo").hide();
            $("#divMoban").show();
        }
        else {
            $("#R_BUILD").prop("checked", true);
            $("#SELECT_ADDRESS_TYPE").val("B");
            $("#divCondo").show();
            $("#divMoban").hide();
        }

        getProvince();
        getContactTime();

        $('#NAME').keyup(function () {
            CheckKeyUps("NAME", "@FBB_Con_CharNotonName");
        });
        $('#SURNAME').keyup(function () {
            CheckKeyUps("SURNAME", "@FBB_Con_CharNotonName");
        });
        $("#CONTACT_MOBILE").keyup(function () {
            CheckKeyUps("CONTACT_MOBILE", '@FBB_Input_MobileNo', "M");
        });
        $('#BUILDING').keyup(function () {
            CheckKeyUps("BUILDING", "@FBB_Con_Input_Building");
        });
        $('#HOUSE_NO').keyup(function () {
            CheckKeyUps("HOUSE_NO", "@FBB_Con_Input_Home_Number");
        });
        $('#SOI').keyup(function () {
            CheckKeyUps("SOI", "@FBB_Con_Input_Soi");
        });
        $('#ROAD').keyup(function () {
            CheckKeyUps("ROAD", "@FBB_Con_Input_Road");
        });

        $('#defaultReal').realperson({
            length: 5,
            regenerate: 'Change',
            dot: '*',
            dots: $.realperson.defaultDots,
            chars: $.realperson.alphanumeric
        });

        $("#CONTACT_MOBILE").focusout(function () {
            var a = [];

            $("#IsAIS").hide();
            $("#MOBILE_IS_AIS").val("N");

            a.pop({ id: "CONTACT_MOBILE" });
            a.push({ id: "CONTACT_MOBILE" });

            var chk = ValidationProcessing(a, "err001");
            if (chk) {
                if ($("#CONTACT_MOBILE").val().length == 10) {
                    if (GetCheckMobileOnlineQuery()) {
                        $("#IsAIS").show();
                        $("#MOBILE_IS_AIS").val("Y");
                    }
                    $("#CONTACT_MOBILE")[0].className = "form-control";
                }
                else {
                    $("#CONTACT_MOBILE")[0].className = "form-control errorinput";
                }
            }

        });
    });

    function ValidateCaptcha() {
        var cap = false;
        $.ajax({
            url: '/Process/ValidateCaptcha',
            data: { inputUser: $('#defaultReal').val(), inputHash: $('#defaultReal').realperson('getHash') },
            dataType: "json",
            async: false,
            type: 'POST',
            success: function (response) {
                if (!response) {
                    $("#defaultReal")[0].className = "form-control errorinput";
                    $('#defaultReal').realperson({
                        length: 5,
                        regenerate: 'Change',
                        dot: '*',
                        dots: $.realperson.defaultDots,
                        chars: $.realperson.alphanumeric
                    });
                }
                else {
                    cap = true;
                }
            }
        });
        return cap;
    }

    function Register() {

        // Update 17.4 Script Adobe Analytic
        digitalData.customLinkName = "Leavemessage:save-button";

        // Update 17.11 Script
        fbq('track', 'Click_Submit_Fibre_Leavemessage');

        var a = [];

        a.pop({ id: "NAME" });
        a.pop({ id: "SURNAME" });
        a.pop({ id: "CONTACT_MOBILE" });
        a.pop({ id: "PROVINCE" });
        a.pop({ id: "DISTRICT" });
        a.pop({ id: "SUB_DISTRICT" });
        a.pop({ id: "POSTAL_CODE" });
        a.pop({ id: "BUILDING" });
        a.pop({ id: "HOUSE_NO" });
        a.pop({ id: "CONTACT_TIME" });

        a.push({ id: "NAME" });
        a.push({ id: "SURNAME" });
        a.push({ id: "CONTACT_MOBILE", condition: "MobileNumber" });
        a.push({ id: "PROVINCE" });
        a.push({ id: "DISTRICT" });
        a.push({ id: "SUB_DISTRICT" });
        a.push({ id: "POSTAL_CODE" });
        a.push({ id: "BUILDING" });
        a.push({ id: "HOUSE_NO" });
        a.push({ id: "CONTACT_TIME" });

        if ($("#EMAIL").val() != "") {
            a.push({ id: "EMAIL", condition: "Email" });
        }
        else {
            $("#EMAIL").removeClass("form-control errorinput ").addClass("form-control");
        }


        // Validate Check RadioButton Type Build ( true = pop up alert validate , false = click submit )
        if ($("input[name=R_TYPE_BUILD]:checked").val() == undefined) {
            toastrErrorMessage("@L_MESSAGE_ERROR_RENTAL");
        }
        else {
            $("#RegisterForm").submit();
        }
    }

    function Clear() {
        // Update 17.4 Script Adobe Analytic
        digitalData.customLinkName = "Leavemessage:cancel-button";

        // Clear RadioButton Type Build
        $("#R_TYPE_MY_HOME").prop("checked", false);
        $("#R_TYPE_RENTAL").prop("checked", false);
        $("#SELECT_TYPE_BUILD").val("");

        SetDefaultAddressPage();
    }

    function SetDefaultAddressPage() {
        $("#PROVINCE").empty();
        $("#DISTRICT").empty();
        $("#SUB_DISTRICT").empty();
        $("#POSTAL_CODE").empty();

        $('#NAME').val("");
        $('#SURNAME').val("");
        $('#CONTACT_MOBILE').val("");
        $('#EMAIL').val("");
        $('#BUILDING').val("");
        $('#HOUSE_NO').val("");
        $('#SOI').val("");
        $('#ROAD').val("");
        $('#defaultReal').val("");

        getProvince();
        getContactTime();


        $("#DISTRICT").append("<option value='' disabled selected >" + "@L_DISTRICT" + "</option>");
        $("#SUB_DISTRICT").append("<option value='' disabled selected >" + "@L_SUB_DISTRICT" + "</option>");
        $("#POSTAL_CODE").append("<option value='' disabled selected >" + "@L_POSTAL_CODE" + "</option>");

        $("#DISTRICT").select2();
        $("#SUB_DISTRICT").select2();
        $("#POSTAL_CODE").select2();
    }

    function Close() {
        // Update 17.4 Script Adobe Analytic
        digitalData.customLinkName = "Leavemessage:cancel-button";

        // Clear RadioButton Type Build
        $("#R_TYPE_MY_HOME").prop("checked", false);
        $("#R_TYPE_RENTAL").prop("checked", false);
        $("#SELECT_TYPE_BUILD").val("");

        // window.location.href = '@UrlRef'+'/IndexIM';
    }

    function onBuildChange() {

        if ($("#R_BUILD").is(":checked")) {
            $("#SELECT_ADDRESS_TYPE").val("B");
            $("#divCondo").show();
            $("#divMoban").hide();
        }
        else if ($("#R_MOOBAN").is(":checked")) {
            $("#SELECT_ADDRESS_TYPE").val("V");
            $("#divCondo").hide();
            $("#divMoban").show();
        }
    }

    function onTypeBuildChange() {
        if ($("#R_TYPE_MY_HOME").is(":checked")) {
            $("#SELECT_TYPE_BUILD").val("N");
        }
        else if ($("#R_TYPE_RENTAL").is(":checked")) {
            $("#SELECT_TYPE_BUILD").val("Y");
        }
    }

    function getContactTime() {
        $('#CONTACT_TIME').empty();
        var str = '<option disabled selected value="">' + "@L_PLEASE_SELECT" + '</option>';

        var pageCode = "FBBOR039";
        var name = "L_CONTACT_TIME";

        $('#CONTACT_TIME').append(str);
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetContactTime",
            dataType: "json",
            data: {
                'pageCode': pageCode,
                'name': name
            },
            async: false,
            success: function (data) {
                var strBuilder = '';
                $.each(data, function (i, e) {
                    var s = "";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#CONTACT_TIME').append(strBuilder);
                $('#CONTACT_TIME').select2();
            }
        });
    }

    function getProvince(province) {
        $('#PROVINCE').empty();
        if (province == null) province = '@ViewBag.province';
        var str = '<option disabled selected value="">' + "@L_PLEASE_SELECT" + '</option>';

        $('#PROVINCE').append(str);
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetProvince",
            dataType: "json",
            async: false,
            success: function (data) {
                var strBuilder = '';
                $.each(data, function (i, e) {
                    var s = "";

                    if (province == e.Text) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#PROVINCE').append(strBuilder);
                $('#PROVINCE').select2();
                if (province != null) {
                    var district = '@ViewBag.district';
                    onProvinceChange(district, province);
                    if (district != null) {
                        var subDistrict = '@ViewBag.subDistrict'
                        onAmphurChange(subDistrict, district, province);
                        if (subDistrict != null) {
                            onTumbolChange()
                        }
                    }

                }
            }
        });
    }

    function onProvinceChange(amphur, province) {

        var pv = $('#PROVINCE').val();

        if (province != undefined) {
            pv = province;
        }

        $('#DISTRICT').empty();
        $('#SUB_DISTRICT').empty();
        $('#POSTAL_CODE').empty();
        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetAmphur",
            dataType: "json",
            data: { 'provinceFilter': pv },
            async: false,
            success: function (data) {

                var strBuilder = "<option value='' disabled selected >" + "@L_PLEASE_SELECT" + "</option>";
                $.each(data, function (i, e) {
                    var s = "";
                    if (amphur == e.Value) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });
                $('#DISTRICT').append(strBuilder);
            }
        });
        $('#DISTRICT').select2();
        $('#SUB_DISTRICT').append("<option value='' disabled selected >" + "@L_SUB_DISTRICT" + "</option>");
        $('#SUB_DISTRICT').select2();
        $('#POSTAL_CODE').append("<option value='' disabled selected >" + "@L_POSTAL_CODE" + "</option>");
        $('#POSTAL_CODE').select2();
    }

    function onAmphurChange(tumbol, amphur, province) {

        $('#SUB_DISTRICT').empty();
        $('#POSTAL_CODE').empty();

        var pv = $('#PROVINCE').val();

        if (province != undefined) {
            pv = province;
        }

        var aphur = ""
        if ($('#DISTRICT').val() != "" && $('#DISTRICT').val() != null) {
            aphur = $('#DISTRICT').val();
        }
        else {
            aphur = amphur;
        }

        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetTumbon",
            async: false,
            data: { 'provinceFilter': pv, 'amphurFilter': aphur },
            dataType: "json",
            success: function (data) {

                var strBuilder = "<option value='' disabled selected >" + "@L_PLEASE_SELECT" + "</option>";
                $.each(data, function (i, e) {

                    var s = "";
                    if (tumbol == e.Value) s = "selected";

                    var str = '<option value="' + e.Value + '"' + s + '>' + e.Text + '</option>';
                    strBuilder += str;
                });

                $('#SUB_DISTRICT').append(strBuilder);
            },
            error: function (data) {
                var dd = data.error;

            }
        });

        $('#SUB_DISTRICT').select2();
        $('#POSTAL_CODE').append("<option value='' disabled selected >" + "@L_POSTAL_CODE" + "</option>");
        $('#POSTAL_CODE').select2();

    }

    function onTumbolChange() {
        $('#POSTAL_CODE').empty();

        var pro = $("#PROVINCE").val();
        var amp = $("#DISTRICT").val();
        var tum = $("#SUB_DISTRICT").val();

        $.ajax({
            type: "GET",
            url: "/Leavemessage/GetCoverageZipCode",
            dataType: "json",
            data: {
                'provinceFilter': pro,
                'amphurFilter': amp,
                'tumbonFilter': tum,
                "sso": ""
            },
            async: false,
            success: function (data) {
                var tempZipCode = "";
                if (data.zipCodeList.length == 1)
                    $("#POSTAL_CODE option[value='']").remove();

                $.each(data.zipCodeList, function (i, e) {
                    var str = '<option value="' + e.Text + '">' + e.Text + '</option>';
                    tempZipCode += str;
                });
                $('#POSTAL_CODE').append(tempZipCode);
                onZipCodeChange();

            }
        });
        $('#POSTAL_CODE').select2();

    }

    function onZipCodeChange() {
        $("#POSTAL_CODE").val($('#POSTAL_CODE').val());
    }
    
    //R22.07 Issue Check Mobile OnlineQuery
    function GetCheckMobileOnlineQuery() {
        var IsAIS = false;
        $.ajax({
            url: '/CheckCoverage/GetCheckMobileOnlineQuery',
            data: {
                mobileNo: $.trim($("#CONTACT_MOBILE").val()),
                fibreID: '',
                locationCode: ''
            },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (response) {
                if (response.SubNetworkType == "Pre-paid" || response.SubNetworkType == "Post-paid") {
                    // IsAIS // Pre-paid // Post-paid
                    IsAIS = true;
                }
            }
        });
        return IsAIS;
    }

    function base64_decode(str) {
        if (window.atob) // Internet Explorer 10 and above
            return decodeURIComponent(escape(window.atob(str)));
        else {
            // Cross-Browser Method (compressed)

            // Create Base64 Object
            var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9\+\/\=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
            // Encode the String
            return decodeURIComponent(escape(Base64.decode(str)));
        }
    }

    function CheckKeyUps(id, RexStr, checkMobile) {
        var strKey = $("#" + id).val();
        var strBuilder = "";
        if (checkMobile == undefined || checkMobile != "M") {
            var filter = new RegExp(RexStr);
            for (var i = 0; i < strKey.length; i++) {
                if (filter.test(strKey.substr(i, 1))) {
                    strBuilder += strKey.substr(i, 1);
                }
            }
        }
        else {
            var filterM = new RegExp(RexStr, "g");
            strBuilder = strKey.match(filterM);
        }
        $("#" + id).val(strBuilder);
    }

    function PopupMessage(msg) {
        $('#LastPopupMessage').append(msg);
    }
    function PopupMessageIM(msg) {
        $('#LastPopupMessageIM').append(msg);
    }


</script>
