@using WBBWeb.Extension
@using WBBEntity.PanelModels
@model WBBEntity.PanelModels.QuickWinPanelModel
@{

    string L_PAY_ADVANCE = "";
    string L_PAY_WITH_CREDIT_CARD = "";
    string L_PAY_WITH_QR_CODE = "";
    string L_PAY_WITH_QR_CODE_INSTALL = "";
    string L_PAY_WITH_AIS_POINT = "";
    string L_PAY_WITH_AIS_POINT_MOBILE = "";
    string L_PAY_WITH_AIS_POINT_FIBRE = "";
    string L_PAYMENT_MESH_REMARK = "";
    string L_POPUP_PAYMENT_ALREADY = "";
    string L_POPUP_PLEASE_SELECT_PAYMENT_METHOD = "";
    string L_POPUP_PAYMENT_QR_CODE_ERROR = "";
    string L_AIS_POINT_INSUFFICIENT = "";
    string L_CONFIRM_PAY_WITH_AIS_POINT = "";
    string B_NEXT = "";
    string B_CLOSE = "";
    string B_OK = "";
    string B_CONFIRM = "";
    string POPUP_PAYMENT = "";



    if (ViewBag.LabelFBBOR041 != null)
    {
        var LabelFBBOR041 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR041;
        L_PAY_ADVANCE = LabelFBBOR041.Any(c => c.Name == "L_PAY_ADVANCE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_ADVANCE").DisplayValue : "";
        L_PAY_WITH_CREDIT_CARD = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_CREDIT_CARD") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_CREDIT_CARD").DisplayValue : "";
        L_PAY_WITH_QR_CODE = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_QR_CODE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_QR_CODE").DisplayValue : "";
        L_PAY_WITH_QR_CODE_INSTALL = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_QR_CODE_INSTALL") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_QR_CODE_INSTALL").DisplayValue : "";
        L_PAY_WITH_AIS_POINT = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_AIS_POINT") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_AIS_POINT").DisplayValue : "";
        L_PAY_WITH_AIS_POINT_MOBILE = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_AIS_POINT_MOBILE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_AIS_POINT_MOBILE").DisplayValue : "";
        L_PAY_WITH_AIS_POINT_FIBRE = LabelFBBOR041.Any(c => c.Name == "L_PAY_WITH_AIS_POINT_FIBRE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAY_WITH_AIS_POINT_FIBRE").DisplayValue : "";
        L_PAYMENT_MESH_REMARK = LabelFBBOR041.Any(c => c.Name == "L_PAYMENT_MESH_REMARK") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_PAYMENT_MESH_REMARK").DisplayValue : "";
        L_POPUP_PAYMENT_ALREADY = LabelFBBOR041.Any(c => c.Name == "L_POPUP_PAYMENT_ALREADY") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_POPUP_PAYMENT_ALREADY").DisplayValue : "";
        L_POPUP_PLEASE_SELECT_PAYMENT_METHOD = LabelFBBOR041.Any(c => c.Name == "L_POPUP_PLEASE_SELECT_PAYMENT_METHOD") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_POPUP_PLEASE_SELECT_PAYMENT_METHOD").DisplayValue : "";
        L_POPUP_PAYMENT_QR_CODE_ERROR = LabelFBBOR041.Any(c => c.Name == "L_POPUP_PAYMENT_QR_CODE_ERROR") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_POPUP_PAYMENT_QR_CODE_ERROR").DisplayValue : "";
        L_AIS_POINT_INSUFFICIENT = LabelFBBOR041.Any(c => c.Name == "L_AIS_POINT_INSUFFICIENT") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_AIS_POINT_INSUFFICIENT").DisplayValue : "";
        L_CONFIRM_PAY_WITH_AIS_POINT = LabelFBBOR041.Any(c => c.Name == "L_CONFIRM_PAY_WITH_AIS_POINT") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "L_CONFIRM_PAY_WITH_AIS_POINT").DisplayValue : "";
        B_NEXT = LabelFBBOR041.Any(c => c.Name == "B_NEXT") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "B_NEXT").DisplayValue : "";
        B_CLOSE = LabelFBBOR041.Any(c => c.Name == "B_CLOSE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "B_CLOSE").DisplayValue : "";
        B_OK = LabelFBBOR041.Any(c => c.Name == "B_OK") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "B_OK").DisplayValue : "";
        B_CONFIRM = LabelFBBOR041.Any(c => c.Name == "B_CONFIRM") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "B_CONFIRM").DisplayValue : "";
        POPUP_PAYMENT = LabelFBBOR041.Any(c => c.Name == "POPUP_PAYMENT") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "POPUP_PAYMENT").DisplayValue : "";
    }

    string L_USE_POINT = "0";
    string CALL_SUPER_DUPER_FLAG = "";

    if (ViewBag.FbbConstant != null)
    {
        var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;

        L_USE_POINT = FbbConstant.Any(f => f.Field == "L_USE_POINT") ? FbbConstant.First(f => f.Field == "L_USE_POINT").Validation : "";
        CALL_SUPER_DUPER_FLAG = FbbConstant.Any(f => f.Field == "CALL_SUPER_DUPER_FLAG") ? FbbConstant.First(f => f.Field == "CALL_SUPER_DUPER_FLAG").Validation : "";

    }
    string L_TIMEOUT_VALUE = "";
    if (ViewBag.QRTimeout == null)
    {
        if (ViewBag.FbbConstant != null)
        {
            var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
            L_TIMEOUT_VALUE = FbbConstant.Any(f => f.Field == "L_TIMEOUT_VALUE") ? FbbConstant.First(f => f.Field == "L_TIMEOUT_VALUE").Validation : "30";
        }
    }
    else
    {
        L_TIMEOUT_VALUE = ViewBag.QRTimeout;
    }

    string SffPromotionCode = "";
    if (ViewBag.SffPromotionCode != null && ViewBag.SffPromotionCode != "")
    {
        SffPromotionCode = ViewBag.SffPromotionCode;
    }

    string Channel = "";
    if (ViewBag.Channel != null && ViewBag.Channel != "")
    {
        Channel = ViewBag.Channel;
    }

    string SuperDuperProductName = "";
    if (ViewBag.SuperDuperProductName != null && ViewBag.SuperDuperProductName != "")
    {
        SuperDuperProductName = ViewBag.SuperDuperProductName;
    }
    var settimeout = (SuperDuperProductName == "WTTx" || SuperDuperProductName == "MESH" ? "Y" : "N");
}

<div id="divPayMent">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <p class="clearfix"></p>
        <i class="fa fa-chevron-right tgreen"></i>@Html.Raw(L_PAY_ADVANCE)
        <p class="clearfix"></p>
        <div id="divPayMentType" class="col-md-12 col-xs-12">
            @if (ViewBag.PaymentMethod != null)
            {
                for (int i = 0; i < ViewBag.PaymentMethod.Count; i++)
                {
                    var item = ViewBag.PaymentMethod[i];
                    if (item.GroupByPDF.Contains("AIS_Point"))
                    {
                        if (string.IsNullOrEmpty(item.LovValue3))
                        {
                            <div id="divPaymentMethod4" class="col-md-12">
                                <label class="radio-inline" for="rdoPaymentMethod4" style="font-weight: normal !important; padding-right: 15px;">
                                    <input name="SelectOptionPaymentMethod" id="rdoPaymentMethod4" value="PayPoint" onclick="PaymentMethodChange('PayPoint')" type="radio">
                                    <span id="lblPayPoint">@Html.Raw(item.DisplayValue)</span>
                                </label>
                            </div>
                        }
                        else
                        {
                            string strid = "rdoPaymentMethod4-" + item.LovValue3;
                            <div class="col-md-12 divSubPaymentMethod4" style="display: none;">
                                <div class="col-md-12">
                                    <label class="radio-inline" for="@strid" style="font-weight: normal !important; padding-right: 15px;">
                                        <input name="SelectOptionPaymentMethodSub4" id="@strid" value="@item.LovValue3" onclick="" type="radio">
                                        @Html.Raw(item.DisplayValue)
                                    </label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        string strid = "rdoPaymentMethod" + (i + 1);
                        <div class="col-md-12 radio">
                            <label class="radio-inline" for="@strid" style="font-weight: normal !important; padding-right: 15px;">
                                <input name="SelectOptionPaymentMethod" id="@strid" value="@item.LovValue3" @*onclick="PaymentMethodChange()"*@ type="radio">
                                @Html.Raw(item.DisplayValue)
                            </label>
                        </div>
                    }
                }
            }

            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <div class="col-md-12">
                @Html.Raw(L_PAYMENT_MESH_REMARK)
            </div>
            <p class="clearfix page-header"></p>
        </div>
        <p class="clearfix"></p>
        <div class="col-md-12 text-center">
            <button id="btnNextPayMent" type="button" class="btn btn-success">
                &nbsp; @B_NEXT &nbsp; <i class="fa fa-arrow-circle-o-right "></i>
            </button>
        </div>
        <p class="clearfix"></p>
    </div>
</div>
<div class="modal fade" id="modal_paypoint" tabindex="-1" role="dialog" aria-labelledby="modal_close_label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
            </div>
            <div class="modal-body">
                <div class="add-border-rounded-green">
                    <p class="clearfix"></p>
                    <h3 id="modal_paypoint_txt" class="text-center">
                    </h3>
                    <p class="clearfix"></p>
                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        <button type="button" id="modal_paypoint_btn" class="btn btn-default" data-dismiss="modal" onclick="$.modal.close();"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalConFirm" tabindex="-1" role="dialog" aria-labelledby="basic-modal-content_label">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="add-border-rounded-green">
                    <div style="margin: 10px;">
                        @Html.Raw(POPUP_PAYMENT)
                    </div>

                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        <button type="button" id="btnNextPagePayMent" class="btn btn-success" data-dismiss="modal">&nbsp; @B_CONFIRM &nbsp; </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/signalr/hubs")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.SuperDuperProductName' == "WTTx") {
            changePageHeaderWTTx(5);
        }
        else {
            changePageHeaderMESH(3);
        }

        //CheckUsePoin
        $("#divPaymentMethod4").hide();

        $.ajax({
            url: '/SelectPackage/CheckUsePoin',
            data: { SFFPromotionCode: '@SffPromotionCode' },
            dataType: "json",
            type: 'POST',
            async: false,
            success: function (MeshPoint) {
                var usePoint = parseFloat(MeshPoint);
                if (usePoint > 0) {
                    var tmpLblPayPoint = $("#lblPayPoint").text();
                    $("#lblPayPoint").text("");
                    tmpLblPayPoint = "<font color='black'><b>" + tmpLblPayPoint.replace('{Point}', accounting.formatNumber(usePoint, 0)) + "</b></font>";
                    $("#lblPayPoint").html(tmpLblPayPoint);
                    $("#divPaymentMethod4").show();
                }
            }
        });
    });

    function changePageHeaderWTTx(operNo) {
        toastr.clear();
        $("#wrapSwitchLanguage").show();
        $("#logo_div").show();
        $("#mainHeader").show();
        $("#status_th_div").children().hide();
        $("#status_en_div").children().hide();
        $("#status_plugandnplay").hide();
        $(".content-menu").removeAttr("style");

        if ($("#LanguagePage").val() === "1") {
            $("#status_th_div").show();
            $("#status_en_div").hide();
            for (var i = 1; i <= operNo; i++) {
                $("#status_th_div").children("#status_th_" + i + "_imgo").show();
            }
            for (var i = operNo + 1; i <= 5; i++) {
                $("#status_th_div").children("#status_th_" + i + "_imgf").show();
            }
        }
        else {
            $("#status_th_div").hide();
            $("#status_en_div").show();
            for (var i = 1; i <= operNo; i++) {
                $("#status_en_div").children("#status_en_" + i + "_imgo").show();
            }
            for (var i = operNo + 1; i <= 5; i++) {
                $("#status_en_div").children("#status_en_" + i + "_imgf").show();
            }
        }
    }

    function changePageHeaderMESH(operNo) {
        toastr.clear();
        $("#wrapSwitchLanguage").show();
        $("#logo_div").show();
        $("#mainHeader").show();
        $("#add_service_th_div").children().hide();
        $("#add_service_en_div").children().hide();
        if ($("#LanguagePage").val() === "1") {
            $("#add_service_th_div").show();
            $("#add_service_en_div").hide();
            for (var i = 1; i <= operNo; i++) {
                $("#add_service_th_div").children("#add_service_th_" + i + "_imgo").show();
            }
            for (var i = operNo + 1; i <= 3; i++) {
                $("#add_service_th_div").children("#add_service_th_" + i + "_imgf").show();
            }
        }
        else {
            $("#add_service_th_div").hide();
            $("#add_service_en_div").show();
            for (var i = 1; i <= operNo; i++) {
                $("#add_service_en_div").children("#add_service_en_" + i + "_imgo").show();
            }
            for (var i = operNo + 1; i <= 3; i++) {
                $("#add_service_en_div").children("#add_service_en_" + i + "_imgf").show();
            }
        }
    }

    function waitForPayQrCode() {
        var chat = $.connection.baseHub;
        // Create a function that the hub can call back to display messages.
        chat.client.addNewMessageToPage = function (orderId, tranId) {
            if (orderId == $("#PayMentOrderID").val()) {
                $("#divQrCode").hide();
                $("#divPaidQR").show();
            }
        };

        $.connection.hub.start().done(function () {
            //alert($("#TransactionId").val());
        });

    }

    function stopWaitForPayQrCode()
    {
        $.connection.hub.stop();
    }

    $('#btnNextPayMent').click(function () {
        var SelectOptionPaymentMethod = $("input[name=SelectOptionPaymentMethod]:checked").val();
        $("#PayMentMethod").val(SelectOptionPaymentMethod);

        if (SelectOptionPaymentMethod == null) {
            toastrErrorMessage('@Html.Raw(L_POPUP_PLEASE_SELECT_PAYMENT_METHOD)');
        }
        else {
            $('#ModalConFirm').modal('show');
        }
    });


    $('#btnNextPagePayMent').click(function () {
        var SelectOptionPaymentMethod = $("input[name=SelectOptionPaymentMethod]:checked").val();
        $("#PayMentMethod").val(SelectOptionPaymentMethod);

        // debugger;
        //check order already payment

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOrderPayment", "Scpe")',
            data: {
                "orderId": $("#PayMentOrderID").val(),
            },
            dataType: "json",
            async: true,
            success: function (data) {
                if (data != null && data == 'Y') {
                    PopupMessage('@Html.Raw(L_POPUP_PAYMENT_ALREADY)');
                    $('#myModal').modal('show');
                } else {
                    if (SelectOptionPaymentMethod == null) {
                        toastrErrorMessage('@Html.Raw(L_POPUP_PLEASE_SELECT_PAYMENT_METHOD)');
                    }
                    else if (SelectOptionPaymentMethod == "4") {
                        LockScreen(true, "");
                        submitWays("2");
                    }
                    else if (SelectOptionPaymentMethod == "5") {
                        LockScreen(true, "");
                        submitWays("3");
                    }
                    else if (SelectOptionPaymentMethod == "6") {
                        LockScreen(true, "");
                        submitWays("6");
                    }
                    else if (SelectOptionPaymentMethod == "PayPoint") {
                        var SelectOptionPaymentMethodSub4 = $("input[name=SelectOptionPaymentMethodSub4]:checked").val();
                        $('#PayMentPointType').val(SelectOptionPaymentMethodSub4);
                        if (SelectOptionPaymentMethodSub4 == null) {
                            toastrErrorMessage('@Html.Raw(L_POPUP_PLEASE_SELECT_PAYMENT_METHOD)');
                        }
                        else {
                            submitWays("5");
                        }
                    }
                    else {
                        submitWays("4");
                    }
                }
            },
            complete: function (xhr, textStatus) {
            }
        });
    });

    function submitWays(wayNO) {
        if (wayNO == "1") {
            $("#iForm").submit();
        }
        else if (wayNO == "2") {
            if ('@CALL_SUPER_DUPER_FLAG' == "Y") {
                //$("#SuperDuperProductName").val("MESH");
                $("#SuperDuperServiceName").val("Payment Order");
                $('#iForm').attr('action', '@Url.Action("PaymentToSuperDuper", "Process")');
            }
            else {
                $('#iForm').attr('action', '@Url.Action("PaymentToMPayGateway", "PaymentMesh")');
            }
            $('#iForm').submit();
        }
        else if (wayNO == "3") {
            if ('@CALL_SUPER_DUPER_FLAG' == "Y") {
                // QRCode SuperDuper
                //$("#SuperDuperProductName").val("MESH");
                $("#SuperDuperServiceName").val("Generate QR");
                getPaymentQRCodeToSuperDuper();

                var timeoutValue = 60000 * parseInt('@L_TIMEOUT_VALUE');
                if ('@settimeout' == 'Y') {
                    setTimeout("ShowTimeout();", timeoutValue)
                }
            }
            else {
                getPaymentToMerchantQrCode();
            }
        }
        else if (wayNO == "5") {
            var SelectOptionPaymentMethodSub4 = $("input[name=SelectOptionPaymentMethodSub4]:checked").val();
            $('#PayMentPointType').val(SelectOptionPaymentMethodSub4);
            var usePoints = parseInt('@Html.Raw(L_USE_POINT)', 10);
            var mobilePoint = parseInt($('#MobilePoints').val(), 10);
            var internetPoint = parseInt($('#InternetPoints').val(), 10);
            if (SelectOptionPaymentMethodSub4 == "1") {
                if (mobilePoint >= usePoints) {
                    var confirm_pay_with_ais_point_msg = '@Html.Raw(L_CONFIRM_PAY_WITH_AIS_POINT)';
                    confirm_pay_with_ais_point_msg = confirm_pay_with_ais_point_msg.replace("<No>", $('#MobileNo').val());
                    $('#modal_paypoint_txt').html(confirm_pay_with_ais_point_msg);
                    $('#modal_paypoint_btn').removeAttr('onclick');
                    $('#modal_paypoint_btn').attr('onClick', 'PayPoint();');
                    $('#modal_paypoint_btn').text("@B_CONFIRM");
                    $('#modal_paypoint').modal();
                }
                else {
                    var ais_point_insufficient_msg = '@Html.Raw(L_AIS_POINT_INSUFFICIENT)';
                    ais_point_insufficient_msg = ais_point_insufficient_msg.replace("<No>", $('#MobileNo').val());
                    $('#modal_paypoint_txt').html(ais_point_insufficient_msg);
                    $('#modal_paypoint_btn').removeAttr('onclick');
                    $('#modal_paypoint_btn').text("@B_OK");
                    $('#modal_paypoint').modal();
                }
            }
            else if (SelectOptionPaymentMethodSub4 == "2") {
                if (internetPoint >= usePoints) {
                    var confirm_pay_with_ais_point_msg = '@Html.Raw(L_CONFIRM_PAY_WITH_AIS_POINT)';
                    confirm_pay_with_ais_point_msg = confirm_pay_with_ais_point_msg.replace("<No>", $("#InternetNo").val());
                    $('#modal_paypoint_txt').html(confirm_pay_with_ais_point_msg);
                    $('#modal_paypoint_btn').removeAttr('onclick');
                    $('#modal_paypoint_btn').attr('onClick', 'PayPoint();');
                    $('#modal_paypoint_btn').text("@B_CONFIRM");
                    $('#modal_paypoint').modal();
                }
                else {
                    var ais_point_insufficient_msg = '@Html.Raw(L_AIS_POINT_INSUFFICIENT)';
                    ais_point_insufficient_msg = ais_point_insufficient_msg.replace("<No>", $('#InternetNo').val());
                    $('#modal_paypoint_txt').html(ais_point_insufficient_msg);
                    $('#modal_paypoint_btn').removeAttr('onclick');
                    $('#modal_paypoint_btn').text("@B_OK");
                    $('#modal_paypoint').modal();
                }
            }
        }
        else if (wayNO == "6") {
            $("#SuperDuperServiceName").val("Rabbit Line Pay");
            $('#iForm').attr('action', '@Url.Action("PaymentRabbitToSuperDuper", "Process")');
            $('#iForm').submit();
        }
        else {
            $("#iForm").submit();
        }
    }

    function getPaymentQRCodeToSuperDuper() {
        LockScreen(true);
        $.ajax({
            type: 'POST',
            url: '/Process/PaymentQRCodeToSuperDuper',
            data: $('form').serialize(),
            async: true,
            success: function (data) {
                if (data != null) {
                    if (data.qr_code != null && data.qr_code.length > 0) {
                        //var tmpqr_code = data.qr_code.replace(/\r/g, '\\r');
                        $("#qrCodeStr").val(data.qr_code);
                        $("#qrCodeStr").text(data.qr_code);
                        makeCode();
                        //20.8 Add by Aware : Atipon -> set remark from controller
                        $("#divQrCode h5").html(data.message_remark);

                        $('#divPayMent').hide();
                        $('#divQrCode').show();
                        var qrCharge = convertStringToMoneyFormat(data.amount);
                        $("#lblFooter").text(qrCharge);
                        waitForPayQrCode();
                    }
                    else {
                        PopupMessage('@Html.Raw(L_POPUP_PAYMENT_QR_CODE_ERROR)');
                        $('#myModal').modal('show');
                    }
                }
            },
            complete: function (xhr, textStatus) {
                LockScreen(false);
            }
        });
    }

    function getPaymentToMerchantQrCode() {
        LockScreen(true);

        var payMentOrderId = $("#PayMentOrderID").val();
        var payMentRecurringChargeVat = $("#PayMentRecurringChargeVAT").val();
        var nonMobile = $("#InternetNo").val();

        $.ajax({
            type: "POST",
            url: "/PaymentMesh/GetPaymentToMerchantQrCode",
            data: {
                "payMentOrderId": payMentOrderId,
                "payMentRecurringChargeVat": payMentRecurringChargeVat,
                "nonMobile": nonMobile
            },
            dataType: "json",
            async: true,
            success: function (data) {
                console.log("getPaymentToMerchantQrCode");
                console.log(data);
                if (data != null) {
                    if (data.RespCode == "0000") {
                        $("#qrCodeStr").val(data.QrCodeStr);
                        makeCode();
                        $('#divPayMent').hide();
                        $('#divQrCode').show();
                        var qrCharge = convertStringToMoneyFormat(payMentRecurringChargeVat);
                        $("#lblFooter").text(qrCharge);
                        waitForPayQrCode();
                    }
                    else {
                        PopupMessage('@Html.Raw(L_POPUP_PAYMENT_QR_CODE_ERROR)');
                        $('#myModal').modal('show');
                    }
                }
            },
            complete: function (xhr, textStatus) {
                LockScreen(false);
            }
        });
    }

    function PaymentMethodChange(PayType) {
        $('.divSubPaymentMethod4').hide();
        $("#pointMobile").text("");
        $("#pointFibre").text("");
        $("#MobilePoints").val("");
        $("#InternetPoints").val("");
        if (PayType == 'PayPoint') {
            CheckPrivilegePoint();
        }
    }

    function CheckPrivilegePoint() {
        var payMentOrderId = $("#PayMentOrderID").val();
        var nonMobile = $("#InternetNo").val();
        var mobileNo = $('#MobileNo').val();
        $.ajax({
            url: '/SelectPackage/CheckPrivilegePoint',
            data: { InternetNo: nonMobile, MobileNo: mobileNo, PaymentOrderID: payMentOrderId },
            dataType: "json",
            async: false,
            type: 'POST',
            success: function (data) {
                console.log(data);
                $("#pointMobile").text(data.MobileNoPoint);
                $("#pointFibre").text(data.InternetNoPiont);
                $("#MobilePoints").val(data.MobileNoPoint);
                $("#InternetPoints").val(data.InternetNoPiont);
                $('.divSubPaymentMethod4').show();
            }
        });
    }

    function PayPoint() {
        LockScreen(true, "");
        $('#iForm').attr('action', '@Url.Action("PaymentWithPoint", "PaymentMesh")');
        $('#iForm').submit();
    }

</script>