@using WBBWeb.Extension
@model WBBEntity.PanelModels.QuickWinPanelModel
@using WBBEntity.PanelModels

@{
    Layout = "~/Views/Shared/New_Layout.cshtml";

    string B_CLOSE = "";
    if (ViewBag.LabelFBBOR041 != null)
    {
        var LabelFBBOR041 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR041;
        B_CLOSE = LabelFBBOR041.Any(c => c.Name == "B_CLOSE") ? LabelFBBOR041.FirstOrDefault(c => c.Name == "B_CLOSE").DisplayValue : "";
    }
    string L_TIMEOUT_MSG = "";
    if (ViewBag.LabelFBBTR001 != null)
    {
        var labelFBBTR001 = (List<LovScreenValueModel>)ViewBag.LabelFBBTR001;
        L_TIMEOUT_MSG = labelFBBTR001.Any(c => c.Name == "L_TIMEOUT_MSG") ? labelFBBTR001.FirstOrDefault(c => c.Name == "L_TIMEOUT_MSG").DisplayValue : "";
    }
    string L_TIMEOUT_VALUE = "";
    if (ViewBag.QRTimeout == null)
    {
        if (ViewBag.FbbConstant != null)
        {
            var FbbConstant = (List<FbbConstantModel>)ViewBag.FbbConstant;
            L_TIMEOUT_VALUE = FbbConstant.Any(f => f.Field == "L_TIMEOUT_VALUE") ? FbbConstant.First(f => f.Field == "L_TIMEOUT_VALUE").Validation : "30";
        }
    }
    else
    {
        L_TIMEOUT_VALUE = ViewBag.QRTimeout;
    }

    string InternetNo = "";
    if (ViewBag.InternetNo != null && ViewBag.InternetNo != "")
    {
        InternetNo = ViewBag.InternetNo;
    }
    string MobileNo = "";
    if (ViewBag.MobileNo != null && ViewBag.MobileNo != "")
    {
        MobileNo = ViewBag.MobileNo;
    }
    string PayMentOrderID = "";
    if (ViewBag.PayMentOrderID != null && ViewBag.PayMentOrderID != "")
    {
        PayMentOrderID = ViewBag.PayMentOrderID;
    }
    string PayMentRecurringChargeVAT = "";
    if (ViewBag.PayMentRecurringChargeVAT != null && ViewBag.PayMentRecurringChargeVAT != "")
    {
        PayMentRecurringChargeVAT = ViewBag.PayMentRecurringChargeVAT;
    }
    string MsgERROR = "";
    if (ViewBag.MsgERROR != null && ViewBag.MsgERROR != "")
    {
        MsgERROR = ViewBag.MsgERROR;
    }
    string SffPromotionCode = "";
    if (ViewBag.SffPromotionCode != null && ViewBag.SffPromotionCode != "")
    {
        SffPromotionCode = ViewBag.SffPromotionCode;
    }
    string SuperDuperProductName = "";
    if (ViewBag.SuperDuperProductName != null && ViewBag.SuperDuperProductName != "")
    {
        SuperDuperProductName = ViewBag.SuperDuperProductName;
    }
    string SuperDuperServiceName = "";
    if (ViewBag.SuperDuperServiceName != null && ViewBag.SuperDuperServiceName != "")
    {
        SuperDuperServiceName = ViewBag.SuperDuperServiceName;
    }
    string Channel = "";
    if (ViewBag.Channel != null && ViewBag.Channel != "")
    {
        Channel = ViewBag.Channel;
    }

    //R20.10 ref1 = ba
    string Ba = "";
    if (ViewBag.Ba != null && ViewBag.Ba != "")
    {
        Ba = ViewBag.Ba;
    }

    var settimeout = (SuperDuperProductName == "WTTx" || SuperDuperProductName == "MESH" ? "Y" : "N");

}

@using (@Html.BeginForm("GetByForm", "FBBPayment", FormMethod.Post, new { id = "iForm", enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.Hidden("InternetNo");
    @Html.Hidden("MobileNo");
    @Html.Hidden("PayMentOrderID");
    @Html.Hidden("PayMentMethod");
    @Html.Hidden("PayMentPointType");
    @Html.Hidden("PayMentRecurringChargeVAT");
    @Html.Hidden("MobilePoints");
    @Html.Hidden("InternetPoints");
    @Html.Hidden("SffPromotionCode");
    @Html.Hidden("SuperDuperProductName");
    @Html.Hidden("SuperDuperServiceName");
    @Html.Hidden("Channel");
    @Html.HiddenFor(model => model.CoveragePanelModel.P_MOBILE);
    @Html.Partial("~/Views/FBBPayment/_Information.cshtml");
    @Html.HiddenFor(model => model.outBillingAccountNumber);

    if (MsgERROR == "")
    {
        @Html.Partial("~/Views/FBBPayment/_PaymentChannel.cshtml");
        @Html.Partial("~/Views/FBBPayment/_MPayQrCode.cshtml");
    }
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basic-modal-content_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="add-border-rounded-green">
                    <p class="clearfix"></p>
                    <h3 id="LastPopupMessage" class="text-center"></h3>
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        <a href="@Url.Action("Index", "Process")" class="btn btn-default" >&nbsp; @B_CLOSE &nbsp; </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTimeout" tabindex="-1" role="dialog" aria-labelledby="basic-modal-content_label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
            </div>
            <div class="modal-body">
                <div class="add-border-rounded-green">
                    <p class="clearfix"></p>
                    <h3 id="LastPopupTimeoutMessage" class="text-center"></h3>
                    <p class="clearfix"></p>
                    <p class="clearfix"></p>
                    <div class="col-md-12 text-center">
                        <p class="clearfix"></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Reload();">&nbsp; @B_CLOSE &nbsp; </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @*var timeoutValue = 60000 * parseInt('@L_TIMEOUT_VALUE');
        if ('@settimeout' == 'Y') {
            setTimeout("ShowTimeout();", timeoutValue)
        }*@

        $('#InternetNo').val('@InternetNo');
        $('#MobileNo').val('@MobileNo');
        $('#PayMentOrderID').val('@PayMentOrderID');
        $('#PayMentRecurringChargeVAT').val('@PayMentRecurringChargeVAT');
        $('#SffPromotionCode').val('@SffPromotionCode');
        $('#CoveragePanelModel_P_MOBILE').val('@InternetNo');
        $('#outBillingAccountNumber').val('@Ba');
        $('#SuperDuperProductName').val('@SuperDuperProductName');
        $('#Channel').val('@Channel');
    });

    function PopupMessage(msg) {
        $('#LastPopupMessage').html(msg);
    }

    function ShowTimeout() {
        $('#LastPopupTimeoutMessage').html('@Html.Raw(L_TIMEOUT_MSG)');
        $('#modalTimeout').modal('show');
    }

    function Reload() {
        window.location.href = "/Process/Index";
    }
</script>
